.bft-featured {
  margin-bottom: 5rem;

  &-figure {
    margin: 0;
  }
  &-content {
  }

  // title
  &-title {
    font-size: 1.75rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
    line-height: 1.3;
  }
  &-link {
    color: #000;
    &:hover {
      color: $color;
    }
  }

  // meta
  &-meta {
    margin-bottom: 1.5rem;
    color: #999;
    font-size: 0.875rem;
  }
  &-time {
  }
  &-cat {
    color: #999;
    &::before {
      content: "";
      margin: 0 0.5rem;
      width: 0.25rem;
      height: 0.25rem;
      border-radius: 1rem;
      background-color: rgba(#000, 0.2);
      display: inline-block;
      transform: translateY(-0.125rem);
    }
    &:hover {
      color: $color;
    }
  }

  // desc
  &-desc {
    color: #666;
    line-height: 1.8;
    margin-bottom: 1.5rem;
  }
  &-more {
  }
}
