@using Microsoft.AspNetCore.Components
@using Blogifier.Shared
@inject HttpClient _http

<p>Text from Blazor Component</p>
<p>@PostSlug</p>
@if (CommentDTOs.Count > 0)
{
    foreach (var comment in CommentDTOs)
    {
        <p>@comment.MainComment.CommentContent</p>
    }
}

@code {
    [Parameter] public string PostSlug { get; set; }
    public List<CommentDTO> CommentDTOs { get; set; }
    protected override async Task OnInitializedAsync()
    {
        await Load();
    }

    protected async Task Load()
    {
        CommentDTOs = await _http.GetFromJsonAsync<List<CommentDTO>>("api/comment/" + PostSlug);
    }

    protected async Task UpdateComment(Comment comment)
    {
        await _http.PutAsJsonAsync<Comment>("api/comment/update", comment);
        await Load();
    }

}