.post-single {
    margin-bottom: 5rem;

    .post-title {
        font-size: 2.5rem;
        margin-bottom: 2.5rem;
    }

    .post-cover {
        width: 100%;
        display: block;
        border-radius: .5rem;
        margin-bottom: 2.5rem;
    }

    .post-meta {
        padding-left: 3rem;
        position: relative;
        font-size: .75rem;
        color: #888;
        line-height: 1.25;

        a {
            color: #b3b3b3;

            &:hover {
                color: $color-theme;
            }
        }
    }

    .post-meta-author {
        font-weight: 500;
        padding-top: .5rem;
        display: block;
        font-size: .875rem;
        margin-bottom: .125rem;
    }

    .post-meta-img {
        position: absolute;
        left: 0;
        top: 0;
        width: 2.25rem;
        height: 2.25rem;
        border-radius: 50%;
    }

    .post-meta-time {
        text-transform: uppercase;
        color: #aaa;
        margin-bottom: 1rem;
        font-size: .875rem;
        display: block;
    }


    .post-categories {
        list-style: none;
        margin: 0;
        padding: 0;

        li {
            float: right;
            margin-left: .5rem;
        }

        a {
            background: $color-theme;
            border: 3px solid $color-theme;
            padding: .375rem 1rem;
            font-size: .75rem;
            color: #fff;
            font-weight: 500;
            border-radius: 10rem;
            display: block;

            &:hover {
                background: none;
                color: $color-theme;
            }
        }
    }



    .post-content {
        color: #444;
        font-size:1.25rem;

        font-weight:300;

        p {
            margin-bottom: 1.5rem;
        }

        a {
            &:hover {
                text-decoration: underline;
            }
        }

        h1,
        h2,
        h3,
        h4 {
            margin-bottom: 0;
            margin-top: 2rem;
            color: #fff;
            font-weight: 500;
        }

        figure {
            margin: 2rem 0;

            figcaption {
                font-size: .75rem;
                color: #666;
            }
        }
    }
}
