@model Blogifier.Core.Data.Models.AdminPostsModel
@{ 
    var post = Model.SelectedPost;
    var themeFolder = "Embedded/admin/bootstrap";
}
<script src="~/@themeFolder/tinymce/tinymce.min.js"></script>
<script src="~/@themeFolder/js/editor.js"></script>

<div class="app-content posts">
    <div class="posts-content">
        <div class="row">

            <div class="col-md-3 posts-list">
                @Html.Partial("PostList", Model)
            </div>

            <div class="col-md-9">
                <div id="post-view" class="row">
                    @Html.Partial("PostView", Model.SelectedPost)
                </div>
                
                <div id="post-edit" class="row" style="display: none">
                    @Html.Partial("PostEdit", Model.SelectedPost)
                </div>
            </div>

        </div>
    </div>
</div>