$font: "Roboto";
$font-family-base: $font, sans-serif;
$font-heading: "Merriweather";

$fw-light: 300;
$fw-normal: 400;
$fw-medium: 500;
$fw-bold: 700;

$color-theme: #5731b3;
$header-width: 30rem;
$header-width-lg: 38rem;
