@{ 
    var showNewItemBtn = ViewContext.RouteData.Values["action"].ToString().ToLower() == "index";
    var themeFolder = "blogifier/admin/reference";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blogifier</title>
    <link href="~/Embedded/lib/fonts/font-awesome.min.css" rel="stylesheet">
    <link href="~/Embedded/lib/toastr/toastr.min.css" rel="stylesheet" />

    <link href="~/@themeFolder/lib/bootstrap/bootstrap.min.css" rel="stylesheet">
    <link href="~/@themeFolder/css/animate.css" rel="stylesheet">
    <link href="~/@themeFolder/css/style.css" rel="stylesheet">
</head>
<body>
    <div id="wrapper">

        <nav class="navbar-default navbar-static-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav metismenu" id="side-menu">
                    <li class="nav-header">
                        <div class="dropdown profile-element">
                            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                                <span class="clear">
                                    <span class="block m-t-xs">
                                        <strong class="font-bold">David Williams</strong>
                                    </span> 
                                    <span class="text-muted text-xs block">Art Director <b class="caret"></b></span>
                                </span>
                            </a>
                            <ul class="dropdown-menu animated fadeInRight m-t-xs">
                                <li><a href="" onclick="profileLogOut(); return false;">Logout</a></li>
                            </ul>
                        </div>
                        <div class="logo-element">
                            BF
                        </div>
                    </li>
                    @if (Model.BlogExists)
                    {
                    <li class="posts">
                        <a href="~/admin"><i class="fa fa-th-large"></i> <span class="nav-label">Posts</span></a>
                    </li>
                    }
                    <li class="profile">
                        <a href="~/admin/profile"><i class="fa fa-user"></i> <span class="nav-label">Profile</span> </a>
                    </li>
                    @if (Model.BlogExists)
                    {
                    <li class="tools">
                        <a href="~/admin/tools"><i class="fa fa-wrench"></i> <span class="nav-label">Tools</span> </a>
                    </li>
                    <li class="about">
                        <a href="~/admin/about"><i class="fa fa-gear"></i> <span class="nav-label">Settings</span> </a>
                    </li>
                    }
                </ul>
            </div>
        </nav>

        <div id="page-wrapper" class="gray-bg">

            <div class="row border-bottom">
                <nav class="navbar navbar-static-top white-bg" role="navigation" style="margin-bottom: 0">
                    <div class="navbar-header">
                        <a class="navbar-minimalize minimalize-styl-2 btn btn-primary" href="#"><i class="fa fa-bars"></i> </a>
                    </div>

                    @if (showNewItemBtn)
                    {
                    <div id="btnNewItem" class="btn-group" style="float: left; margin-left: 20px">
                        <button class="btn btn-primary minimalize-styl-2 dropdown-toggle" aria-expanded="false" data-toggle="dropdown">Add New <span class="caret"></span></button>
                        <ul class="dropdown-menu">
                            <li><a href="" onclick="return postController.open(0)">Blog Post</a></li>
                            <li><a href="#">Category</a></li>
                            <li><a class="font-bold" href="#">Upload File</a></li>
                        </ul>
                    </div>
                    }

                    <ul class="nav navbar-top-links navbar-right">
                        <li>
                            <a href="" onclick="profileLogOut(); return false;">
                                <i class="fa fa-sign-out"></i> Log out
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>

            <div class="wrapper wrapper-content animated fadeIn">
                @RenderBody()
            </div>

            <div class="footer">
                <div class="pull-right">
                    10GB of <strong>250GB</strong> Free.
                </div>
                <div>
                    <strong>Copyright</strong> Example Company &copy; 2014-2017
                </div>
            </div>

        </div>
    </div>

    <form method="post" id="frmLogOut" asp-controller="Account" asp-action="Logout" asp-antiforgery="true"></form>

    <!-- Main scripts -->
    

    <script src="~/@themeFolder/lib/jquery/jquery-3.1.1.min.js"></script>
    <script src="~/@themeFolder/lib/bootstrap/bootstrap.min.js"></script>
    <script src="~/@themeFolder/js/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="~/@themeFolder/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <script src="~/Embedded/lib/toastr/toastr.min.js"></script>
    
    <!-- Custom and plugin javascript -->
    <script src="~/@themeFolder/js/app.js"></script>
    <script src="~/@themeFolder/js/dataService.js"></script>
    <script>
        var webRoot = '@Url.Content("~/")';
        function getUrl(str) {
            return webRoot + str;
        };
    </script>


    @RenderSection("Scripts", false)
</body>
</html>