@model Blogifier.Core.Data.Models.AdminPostsModel
@{ 
    var themeFolder = "blogifier/admin/reference";
}
<div class="row">
    <div class="col-md-3 posts-list">
        @Html.Partial("PostList", Model)
    </div>

    <div id="post-view" class="col-md-9 posts-list">
        @Html.Partial("PostView", Model.SelectedPost)
    </div>
    <div id="post-edit" class="col-md-9 posts-list" style="display: none">
        @Html.Partial("PostEdit", Model.SelectedPost)
    </div>
</div>

@section Scripts{
    <script src="~/@themeFolder/lib/tinymce/tinymce.min.js"></script>
    <script src="~/@themeFolder/js/postController.js"></script>
}