@using Microsoft.AspNetCore.Identity
@using WebApp.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@if (SignInManager.IsSignedIn(User))
{
    <form asp-area="" asp-controller="Account" asp-action="Logout" method="post" id="logoutForm">
        <div class="mt-3">
            <a aria-haspopup="true" aria-expanded="false">
                Hello, @UserManager.GetUserName(User)!
            </a>
            <button type="submit" class="btn btn-danger btn-sm ml-3">Log out</button>
        </div>
    </form>
}