@inherits LayoutComponentBase
@inject IStringLocalizer<Resource> _localizer

<div class="account">
    <a class="account-logo link-blogifier" href="http://blogifier.net/" target="_blank" rel="nofollow external" data-bs-toggle="tooltip" title="@_localizer["powered-by-blogifier"]">
        <svg width="40" height="40" fill="currentColor" viewBox="0 0 256 256" xmlns="http://www.w3.org/2000/svg">
            <path d="M179.2 0H102.4L81.92 51.2H166.4C180.538 51.2 192 62.6615 192 76.8C192 90.9385 180.538 102.4 166.4 102.4H61.44L40.96 153.6L166.4 153.6C180.538 153.6 192 165.062 192 179.2C192 193.338 180.538 204.8 166.4 204.8H20.48L0 256H179.2C221.615 256 256 221.615 256 179.2C256 159.53 248.605 141.587 236.444 128C248.605 114.413 256 96.4699 256 76.8C256 34.3845 221.615 0 179.2 0Z" />
        </svg>
    </a>
    @Body
</div>
<a class="account-back link-secondary" href="/" data-bs-toggle="tooltip" title="@_localizer["back-to-website"]" data-placement="right">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z" />
    </svg>
</a>
