@inherits LayoutComponentBase

<div class="account">
     @Body
    <a class="blogifier-logo" href="http://blogifier.net/" target="_blank" rel="nofollow external" title="Blogifier">
        <img class="blogifier-logo-img" src="@Constants.DefaultLogo" alt="Blogifier">
    </a>
</div>
