@inherits LayoutComponentBase

<div class="app-content">
	<div class="container">
		<div class="app-account">
			<div class="row">
				<div class="col-md-12 bf-account-container">
					<div class="tab-content bf-account center" id="myTabContent">
						@Body
					</div>
					<div class="bf-account-footer">
						<a href="http://blogifier.net/" target="_blank" rel="nofollow external" title="Blogifier">
							<img src="img/logo-sm.png" alt="Blogifier">
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>