@inherits LayoutComponentBase

<div class="app-account">
     @Body
    <a class="app-logo" href="http://blogifier.net/" target="_blank" rel="nofollow external" title="Blogifier">
        <img class="app-logo-img" src="img/logo-sm.png" alt="Blogifier">
    </a>
</div>