@inherits LayoutComponentBase
@inject IJSRuntime JSRuntime
@{
	Task.Run(async ()=> await JSRuntime.InvokeAsync<string>("commonJsFunctions.hideLoader", "blazor-loading-ui"));
}

<AuthorizeView>
	<Authorized>
		<Sidebar />
        <div class="content">
		    <NavMenu />
            @Body
        </div>
	</Authorized>
	<NotAuthorized>
		<RedirectToLogin />
	</NotAuthorized>
</AuthorizeView>

<ToastContainer />
