@inherits LayoutComponentBase
@inject IJSRuntime JSRuntime
@{
	Task.Run(async ()=> await JSRuntime.InvokeAsync<string>("commonJsFunctions.hideLoader", "blazor-loading-ui"));
}

<AuthorizeView>
	<Authorized>
		<NavMenu />
		<div class="app-content">
			<div class="container">
				@Body
			</div>
		</div>
	</Authorized>
	<NotAuthorized>
		<RedirectToLogin />
	</NotAuthorized>
</AuthorizeView>

<ToastContainer />