@inherits LayoutComponentBase
@inject IJSRuntime JSRuntime
@{
	Task.Run(async ()=> await JSRuntime.InvokeAsync<string>("commonJsFunctions.hideLoader", "blazor-loading-ui"));
}

<AuthorizeView>
	<Authorized>
		<NavMenu />
        <div class="content container">
            @Body
        </div>
	</Authorized>
	<NotAuthorized>
		<RedirectToLogin />
	</NotAuthorized>
</AuthorizeView>

<ToastContainer />
