@layout MainLayout
@inherits LayoutComponentBase
@inject NavigationManager _navigationManager
@inject IJSRuntime _jsRuntime
@inject IStringLocalizer<Resource> _localizer
<div class="container">
  <div class="page d-lg-flex">
    <div class="sidebar">
      <button class="sidebar-toggle d-lg-none">
        Page Title
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-down" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z" />
        </svg>
      </button>
      <div class="sidebar-nav d-lg-block">
        <NavLink class="sidebar-link" href="/admin/newsletter/" Match="NavLinkMatch.All">@_localizer["newsletters"]</NavLink>
        <NavLink class="sidebar-link" href="/admin/newsletter/subscribers/" Match="NavLinkMatch.All">@_localizer["subscribers"]</NavLink>
        <hr>
        <NavLink class="sidebar-link" href="/admin/newsletter/settings/">@_localizer["settings"]</NavLink>
      </div>
    </div>
    <div class="page-content flex-grow-1">
      @Body
    </div>
  </div>
</div>
