<div class="container">
    <div class="post-nav row row-cols-2 g-4">
        <!-- Prev item -->
        <div class="col text-start">
            <article class="post-card-item">
                <img class="post-card-cover" src="https://source.unsplash.com/450x160/?dogs" alt="title">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrow-left-short me-auto" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M12 8a.5.5 0 0 1-.5.5H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5a.5.5 0 0 1 .5.5z"/>
                </svg>
                <time class="post-card-date">Jan 27, 2021</time>
                <h4 class="post-card-title"><a class="post-card-link" href="#">The Post Title Goes Here</a></h4>
            </article>
        </div>
        <!--/Prev item -->
        <!-- Next item -->
        <div class="col text-end">
            <article class="post-card-item">
                <img class="post-card-cover" src="https://source.unsplash.com/450x160/?cats" alt="title">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrow-right-short ms-auto" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8z"/>
                </svg>
                <time class="post-card-date">Jan 27, 2021</time>
                <h4 class="post-card-title"><a class="post-card-link" href="#">The Post Title Goes Here</a></h4>
            </article>
        </div>
        <!--/Next item -->
    </div>
</div>
