@{
    PostModel _model = (PostModel)Model;
}
<div class="post-nav">
    <div class="row align-items-center">
        @if (Model.Older != null)
        {
            <div class="col">
                <a class="post-nav-item text-start" href="~/posts/@_model.Older.Slug">
                    <span class="post-nav-text">Previous</span>
                    <h4 class="post-nav-title">@_model.Older.Title</h4>
                </a>
            </div>
        }
        @if (Model.Newer != null)
        {
            <div class="col">
                <a class="post-nav-item text-end" href="~/posts/@_model.Newer.Slug">
                    <span class="post-nav-text">Next</span>
                    <h4 class="post-nav-title">@_model.Newer.Title</h4>
                </a>
            </div>
        }
    </div>
</div>
