.admin-footer {
    height: 4rem;
    line-height: 4rem;
    color: rgba(0, 0, 0, 0.45);
    text-transform: uppercase;
    font-size: .75rem;
    font-weight: 400;

    a {
        color: rgba(0, 0, 0, 0.45);

        &:hover {
            color: #000;
        }
    }

    img {
        opacity: .2;
        margin-right: .5rem;
        vertical-align: middle;
        display: inline-block;
        position: relative;
        top: -2px;

        &:hover {
            opacity: 1;
        }
    }

    ul {
        @include unstyled();

        li {
            float: left;

            a {
                margin-left: 1rem;
                padding-left: 1rem;
                border-left: 1px solid #ddd;
            }
        }
    }
}
