.admin-footer {
    height: 4rem;
    line-height: 4rem;
    color: rgba(0, 0, 0, 0.45);
    text-transform: uppercase;
    font-size: .75rem;
    font-weight: 400;

    a {
        color: rgba(0, 0, 0, 0.45);

        &:hover {
            color: #000;
        }
    }
}
