.admin-header {
    width: 100%;
    height: 4rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    border-bottom: 1px solid $color-border;

    .modal-open & {
        padding-right: 17px;
    }

    .container {
        height: 100%;
        padding: 0;
    }

    @media screen and (max-width: 767px) {
        background: #f1f1f1;
        height: 3rem;
    }
}

.admin-nav {
    @include unstyled();

    > li {
        float: left;

        > a {
            display: block;
            line-height: 4rem;
            padding: 0 1rem;
            font-weight: $font-weight-medium;
            color: #888;
            position: relative;
            text-transform: uppercase;
            font-size: .875rem;

            &.active {
                color: #000;

                &::after,
                {
                    bottom: 0;
                    left: 50%;
                    margin-left: -.5rem;
                    @include triangle(up, .5rem, #fff);
                }

                &::before {
                    bottom: 0;
                    left: 50%;
                    margin-left: -.5625rem;
                    @include triangle(up, .5625rem, darken($color-border, 10%));
                }
            }
        }
    }

    .dropdown-toggle {
        cursor: pointer;

        &::after {
            display: none;
        }

        img {
            display: inline-block;
            width: 1.75rem;
            height: 1.75rem;
            border-radius: 100%;
            margin-right: .25rem;
        }

        span {
            position: relative;
            top: .0625rem;
            color: #888;
        }
    }

    .dropdown-menu {
        margin-top: -.25rem;
        margin-right: 1rem;

        &::after {
            top: -.5rem;
            right: 1.5rem;
            margin-right: -.5rem;
            @include triangle(up, .5rem, #fff);
        }

        &::before {
            top: -.5625rem;
            right: 1.5rem;
            margin-right: -.5625rem;
            @include triangle(up, .5625rem, darken($color-border, 10%));
        }

        .dropdown-item {
            text-transform: uppercase;
            font-size: .875rem;
        }
    }

    @media screen and (max-width:480px) {
        .dropdown-toggle {
            span {
                display: none;
            }
        }
    }

    @media screen and (max-width: 767px) {
        > li {
            > a {
                line-height: 3rem;
            }
        }
    }

    @media screen and (max-width:480px) {
        display: table;
        width: 100%;

        > li {
            float: none !important;
            display: table-cell;
            vertical-align: top;
            text-align: center;
        }
    }
}
