.header {
    background-color: rgba(255,255,255,.45);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 3.5rem;

    .container {
        height: 3.5rem;
        position: relative;
        padding-top: .75rem;
        padding-bottom: .75rem;
    }

    .brand {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        font-weight: $font-weight-medium;

        a {
            color: #000;
        }
    }

    .profile-image {
        width: 1.875rem;
        height: 1.875rem;
        border-radius: 100%;
    }

    button {
        padding: 0;
        border: 0;
        height: 2rem;
        min-width: 2rem;
        border-radius: 0;
        display: block;
        outline: none !important;
        box-shadow: none !important;
        cursor: pointer;
        background: none;

        &::after {
            display: none;
        }

        &:hover, &:focus, &:active {
            background: none !important;
        }

        .fa-navicon {
            font-size: 1.75rem;
            display: block;
            line-height: 2rem;
            width: 1.75rem;
        }
    }

    .nav-title {
        position: absolute;
        left: 1.75rem;
        top: 50%;
        transform: translateY(-50%);
        font-weight: $font-weight-medium;
        font-size: .875rem;
        letter-spacing: 0;
        padding-left:.5rem;
        display: block;
        height: 1rem;
    }

    .dropdown-menu {
        border: none;
        text-transform: uppercase;
        font-size: .875rem;
        padding: 0;
        box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.40);
        overflow: hidden;

        .dropdown-item {
            font-weight: $font-weight-medium;
            padding: .75rem 1.25rem;
            border-bottom: 1px solid #eee;

            &:last-child {
                border-bottom: none;
            }
        }
    }
}
