*,
*:after,
*:before {
    @include box-sizing(border-box);
}

html, body {
    height: 100%;
}

html {
    font-size: 1em;
}

body {
    background: #fff;
    font-family: $font-family-base;
    font-weight: 400;
    font-size: 1rem;
}

//
.bf {
    height: 100%;
    display: table;

    .bf-sidebar,
    .bf-content {
        display: table-cell;
        vertical-align: top;
    }

    .bf-sidebar {
        background: $color-brand-primary;
        width: 420px;
        min-width:420px;
        color: rgba(255, 255, 255, 0.75);
    }

    .bf-content {
        width: 100%;
    }
}
