.container {
    width:100%;
    max-width:60rem;
}
.admin {
    min-height: 100%;
    margin-bottom: -4.5rem;

    &::after {
        content: "";
        display: block;
        height: 4.5rem;
    }

    &-content {
        padding-top: 3rem;
    }
}
.page-toolbar {
    margin-bottom: 1rem;

    .btn {
        margin-right: .5rem;
    }

    .float-right {
        .btn {
            margin-right:0;
        }
    }
}
