*,
*:after,
*:before {
    @include box-sizing(border-box);
}

html, body {
    height: 100%;
}

html {
    font-size: 1em;
}

body {
    background: #fff;
    font-family: $font-family-base;
    font-weight: 400;
    font-size: 1rem;
}

//
.bf {
    height: 100%;
    display: table;

    .bf-sidebar,
    .bf-content {
        display: table-cell;
        vertical-align: top;
    }

    .bf-sidebar {
        background: $color-brand-purple-dark;
        width: 420px;
        min-width: 420px;
        color: rgba(255, 255, 255, 0.75);
        background: rgb(106,60,188);
        background: -moz-linear-gradient(top, rgba(106,60,188,1) 0%, rgba(83,47,172,1) 100%);
        background: -webkit-linear-gradient(top, rgba(106,60,188,1) 0%,rgba(83,47,172,1) 100%);
        background: linear-gradient(to bottom, rgba(106,60,188,1) 0%,rgba(83,47,172,1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6a3cbc', endColorstr='#532fac',GradientType=0 );
    }

    .bf-content {
        width: 100%;
    }
}

//
.container {
    width: 1024px;
    margin: 0 auto;
}
