.admin-nav {
    position: absolute;
    right: 2rem;
    top: 2rem;

    .admin-nav-toggle {
        @include unstyled(button);
        width: 3rem;
        height: 3rem;

        img {
            display: block;
            width: 100%;
            height: 100%;
            @include border-radius($radius);
        }
    }

    .admin-nav-content {
        background: $color-brand-primary;
        width: 15rem;
        position: absolute;
        right: 0;
        top: 100%;
        @include border-radius($radius-sm);


        ul {
            padding: 2rem;
        }

        a {
            color: #fff;
        }
    }
}
