@using Blogifier.Core.Common
@{
    var avatar = ApplicationSettings.ProfileAvatar;
    var userName = "";
    var blogTitle = BlogSettings.Title;
    var blogDesc = BlogSettings.Description;
    var blogImg = BlogSettings.Cover;
    if (Model.Profile != null)
    {
        userName = Model.Profile.AuthorName;
        blogTitle = Model.Profile.Title;
        blogDesc = Model.Profile.Description;
        blogImg = string.IsNullOrEmpty(Model.Profile.Image) ? blogImg : Model.Profile.Image;
        if (!string.IsNullOrEmpty(Model.Profile.Avatar))
        {
            avatar = Model.Profile.Avatar;
        }
    }
}
<ul class="bf-taskbar d-flex flex-lg-column">
    <li class="taskbar-item">
        <a class="taskbar-item-link" href="~/admin/posts/editor/0" title="New Post"><i class="taskbar-item-icon fa fa-plus"></i></a>
    </li>
    <li is-active-route asp-controller="BlogPosts" class="taskbar-item">
        <a asp-controller="BlogPosts" asp-action="Index" class="taskbar-item-link" title="Posts">
            <i class="taskbar-item-icon fa fa-align-left"></i>
        </a>
    </li>
    @if (Model.Profile.IsAdmin)
    {
        <li is-active-route asp-controller="Packages" class="taskbar-item">
            <a asp-controller="Packages" asp-action="Widgets" class="taskbar-item-link" title="Packages">
                <i class="taskbar-item-icon fa fa-cube"></i>
            </a>
        </li>
        <li is-active-route asp-controller="Settings" class="taskbar-item">
            <a asp-controller="Settings" asp-action="General" class="taskbar-item-link" title="Settings">
                <i class="taskbar-item-icon fa fa-gear"></i>
            </a>
        </li>
    }
    else
    {
        <li is-active-route asp-controller="Settings" class="taskbar-item">
            <a asp-controller="Settings" asp-action="Profile" class="taskbar-item-link" title="Settings">
                <i class="taskbar-item-icon fa fa-gear"></i>
            </a>
        </li>
    }
    <li class="taskbar-item ml-auto ml-lg-0 mt-lg-auto">
        <a class="taskbar-item-link" href="~/" return false;" title="Visit Blog" target="_blank"><i class="taskbar-item-icon fa fa-globe"></i></a>
    </li>
    <li class="taskbar-item">
        <a class="taskbar-item-link" onclick="profileLogOut(); return false;" title="Sign out"><i class="taskbar-item-icon fa fa-sign-out"></i></a>
    </li>
</ul>
