@using Blogifier.Core.Common
@{
    var pageTitle = ApplicationSettings.Title;
    var pageDescription = ApplicationSettings.Description;
    var customHead = "";
    try
    {
        pageTitle = Model.PageTitle;
        pageDescription = Model.PageDescription;
        var cf = Model.CustomFields;
        customHead = (cf.ContainsKey(Constants.HeadCode) && !string.IsNullOrEmpty(cf[Constants.HeadCode])) ? cf[Constants.HeadCode] : "";
    }
    catch { }
}
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>@pageTitle</title>
<meta name="description" content="@pageDescription">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700|Merriweather:700" rel="stylesheet">
<link href="~/themes/OneFour/css/bootstrap.min.css" rel="stylesheet">
<link href="~/themes/OneFour/css/font-awesome.min.css" rel="stylesheet">
<link href="~/themes/OneFour/css/prism.css" rel="stylesheet">
<link href="~/themes/OneFour/css/styles.min.css" rel="stylesheet" asp-append-version="true">
<link rel="shortcut icon" href="~/embedded/lib/img/favicon.ico">
@Html.Raw(customHead)
