// color = cl
$cl-bf: #5731b3;
$cl-bf-light: #6A3CBC;

$cl-black-5: rgba(0, 0, 0, 0.05);
$cl-black-10: rgba(0, 0, 0, 0.10);
$cl-black-15: rgba(0, 0, 0, 0.15);
$cl-black-20: rgba(0, 0, 0, 0.20);
$cl-black-25: rgba(0, 0, 0, 0.25);
$cl-black-30: rgba(0, 0, 0, 0.30);
$cl-black-35: rgba(0, 0, 0, 0.35);
$cl-black-40: rgba(0, 0, 0, 0.40);
$cl-black-45: rgba(0, 0, 0, 0.45);
$cl-black-50: rgba(0, 0, 0, 0.50);

$cl-white-5: rgba(255, 255, 255, 0.05);
$cl-white-10: rgba(255, 255, 255, 0.10);
$cl-white-15: rgba(255, 255, 255, 0.15);
$cl-white-20: rgba(255, 255, 255, 0.20);
$cl-white-25: rgba(255, 255, 255, 0.25);
$cl-white-30: rgba(255, 255, 255, 0.30);
$cl-white-35: rgba(255, 255, 255, 0.35);
$cl-white-40: rgba(255, 255, 255, 0.40);
$cl-white-45: rgba(255, 255, 255, 0.45);
$cl-white-50: rgba(255, 255, 255, 0.50);

// font-family
$font-family: "Roboto";
$font-family-base: $font-family, -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif;

// font-weight
$fw-thin: 100;
$fw-light: 300;
$fw-normal: 400;
$fw-medium: 500;
$fw-bold: 700;
$fw-black: 900;

// border-radius
$radius: 100%;
$radius-xs: 2px;
$radius-sm: 3px;
$radius-md: 5px;
$radius-lg: 10px;
$radius-xl: 16px;

// width
$width-sidebar: 20rem;

// height
$ht-filters: 3rem;
