// color
$color-brand-primary: #532FAC;
$color-brand-secondary: #6A3CBC;
$color-brand-default: #6f7d93;

// font-family
$font-family-base: "Roboto";

// font-weight
$font-weight-thin: 100;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;
$font-weight-black: 900;

// border-radius
$radius: 100%;
$radius-xs: 2px;
$radius-sm: 3px;
$radius-md: 5px;
$radius-lg: 10px;
$radius-xl: 16px;
