.app-editor {
    &-container {
        width: 70rem;
        max-width: 100%;
        margin-right: auto;
        margin-left: auto;
    }


    &-title {
        flex: 1;
        -webkit-flex: 1;
        padding-right: 2rem;

        .form-control {
            height: 2.5rem;
            background: 0;
            border: 1px solid $color-gray-light;
            box-shadow: none;

            &:focus {
                border-color: $color-gray;
            }
        }
    }

    &-actions {
        padding-bottom: 3.5rem;


        .btn {
            height: 2.5rem;
            line-height: 2.5rem;
            padding: 0;
            text-transform: uppercase;
            font-weight: 500;
            font-size: .875rem;
            flex: 1;

            &:not(:last-child) {
                margin-right: .25rem;
            }

            &-icon {
                padding: 0;
                width: 2.5rem;
                line-height: 1.25rem;
                flex: none;

                svg {
                    width: 1.25rem;
                    height: 1.25rem;
                    font-size: 1rem;
                }
            }
        }
    }

    &-details {
        background: $color-gray-lighter;
        padding: 1rem;
        border-radius: .25rem;

        .form-control {
            background: none;
        }

        .btn-outline-secondary {
            border-color: #ced4da;
        }
    }
}
