$font: "Roboto";
$font-family-base: $font, sans-serif;
$font-heading: "Merriweather";

$fw-light: 300;
$fw-normal: 400;
$fw-medium: 500;
$fw-bold: 700;

$color-theme: gold;
$header-width: 30rem;
$header-width-lg: 38rem;



$color-fb: #356AA3;
$color-tw: #55ACEE;
$color-in: #e4405f;
$color-rss: #f26522;