@page
@{
    ViewData["Title"] = "Blogifier - an open source blogging platform";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>@ViewBag.Title</title>
    <meta name="description" content="Full featured and highly customizable cross-platform ASP.NET Core blogging application">
    <!-- TWITTER -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@@blogifierdotnet">
    <meta name="twitter:title" content="@ViewBag.Title">
    <meta name="twitter:description" content="Full featured and highly customizable cross-platform ASP.NET Core blogging application">
    <meta name="twitter:image" content="http://blogifier.net/assets/img/image.png">
    <!-- FACEBOOK -->
    <meta property="og:title" content="@ViewBag.Title">
    <meta property="og:type" content="website">
    <meta property="og:description" content="Full featured and highly customizable cross-platform ASP.NET Core blogging application">
    <meta property="og:image" content="http://blogifier.net/assets/img/image.png">
    <!-- ASSETS -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
    <link href="~/home/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/home/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/home/css/styles.min.css" rel="stylesheet">
</head>
<body>
    <header class="header">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-dark p-0">
                <a class="navbar-brand" href="~/blog"><img src="~/home/img/logo.png" alt="Blogifier"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav">
                        <li class="nav-item"><a class="nav-link" href="~/blog">Blog</a></li>
                        <li class="nav-item download-link ml-lg-auto"><a class="nav-link" href="https://github.com/blogifierdotnet/blogifier/" target="_blank">Download</a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </header>
    <section class="container content">
        <h1 class="hero-title text-center">Blogifier, an <a href="https://github.com/blogifierdotnet/blogifier/" target="_blank">open source</a> blogging platform!</h1>
        <p class="hero-desc">Blogifier is simple, beautiful, light-weight open source blog written in .NET Core. It is cross-platform, extendable and customizable web application, that brings all expected from modern blog in small, portable package. By default, it uses file-based SQLite database, scaling up to any Entity-Framework compatible data storage.</p>
        <div class="owl-carousel slider slider-lg">
            <figure>
                <img src="~/home/img/01.jpg" alt="Editor - Blogifier Version 1.5" />
                <figcaption>Editor - Blogifier Version 1.5</figcaption>
            </figure>
            <figure>
                <img src="~/home/img/02.jpg" alt="Posts List" />
                <figcaption>Post List Style</figcaption>
            </figure>
            <figure>
                <img src="~/home/img/03.jpg" alt="Post Grid" />
                <figcaption>Post Grid Style</figcaption>
            </figure>
            <figure>
                <img src="~/home/img/04.jpg" alt="Widgets" />
                <figcaption>Widgets</figcaption>
            </figure>
            <figure>
                <img src="~/home/img/05.jpg" alt="Widget Settings" />
                <figcaption>Widget Settings</figcaption>
            </figure>
            <figure>
                <img src="~/home/img/06.jpg" alt="Settings" />
                <figcaption>Settings</figcaption>
            </figure>
        </div>
    </section>
    <footer class="footer">
        <div class="container clearfix">
            <p class="float-md-left">Copyright &copy; 2017 Blogifier - All Rights Reserved.</p>
            <ul class="nav nav-social float-md-right">
                <li><a href="https://twitter.com/blogifierdotnet/" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                <li><a href="https://github.com/blogifierdotnet/blogifier/" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a></li>
                <li><a href="https://facebook.com/blogifierdotnet/" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
            </ul>
        </div>
    </footer>
    <script src="~/home/js/jquery-3.2.1.min.js"></script>
    <script src="~/home/js/popper.min.js"></script>
    <script src="~/home/js/bootstrap.min.js"></script>
    <script src="~/home/js/owl.carousel.min.js"></script>
    <script src="~/home/js/custom.js"></script>
</body>
</html>