@using Blogifier.Core.Common
@using Blogifier.Core.Data.Domain
@using System.Collections.Generic
@using Blogifier.Core.Extensions
@using Blogifier.Core.Data.Models
@model BlogAuthorModel
@{
    var bg = Model.Profile.Image == null ? ApplicationSettings.ProfileImage : Model.Profile.Image;
    Layout = "~/Views/Blogifier/Blog/Custom/Layout/_layoutPage.cshtml";
}
<div class="container">
    @if (Model != null)
            {
                foreach (var item in Model.Posts)
                {
            <article class="post-list-item">
                <h2 class="post-list-title"><a href="~/blog/@item.Slug">@item.Title</a></h2>
                <p class="post-list-info">Posted by <a href="~/author/@item.BlogSlug">@item.AuthorName</a> on @item.Published.ToFriendlyDateString()</p>
                <p class="post-list-content">@Html.Raw(item.Content)</p>
            </article>
        }
    }
</div>
@if (Model != null)
{
    <ul class="pagination justify-content-center">
        @if (Model.Pager.ShowOlder)
        {
            <li class="page-item"><a class="btn btn-outline-secondary" href="~/author/@Model.Profile.Slug/@Model.Pager.Older"><span aria-hidden="true">&larr;</span> Older</a></li>
        }
        @if (Model.Pager.ShowNewer)
        {
            <li class="page-item"><a class="btn btn-outline-secondary" href="~/author/@Model.Profile.Slug/@Model.Pager.Newer">Newer <span aria-hidden="true">&rarr;</span></a></li>
        }
    </ul>
}