@using Blogifier.Core.Common
@using Blogifier.Core.Data.Domain
@using System.Collections.Generic
@using Blogifier.Core.Extensions
@using Blogifier.Core.Data.Models
@model BlogCategoryModel
@{
    Layout = "~/Views/Blogifier/Blog/Custom/Layout/_layoutPage.cshtml";
}


<div class="container">
    @if (Model != null)
            {
                foreach (var item in Model.Posts)
                {
            <div class="post-category">
                <h2 class="post-category-title"><a href="~/blog/@item.Slug">@item.Title</a></h2>
                <p class="post-category-info">Posted by <a href="~/author/@item.BlogSlug">@item.AuthorName</a> on @item.Published.ToFriendlyDateString()</p>
                <p class="post-category-content">@Html.Raw(item.Content)</p>
            </div>
        }
    }
    @if (Model != null)
            {
        <ul class="pager">
            @if (Model.Pager.ShowOlder)
                {
                <li class="previous"><a href="~/category/@Model.Category.Slug/@Model.Pager.Older"><span aria-hidden="true">&larr;</span> Older</a></li>
            }
            @if (Model.Pager.ShowNewer)
                {
                <li class="next"><a href="~/category/@Model.Category.Slug/@Model.Pager.Newer">Newer <span aria-hidden="true">&rarr;</span></a></li>
            }
        </ul>
    }
</div>
