<div class="modal modal-sm" id="aboutBlogifier">
    <div class="modal-overlay modal-close"></div>
    <div class="modal-body">
        <div class="bf-about">
            <img class="item-logo" src="/embedded/lib/img/logo.png" alt="Blogifier" />
            <h2 class="item-title">Blogifier @Blogifier.Core.Common.ApplicationSettings.Version</h2>
            <p class="item-desc">This project provides blogging features to ASP.NET Core applications</p>
            <p class="item-desc item-copyright">Copyright &copy; @DateTime.Now.Year</p>
            <ul class="item-social">
                <li><a href="https://github.com/blogifierdotnet/Blogifier.Core/" target="_blank"><i class="fa fa-github"></i></a></li>
                <li><a href="https://twitter.com/blogifierdotnet/" target="_blank"><i class="fa fa-twitter"></i></a></li>
                <li><a href="https://facebook.com/blogifierdotnet/" target="_blank"><i class="fa fa-facebook-square"></i></a></li>
                <li><a href="https://instagram.com/blogifierdotnet/" target="_blank"><i class="fa fa-instagram"></i></a></li>
            </ul>
            <div class="item-notify">
                <a href="#">Update Your Blogifier!</a>
            </div>
        </div>
    </div>
</div>