<div class="modal modal-sm" id="aboutBlogifier">
    <div class="modal-overlay modal-close"></div>
    <div class="modal-body">
        <div class="bf-about">
            <img src="#" alt="Blogifier" />
            <p>Blogifier Version 1.2</p>

        </div>
    </div>
</div>