<div class="modal modal-sm" id="aboutBlogifier">
    <div class="modal-overlay modal-close"></div>
    <div class="modal-body">
        <div class="bf-about">
            <img src="/embedded/lib/img/logo.png" alt="Blogifier" />
            <h2>Blogifier Version 1.2</h2>
            <p>This project provides blogging features to ASP.NET Core applications</p>
            <a href="https://github.com/blogifierdotnet/Blogifier.Core/" target="_blank"><i class="fa fa-github"></i></a>
            <a href="https://twitter.com/blogifierdotnet/" target="_blank"><i class="fa fa-twitter"></i></a>
            <a href="https://instagram.com/blogifierdotnet/" target="_blank"><i class="fa fa-instagram"></i></a>
        </div>
    </div>
</div>