<div class="modal fade" id="modalFilePicker" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <button class="btn btn-black btn-main" onclick="return assetController.clickUpload()">Upload</button>
            <hr />
            <div class="file-picker row" id="filePickerList"></div>
            <ul class="pagination-custom pagination-custom-sm mt-0"></ul>
        </div>
    </div>
</div>