<div class="modal fade bf-modal-filemanager" id="fileManager" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="bf-filemanager">
                <div class="bf-filemanager-header clearfix">
                    <label class="custom-control custom-checkbox float-left">
                        <input type="checkbox" class="custom-control-input item-check">
                        <span class="custom-control-indicator"></span>
                    </label>
                    <button class="btn btn-light btn-sm float-left mr-2" type="button">upload</button>
                    <button class="btn btn-outline-light btn-icon btn-sm float-left" type="button"><i class="fa fa-trash"></i></button>
                    <div class="dropdown float-right ml-2">
                        <button class="btn btn-outline-secondary btn-icon btn-sm dropdown-toggle" type="button" id="filterFileManager" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-filter"></i></button>
                        <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="filterFileManager">
                            <li>
                                <form class="filemanager-search" action="" method="get">
                                    <input type="search" name="search" class="form-control" placeholder="Search..." />
                                </form>
                            </li>
                            <li>
                                <label class="dropdown-item custom-control custom-radio d-block">
                                    <input id="filterAll" name="filter" type="radio" class="custom-control-input">
                                    <span class="custom-control-indicator"></span>
                                    <span class="custom-control-description">All</span>
                                </label>
                            </li>
                            <li>
                                <label class="dropdown-item custom-control custom-radio d-block">
                                    <input id="filterImages" name="filter" type="radio" class="custom-control-input">
                                    <span class="custom-control-indicator"></span>
                                    <span class="custom-control-description">Images</span>
                                </label>
                            </li>
                            <li>
                                <label class="dropdown-item custom-control custom-radio d-block">
                                    <input id="filterAttachments" name="filter" type="radio" class="custom-control-input">
                                    <span class="custom-control-indicator"></span>
                                    <span class="custom-control-description">Attachments</span>
                                </label>
                            </li>
                        </ul>
                    </div>
                    <div class="btn-group btn-group-icon float-right ml-2" role="group">
                        <button type="button" class="btn btn-outline-secondary btn-sm"><i class="fa fa-angle-left"></i></button>
                        <button type="button" class="btn btn-outline-secondary btn-sm"><i class="fa fa-angle-right"></i></button>
                    </div>
                    <span class="item-pagination float-right">1-10 out of 50</span>
                    
                </div>
                <div class="bf-filemanager-body">
                    <div id="fileManagerList" class="row no-gutters"></div>
                </div>
                <div class="bf-filemanager-footer clearfix">
                   
                    <button class="btn btn-primary float-right btn-sm ml-2" type="button">select</button>
                    <button class="btn btn-link float-right btn-sm" type="button" data-dismiss="modal">cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>