<div class="modal inmodal" id="modalFilePicker">
    <div class="modal-overlay modal-close"></div>
    <div class="modal-body">
        <div class="modal-header">
            <h2>Modal Title</h2>
            <a href="#" class="modal-close"><i class="fa fa-times"></i></a>
        </div>
        <div class="modal-content">
            <button class="btn btn-black btn-main" onclick="return assetController.clickUpload()">Upload</button>
            <hr />
            <div class="file-picker row" id="filePickerList"></div>
            <ul class="pagination-custom pagination-custom-sm mt-0"></ul>
        </div>
    </div>
</div>