<div class="modal fade bf-modal-filemanager" id="fileManager" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="bf-filemanager">
                <div class="bf-filemanager-header clearfix">
                    <label class="custom-control custom-checkbox float-left">
                        <input type="checkbox" class="custom-control-input item-check">
                        <span class="custom-control-indicator"></span>
                    </label>
                    <button class="btn btn-light btn-sm float-left mr-2" type="button" onclick="return fileManagerController.uploadClick()">upload</button>
                    <div class="spin-icon float-left"><i class="fa fa-spin fa-cog" style="color:white"></i></div>
                    <button id="btnDelete" class="btn btn-outline-light btn-icon btn-sm float-left" type="button" onclick="return fileManagerController.remove()"><i class="fa fa-trash"></i></button>
                    <div class="dropdown float-right ml-2">
                        <button class="btn btn-outline-light btn-icon btn-sm dropdown-toggle" type="button" id="filterFileManager" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa fa-filter"></i></button>
                        <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="filterFileManager">
                            <li>
                                <form class="filemanager-search" action="" method="get">
                                    <input type="search" id="search" name="search" class="form-control" placeholder="Search..." />
                                </form>
                            </li>
                            <li>
                                <label class="dropdown-item custom-control custom-radio d-block">
                                    <input id="filterAll" value="filterAll" name="filter" type="radio" checked class="custom-control-input" onchange="return fileManagerController.load(1)">
                                    <span class="custom-control-indicator"></span>
                                    <span class="custom-control-description">All</span>
                                </label>
                            </li>
                            <li>
                                <label class="dropdown-item custom-control custom-radio d-block">
                                    <input id="filterImages" value="filterImages" name="filter" type="radio" class="custom-control-input" onchange="return fileManagerController.load(1)">
                                    <span class="custom-control-indicator"></span>
                                    <span class="custom-control-description">Images</span>
                                </label>
                            </li>
                            <li>
                                <label class="dropdown-item custom-control custom-radio d-block">
                                    <input id="filterAttachments" value="filterAttachments" name="filter" type="radio" class="custom-control-input" onchange="return fileManagerController.load(1)">
                                    <span class="custom-control-indicator"></span>
                                    <span class="custom-control-description">Attachments</span>
                                </label>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="bf-filemanager-body">
                    <div id="fileManagerList" class="row no-gutters"></div>
                </div>
                <div class="bf-filemanager-footer clearfix">
                    <div id="file-pagination" class="file-pagination float-left" role="group"></div>
                    <button id="btnSelect" class="btn btn-primary float-right btn-sm ml-2" type="button" onclick="return fileManagerController.pick(0)">select</button>
                    <button class="btn btn-link float-right btn-sm" type="button" data-dismiss="modal">cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div style="display:none;">
    <form method="post" name="frmUpload" id="frmUpload" asp-action="Index" asp-controller="Blogifier/Api/Assets/Multiple" enctype="multipart/form-data">
        <input type="file" name="files" id="files" multiple onchange="fileManagerController.uploadSubmit(); return false;" />
        <input type="submit" value="Upload Multiple" />
    </form>
</div>