@using Blogifier.Core.Common
@{
    var avatar = ApplicationSettings.ProfileAvatar;
    var userName = "";
    var blogTitle = ApplicationSettings.Title;
    if (Model.Profile != null)
    {
        userName = Model.Profile.AuthorName;
        blogTitle = Model.Profile.Title;
        if (!string.IsNullOrEmpty(Model.Profile.Avatar))
        {
            avatar = Model.Profile.Avatar;
        }
    }
}
<div class="admin-header">
    <div class="container">
        @if (Model.BlogExists)
        {
        <ul class="admin-nav clearfix">
            <li class="admin"><a href="~/admin">Posts</a></li>
            <li class="files"><a href="~/admin/files">Files</a></li>
            <li class="settings"><a href="~/admin/settings/profile">Settings</a></li>
            <li class="user-nav float-right btn-group">
                <a class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img alt="@userName" src="@avatar"><span>@userName</span></a>
                <ul class="dropdown-menu dropdown-menu-right">
                    <li><a class="dropdown-item" href="~/@ApplicationSettings.BlogRoute@Model.Profile.Slug" target="_blank">View Blog</a></li>
                    <li><a class="dropdown-item" href="" onclick="profileLogOut(); return false;">Logoff</a></li>
                </ul>
            </li>
        </ul>
        }
    </div>
</div>