@using Blogifier.Core.Common
@{
    var avatar = ApplicationSettings.ProfileAvatar;
    var userName = "";
    if (Model.Profile != null)
    {
        userName = Model.Profile.AuthorName;
        if (!string.IsNullOrEmpty(Model.Profile.Avatar))
        {
            avatar = Model.Profile.Avatar;
        }
    }
}
<div class="admin-header">
    <div class="container">
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-navicon"></i>
                <span class="nav-title"></span>
            </button>
            <ul class="dropdown-menu dropdown-menu-app" aria-labelledby="dropdownMenuButton">
                @if (Model.BlogExists)
                {
                    <li class="admin"> <a class="dropdown-item" href="~/admin">Posts</a></li>
                    <li class="files"> <a class="dropdown-item " href="~/admin/files">Files</a></li>
                }
                @if (Model.Profile != null && Model.Profile.IsAdmin)
                {
                    <li class="profile"><a class="dropdown-item " href="~/admin/settings/profile">Profile</a></li>
                }
            </ul>
        </div>
        <div class="brand"><a href="~/blog" target="_blank">Name of the blog</a></div>
        <div class="btn-group">
            <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <img class="profile-image" alt="@userName" src="@avatar">
            </button>
            <div class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-item" href="~/blog">View Blog</a>
                <a class="dropdown-item" href="" onclick="profileLogOut(); return false;">Logoff</a>
            </div>
        </div>
        <div id="foo">FOO</div>
    </div>
</div>