@using Blogifier.Core.Common
@{ 
    var themeFolder = "blogifier/admin/custom";
}
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, shrink-to-fit=no, initial-scale=1">
<title>Blogifier</title>
<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
<link href="~/@themeFolder/css/bootstrap.min.css" rel="stylesheet">
<link href="~/@themeFolder/css/font-awesome.min.css" rel="stylesheet">
<link href="~/@themeFolder/lib/toastr/toastr.min.css" rel="stylesheet" />
<link href="~/@themeFolder/css/styles.min.css" rel="stylesheet" />
