@using Blogifier.Core.Common
@{
    var avatar = ApplicationSettings.ProfileAvatar;
    var userName = "";
    var blogTitle = ApplicationSettings.Title;
    if (Model.Profile != null)
    {
        userName = Model.Profile.AuthorName;
        blogTitle = Model.Profile.Title;
        if (!string.IsNullOrEmpty(Model.Profile.Avatar))
        {
            avatar = Model.Profile.Avatar;
        }
    }
}

<div class="bf-nav dropdown">
    <button class="bf-nav-toggle dropdown-toggle"><img alt="@userName" src="@avatar"></button>
    <div class="bf-nav-content dropdown-menu dropdown-menu-right">
        <div class="bf-nav-cover" style="background-image:url(/embedded/lib/img/cover.png);">
            <h2>Blog Title</h2>
            <p>Blog Description here ...</p>
        </div>
        <ul>
            <li><a href="~/admin" title="Posts"><i class="fa fa-align-left"></i></a></li>
            <li><a href="~/admin/settings/profile" title="Settings"><i class="fa fa-cog"></i></a></li>
            <li><a href="~/@ApplicationSettings.BlogRoute@Model.Profile.Slug" target="_blank" title="View Blog"><i class="fa fa-external-link-square"></i></a></li>
            <li><a data-modal-target="#aboutBlogifier" title="About"><i class="fa fa-info"></i></a></li>
            <li><a onclick="profileLogOut(); return false;" title="Logoff"><i class="fa fa-power-off"></i></a></li>
        </ul>
    </div>
    @*Blogifier (Version @Blogifier.Core.Common.ApplicationSettings.Version)*@
</div>

