@using Blogifier.Core.Common
@{
    var avatar = ApplicationSettings.ProfileAvatar;
    var userName = "";
    var blogTitle = ApplicationSettings.Title;
    var blogDesc = ApplicationSettings.Description;
    var blogImg = ApplicationSettings.ProfileImage;
    if (Model.Profile != null)
    {
        userName = Model.Profile.AuthorName;
        blogTitle = Model.Profile.Title;
        blogDesc = Model.Profile.Description;
        blogImg = string.IsNullOrEmpty(Model.Profile.Image) ? blogImg : Model.Profile.Image;
        if (!string.IsNullOrEmpty(Model.Profile.Avatar))
        {
            avatar = Model.Profile.Avatar;
        }
    }
}
<div class="bf-nav dropdown">
    <button class="dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="@avatar" alt="@userName"></button>
    <ul class="dropdown-menu dropdown-menu-right">
        <li><a class="dropdown-item" href="~/admin"><i class="fa fa-align-left"></i>Posts</a></li>
        <li><a class="dropdown-item" href="~/admin/settings/profile"><i class="fa fa-cog"></i>Settings</a></li>
        <li><a class="dropdown-item" href="~/@ApplicationSettings.BlogRoute@Model.Profile.Slug" target="_blank"><i class="fa fa-external-link-square"></i>View Blog</a></li>
        <li><a class="dropdown-item" href="#" onclick="profileLogOut(); return false;"><i class="fa fa-power-off"></i>Logoff</a></li>
        <li><a class="dropdown-item" href="#" data-toggle="modal" data-target="#aboutBlogifier"><img src="/embedded/lib/img/logo-sm.png" alt="BF" />About</a></li>
    </ul>
</div>