.pagination {
    margin:4rem 0;
    .item {

        &-link {
            background: none;
            border: 1px solid #fff;
            padding: .5rem 1.5rem;
            font-size: 1rem;
            color: #fff;
            font-weight: 500;
            display: block;

            &:hover {
                background: #fff;
                color: #000;
                border-color:#fff;
            }
        }

    }
}
