@page "/admin/drive/"
@inject IStringLocalizer<Resource> _localizer
<div class="container">
    <h1 class="section-title">@_localizer["Drive"]</h1>
    <div class="section-content">
        <p class="mb-2">Drive is a file storage that you are able to upload and manage your files and use throughout the website.</p>
        <p>
            It's in the design phase, It will come with
            <a href="https://github.com/blogifierdotnet/Blogifier/projects/2" target="_blank">
                Blogifier v3.1
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
                </svg>
            </a>
        </p>
    </div>
</div>
