// Base
@import "base/variables";
@import "base/reset";
@import "base/base";

// Layout
.sample {
    @import "layout/header";
    @import "layout/footer";

    &-page {
        @import "page/home";
    }
}
  