@page
@{
    ViewData["Title"] = "Blogifier";
    Layout = null;
}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">
    <title>Blogifier - your cover page</title>
    <link href="home/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="home/cover.css" rel="stylesheet">
  </head>

  <body class="text-center">

    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
      <header class="masthead mb-auto">
        <div class="inner">
          <h3 class="masthead-brand">Blogifier</h3>
          <nav class="nav nav-masthead justify-content-center">
            <a class="nav-link active" href="/">Home</a>
            <a class="nav-link" href="https://twitter.com/blogifierdotnet">Twitter</a>
            <a class="nav-link" href="https://www.facebook.com/blogifierdotnet">Facebook</a>
            <a class="nav-link" href="https://github.com/blogifierdotnet/Blogifier">Github</a>
          </nav>
        </div>
      </header>

      <main role="main" class="inner cover">
        <h1 class="cover-heading">Blogifier</h1>
        <p class="lead">This is your cover page (blogifer/pages/index.cshtml). You can replace it with your own content or remove all together if you want to integrate blog into your application or have blog itself as your home.</p>
        <p class="lead">
          <a href="~/blog" class="btn btn-lg btn-secondary">GO TO THE BLOG</a>
        </p>
      </main>

      <footer class="mastfoot mt-auto">
        <div class="inner">
          <p>Cover template for <a href="https://getbootstrap.com/">Bootstrap</a>, by <a href="https://twitter.com/mdo">@@mdo</a>.</p>
        </div>
      </footer>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="home/assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="home/assets/js/vendor/popper.min.js"></script>
    <script src="home/dist/js/bootstrap.min.js"></script>
  </body>
</html>