.bf {
  position: relative;
  height: 100%;
  @media screen and (min-width: 992px) {
    padding-left: $width-taskbar;
  }
}

.bf-main {
  position: relative;
  @media screen and (min-width: 992px) {
    min-height: 100%;
    padding-left: $width-sidebar;
  }
}

.bf-body {
  width: 100%;
}

.bf-content {
  padding: 2rem;
  @media screen and (min-width:992px) {
    &-boxed {
      max-width: 38rem;
      width: 100%;
    }
  }
}
