.bf-header {
  background-color: #f2f2f2;
  border-bottom: 1px solid #e5e5e5;
  line-height: 3rem;
  height: 3rem;
  text-transform: uppercase;
  font-weight: 500;
  padding-left: 1rem;
  position: relative;

  .fa {
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
    transition: transform ease-out .25s;
  }

  span {
    padding-left: .25rem;
  }

  &.active {
    .fa-chevron-down {
      transform: translateY(-50%) rotateX(180deg);
    }

    .fa-sliders {
      transform: translateY(-50%) rotateY(180deg);
    }
  }
}



.bf-title {
  margin-bottom: 1.5rem;
  position: relative;

  &::after {
    content: "";
    width: 100%;
    position: absolute;
    height: 2px;
    background-color: #ddd;
    left: 0;
    top: 1rem - .125rem;
    right: 0;
    display: block;
  }

  span {
    display: inline-block;
    background-color: #fff;
    position: relative;
    z-index: 2;
    padding-right: .5rem;
    text-transform: uppercase;
    font-weight: 500;
    line-height: 2rem;
    color:#666;
  }
}
