@{
    ViewData["Title"] = "Home";
}
@using Microsoft.AspNetCore.Identity
@using WebApp.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
<section class="sample-page-home row">
    <div class="col-sm-6">
        <a href="/blog"><span>Blog Demo</span></a>
    </div>
    <div class="col-sm-6">
        @if (SignInManager.IsSignedIn(User))
        {
            <a href="/admin"><span>Admin Demo</span></a>
        }
        else
        {
            <a href="/Account/Register?returnurl=%2Fadmin"><span>Admin Demo</span></a>
        }
    </div>
</section>
