body,
html {
}

a {
  color: $color-theme;

  &:focus,
  &:hover {
    color: lighten($color-theme, 10%);
    text-decoration: none;
  }
}

img {
  max-width: 100%;
}

label {
  font-weight: $fw-normal;
  white-space: nowrap;
}

hr {
  border-color: #eee;
  margin: 2rem 0;
}

form {
  margin: 0;
}

h1,
h2,
h3,
h4 {
  font-weight: $fw-bold;
}

iframe {
  width: 100%;
  border: none;
}

button {
  font-family: inherit;
  cursor: pointer;

  &:focus {
    outline: none !important;
  }
}

pre {
    font-size: 1rem;
    color: #656565;
    background: #eee;
    padding: 3rem;
    border-radius: .5rem;
    font-weight: 300;
    color: #000;
    position: relative;
}

.progress {
  margin-bottom: 1rem;
}


blockquote {
    background: #ddd;
    padding: 3.5rem;
    border-radius: .5rem;
    font-weight: 300;
    font-size: 1.25rem;
    color: #000;
    position: relative;

    p {
        &:last-child {
            margin-bottom: 0 !important;
        }
    }


    &::before, &::after {
        display: block;
        content: '\201C';
        font-size: 80px;
        width: 30px;
        height: 30px;
        text-align: center;
        line-height: 30px;
        position: absolute;
        left: 10px;
        top: 35px;
        color: $color-theme;
    }

    &::after {
        content: "\201D";
        left: auto;
        top: auto;
        right: 10px;
        bottom: -10px;
    }
}
