.post {
    border-bottom: 1px solid #f8f8f8;
    padding: 5rem 0;

    .post-title {
        font-size: 3rem;
        font-weight: 700;

        a {
            color: $color-blogifier;
        }
    }

    .post-meta {
        padding: .375rem 0 0 3.75rem;
        min-height: 3rem;
        position: relative;
        font-size: 1rem;
        margin: 2rem 0 1.875rem;
        color: #888;
        line-height: 1.125;

        a {
            color: #888;

            &:hover {
                color: $color-blogifier;
            }
        }
    }

    .post-meta-img {
        position: absolute;
        left: 0;
        top: 0;
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
    }

    .post-meta-time {
        font-size: .875rem;

        &::before {
            content: "";
            display: block;
            height: 0;
            line-height: 0;
            font-size: 0;
        }
    }

    .post-meta-category {
        font-size: .875rem;

        a {
            &::after {
                content: ", ";
            }

            &:last-child {
                &::after {
                    display: none;
                }
            }
        }
    }

    .post-excerpt {
        margin-bottom: 2rem;
        font-size: 1.375rem;
        font-weight: 300;
    }

    .post-more {
        border: 2px solid #9c9c9c;
        border-radius: 2.5rem;
        display: inline-block;
        padding: .625rem 1.75rem;
        text-align: center;
        text-transform: uppercase;
        color: #888;
        font-size: .875rem;
        font-weight: 700;

        &:hover {
            border-color: $color-blogifier;
            color: $color-blogifier;
        }
    }

    @media screen and (max-width:57rem) {
        padding: 2.5rem 0;

        .post-title {
            font-size: 2rem;
        }

        .post-meta {
            margin: 1rem 0;
        }

        .post-excerpt {
            font-size: 1rem;
            font-weight: 400;
            margin-bottom: 1rem;
        }

        .post-more {
            padding: .375rem 1rem;
        }
    }
}
