<ul class="bft-nav nav">
    <li class="nav-item"><a class="nav-link" href="~/">Home</a></li>
    <li class="nav-item"><a class="nav-link" href="~/about/">About</a></li>
    <li class="nav-item"><a class="nav-link" href="~/example/">Example</a></li>
</ul>