@*
<form class="blog-search" role="search" asp-controller="Blog" asp-action="Search" method="post">
    <input type="search" id="term" name="term" class="form-control" placeholder="" autocomplete="off">
</form>
*@