<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Error 404</title>
    <meta name="description" content="Error page">

    <!-- TODO: These variables comes from customfiedls -->
    <style>
        :root {
            /* accent color */
            --bf-color: #622aff;
            /* header */
            --bf-header-title-size: 1.5rem;
            --bf-header-title-weight: 700;
            --bf-header-title-color: #000;
            --bf-header-title-hover: #622aff;
            /* logo */
            --bf-header-logo-width: auto;
            --bf-header-logo-height: 1.5rem;
            /* post */
            --bf-post-width: 43.75rem;
            /* radius */
            --bf-radius: .5rem;
        }
    </style>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" href="~/themes/standard/css/styles.css" asp-append-version="true">
</head>


<body>
    <partial name="./components/header.cshtml" />
    <main class="container">
        <h1>Page Not Found</h1>
    </main>
    <partial name="./components/footer.cshtml" />

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
    <script src="~/themes/standard/js/highlight.js" asp-append-version="true"></script>
    <script src="~/themes/standard/js/scripts.js" asp-append-version="true"></script>
    <script src="~/themes/standard/js/newsletter.js" asp-append-version="true"></script>
</body>

</html>


