.widget {
    margin-bottom: 5rem;

    &-title {
        color: #9527e1;
        font-size: 1.25rem;
        font-weight: 500;
        margin-bottom: 2rem;
    }

    &-icon {
        font-size: 1rem;
        color: $color-theme;
        margin-right: .5rem;
    }

    &-body {
        ul {
            margin: 0;
            padding: 0;
            list-style: inside;

            li {
                color: #8c8c8c;
                margin-bottom: .25rem;
            }
        }

        a {
            color: #8c8c8c;

            &:hover {
                color: $color-theme;
            }
        }
    }
}
