@page "/admin/authentication/{action}"
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication

@* @using Microsoft.AspNetCore.Authorization
    @attribute [AllowAnonymous] *@

<RemoteAuthenticatorView Action="@Action" />

@* <p> @Action </p> *@

@code {
    [Parameter]
    public string Action { get; set; }
}