.app-settings {
    .nav-pills {
        padding-right: 1rem;
    }

    &-title {
        font-size: 1.25rem;
        font-weight: 500;
        border-bottom: 1px solid $color-gray-light;
        margin-bottom: 1rem;
        line-height: 1;
        padding-bottom: .5rem;
        color: $color-gray-dark;

        &:not(:first-child) {
            margin-top: 3rem;
        }
    }

    .form-group {
        font-size: .875rem;
        margin-bottom: 1rem;
    }

    .input-group-append {
        .btn {
            font-size: .875rem;
            text-transform: uppercase;
        }
    }

    .form-control {
        font-size: .875rem;
    }

    .form-control-label {
        font-weight: 500;
        font-size: .876rem;
        line-height: 1;
    }

    .form-submit-button {
        margin-top: 1rem;

        .btn {
            min-width: 8rem;
            padding: 0;
            height: 2.5rem;
            font-size: 1rem;
            text-transform: uppercase;
            font-weight: 500;
        }
    }
}
