.app-social {
    &-list {
        list-style: none;
        padding: 0;
        margin: 0;

        li {
            border-bottom: 1px solid $color-gray-lighter;
            display: flex;
            padding: .5rem 0;
        }


    }
}
