.app-themes {
    .col-md-6 {
        margin-bottom: 2rem;
    }

    &-item {
        border: 2px solid $color-gray-lighter;
        height: 100%;
        overflow: hidden;
        position: relative;
        border-radius: .25rem;
        background: $color-gray-lighter;
    }

    &-active {
        border-color: $color-brand;
        background: $color-brand;

        .app-themes-title {
            background: $color-brand;
            color: #fff;
        }
    }

    &-cover {
        width: 100%;
        min-height: 100%;
    }

    &-title {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 0 1rem;
        height: 3rem;
        background: $color-gray-lighter;
        color: $color-gray;
    }

    &-name {
        font-weight: 500;
        font-size: .875rem;
    }

    .btn {
        height: 2rem;
        padding: 0 1rem;
        font-size: .75rem;
        text-transform: uppercase;
        font-weight: 500;
    }
}
