
html {
    height: 100%;
}

body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.app {
    padding-left: 4rem;
}

.app-content {
}

.app-sidebar {
    background-color: $color-brand;
    width: 4rem;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
}
