html {
    height: 100%;
}

body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    cursor: default;
    overflow-y: scroll;
}

.app {

    &-content {
        padding-top:2rem;
        padding-bottom:4rem;
    }
}

.container {
    width: 70rem;
    max-width: 100%;
}
