
.app-nav {
    padding: 0;
    margin: 0;
    list-style: none;
    height: 100%;
    display: flex;

    .app-nav-seperate-right {
        &::before {
            content: "";
            width: 50%;
            height: 1px;
            background: #000;
            opacity: .125;
            display: block;
            margin: 0 auto;
        }
    }

    &-link {
        width: 4rem;
        height: 4rem;
        line-height: 4rem;
        text-align: center;
        display: block;
        color: #fff;
        opacity: .5;

        &:hover,
        &.active {
            opacity: 1;
            color: #fff;
        }
    }

    &-svg, &-img {
        width: 1rem;
        height: 1rem;
    }

    .bi {
        &-plus {
            width: 2rem;
            height: 2rem;
        }

        &-newspaper,
        &-envelope-fill {
            width: 1.25rem;
            height: 1.25rem;
        }
    }

    &-profile {
        &-button {
            width: 4rem;
            height: 4rem;
            background: none;
            border: 0;
            outline: none !important;

            &-img {
                width: 2rem;
                height: 2rem;
                border-radius: 4rem;
            }

            &:hover {
                background: rgba(#000, .1);
            }
        }

        &-content {
            margin-right: .5rem;
            margin-top: .5rem;
            width: 16rem;
            border: 0;
            box-shadow: 0 0 10rem rgba(#000, .3);
            padding: 2rem;
        }

        &-avatar {
            border-radius: 100%;
            border: 2px solid $color-gray;
            width:4rem;
            height:4rem;
            display:block;
            margin:0 auto 1rem;
        }

        &-name {
            font-weight:500;
            line-height:1.25;
        }

        &-email {
            font-size:.75rem;
            color:#666;
        }

        &-info {
            text-align: center;
            margin-bottom: 2rem;

            span {
                display: block;
            }
        }

        &-links {
            list-style: none;
            padding: 0;
            margin: 0;

            li {
                border-top: 1px solid #eee;
            }

            a {
                color: #666;
                padding: .5rem 0 .5rem 2rem;
                display: block;
                position: relative;
                font-size: .875rem;
                font-weight:500;

                &:hover {
                    color: $color-brand;
                }
            }

            svg {
                width: 1rem;
                height: 1rem;
                position: absolute;
                top: 50%;
                left: .25rem;
                transform: translateY(-50%);
            }

            .bi-person-fill {
                width: 1.125rem;
                height: 1.125rem;
            }
        }
    }
}
