@using Blogifier.Core.Common
@using Blogifier.Core.Data.Domain
@using System.Collections.Generic
@model List<BlogPost>

<div class="col-sm-9">
    @if (Model != null)
    {
        foreach (var item in Model)
        {
            <h4>@item.Title</h4>
            <div>@Html.Raw(item.Description)</div>
            <div><a href="~/blog/@item.Slug">Read more</a></div>
        }
    }
</div>
<div class="col-sm-3">
    @await Component.InvokeAsync("Blogifier.Core.Views.Blogifier.Widgets.BlogList")
</div>