.bf-page-posts {
  .bf-toolbar {
    .custom-control {
      display: block;
      padding: 0;
      width: 1.125rem;
    }

    .custom-select {
      width: 5.5rem;
    }
  }

  .bf-posts-empty {
    padding:0 2rem;
  }
  @media screen and (max-width: 991px) {
    .bf-posts-empty {
      padding: 0 1rem;
    }
  }
}
@import "sidebar";
@import "search";
@import "list";
@import "grid";
@import "pagination";
