.widget-newsletter {

    h3 {
    }

    p {
        margin-bottom: 2rem;
    }

    form {
        position: relative;
    }

    input {
        background: #000;
        width: 100%;
        border: none;
        border-radius: 10rem;
        color: #fff;
        outline: none !important;
        height: 3.25rem;
        padding: 0 1.5rem;

        &::placeholder {
            color: rgba(255,255,255,.3);
            font-size: 1rem;
            font-weight: 400;
        }

        &:focus {
            border-color: rgba(255,255,255,.75);
            outline: none !important;
            box-shadow: none;
        }
    }

    button {
        background-color: none;
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        border: 0;
        width: 7.5rem;
        color: #fff;
        text-transform: uppercase;
        background: none;
        font-size: .875rem;
        border-left: 1px solid #212529;
    }
}
