.widget-social {
   
        a {
            margin-bottom:2rem;
            color: #fff !important;
            display: block;
            padding: 0.75rem 1.25rem;
            border-radius: 10rem;
            font-weight: 500 !important;
            font-size:1rem;
        }

        i {
            display: inline-block;
            width: 1.25rem;
            margin-right: .625rem;
            font-size: 1.25rem;
            position: relative;
            top: .125rem;
        }

    &-fb {
        background-color: $color-fb;

        &:hover {
            background-color: lighten($color-fb,5%);
        }
    }

    &-tw {
        background-color: $color-tw;

        &:hover {
            background-color: lighten($color-tw,5%);
        }
    }

    &-in {
        background-color: $color-in;

        &:hover {
            background-color: lighten($color-in,5%);
        }
    }

    &-rss {
        background-color: $color-rss;

        &:hover {
            background-color: lighten($color-rss,5%);
        }
    }
}
