.widget-social {
  ul{
    padding: 0;
    margin: 0;
  }

  li {
    list-style: none;
    margin: 0 0 0.25rem;

    a {
      background-color: #666;
      color: #fff;
      display: block;
      padding: 0.5rem 1rem;
      border-radius: 0.25rem;

      &:hover {
        background-color: #222;
      }
    }

    i {
      display: inline-block;
      width: 1rem;
      margin-right: 1rem;
      font-size: 1rem;
    }
  }

  &-fb {}

  &-tw {}

  &-yt {}

  &-gp {}
}
