.widget-tags {
  li {
    float: left;

    a{
      display: block;
      padding: .25rem .75rem;
      background-color: #666;
      color:#fff;
      border-radius: .25rem;
      font-size: .875rem;
      margin-bottom: .125rem;
      margin-right: .125rem;
      &:hover{
        background-color: #222;
      }
    }
  }
}
