@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.container-fluid {
    max-width: 1460px;
    padding: 20px 0;
}

app {
    position: relative;
    display: flex;
    flex-direction: column;
}

.components-reconnect-show, .components-reconnect-failed, .components-reconnect-rejected {
    display: none;
}

/* layout */

.bf-row {
    /*border: 3px solid red;*/
}

.bf-col {
    /*border: 3px dotted blue;*/
    margin-bottom: 30px;
}

/* Nav Menu */

.img-logo {
    width: 32px;
}

.top-row {
    height: 3.5rem;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #492997;
}

.main {
    flex: 1;
}

.main .top-row {
    background-color: #f7f7f7;
    border-bottom: 1px solid #dedede;
    justify-content: flex-end;
}

.main .top-row > a, .main .top-row .btn-link {
    white-space: nowrap;
    margin-left: 1.5rem;
}

.main .top-row a:first-child {
    overflow: hidden;
    text-overflow: ellipsis;
}

.sidebar {
    background-color: #5731b3;
}

.sidebar .navbar-brand {
    font-size: 1.1rem;
    margin-left: -2px;
}

.sidebar .oi {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.sidebar .nav-item {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

.sidebar .nav-item:first-of-type {
    padding-top: 1rem;
}

.sidebar .nav-item:last-of-type {
    padding-bottom: 1rem;
}

.sidebar .nav-item a {
    color: #AB98D9;
    border-radius: 4px;
    height: 3rem;
    display: flex;
    align-items: center;
    line-height: 3rem;
}

.sidebar .nav-item a.active {
    color: white;
}

.sidebar .nav-item a:hover {
    color: white;
}

.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.1);
}

.navbar-brand img {
    width: 18px;
}

.nav-link.info {
    padding-left: 20px;
}

.pl-3, .px-3 {
    padding-left: 7px !important;
}

.btm-container {
    position: absolute;
    bottom: 0;
}

.btm-ul {
    margin-bottom: 20px;
    position: absolute;
    bottom: 0;
}

/* cards */

.card {
    margin-bottom: 20px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.25);
    border-radius: .125rem;
    min-width: 200px;
}

.h-100 {
    height: 100%;
}

.card-header {
    color: #666;
    background-color: white;
    font-weight: 600;
    font-size: .8em;
    text-transform: uppercase;
    border-bottom: 1px solid #f2e6e6;
}

.card img {
    max-width: 100%;
}

.theme-active {
    border: 2px solid #35c21f;
}

.card-title span {
    float: right;
}

.card-title a {
    font-size: .7em;
    font-weight: 600;
    text-decoration: none;
    color: #5731b3;
}

.card.dash.themes .card {
    width: 285px;
    height: 340px;
}

.card.dash.themes .col .card-body {
    border-top: 1px solid #dedede;
}

/* post lists */

.list-group-item {
    padding-left: 0;
}

.post-list .list-group-item {
    padding-left: 15px;
}

.post-list:active {
    background-color: #5731b3;
}

.post-list .oi {
    float: right;
    margin-left: 5px;
}

.btn-remove .fa {
    color: red;
    font-size: 1.2em;
}

.bf-posts-list {
    padding-left: 0;
}

.bf-list-item {
    position: relative;
    height: 2.5rem;
    padding: 0 .7rem 0 10px;
    border-bottom: 1px solid #f8f8f8;
}

.bf-list .custom-control {
    display: block;
    padding: 0;
    margin: 0;
    min-width: 1rem;
    min-height: 1rem;
    width: 1rem;
    height: 1rem;
}

.bf-list-item-link {
    color: #666;
    height: 2.5rem;
    line-height: 2.5rem;
    display: block;
    width: 100%;
    font-weight: 600;
    font-size: .9em;
    white-space: nowrap;
    overflow: hidden;
}

a.bf-list-item-link {
    color: #666;
    text-decoration: none;
}

.bf-list-item-status-published {
    color: #00c748;
}

.bf-list-item-status {
    font-size: 0.62rem;
    padding-left: 1rem;
}

.ml-auto, .mx-auto {
    margin-left: auto !important;
}

.bf-list-item-text, .bf-list-item-date {
    display: block;
    min-width: 50px;
    color: #888;
    font-size: 0.7rem;
    white-space: nowrap;
}

.bf-list-item-date {
    margin-right: 15px;
}

.bf-list-item-status:hover {
    cursor: pointer !important;
}

.bf-list-item-favorite {
    font-size: 0.87rem;
    cursor: pointer;
    padding: 0;
}

.bf-list-item-favorite .fa-star {
    color: #ffbe00;
}

.bf-list-item-status-delete {
    color: red;
}

.bf-list-item-status-link {
    color: #888;
}

.bf-list-item-status-draft {
    color: #ff9b00;
}

.bf-list-item-favorite .fa-star-o {
    color: #888;
}

.bf-list-item-favorite:focus .fa-star-o, .bf-list-item-favorite:hover .fa-star-o {
    color: #ffbe00;
}

.bf-list-item:hover {
    background-color: aliceblue;
}

.bf-list-social-icon {
    width: 30px;
}

/* buttons */

a, .btn-link {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #5731b3;
    border-color: #1861ac;
    text-transform: uppercase;
    font-size: .8rem;
    font-weight: 600;
    min-width: 100px;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active {
    border-color: #492997;
    background-color: #492997;
}

.btn-outline-primary:hover {
    background-color: #492997;
}


.btn-secondary {
    background-color: #666;
    opacity: 0.7;
    color: #FFF;
    border: 1px solid #666;
}

.btn-secondary:hover {
    opacity: 0.6;
}


.btn-rounded {
    border-radius: 5rem;
}

.btn span {
    width: 3rem;
}

.btn-unstyled {
    border: 0;
    background: none;
    cursor: pointer;
}

.btn-upload {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    text-transform: uppercase;
    font-size: .8rem;
    height: 37px;
}

/* form controls */

fieldset {
    padding: 20px;
}

.input-group.search {
    padding: 10px 0;
    margin-bottom: 10px;
}

label {
    font-weight: 600;
    font-size: .85rem;
    margin-bottom: .2rem;
}

.input-group label {
    display: block;
    width: 100%;
}

.form-control {
    margin-bottom: 15px;
}

input[type=text], select {
    width: 100%;
    margin-bottom: 1rem;
    padding: 3px 15px; /* !important; */
    line-height: 32px; /* !important; */
    font-size: .95rem;
    color: #495057;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

select {
    height: 2.5rem;
}

.txt-upload, .txt-area {
    margin-bottom: 1rem !important;
}

.save-profile {
    margin-top: 20px;
}

.custom-switch {
    margin: 1rem 0;
}

.custom-control-input:checked ~ .custom-control-label::before {
    color: #fff;
    border-color: #5731b3;
    background-color: #5731b3;
}

/* validation */

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
    list-style: none;
    margin-left: -10px;
    font-size: .8em;
    font-weight: 600;
    padding: 5px;
    margin-top: 5px;
}

/* modal dialog */
.editor-modal-bg {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.70);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1003;
}

.editor-modal-content {
    max-width: 790px;
    min-width: 280px;
    height: 545px;
    background-color: white;
    border-radius: 4px;
    margin: 0 auto;
    margin-top: 2rem;
}

.modal-actions {
    background-color: #492997;
    padding: 5px 20px;
    margin: 0 !important;
    height: 48px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.post-options {
    float: right;
    margin-left: 20px;
    margin-top: 0;
}

.modal-actions .btn-secondary {
    background-color: transparent !important;
    border: none !important;
    font-weight: 600;
    font-size: 1em !important;
}

.btn-post-group {
    margin-top: 5px;
}

.btn-post-group a {
    font-size: .9em;
    font-weight: 600;
}

.modal-actions .btn-secondary span.oi {
    padding: 0 20px !important;
    width: 24px !important;
}

.modal-actions .nav-tabs {
    border: 0 !important;
    font-weight: 600;
    position: relative;
    top: 5px;
}

.modal-actions .nav-tabs .nav-link.active {
    color: #333;
}

.modal-actions .nav-tabs .nav-link {
    border: none !important;
    color: #C8BEE0;
}

.modal-actions .nav-tabs .nav-link:hover {
    border: none !important;
}

.btn-close {
    margin: 0 0 0 20px !important;
    background-color: transparent !important;
    padding: 0;
    border: none !important;
}

/* newsletter */

#newsletter-tab {
    margin-bottom: 1px;
    margin-left: 10px;
    border-bottom: none;
}

#newsletter-tab a {
    color: #888;
    font-weight: 600;
    font-size: .9em;
    text-transform: uppercase;
}

#newsletter-tab .nav-link {
    border: none;
    border-bottom: 3px solid #FFF;
}

#newsletter-tab .nav-link.active {
    color: #666;
    margin-bottom: 0;
    border-bottom: 3px solid #5731b3;
}

#newsletter-tab .nav-link:hover {
    color: #666;
    border-bottom: 3px solid #5731b3;
}

.tab-subscription fieldset {
    padding: 5px !important;
}

/* text editor */

.editor-toolbar.fullscreen {
    background-color: #FFF !important;
    min-width: 100% !important;
}

#post-edit-tabs {
    float: left;
}

.editor-outer {
    display: block;
    height: 340px;
}

.editor-content {
    position: relative;
    max-width: 940px;
    margin: auto;
    margin-top: 0;
    height: 140px;
}

.editor-content h1 {
    margin-top: 40px;
    padding: 20px;
    color: #FFF;
}

.editor-title {
    width: 100%;
    display: block;
    font-size: 1.4rem !important;
    border: none !important;
    background: none;
    outline: none !important;
    position: relative;
    margin: 0 !important;
}

.editor-statusbar {
    padding-right: 30px !important;
}

/* pagination */

.pagination .item-link {
    border: 1px solid #9c9c9c;
    border-radius: 50%;
    display: inline-block;
    width: 2.75rem;
    height: 2.75rem;
    text-align: center;
    text-transform: uppercase;
    color: #888;
    font-weight: 700;
    margin-top: 15px;
    margin-right: 10px;
}

.pagination .item-icon {
    display: block;
    height: 100%;
    line-height: 2.5rem;
    font-size: 1rem;
}

li.item.item-text {
    margin-top: 24px;
    height: 32px;
    font-size: .8em;
    margin-right: 10px;
    color: #888;
}

li.item.item-text span.text-active {  
    padding-right: 5px;
    margin: 0 5px;
    font-size: 1.4em;
    font-weight: 600;
}

/* blazor ui */

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}


/* media */

@media (max-width: 767.98px) {
    .main .top-row:not(.auth) {
        display: none;
    }

    .main .top-row.auth {
        justify-content: space-between;
    }

    .main .top-row a, .main .top-row .btn-link {
        margin-left: 0;
    }

    .nal-label {
        display: block;
    }

    .sidebar .nav-item a {
        color: white !important;
    }

    .sidebar .nav-link:hover {
        background-color: #492997;
    }

    .btm-ul {
        display: none;
    }

    .tooltip {
        display: none;
    }
}

@media (min-width: 768px) {
    app {
        flex-direction: row;
    }

    .sidebar {
        width: 4rem;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .main .top-row {
        position: sticky;
        top: 0;
    }

    .main > div {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }

    .navbar-toggler {
        display: none;
    }

    .sidebar .collapse {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }

    .nal-label {
        display: none;
    }

    .btm-ul {
        display: block;
    }
}