
h1{
    font-size: 1.5rem;
}

.content {
    padding-top: 1.1rem;
}

.badge-primary {
    background-color: #5731b3;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}

.post-cover {
    height: 30rem;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.tooltip {
    margin-left: -7px;
}

.oi-chevron-right {
    padding-left: 3px;
}

#post-editor-tabs-list {
    padding: 10px 0 0 20px;
    height: 60px;
    margin: 0;
}

.editor-categories span {
    font-size: 1.5em;
    color: #666;
    padding: 0 10px;
}

.input-categories {
    width: 90% !important;
    float: right;
    margin: 0 !important;
    padding: 0 !important;
    line-height: 22px !important;
    font-size: .95rem;
    color: #FFF !important;
    border: none !important;
    background-color: transparent;
    outline: none !important;
}

.input-group {
    margin-bottom: 15px;
}

.notfound {
    font-size: .8em;
    font-weight: 600;
    color: #888;
}
