.asset-list {
    &-item {
        position: relative;
        height: 12.5rem;
        display: block;
        overflow: hidden;
        border-radius: 3px;
        margin-bottom: 2rem;
        border: .25rem solid #fff;
        background: #fff;
        box-shadow: 0 0 0 1px #ddd;
        img {
            min-height: 100%;
            max-width: 150%;
            max-height: 150%;
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
        @media screen and (max-width:35.9375rem) {
            margin-bottom: 1rem;
        }
    }
    .col-sm-6 {
        &:last-child {
            .asset-list-item {
                margin-bottom: 0;
            }
        }
    }
}