.asset-list {
    &-item {
        height: 200px;
        background: #fff;
        display: block;
        overflow: hidden;
        position: relative;
        border-radius: 3px;
        margin-bottom: 2rem;
        border: 0.5rem solid #fff;
        box-shadow: 0 0 0 1px #dbdbdb;
        img {
            min-height: 100%;
            max-width: 150%;
            max-height: 150%;
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}

.asset-edit {
    &-img {
        height: 200px;
        background: #fff;
        display: block;
        overflow: hidden;
        position: relative;
        border-radius: 3px;
        margin-bottom: 2rem;
        border: 0.5rem solid #fff;
        box-shadow: 0 0 0 1px #dbdbdb;
        img {
            min-height: 100%;
            max-width: 150%;
            max-height: 150%;
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
}