.asset-list {
    .asset-item {
        display: block;
        border-radius: .125rem;
        margin-bottom: 2rem;
        background: #fff;
        box-shadow: 0 0 0 .0625rem #ddd;
        overflow: hidden;

        .asset-item-checkbox {
            margin: 0;
            height: 2rem;
            padding-left: 2rem;
            border-top: 1px solid #eee;
            display: block;
            position: relative;
            border-radius: .125rem;
            background: #fafafa;

            .custom-control-indicator {
                top: .5rem - 0.0625rem;
                left: .5rem;
            }

            .custom-control-description {
                font-size: .875rem;
                display: block;
                line-height: 2rem - .0625rem;
                @include text-overflow(ellipsis);
            }
        }

        a {
            display: block;
            height: 100%;
            position: relative;
            overflow: hidden;
            height: 10rem;
            border: .5rem solid #fff;
        }

        &:hover {
            box-shadow: 0 0 0 .0625rem #999;
        }

        img {
            min-height: 100%;
            max-width: 150%;
            display: block;
            position: relative;
            left: 50%;
            transform: translateX(-50%);

            &[src*="/doctypes/blank.png"],
            &[src*="/doctypes/mp3.png"],
            &[src*="/doctypes/doc.png"],
            &[src*="/doctypes/mp4.png"],
            &[src*="/doctypes/pdf.png"],
            &[src*="/doctypes/txt.png"],
            &[src*="/doctypes/xls.png"],
            &[src*="/doctypes/xml.png"],
            &[src*="/doctypes/zip.png"] {
                position: relative;
                top: 50%;
                transform: translate(-50%,-50%) scale(.75);
            }
        }

        @media screen and (max-width:35.9375rem) {
            margin-bottom: 1rem;
        }
    }

    .col-sm-6 {
        &:last-child {
            .asset-list-item {
                margin-bottom: 0;
            }
        }
    }
}

.asset-edit {
    &-item {
        border-top-left-radius: .1875rem;
        border-top-right-radius: .1875rem;
        max-height: 30rem;
        overflow: hidden;
        border: .0625rem solid #ddd;
        border-bottom: 0;
        background: #fafafa;

        &-img {
            display: block;
            margin: 0 auto;
        }

        &-info {
            font-size: .875rem;
            background: #fafafa;
            border: .0625rem solid #ddd;
            padding: 1rem;
            border-bottom-right-radius: .1875rem;
            border-bottom-left-radius: .1875rem;
        }
    }

    @media screen and (max-width:57.3125rem) {
        .row {
            margin-bottom: .5rem;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}
