<footer class="py-5 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; @Model.Blog.Title @DateTime.Now.Year</p>
    </div>
</footer>
<script src="~/themes/simple/vendor/jquery/jquery.min.js"></script>
<script src="~/themes/simple/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>