.widget-newsletter {

    h3 {
    }

    p {
        margin-bottom: 2rem;
    }

    form {
        position: relative;
    }

    input {
        background: #fff;
        width: 100%;
        border: none;
        color: #fff;
        outline: none !important;
        height: 3rem;
        padding: 0 1rem;

        font-size:.75rem;

     

        &:focus {
            outline: none !important;
            box-shadow: none;
        }
    }

    button {
        background-color: none;
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        border: 0;
        width: 6rem;
        color: #fff;
        text-transform: uppercase;
        background: none;
        font-size: .75rem;
        border-left: 1px solid #212529;
        background: #000;
    }
}
