html, body {
    height: 100%;
}

body {
    font-family: $font-family-base;
    font-size: 1.125rem;
    cursor: default;
    overflow-y: scroll;
}

.container {
    width: 100%;
    max-width: 55rem;
}