.footer {
  border-top: 1px solid #eee;
  margin-top: 4rem;
  padding: 3rem 0;
  color: #444;
  font-size: 0.75rem;
  a {
    color: #666;
    &:hover {
      color: $color;
    }
  }
  p {
    margin: 0;
  }
}
