.footer {
  border-top: 1px solid rgba(#000, .1);
  margin-top: 4rem;
  padding: 3rem 0;
  color: #444;
  font-size: 0.75rem;
  a {
    color: #666;
    text-decoration: none;
    &:hover {
      color: $color;
    }
  }
  p {
    margin: 0;
  }
}
