.bft-header {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  margin-bottom: 5rem;
  border-bottom: 1px solid #f7f7f7;

  &-sign {
    margin-right: 1rem;
    &:hover,
    &:focus {
      .bft-header-title {
        color: var(--bft-header-title-hover);
      }
    }
  }

  &-title {
    margin: 0;
    font-size: var(--bft-header-title-size);
    font-weight: var(--bft-header-title-weight);
    color: var(--bft-header-title-color);
  }

  &-logo {
    width: var(--bft-header-logo-width);
    height: var(--bft-header-logo-height);
  }
}

.dropdown-user {
  &-link {
    width: 3rem;
    height: 3rem;
    text-align: center;
    display: block;
    position: relative;
    margin-left: 1.5rem;
    border-radius: 100%;
    border: 0;
    background: none;

    &.logedin {
      img {
        width: 1.5rem;
        height: 1.5rem;
        padding: 0;
      }
    }

    &:hover,
    &:focus {
      .bi {
        fill: $color;
      }
    }
    &::before {
      content: "";
      width: 1px;
      height: 1rem;
      background-color: rgba(#000, 0.1);
      display: block;
      position: absolute;
      top: 0;
      left: -0.75rem;
      transform: translateY(1rem);
    }
    .bi {
      height: 100%;
      fill: #555;
      transform: translateX(-0.135rem);
    }
  }

  &-menu {
    margin-top: 0.5rem !important;
    background-color: #622aff;
    width: 10rem;
    min-width: 100%;
    border: 0;
    .dropdown-item {
      color: rgba(#fff, 0.85);
      font-size: 0.875rem;
      padding: 0.25rem 1rem;
      text-transform: capitalize;

      &:hover,
      &:focus {
        color: #fff;
        background: none;
        background-color: rgba(#fff, 0.1);
      }
    }
  }
}
