.header {
  padding-top: 4rem;
  padding-bottom: 4rem;

  &-sign {
    margin-right: 1rem;
  }

  &-title {
    display: inline-block;
    margin: 0;
    font-size: var(--bft-header-title-size);
    font-weight: var(--bft-header-title-weight);
    color: var(--bft-header-title-color);
    line-height: 1.2;
    text-decoration: none;
    &:hover,
    &:focus {
      color: var(--bft-header-title-hover);
    }
  }

  &-desc {
    margin: 0;
    font-weight: 300;
    color: var(--bft-header-desc-color, #666);
  }

  &-logo {
    display: block;
    &-img {
      width: var(--bft-header-logo-width);
      height: var(--bft-header-logo-height);
    }
  }

  &-nav {
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }

    &-link,
    &-button {
      color: #000;
      height: 2.75rem;
      line-height: 2.75rem;
      border: 0;
      background: none;
      display: inline-block;
      border-radius: $radius;
      transition: background ease-in-out 0.15s;
      text-align: center;
      border-radius: 0.25rem;

      &:hover,
      &:focus {
        color: $color;
        background-color: var(--bs-light);
      }
      > .bi,
      > img {
        transform: translateY(-0.1rem);
      }
    }

    &-link {
      padding: 0 1rem;
      font-weight: 500;
    }
    &-button {
      padding: 0;
      width: 2.75rem;
    }

    .-login {
      position: relative;
      &::after {
        content: "";
        width: 1px;
        height: 1rem;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: -0.75rem;
        background-color: rgba(#000, 0.1);
        display: block;
      }
      .bi-box-arrow-in-right {
        transform: translateX(-0.125rem);
      }
    }
  }
}
