.bft-title {
  font-size: 1.75rem;
  margin: 0;
}

.bft-social {
  a {
    display: block;
    text-align: center;

    &:hover {
      .bi {
        fill: $color;
      }
    }
  }
  .bi {
    width: 1.125rem;
    height: 100%;
    fill: #555;
  }
}

.dropdown-user {
  &-btn {
    color: #622aff;
    background: rgba(#622aff, .15);
    font-weight: 500;
    border: 0;
    border-radius: 0.25rem;
    padding: 0.5rem 1rem;
    outline: none !important;
    font-size:.9875rem;
    &:hover ,
    &:focus{
      background-color:#622aff;
      color:#fff;
    }

    img {
      transform: translateY(-1px);
    }
  }
  &-menu {
    margin-top: 0.5rem !important;
    background-color: #622aff;
    width: 100%;
    min-width: 100%;
    border: 0;
    .dropdown-item {
      color: rgba(#fff, 0.85);
      font-size: 0.875rem;
      padding: 0.25rem 1rem;
      text-transform: capitalize;

      &:hover,
      &:focus {
        color: #fff;
        background: none;
        background-color: rgba(#fff, 0.1);
      }
    }
  }
}
