.header {
  padding-top: 4rem;
  padding-bottom: 4rem;

  &-sign {
    margin-right: 1rem;
  }

  &-title {
    display: inline-block;
    margin: 0;
    font-size: var(--bft-header-title-size);
    font-weight: var(--bft-header-title-weight);
    color: var(--bft-header-title-color);
    line-height: 1.2;
    text-decoration: none;
    &:hover,
    &:focus {
      color: var(--bft-header-title-hover);
    }
  }

  &-desc {
    margin: 0;
    font-weight: 300;
    color: var(--bft-header-desc-color, #666);
  }

  &-logo {
    display: block;
    &-img {
      width: var(--bft-header-logo-width);
      height: var(--bft-header-logo-height);
    }
  }

  &-nav {
    &-button {
      color: #000;
      height: 3rem;
      border: 0;
      background: none;
      padding: 0 1rem;

      &:hover,
      &:focus {
        color: $color;
      }
    }
    &-list {
      border-radius: $radius;
      box-shadow: 0 0 3rem rgba(#000, 0.2);
      border: none;
    }

    &-link {
      font-size: 0.875rem;
      font-weight: 500;
      text-transform: capitalize;
      padding: 0.5rem 1rem;
      color: #555;
      transition: all ease-in-out 0.2s;
      &:active,
      &:hover {
        color: #000;
        background-color: var(--bs-light);
      }
    }
  }
}
