.header {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  margin-bottom: 5rem;
  border-bottom: 1px solid #f7f7f7;

  &-sign {
    margin-right: 1rem;
  }

  &-title {
    display: block;
    margin: 0;
    font-size: var(--bft-header-title-size);
    font-weight: var(--bft-header-title-weight);
    color: var(--bft-header-title-color);
    &:hover,
    &:focus {
      color: var(--bft-header-title-hover);
    }
  }

  &-logo {
    display: block;
    &-img {
      width: var(--bft-header-logo-width);
      height: var(--bft-header-logo-height);
    }
  }
}
