.list {
  padding: 0;
  margin: 0;
  list-style: none;
  border-top: 1px solid $gray-200;

  // toolbar
  &-toolbar {
    display: flex;
    align-items: center;
    padding-bottom: 1rem;

    .btn-blogifier {
      padding-right: 1rem;
      padding-left: 1rem;
      text-transform: capitalize;
    }

    .-add {
      min-width: 7rem;
    }
  }

  // search
  &-search {
    background: none;
    border: 1px solid $gray-400;
    border-radius: 0.25rem;
    position: relative;
    display: flex;
    margin-bottom: 1rem;
    overflow: hidden;
    &-toggle {
      &[aria-expanded="true"] {
        outline: none !important;
        box-shadow: none !important;
        .bi {
          fill: $blogifier;
        }
      }
      .bi {
        width: 0.9875rem;
        height: 0.9875rem;
        fill: $btn-link-color;
        position: relative;
        top: -1px;
      }
    }

    &-button,
    &-input {
      height: 2.5rem;
      border: 0;
      padding: 0 1rem;
      background: 0;
      outline: none !important;
    }

    &-input {
      flex-grow: 1;
    }

    &-button {
      width: 7rem;
      max-width: 7rem;
      border-left: 1px solid $gray-400;
      font-size: 0.875rem;
      color: $gray-600;
      &:focus,
      &:hover {
        background-color: $gray-100;
        color: #000;
      }
    }
  }

  // items
  &-item {
    border-bottom: 1px solid $gray-200;
    display: flex;
    align-items: center;
    &:hover {
      background-image: linear-gradient(
        90deg,
        transparent,
        rgba(#fff, 0.2),
        transparent
      );
    }
    .-link {
      &:hover {
        color: $blogifier;
      }
    }
  }

  &-check {
    padding: 0;
    margin: 0;
    height: $list-height;
    line-height: $list-height;
    min-width: 2rem;
    padding-left: 2rem;
    position: relative;
    font-weight: 500;

    .list-check-input {
      vertical-align: top;
      transform: translateY(-50%);
      position: absolute;
      top: 50%;
      left: 0;
      margin: 0;
    }
  }

  &-title {
    display: block;
    flex-grow: 1;
    margin-right: 0.5rem;
    line-height: $list-height;
    font-weight: 500;
    font-size: 0.875rem;
    color: $gray-800;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &-text {
    font-size: 0.75rem;
    line-height: 1.1;
    color: $gray-700;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    &.ms-auto {
      text-align: right;
    }
  }

  .-nowrap {
    white-space: nowrap;
  }

  &-btn {
    background: none;
    padding: 0 0.5rem;
    border: 0;
    text-align: center;
    height: $list-height;
    color: $gray-600;

    .bi {
      height: 100%;
    }
  }

  &-icon {
    background: none;
    padding: 0 0.5rem;
    border: 0;
    text-align: center;
    height: $list-height;
    color: $gray-600;

    .bi {
      height: 100%;
    }
  }
  &-notfound {
    color: $gray-600;
    padding: 1rem 0;
    text-transform: capitalize;
    &.-crazy {
      text-align: center;
      padding: 4rem 0;
      .bi {
        margin-bottom: 1rem;
        width: 2rem;
        height: 2rem;
        fill: $gray-500;
      }
    }
  }
}
