.section {
 

  &-content {
    width: 100%;
    margin-bottom: 4rem;
    &.-full {
      max-width: 100%;
    }
    &.-half {
      max-width: 50%;
    }
  }

  &-title {
    font-size: 1.25rem;
    font-weight: 500;
    border-bottom: 1px solid $gray-300;
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;
  }

  &-desc {
    &:not(.alert) {
      color: $gray-600;
    }
  }

  &-subtitle {
    font-size: 1rem;
    font-weight: 500;
    margin-bottom: 0.5rem;
  }
}
