body {
    background-color: #fafafa;
    color: #333;
    font-family: $font-family-base;
    font-size: $font-size-base;
    cursor: default;
    overflow-y: scroll;
}

.container {
    width: 100%;
    max-width: 55rem;
}

.blog-wrapper {
    min-height: 100%;
    margin-bottom: -$footer-height;

    &::after {
        content: "";
        display: block;
        height: $footer-height;
    }
}

.blog-content {
    padding-top: 4rem;
    padding-bottom: 4rem;

    @media screen and (max-width:48rem) {
        padding: 0rem;

        > .row,
        > .row > .col-md-6 {
            margin: 0rem;
            padding: 0;
        }
    }
}
