.post {
    border-bottom: 1px solid #eee;
    padding: 5rem 0;

    .post-title {
        font-size: 2rem;
        font-weight: 700;

        a {
            color: #333;
        }
    }

    .post-meta {
        padding-left: 3.75rem;
        padding-top: .25rem;
        min-height: 3rem;
        position: relative;
        font-size: 1rem;
        margin: 2rem 0;
    }

    .post-meta-img {
        position: absolute;
        left: 0;
        top: 0;
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
    }

    .post-meta-author {
        display: block;
        line-height: 1.1;

        a {
            color: #000;
        }
    }
}
