.page-author {
    .author-avatar {
        border-radius: 50%;
        width: 6rem;
        margin-bottom: 1rem;
    }

    .author-title {
        font-size: 3rem;
    }

    .author-description {
        font-size: 1rem;
        color: #aaa;
    }

    .author-social {
        @include unstyled;

        li {
            display: inline-block;
            margin-right: 1rem;
        }

        a {
            display: block;
            background: none;
            border-radius: 50%;
            color: #fff;
            text-align: center;

            &:hover {
                color: $color-blogifier;
            }
        }

        i {
            display: block;
            line-height: 2.125rem;
        }
    }
}
