.page-error {
    background-color: #000;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: absolute;
    top: 0;
    z-index: 100;
    height: 100%;
    width: 100%;

    &::after {
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.4);
        position: absolute;
        top: 0;
        left: 0;
    }

    .page-content {
        transform: translate(-50%,-50%);
        position: absolute;
        left: 50%;
        top: 50%;
        color: #fff;
        z-index: 1;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: .0625rem;
    }

    h1 {
        font-size: 5rem;
    }

    p {
        font-size: 1rem;
        font-weight: $fw-light;
    }

    @media screen and (max-width:22.5rem) {
        h1 {
            font-size: 3rem;
        }
    }
}
