.post-single {
    // --
    .cover {
        .cover-title {
            h1 {
                font-size: 2.5rem;
            }
            p {
                font-size: .75rem;
                margin-bottom: 0;
                text-transform: uppercase;
                letter-spacing: .0625rem;
                opacity: 1;
            }
        }

        .post-single-category {
            a {
                &::after {
                    content: ",";
                    display: inline-block;
                }

                &:last-child {
                    &::after {
                        display: none;
                    }
                }
            }
        }
        .cover-title {
            h1 {
                font-size: 2rem;
            }
        }
    }
    // --
    .post-single-content {

        @media screen and (max-width:48rem) {
            padding: 2rem;
        }

        p {
            margin-bottom: 1.25rem;
        }

        a {
            @include word-wrap();
        }

        h1, h2, h3, h4 {
            margin-bottom: 0;
            margin-top: 2rem;
        }

        figure {
            margin: 2rem 0;

            figcaption {
                font-size: .75rem;
                color: #666;
            }
        }

        .card-title {
            margin: 0;
        }
    }
    // --
    .post-single-comment {
        margin-top: 4rem;
        padding-top: 4rem;
        border-top: 1px solid #ddd;
    }
}
