.bf-packages-list-item {
  border-bottom: 1px solid #eee;
  padding: 2rem;

  &-logo {
    min-width: 6rem;
    width: 6rem;
    height: 6rem;
    background-color: #a5aab4;
    border: 1px solid #a5aab4;
    border-radius: 1rem;
    overflow: hidden;

    &-img {}
  }

  &-info {
    width: 100%;
    min-width: 0;
    padding-left: 1.5rem;
  }

  &-title {
    font-weight: 500;
    font-size: 1.25rem;
  }

  &-desc {
    margin-bottom: .25rem;
    @include ellipsis;
  }

  &-actions {}
}

.bf-package-info {
  &-cover {
    height: 12rem;
    overflow: hidden;
  }

  &-body {
    padding: 2rem;
  }

  &-header {
    margin-bottom: 1rem;
    position: relative;
    min-height: 3rem;
    padding-left: 4rem;
    padding-top: .3rem;
  }

  &-logo {
    position: absolute;
    left: 0;
    top: 0;
    width: 3rem;
    height: 3rem;
    border-radius: .25rem;
    display: block;
  }

  &-title {
    font-weight: 500;
    font-size: 1rem;
    margin-bottom: .25rem;
  }

  &-rating {
    font-size: .75rem;
    color: #666;

    .active {
      color: #ffb72a;
    }
  }

  &-table {
    margin: 0;

    td {
      padding: .25rem 0;
      border: 0;

      &:first-child {
        font-weight: 500;
      }
    }
  }
}
