a {
  color: $cl-bf;

  &:hover {
    color: darken($cl-bf, 10%);
    text-decoration: none;
  }
}

p {
  margin: 0;
}

img {
  max-width: 100%;
}

b,
strong {
  font-weight: 500;
}

.nooutline{
  outline:none !important;
}