.btn {
    font-size: .875rem;
    font-weight: $font-weight-medium;
    letter-spacing: .0625rem;
    text-transform: uppercase;
    line-height: 2.5rem;
    height: 2.5rem;
    padding: 0 1.5rem;
    outline: none !important;
    cursor: pointer;
    border-radius: .1875rem;
    text-align: center;

    @media screen and (max-width:48rem) {
        padding: 0.65625rem 1rem;
    }
}

.btn-sm {
    height:2rem;
    padding:0 1rem;
    line-height:2rem;
    font-size: .875rem;
    border-radius: .2rem;
}

.btn-lg {
    padding: 0 2rem;
}

.btn-black {
    color: #fff;
    background-color: #222;

    &:hover {
        color: #fff;
        background-color: #000;
        border-color: #000;
    }

    &.focus,
    &:focus {
        color: #fff !important;
        box-shadow: 0 0 0 .125rem rgba(0, 0, 0, 0.50);
    }
}

.btn-outline-black {
    color: #000;
    background-image: none;
    background-color: transparent;
    border-color: #000;

    &:hover {
        color: #fff;
        background-color: #000;
        border-color: #000;
    }
}

.btn-main {
    min-width: 7rem;

    @media screen and (max-width:24.9375rem) {
        width: 100%;
    }
}

.btn-icon {
    padding:0;
    width:3rem;
}
