// button
.btn {
    text-transform: uppercase;
    outline: none !important;
    font-size: .875rem;
    letter-spacing: 1px;
    cursor: pointer;
    padding: 0.65625rem 2rem;
    font-weight: $font-weight-medium;

    [class*="fa-angle-"] {
        font-size: 1rem;
    }
}
.btn-lg {
    padding: 1rem 2rem;
}