// button
.btn {
    text-transform: uppercase;
    outline: none !important;
    font-size: .875rem;
    letter-spacing: 1px;
    cursor: pointer;
    border-radius:3px;
    padding: 0.65625rem 2rem;
    font-weight: $font-weight-medium;

    [class*="fa-angle-"] {
        font-size: 1rem;
    }
}
.btn-lg {
    padding: 1rem 2rem;
}


.btn-black {
    color: #fff;
    background-color: #222;
    /* border-color: #5cb85c; */
    &:hover {
        color: #fff;
        background-color: #000;
        border-color: #000;
    }

    &.focus, &:focus {
        color:#fff !important;
        -webkit-box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.50);
        box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.50);
    }
}