.mce-tinymce.mce-container.mce-panel {
    border-radius: 4px;
    overflow: hidden;
    border: 1px solid #ddd !important;
}

.mce-toolbar-grp {
    border-bottom: 1px solid #ddd !important;
    padding: .5rem !important;
}