.file-picker {
    margin-left: -.5rem;
    margin-right: -.5rem;

    > .col,
    > [class*=col-] {
        padding-right: .5rem;
        padding-left: .5rem;
    }

    a {
        position: relative;
        height: 7rem;
        display: block;
        overflow: hidden;
        margin-bottom: 1rem;
        border: .25rem solid #fff;
        background: #fff;
        box-shadow: 0 0 0 .0625rem #ddd;

        &:hover {
            box-shadow: 0 0 0 .0625rem #000;
        }

        img {
            min-height: 100%;
            max-width: 150%;
            display: block;
            position: relative;
            left: 50%;
            transform: translateX(-50%);
        }
    }
}
