input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    opacity: 1;
    background: none;
}

.form-control {
    border-radius: .1875rem;
    font-family: inherit;
    border-color: #ddd;

    &:focus {
        border-color: #666;
    }
}
