input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    opacity: 1;
    background: none;
}

.form-control {
    border-radius: 3px;
    font-family: inherit;
}