.admin-loading {
  display: none;
  position: absolute;
  top: 4.5rem;
  right: 50%;
  width: 2rem;
  height: 2rem;
  text-align: center;
  i {
    line-height: 2rem;
    font-size: 1.25rem;
    color: #000;
  }
}