.pagination-custom {
    text-align: center;
    @include unstyled();
    margin-top: 2rem;
    border-radius: 3px;
    li {
        background: #fff;
        display: inline-block;
        font-size: 0;
        margin-right: 1px;
        &:last-child {
            border-top-right-radius: 3px;
            border-bottom-right-radius: 3px;
        }
        &:first-child {
            border-top-left-radius: 3px;
            border-bottom-left-radius: 3px;
        }
        .item-count {
            position: relative;
            top: -1px;
        }
        &.disabled {
            a {
                color: #aaa !important;
                cursor: default;
            }
        }
    }
    a {
        font-size: .875rem;
        display: block;
        height: 100%;
        padding: .5rem .75rem;
        &:hover {
            color: #000;
        }
    }
}