body{
    min-height:100%;
    position:relative
}
.wrapper {}

.page-content {
}
.container {
  width: 1200px;
  max-width: 100%;
}

.overlay {
  background: #000;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  opacity: .85;
  z-index: 999;
  display: none;
}


.blog-admin{
    position:absolute;
    bottom:3rem;
    right:3rem;
    a{
        color:#aaa;
        &:hover {
            color:$color-theme;
        }
    }
}