.bf-modal-filemanager {
    .modal-dialog {
        width: 100%;
        max-width: 800px;
        margin: 0 auto;
        padding: 1rem;
    }

    .modal-content {
        background: none;
    }
}


.bf-filemanager {

    &-header {
        background: $cl-bf;
        padding: 1rem 1rem 1rem 0;

        > .custom-control {
            width: 4rem;
            height: 2.25rem;
            margin: 0;
            padding: 0;

            .custom-control-indicator {
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%)
            }
        }

        .dropdown-menu {
            width: 12rem;

            .form-control {
                border: 0;
                border-radius: 0;
                height: 2.5rem;
            }

            .custom-control {
                margin: 0;
                padding-left: 2rem;
            }

            .custom-control-indicator {
                top: .6875rem;
                left: .5rem;
            }
        }
    }

    &-body {
        padding: .5rem;
        background-color: #fff;

        .col-sm-6 {
            padding: .5rem;
        }

        .item {
            display: block;
            border-radius: 3px;
            border: 1px solid #eee;
            position: relative;
            overflow: hidden;

            &:hover {
                border-color: #ddd;

                .item-name {
                    border-color: #ddd;
                }
            }
        }

        .item-img {
            height: 9rem;
            overflow: hidden;
            position: relative;



            img {
                min-width: 100%;
                max-width: none;
                height: 100%;
                position: relative;
                left: 50%;
                transform: translateX(-50%);
            }
        }

        .item-name {
            margin: 0;
            padding: .5rem 2.25rem;
            display: block;
            width: 100%;
            background: #fff;
            font-size: .875rem;
            @include ellipsis;
            border-top: 1px solid #eee;

            .custom-control-indicator {
                top: .578125rem;
                left: .625rem;
            }
        }
    }

    &-footer {
        background-color: #fff;
        padding: 1rem;
        border-top: 1px solid #eee;

        .file-pagination {
        }

        .item-btn {
            @include unstyled(button);
            cursor: pointer;
            height: 2.5rem;

            &:hover {
                color: $cl-bf;
            }
        }

        .item-pagination {
            font-size: .75rem;
            height: 2.25rem;
            line-height: 2.25rem;
            text-transform: uppercase;
            color: #868e96;
            margin: 0 1rem;
            display: inline-block;
            vertical-align: top;
        }
    }
}
