@{
    var returnUrl = Url.Action("Index", "Admin");
}

<div class="modal fade blog-search" id="blog-search" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body p-0">
                <form role="search" asp-controller="Blog" asp-action="Index" method="post">
                    <input type="search" id="term" name="term" class="form-control form-control-lg" placeholder="Search..." autocomplete="off">
                </form>
            </div>
        </div>
    </div>
</div>

<footer class="blog-footer">
    <div class="container d-lg-flex text-center text-lg-left">
        <p>Copyright © @DateTime.Now.Year. Powered by <a href="https://github.com/blogifierdotnet/Blogifier" data-toggle="tooltip" target="_blank" title="Version - @AppSettings.Version">Blogifier</a>. Designed by <a href="https://francis.bio/" target="_blank" rel="nofollow">Francis</a>.</p>
        <div class="ml-auto">
            @if (User.Identity.IsAuthenticated)
            {
                <a href="~/admin">Admin</a>
            }
            else
            {
                <a href="~/account/login?ReturnUrl=@returnUrl">Login</a>
            }
        </div>
    </div>
</footer>
@*<a href="#" onclick="profileLogOut(); return false;">Logoff</a>
<form method="post" id="frmLogOut" asp-controller="Account" asp-action="Logout" asp-antiforgery="true"></form>*@
<script src="~/themes/standard/js/jquery.min.js"></script>
<script src="~/themes/standard/js/popper.min.js"></script>
<script src="~/themes/standard/js/bootstrap.min.js"></script>
<script src="~/themes/standard/js/prism.js"></script>
<script src="~/themes/standard/js/blog.js" asp-append-version="true"></script>