<header class="blog-header d-flex flex-column">
    <div class="container d-flex">
        <a href="~/" class="blog-logo my-auto d-flex">
            <img src="~/@Model.Blog.Logo" alt="@Model.Blog.Title" class="my-auto" />
            @if (ViewData["bodyClass"] != null && ViewData["bodyClass"].ToString() != "home")
            {
                <span class="my-auto">@Model.Blog.Title</span>
            }
        </a>
        <ul class="blog-social nav ml-auto my-auto">
            @await Component.InvokeAsync("HtmlBlock", new { theme = "Standard", widget = "Social Buttons" })
        </ul>
        <button class="blog-search-toggle btn-unstyled" type="button" data-toggle="modal" data-target="#blog-search">
            <i class="fa fa-search"></i>
        </button>
    </div>
</header>