.bf-editor {
  position: relative;
  height: 100%;

  &-body {
    height: 100%;
  }

  &-form {
    height: 100%;
  }

  #mdEditor {border:0;background: none;}

  .container {
    max-width: 60rem;
  }
}
//

.bf-editor-header {
  padding-top: 4rem + 4rem; // plus toolbar
  padding-bottom: 4rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-color: #555;

  &::after {
    background-color: rgba(#000000, 0.5);
    display: block;
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
  }

  .container {
    position: relative;
    z-index: 1;
  }
  @media screen and (max-width: 991px) {
    padding-top: 5rem;
    padding-bottom: 2rem;
  }
}

.bf-editor-title {
  width: 100%;
  display: block;
  font-size: 1.5rem;
  border: none;
  margin: 0;
  padding: 0;
  background: none;
  color: #fff;
  outline: none !important;

  &::placeholder {
    color: #fff;
  }
  @media screen and (max-width: 991px) {
    font-size: 1.125rem;
  }
}

.bf-editor-text {
  opacity: 0;
  visibility: hidden;
}

.bf-editor-category {
  padding: 0;

  form {
    padding: 1rem;
    border-bottom: 1px solid #eee;
  }

  ul {
    @include unstyled(ul)
  }

  li {
    border-bottom: 1px solid #eee;
    position: relative;

    &:hover {
      background-color: #fafafa;
    }
  }

  .custom-control {
    margin: 0;
    padding: .5rem 3rem;
    cursor: pointer;
    display: block;

    .custom-control-indicator {
      top: 50%;
      transform: translateY(-50%);
      left: 1rem;
    }
  }

  .fa {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 3rem;
    text-align: center;
    line-height: 2.5rem;
    color: #aaa;

    &:hover {
      color: red;
      cursor: pointer;
    }
  }
}

.bf-editor-footer {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  padding: .625rem 2rem;
  background-color: rgba(#000000, 0.1);
  @media screen and (max-width: 991px) {
    padding: .5rem;

    .btn {
      height: 2rem;
      line-height: 2rem;
      padding: 0 1rem;
    }

    .container {
      padding: 0;
    }

    .loading-sm {
      padding: .75rem 0;
    }
  }

  #action-buttons {
    .dropdown-menu {
      width: 100%;
      min-width: 0;
    }

    .dropdown-item {
      font-size: .875rem;
      font-weight: 500;
      text-transform: uppercase;
      padding: .5rem;
    }
  }
}
