// colors
$blogifier: #622aff;
$default: #fff;
$warning: #ff8d00;

// body
$body-bg: #f8f9fa;
$font-size-base: .875rem;
$body-color: #111;
$link-color: $blogifier;
$link-hover-color: #444;

// shadow
$bf-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);

// input
$input-border-width: 0;
$input-focus-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15), 0px 1px 2px 0px rgba(0, 0, 0, 0.25);
$form-check-input-bg: $body-bg;

// active
$component-active-bg: $blogifier;

// font and text
$link-decoration: none;
$btn-font-weight: 500;

// buttons
$input-btn-font-size: .875rem;
$input-btn-padding-y: .5rem;
$input-btn-focus-width: 2px;

// button link
$btn-link-color: #666;
$btn-link-hover-color: $blogifier;

// accordion
$accordion-border-width: 0;
$accordion-body-padding-y: 1rem;
$accordion-body-padding-x: 0;
$accordion-button-focus-box-shadow: none;
$accordion-button-active-bg: none;
$accordion-button-active-color: $blogifier;
$accordion-button-padding-y: .5rem;
$accordion-button-padding-x: 0;

// list
$list-height: 2.75rem;

// headings
$h1-font-size: $font-size-base * 1.75;
$h2-font-size: $font-size-base * 1.5;
$h3-font-size: $font-size-base * 1.25;
$h4-font-size: $font-size-base * 1.125;
$h5-font-size: $font-size-base * 1;
$h6-font-size: $font-size-base;

// alerts
$alert-border-width: 0;

// tooltips
$tooltip-font-size: .75rem;
$tooltip-bg: #212529;
$tooltip-border-radius: 5rem;
$tooltip-arrow-color: transparent;

// dropdown
$dropdown-link-hover-bg: #f8f9fa;

//
$hljs-foreground: #212529;
$hljs-background: #f8f9fa;
$hljs-comments: #90a4ae;
$hljs-blue: #006ee0;
$hljs-red: #c30;
$hljs-green: #168174;
$hljs-sky: #2f6f9f;

$container-max-widths: (
  xl: 1024px
);

:root {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 1.5rem;
}
