@{
    Layout = "layouts/_main.cshtml";
}

<main class="container search">

    <form action="" method="GET">
        <input type="text" placeholder="Search...">
    </form>
    <h1 class="search-title">Search Results</h1>

    <div class="row mb-3">
        <div class="col-4">
            <img src="IMAGE" alt="TITLE">
        </div>
        <div class="col-8">
            <a href="URL">TITLE</a>
            <p>DESCRIPTION</p>
        </div>
    </div>

</main>
