@using Blogifier.Core.Common
@{
    var tf = "blogifier/admin";
}
@Html.Partial($"~/{ApplicationSettings.BlogAdminFolder}/_Shared/_about.cshtml")
<form method="post" id="frmLogOut" asp-controller="Account" asp-action="Logout" asp-antiforgery="true"></form>
<script src="~/@tf/js/lib/jquery.min.js"></script>
<script src="~/@tf/js/lib/toastr.min.js"></script>
<script src="~/@tf/js/lib/popper.min.js"></script>
<script src="~/@tf/js/lib/bootstrap.min.js"></script>
<script src="~/@tf/js/app/app.js"></script>
<script src="~/@tf/js/app/dataService.js"></script>
<script src="~/@tf/js/app/uploadController.js"></script>
<script>
    var webRoot = '@Url.Content("~/")';
    var blogRoute = '@ApplicationSettings.BlogRoute';
    function getUrl(str) {
        return webRoot + str;
    };
</script>
