@using Blogifier.Core.Common
@{ 

    var cf = Model.CustomFields;
    var customHead = (cf.ContainsKey("Head") && !string.IsNullOrEmpty(cf["Head"])) ? cf["Head"] : "";
}
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>@Model.PageTitle</title>
@Html.Raw(customHead)
<meta name="description" content="@ApplicationSettings.Description">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700" rel="stylesheet">
<link href="~/embedded/blog/standard/css/bootstrap.min.css" rel="stylesheet">
<link href="~/embedded/blog/standard/css/font-awesome.min.css" rel="stylesheet">
<link href="~/embedded/blog/standard/css/prism.css" rel="stylesheet">
<link href="~/embedded/blog/standard/css/styles.min.css" rel="stylesheet" asp-append-version="true">
<link rel="shortcut icon" href="~/embedded/lib/img/favicon.ico">