@model Blogifier.Core.Data.Models.AdminPostsModel
@{ 
    var themeFolder = "Embedded/admin/standard";
    //var themeFolder = "blogifier/admin/custom";
}
<link href="~/@themeFolder/lib/autocomplete/easy-autocomplete.min.css" rel="stylesheet" />

<div class="row top-row">
    <a href="#menu-toggle" class="btn btn-primary pull-left" id="menu-toggle">
        <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
    </a>
    <div id="post-edit-actions" class="btn-group pull-right"></div>
</div>

<div id="page-content-wrapper">
    <div class="container-fluid">
        <div class="row">

            <div id="post-list" class="col-lg-6 col-lg-offset-3 posts-list">
                <h2>Posts</h2>
                <ul id="admin-posts" class="list-group elements-list"></ul>
                <ul class="pager"></ul>
            </div>

            <div id="post-edit" class="col-md-12 posts-list" style="padding: 0 15px 25px 10px !important; display: none">
                <div class="wrap">
                    <form id="frmEditor" style="height:100%;">
                        <div class="form-group">
                            <input id="txtPostTitle" class="form-control" placeholder="Post title" />
                        </div>
                        <div class="form-group">
                            <textarea id="txtContent" name="txtContent"></textarea>
                        </div>
                        <div id="edit-categories"></div>
                    </form>
                </div>
            </div>
            
        </div>       
    </div>
</div>

<div class="modal inmodal fade" id="modalAddCategory" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Add category</h4>
            </div>
            <div class="modal-body">
                <form method="post" asp-controller="Admin" asp-action="Profile" asp-antiforgery="true">
                    <div class="form-group">
                        <input type="text" id="txtCategory" class="form-control" style="width: 100% !important" placeholder="Type new or existing category..." />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="postController.saveCategory()">Save</button>
            </div>
        </div>
    </div>
</div>

<div class="modal inmodal fade" id="modalFilePicker" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">File picker</h4>
            </div>
            <div class="modal-body">
                <div class="modal-list-empty" style="display: none">
                    You do not have any files yet - <a href="" onclick="return uploadController.firstUpload()">upload now</a>!
                </div>
                <div class="lightBoxGallery" id="filePickerList"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
                @*<button type="button" class="btn btn-primary" onclick="uploadController.clickSingle('editor')">Upload</button>*@
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/@themeFolder/lib/tinymce/tinymce.min.js"></script>
    <script src="~/@themeFolder/lib/autocomplete/jquery.easy-autocomplete.min.js"></script>
    <script src="~/@themeFolder/js/postController.js"></script>
}