.dashboard-stats {
  &-item {
    height: 5.5rem;
    flex: 1;
    text-align: center;
    color: $gray-600;
    user-select: none;

    &:not(:last-child) {
      margin-right: 1rem;
    }
    span {
      display: block;
    }
  }
  &-number {
    font-size: 2rem;
    font-weight: 300;
    height: 3.5rem;
    line-height: 4rem;
  }
  &-title {
    font-size: 0.75rem;
    height: 1.5rem;
  }
}
