@page
@using Askmethat.Aspnet.JsonLocalizer.Localizer
@{
    ViewData["Title"] = "Newsletter - unsubscribe";
    Layout = "~/Pages/Account/_Layout.cshtml";
}
@inject IJsonStringLocalizer Localizer
<div class="form-login">
    <h2 class="newsletter-title" id="ttlNewsletter" style="display:none">@Localizer["thank-you"]</h2>
    <form id="frmNewsletter">
        <div class="form-group">
            <h2 class="newsletter-title">@Localizer["newsletter"]</h2>
            <div class="form-group">
                <input class="form-control" id="txtEmail" name="txtEmail" placeholder="@Localizer["enter-email"]" type="text">
            </div>
        </div>
        <button id="blog-unsubscribe" class="btn btn-subscribe btn-rounded btn-dark">@Localizer["unsubscribe"]</button>
    </form>
</div>

<script src="~/admin/js/jquery.min.js"></script>
<script src="~/admin/js/newsletter.js" asp-append-version="true"></script>
