<header class="bft-header border-bottom border-light mb-5 py-4">
    <div class="container d-flex">
        <a class="fs-3 fw-bold link-dark me-5 my-auto" href="~/">Site Title</a>
        <partial name="../component/nav.cshtml" />
        <partial name="../component/social.cshtml" />
        <partial name="../component/admin.cshtml" />
    </div>
</header>
