@using Blogifier.Core.Common
@using Blogifier.Core.Data.Models
@using Blogifier.Core.Extensions
@model Pager

@if (Model != null)
{
    <ul class="pagination justify-content-center">
        @if (Model.ShowOlder)
        {
            <li class="item item-prev"><a class="item-link" href="~/@ApplicationSettings.BlogRoute@Model.RouteValue@Model.Older"><i class="item-icon fa fa-angle-left"></i></a></li>
        }
        @if (Model.ShowNewer)
        {
            <li class="item item-next"><a class="item-link" href="~/@ApplicationSettings.BlogRoute@Model.RouteValue@Model.Newer"><i class="item-icon fa fa-angle-right"></i></a></li>
        }
    </ul>
}
