.browserupgrade {
    font-family: Arial, sans-serif;
    font-size: 16px;
    display: block;
    background: #000;
    color: #fff;
    padding: 10px;
    text-align: center;

    a {
        color: aqua;
    }
}
