&-footer {
    line-height: 3rem;
    text-align: center;
    text-transform: uppercase;
    font-size: .75rem;
    color: #000;

    a {
        color: #000;
    }

    img {
        opacity:.5;
    }
    p {
        margin: 0;
    }
}
