&-header {
    text-align: center;
    padding-top: 5rem;

    h1 {
        margin: 0 0 1rem;
    }

    img {
        width: 11.87500rem;
    }
    p{
        opacity:.7;
    }
    .btn-bordered {
        border:1px solid #fff;
        color:#fff;
        background:none;
        padding:.25rem .5rem;
        text-transform:uppercase;
        margin-left:1rem;
    }
    .dropdown-menu {
        padding:0;
        width:100%;
        text-align:center;
        a,.btn{
            padding:.5rem;
            border-radius:0;
        }
    }
}


