@using Blogifier.Shared
@{
    PostModel postModel = (PostModel)Model;
    var author = postModel.Post.Author;
}
<section class="post-author">
    <figure class="post-author-cover">
        <img class="post-author-img" width="96" height="96" src="@author.Avatar" alt="@author.DisplayName" />
    </figure>
    <div>
        <h5 class="post-author-name">John Doe</h5>
        <p class="post-author-bio">
            <!-- @author.Bio -->
            Hey, I’m John Doe. Well, this is a test post, which I copied from a great article on medium. it has codes, links and lists, and some images.
        </p>
    </div>
</section>
