@inject IDataService DataService
@{
    var blog = await DataService.CustomFields.GetBlogSettings();
    string socialIcons = "icons";
}
<header class="header">
    <div class="header__content row">

        <div class="header__logo">
            <a class="logo" href="~/blog">
                <h2 class="blog-header">@blog.Title</h2>
            </a>
        </div>

        <ul class="header__social">
            <partial name="~/Views/Themes/Philosophy/Shared/Socials.cshtml" model="socialIcons" />
            <li><a href="~/feed/rss"><i class="fa fa-rss" aria-hidden="true"></i></a></li>
        </ul>

        <a class="header__search-trigger" href="#0"></a>
        <div class="header__search">
            <form role="search" class="header__search-form" asp-controller="Blog" asp-action="Search" method="post">
                <label>
                    <span class="hide-content">Search for:</span>
                    <input type="search" class="search-field" placeholder="Type Keywords" value="" id="term" name="term" title="Search for:" autocomplete="off">
                </label>
                <input type="submit" class="search-submit" value="Search">
            </form>
            <a href="#0" title="Close Search" class="header__overlay-close">Close</a>
        </div>

        <a class="header__toggle-menu" href="#0" title="Menu"><span>Menu</span></a>
        <nav class="header__nav-wrap">
            <h2 class="header__nav-heading h6">Site Navigation</h2>
            <ul class="header__nav">
                <li><a href="~/" title="">Home</a></li>
                <li><a href="~/blog" title="">Blog</a></li>
                <li><a href="~/admin" title="">Admin</a></li>
            </ul>
            <a href="#0" title="Close Menu" class="header__overlay-close close-mobile-menu">Close</a>
        </nav>

    </div>
</header>