@using Blogifier.Core.Common
@{
    var themeFolder = "blogifier/blog/custom";
    var headView = string.Format("~/Views/{0}/_Shared/_Head.cshtml", themeFolder);
    var headerView = string.Format("~/Views/{0}/_Shared/_Header.cshtml", themeFolder);
    var footerView = string.Format("~/Views/{0}/_Shared/_Footer.cshtml", themeFolder);
}
<!DOCTYPE html>
<html lang="en">
<head>
@Html.Partial(headView)
</head>
<body>
<!--[if lt IE 10]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->
<div class="blog-wrapper">
@Html.Partial(headerView)
@RenderBody()
</div>
@Html.Partial(footerView)
</body>
</html>
