.bf-about {
    @include linear-gradient($color-brand-purple-light, $color-brand-purple-dark, 1);
    color: #fff;
    text-align: center;
    padding: 4rem 1rem;

    img {
        width: 7rem;
        margin-bottom: 3rem;
    }

    h2 {
        margin-bottom: .5rem;
    }

    p {
        font-weight: $font-weight-light;
        line-height: 1.5;
        font-size: .75rem;
        margin-bottom: 1rem;
    }

    a {
        color: #fff;
        margin:0 .25rem;
    }

    i {
        font-size: 1.25rem;
    }
}
