@Html.Raw(Model.Header)
<form class="form-group">
    <div id="newsletter-form">
        <input id="txtSubscriberEmail" type="email" placeholder="someone@example.com">
        <button type="button" onclick="return newsletter.subscribe()">Subscribe</button>
    </div>
    <div id="newsletter-msg" style="display: none">
        @Html.Raw(Model.ThankYou)
    </div>
</form>
<script src="~/widgets/newsletter/widget.js" asp-append-version="true"></script>