.post {
    position: relative;
    padding: 2rem;
    border-right: 1px solid #eee;
    border-bottom: 1px solid #eee;
    height: 100%;

    &:last-child {
        margin-bottom: 0;
    }

    .post-cover {
        position: relative;
        margin-bottom: 1.75rem;
        border-radius: .5rem;
        -webkit-box-shadow: 0 3px 12px -1px rgba(7, 10, 25, 0.2), 0 22px 27px -20px rgba(7, 10, 25, 0.2);
        box-shadow: 0 3px 12px -1px rgba(7, 10, 25, 0.2), 0 22px 27px -20px rgba(7, 10, 25, 0.2);

        &:hover {
            img {
                opacity: 0.7;
            }
        }

        img {
            font-size: 0;
            transition: all ease .25s;
        }

        .post-featrued-label {
            position: absolute;
            bottom: 1rem;
            left: 1rem;
            z-index: 100;
            background-color: gold;
            display: block;
            padding: .25rem .5rem;
            font-size: .75rem;
            font-weight: bold;
            text-transform: uppercase;
            border-radius: .25rem;
            color: #000;
        }

        @media screen and (min-width:992px) {
            overflow: hidden;
            min-height: 16rem;

            img {
                width: auto;
                min-height: 100%;
                min-width: 100%;
                max-width: 150%;
                max-height: none;
                position: absolute;
                left: 50%;
                top: 50%;
                display: block;
                transform: translate(-50%, -50%);
            }
        }
    }

    .post-categories {
        list-style: none;
        margin: 0;
        padding: 0;
        position: absolute;
        right: 1rem;
        top: 1.5rem;
        z-index: 100;

        li {
            float: right;
            margin-left: .5rem;
        }

        a {
            background: $color-theme;
            padding: .5rem 1rem;
            font-size: .75rem;
            color: #000;
            font-weight: 500;
            border-radius: 10rem;

            &:hover {
                background: #000;
                color: $color-theme;
            }
        }
    }


    .post-meta {
        margin-bottom: 1rem;
        display: block;
        font-size: .875rem;
        color: #aaa;
        font-weight: 300;

        a {
            color: #aaa;

            &:hover {
                color: #000;
            }
        }
    }

    .post-description {
        font-size: .875rem;
        margin-bottom: 1rem;

        p {
            margin-bottom: .25rem;
        }
    }

    .post-title {
        font-size: 1.5rem;
        margin-bottom: 0rem;
        line-height: 1.1;
        font-weight:600;
        display:block;

        a {
            color: #000;

            &:hover {
                color: #FF3152;
            }
        }
    }

    .post-more {
        font-size: .875rem;
        font-weight: 700;
        padding: 0;
        height: 2rem;
        line-height: 2rem - .125rem;
        width: 6rem;
        text-transform: uppercase;
        border-color: #000;
        background-color: #000;

        &:hover {
            border-color: #444;
            background-color: #444;
        }
    }

    @media screen and (min-width:992px) {
        margin-bottom: 5rem;
    }

    @media screen and (max-width:991px) {
        border-bottom: 1px solid #eee;
        padding-bottom: 2rem;
        margin-bottom: 2rem;

        &:last-child {
            border-bottom: 0;
            margin-bottom: 0;
            padding-bottom: 0;
        }
    }
}
