<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- TODO: These variables comes from customfiedls -->
  <style>
    :root {
      /* accent color */
      --bf-color: #622aff;
      /* header */
      --bf-header-title-size: 1.5rem;
      --bf-header-title-weight: 700;
      --bf-header-title-color: #000;
      --bf-header-title-hover: #622aff;
      /* logo */
      --bf-header-logo-width: auto;
      --bf-header-logo-height: 1.5rem;
      /* post */
      --bf-post-width: 43.75rem;
      /* radius */
      --bf-radius: .5rem;
    }
  </style>
  <link rel="stylesheet" href="~/_content/@ThemesStandardConstant.AssemblyName/css/base.css">
  @await RenderSectionAsync("HeaderScript", required: false)
</head>

<body>
  @RenderBody()
</body>

</html>
