<form method="get" action="~/blog">
    <div class="card my-4">
        <h5 class="card-header">Search</h5>
        <div class="card-body">
            <div class="input-group">
                <input type="text" id="term" name="term" class="form-control" placeholder="Search for...">
                <span class="input-group-btn">
                    <button class="btn btn-secondary" type="submit">Go!</button>
                </span>
            </div>
        </div>
    </div>
</form>

<div class="card my-4">
    <h5 class="card-header">Side Widget</h5>
    <div class="card-body">
        You can put anything you want inside of these side widgets. They are easy to use, and feature the new Bootstrap 4 card containers!
    </div>
</div>

<div class="card my-4">
    <h5 class="card-header">PostList Widget</h5>
    <div class="card-body">
        @await Component.InvokeAsync("PostList")
    </div>
</div>