.btn {
    border-width: 2px;
}

.btn-rounded {
    border-radius: 5rem;
}

.btn-unstyled {
    background: none;
    border: 0;
}


.btn-outline-primary {
    border-color: $color-theme;
    color: $color-theme;
    font-weight: 500;
    font-size: .875rem;
    padding: .5rem 1rem;
    text-transform: uppercase;

    &:hover, &:focus, &:active {
        background-color: $color-theme !important;
        border-color: $color-theme !important;
        box-shadow: none !important;
    }
}
