.blog-search-form {
    position: relative;
    margin-left: 2rem;

    .form-control {
        border: 1px solid #444;
        background: rgba(0, 0, 0, 0.50);
        width: 10rem;
        border-radius: 10rem;
        color: #666;
        outline: none !important;
        height: 2.25rem;
        padding: 0 1.5rem;

        &::placeholder {
            color: rgba(255, 255, 255, 0.30);
            font-size: 1rem;
            font-weight: 400;
        }

        &:focus {
            border-color: #555;
            outline: none !important;
            box-shadow: none;
        }
    }

    button {
        border: 0;
        padding: 0;
        margin: 0;
        background: none;
        color: #888;
        height: 100%;
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        width: 3.25rem;

        &:hover {
            color: $color-theme;
        }
    }
}
