
.form-control,
.form-select {
    box-shadow: $bf-shadow;
}

.form-item {
    margin-bottom: 1.5rem;

    &-label {
        font-size: 0.875rem;
        font-weight: 500;
    }

    &-desc {
        font-size: 0.75rem;
        color: $gray-600;
        padding-left: 0.1rem;
    }

    .validation-message, &-error {
        color: $danger;
        font-size: 0.75rem;
        font-weight: 500;
    }
}
