
.form-control,
.form-select {
    box-shadow: $bf-shadow;
}

.form-item {
    margin-bottom: 1.5rem;

    &-label {
        font-size: 0.875rem;
        font-weight: 500;
        margin-bottom: .25rem;
    }

    &-desc {
        font-size: 0.75rem;
        color: $gray-600;
        padding-left: 0.1rem;
    }

    .validation-message, &-error {
        color: $danger;
        font-size: 0.75rem;
        font-weight: 500;
    }
}

.modal {
    .form-select, .form-control {
        box-shadow: none;
        border: 1px solid $gray-400;
    }
}


// dropdown
.dropdown-full {
    .dropdown-toggle {
        width: 100%;
        text-align: left;
        display: flex;

        &::after {
            margin-left: auto;
            margin-top: auto;
            margin-bottom: auto;
        }
    }

    .dropdown-menu {
        padding: 0;
        width: 100%;
    }

    .dropdown-item {
        font-size: .875rem;
        font-weight: 500;
        padding: .5rem 1rem;

        &:not(:last-child) {
            border-bottom: 1px solid $gray-200;
        }
    }
}
