.account {
  width: 20rem;
  max-width: 100%;
  padding: 5rem 1.5rem;
  margin-right: auto;
  margin-left: auto;

  &-header {
    margin-bottom: 3rem;
  }

  &-message {
    margin-bottom: 2rem;
    font-size: 0.875rem;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;

    &.-error {
      background-color: $danger;
      color: #fff;
    }

    &.-warning {
      background-color: $warning;
      color: #fff;
    }
    &.-success {
      background-color: $success;
      color: #fff;
    }
  }

  &-footer {
    margin-top: 2rem;

    &-list {
      margin: 0;
      padding: 0;
      list-style: none;
    }
    .item {
        margin-bottom: .5rem;
    }
    .item-link {
        font-size:.875rem;
        font-weight: 500;
        color:$gray-600;
        &:hover{
            color:$blogifier;
        }
    }
  }

  .blogifier-logo {
    display: block;
    width: 1rem;
    height: 1rem;
    margin: 4rem auto 0;

    &:hover {
      transform: scale(1.1);
    }

    &-img {
      width: 1rem;
    }
  }
}
