@model Blogifier.Core.Data.Models.AdminBaseModel
@{
    Layout = "~/Views/Blogifier/Admin/Standard/_Layout/_Settings.cshtml";
}
<h4 class="admin-content-title">Import RSS</h4>
<form id="frmImport" name="frmImport">
    <div class="form-group row">
        <label class="col-md-3 col-form-label text-md-right">RSS URL</label>
        <div class="col-md-9">
            <input type="text" id="txtFeedUrl" class="form-control" />
        </div>
    </div>
    <div class="form-group row">
        <label class="col-md-3 col-form-label text-md-right">Domain URL</label>
        <div class="col-md-9">
            <input id="txtDomain" type="text" class="form-control" />
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-9 offset-md-3">
            <label class="custom-control custom-checkbox">
                <input type="checkbox" id="chkImportImages" class="custom-control-input">
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description">Import Images</span>
            </label>
        </div>
        <div class="col-md-9 offset-md-3">
            <label class="custom-control custom-checkbox">
                <input type="checkbox" id="chkImportAttachements" class="custom-control-input">
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description">Import Attachements</span>
            </label>
        </div>
    </div>
    <div class="row">
        <div class="col-md-9 offset-md-3">
            <div id="btnImport">
                <button type="button" class="btn btn-black btn-save-setting" onclick="toolsController.importRss()">Import</button>
                <i class="spin-icon fa fa-cog fa-spin ml-3"></i>
            </div>
        </div>
    </div>
</form>
@section Scripts{
    <script src="~/embedded/admin/standard/js/toolsController.js"></script>
    <script>document.getElementById('txtFeedUrl').focus()</script>
}