@model Blogifier.Core.Data.Models.SettingsProfile
@{
    Layout = "~/Views/Blogifier/Admin/Standard/_Layout/_Settings.cshtml";
    var isDisabled = Model.BlogExists ? "" : "disabled";
}

@if (!Model.BlogExists)
{
    <div class="alert alert-warning" role="alert">
        You must save your profile before you can navigate to other pages.
    </div>
}

<h4 class="admin-content-title">Edit Profile</h4>
<form method="post" asp-controller="Settings" asp-action="Profile" asp-antiforgery="true">
    <div class="form-group row">
        <label class="col-md-3 col-form-label text-md-right">Author Name</label>
        <div class="col-md-9">
            <input type="text" asp-for="AuthorName" class="form-control" />
            <span asp-validation-for="AuthorName" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-md-3 col-form-label text-md-right">Email Address</label>
        <div class="col-md-9">
            <input type="text" asp-for="AuthorEmail" class="form-control" />
            <span asp-validation-for="AuthorEmail" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-md-3 col-form-label text-md-right">Profile Photo</label>
        <div class="input-group col-md-9">
            <input type="text" asp-for="Avatar" class="form-control" readonly />
            <span class="input-group-btn" style="display:none;">
                <button type="button" class="btn btn-secondary" onclick="return uploadController.remove('');"> remove </button>
            </span>
            <span class="input-group-btn">
                <button type="button" @isDisabled class="btn btn-secondary btn-upload" onclick="return filePickerController.open('profileavatar');"> upload</button>
            </span>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-md-3 col-form-label text-md-right">Facebook link</label>
        <div class="col-md-9">
            <input type="text" asp-for='CustomFields["Facebook"]' class="form-control" />
        </div>
    </div>
    <div class="form-group row">
        <label class="col-md-3 col-form-label text-md-right">Twitter link</label>
        <div class="col-md-9">
            <input type="text" asp-for='CustomFields["Twitter"]' class="form-control" />
        </div>
    </div>
    <div class="form-group row">
        <label class="col-md-3 col-form-label text-md-right">Google link</label>
        <div class="col-md-9">
            <input type="text" asp-for='CustomFields["Google"]' class="form-control" />
        </div>
    </div>  
    <div class="form-group row">
        <label class="col-md-3 col-form-label text-md-right">Instagram link</label>
        <div class="col-md-9">
            <input type="text" asp-for='CustomFields["Instagram"]' class="form-control" />
        </div>
    </div>
    <div class="form-group row">
        <label class="col-md-3 col-form-label text-md-right">Github link</label>
        <div class="col-md-9">
            <input type="text" asp-for='CustomFields["Github"]' class="form-control" />
        </div>
    </div>
    <div class="row">
        <div class="col-md-9 offset-md-3">
            <button type="submit" class="btn btn-black btn-main">Save</button>
        </div>
    </div>
</form>
<div style="display:none;">
    <form method="post" name="frmUploadAssets" id="frmUploadAssets" asp-action="Index" asp-controller="Blogifier/Api/Assets/Multiple" enctype="multipart/form-data">
        <input type="file" name="files" id="files" multiple onchange="filePickerController.uploadAssets(); return false;" />
        <input type="submit" value="Upload Multiple" />
    </form>
</div>
@Html.Partial("~/Views/Blogifier/Admin/Standard/_Shared/_FilePicker.cshtml")
@section Scripts{
    @if (!string.IsNullOrEmpty(ViewBag.Message))
    {
        <script>toastr.success('@ViewBag.Message')</script>
    }
    <script>document.getElementById('AuthorName').focus()</script>
    <script src="~/embedded/admin/standard/js/filePickerController.js"></script>
    <script src="~/embedded/admin/standard/js/assetController.js"></script>
}