@using Blogifier.Core.Data.Domain
@model IEnumerable<BlogPost>

<form id="frmNewsletter" name="frmNewsletter">
    <h4>Subscribe to our newsletter</h4>
    <div class="form-group">
        <label>Email</label>
        <input id="txtSubscriberEmail" type="email" class="form-control" />
    </div>
    <div id="btnImport" class="clearfix">
        <button type="button" class="btn btn-primary btn-main float-md-left" onclick="newsletter.subscribe()">Subscribe</button>
    </div>
</form>

<script src="~/blogifier/widgets/newsletter/newsletter.js"></script>