@model Blogifier.Core.Data.Models.AdminSettingsModel
@using Blogifier.Core.Common
@{
    Layout = $"~/{ApplicationSettings.BlogAdminFolder}/_Layout/_Layout.cshtml";
    var emails = (List<string>)ComponentHelper.GetValue(Model.Settings, "Emails");
}
<div class="bf-posts-toolbar">
    <label class="custom-control custom-checkbox float-left">
        <input class="custom-control-input item-checkbox" type="checkbox" name="selectAll">
        <span class="item-control custom-control-indicator"></span>
    </label>
    <div class="btn-group dropup float-left">
        <button type="button" onclick="alert('not implemented'); return false;" class="btn btn-sm btn-primary">Remove</button>
    </div>
    <form class="bf-posts-search float-right" action="~/admin" method="get">
        <input class="form-control form-control-sm" type="search" name="search" placeholder="Search..." autocomplete="off" />
        <button class="item-submit" type="submit"><i class="fa fa-search"></i></button>
    </form>
</div>
<ul class="bf-posts-list" aria-label="posts">
    @foreach (var item in emails)
    {
        <li class="item">
            <label class="item-select custom-control custom-checkbox">
                <input type="checkbox" id="aaa" class="item-checkbox custom-control-input" />
                <span class="item-control custom-control-indicator"></span>
            </label>
            <a class="item-link item-link-mobile" href="#">@item</a>
        </li>
    }
</ul>