@model Blogifier.Core.Data.Models.AdminBaseModel
@using Blogifier.Core.Common
@{
    Layout = $"~/{ApplicationSettings.BlogAdminFolder}/_Layout/_Layout.cshtml";
}
<div class="bf-posts-toolbar">
    <a href="~/admin/packages/widgets" class="btn btn-default btn-sm float-left mr-3">Back</a>
</div>

<h4>Newsletter settings</h4>