.page-author {
    background: $color-theme;
    padding: 4rem 0;
    margin: 0;

    &-title {
        padding-left: 4rem;
        position: relative;
        font-size: .75rem;
        color: #fff;
        line-height: 1;
    }

    &-name {
        font-weight: 700;
        padding-top: .652rem;
        display: block;
        font-size: 1.5rem;
        margin-bottom: .125rem;
        color: #fff;
    }

    &-avatar {
        position: absolute;
        left: 0;
        top: 0;
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
    }
}
