.bf-account {
  background-color: #f4f4f4;
  padding-top: 6rem;
  font-size: .875rem;

  &-inner {
    background-color: #fff;
    padding: 3rem;
    border-radius: 1rem;
    box-shadow: 0 0 10rem rgba(#000,.1);
  }

  &-header {
    margin-bottom: 2rem;

    p {
      margin: 0 !important;
    }
  }

  &-footer {
    margin-top: 3rem;
    margin-bottom: 3rem;
    text-align: center;

    a {
      opacity: .25;

      &:hover {
        opacity: 1;
      }
    }

    img {
      width: 1rem;
      height: 1.125rem;
    }
  }

  .form-control {
    font-size: 1rem;
  }

  .container {
    padding-right: 1rem;
    padding-left: 1rem;
    max-width: 24.5rem;
  }

  .custom-control {
    margin-bottom: 0;
    min-height: 1rem;

    &-indicator {
      top: 0;
    }

    &-description {
      height: 1rem;
      line-height: 1rem;
    }
  }

  h1 {
    font-size: 1.5rem;
  }

  .form-group,
  p {
    margin-bottom: 1rem;
  }

  input:-webkit-autofill,
  input:-webkit-autofill:focus input:-webkit-autofill,
  input:-webkit-autofill:hover,
  select:-webkit-autofill,
  select:-webkit-autofill:focus,
  select:-webkit-autofill:hover,
  textarea:-webkit-autofill,
  textarea:-webkit-autofill:hover textarea:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0 1000px #fff inset;
    transition: background-color 5000s ease-in-out 0s;
  }
  @media screen and (max-width:25rem) {
    background: #fff;
    padding: 1rem 0;
    height: auto;

    &-inner {
      padding: 0;
      border-radius: 0;
      box-shadow: none;
    }

    &-footer {
      margin-bottom: 2rem;
    }
  }
}

.form-login {
  .form-control {
    position: relative;
    z-index: 1;

    &:focus {
      z-index: 2;
    }
  }

  .form-control-top {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  .form-control-bottom {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    margin-top: -1px;
  }
}
