<!DOCTYPE html>
<html lang="en">
<head>
    <title>Title</title>
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    <link href="~/Embedded/css/blue.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="row">
            <img src="~/Embedded/images/1500x500.jpg" style="width: 100%; height: 150px" />
        </div>
        <div class="row">
            @RenderBody()         
        </div>
        <div class="row">
            Footer here
        </div>
    </div>
    <script src="~/Embedded/js/site.js"></script>
</body>
</html>