@using Blogifier.Core.Common
@{
    Layout = "~/Views/Blogifier/Themes/Blog/Standard/_Layout.cshtml";

    var os = Settings.OSDescription;
}
<div>
    <h2>Blog standard theme index page</h2>
    <p>The standard blog theme from core package, should look blue</p>
    <div>OSDescription: @os</div>
    <button onclick="test()" value="Test">Test</button>
</div>