@using Blogifier.Core.Common
<table>
    <tr>
        <td>
            <div>
                <h2>Blog standard theme index page</h2>
                <p>The standard blog theme from core package, should look blue</p>
                <button onclick="test()" value="Test">Test</button>
            </div>
        </td>
        <td>
            @await Component.InvokeAsync("Blogifier.Core.Views.Blogifier.Widgets.BlogList")
        </td>
    </tr>
</table>