@using Blogifier.Core.Common
@using Blogifier.Core.Data.Domain
@using System.Collections.Generic
@model List<BlogPost>

<div class="col-sm-9">
    <h2>Blog standard theme index page</h2>
    <p>The standard blog theme from core package, should look blue</p>
    @if (Model != null)
    {
        foreach (var item in Model)
        {
            <h4>@item.Title</h4>
            <div>@item.Description</div>
        }
    }
</div>
<div class="col-sm-3">
    @await Component.InvokeAsync("Blogifier.Core.Views.Blogifier.Widgets.BlogList")
    <button onclick="test()" value="Test">Test</button>
</div>