.bf-settings-about {
  .list-settings {
    font-size: .75rem;
    @include unstyled(ul);

    li {
      border-bottom: 1px solid #eee;
      padding: .5rem 1rem;

    }

    label {
      min-width: 10rem;
      margin: 0;
      font-weight: 500;
    }

    p {
      color: #666;
    }
  }

  @media screen and (min-width: 992px) {
    .list-settings {
      li {
        display: -ms-flexbox !important;
        display: flex !important;
      }
    }
  }
}
