.bf-settings {
  padding: 2rem;

  .bf-toolbar {
    margin: -2rem -2rem 2rem;
  }

  .btn-main {
    min-width: 8rem;
  }
  @media screen and (min-width:992px) {
    &-boxed {
      max-width: 38rem;
      width: 100%;
    }
  }
  @media screen and (max-width: 991px) {
    padding: 1rem;

    .bf-toolbar {
      margin: -1rem -1rem 1rem;
    }
  }
}

.bf-settings-about {
  .list-settings {
    font-size: .75rem;
    @include unstyled(ul);

    li {
      border-bottom: 1px solid #eee;
      padding: .5rem 1rem;

    }

    label {
      min-width: 10rem;
      margin: 0;
      font-weight: 500;
    }

    p {
      color: #666;
    }
  }

  @media screen and (min-width: 992px) {
    .list-settings {
      li {
        display: -ms-flexbox !important;
        display: flex !important;
      }
    }
  }
}

.bf-settings-about {
  table {
    margin-bottom: 2rem;

    &:last-child {
      margin-bottom: 0;
    }

    td {
      font-size: .875rem;

      &:first-child {
        width: 13rem;
      }
    }

    td,
    th {
      padding: .25rem 0;

      &:last-child {
        overflow-wrap: break-word;
        word-wrap: break-word;
        word-break: break-word;
        hyphens: none;
      }
    }

    thead {
      th {
        border-top: 0;
        font-weight: 500;
      }
    }
  }
  @media screen and (max-width:47.9375rem) {
    table {
      tr {
        display: block;
        padding: .5rem 0 !important;
        border-bottom: .0625rem solid #ddd !important;
      }

      td,
      th {
        display: block;
        width: 100% !important;
        padding: 0 !important;
        border: none !important;

        &:first-child {
          font-weight: 500;
        }
      }
    }

    .admin-content-title {
      display: block;
    }
  }
}

.bf-settings-import {
  @media screen and (max-width:48rem) {
    .loading {
      margin: 0 auto;
      width: 2.5rem;
    }
  }
}
//

.bf-settings-users {
  .bf-toolbar {
    margin-bottom: 0 !important;
  }
}

.bf-users-list {
  display: none;
  @include unstyled(ul);
  margin: 0 -2rem;
  @media screen and (max-width: 991px) {
    margin: 0 -1rem 1rem;
  }
}

.user-list-item {
  position: relative;
  height: 3rem;
  padding: 0 2rem;
  border-bottom: 1px solid #f8f8f8;

  .custom-control {
    display: block;
    padding: 0;
    margin: 0;
    min-width: 1rem;
    min-height: 1rem;
    width: 1rem;
    height: 1rem;

    &-indicator {
      top: 0;
      left: 0;
    }
  }

  .item-name {
    color: #000;
    height: 3rem;
    line-height: 3rem;
    display: block;
    width: 100%;
    @include ellipsis;
  }

  .item-count {
    display: block;
    color: #666;
    font-size: .75rem;
    text-transform: uppercase;
    white-space: nowrap;
  }

  .item-show {
    font-size: .875rem;
    color: #888;

    &:focus {
      outline: none;
    }

    &:focus,
    &:hover {
      color: $cl-bf;
    }
  }
  //
  &:hover {
    background-color: #f8f8f8;
  }
  @media screen and (max-width: 991px) {
    padding: 0 1rem;
  }
}
