.blog-cover {
    height: 34rem;
    position: relative;
    background-color: #000;
    background-image: url(/cover.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    overflow: hidden;

    &::after {
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.4);
        position: absolute;
        top: 0;
        left: 0;
    }

    .blog-cover-title {
        transform: translate(-50%,-50%);
        position: absolute;
        left: 50%;
        top: 50%;
        color: #fff;
        z-index: 1;
        text-align: center;

        h1 {
            font-size: 5rem;
            font-weight: $font-weight-medium;
            margin-bottom: 1rem;
        }

        p {
            opacity: .75;
            font-size: .875rem;
            font-family: $font-family-sans;
            letter-spacing: 0.0625rem;
            text-transform: capitalize;
            margin-bottom: 0;
        }

        a {
            color: #fff;
        }
    }

    @media screen and (max-width:48rem) {
        height: auto;
        padding-bottom: 1rem;
        margin-top: -.75rem;
        background: #fff !important;

        &:after {
            display: none;
        }

        .blog-cover-title {
            position: relative;
            transform: none;
            left: 0;
            top: 0;
            color: #000;

            h1 {
                font-size: 1.5rem;
                margin: 0;
            }

            p {
                display: none;
            }
        }
    }
}
