.cover {
    height: 34rem;
    position: relative;
    background-color: #444;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    overflow: hidden;

    .cover-img {
        @include visually-hidden();
    }

    .cover-title {
        transform: translate(-50%,35%);
        position: absolute;
        left: 50%;
        bottom: 35%;
        z-index: 1;
        color: #fff;
        text-align: center;
        text-shadow: 0 0 1rem rgba(0, 0, 0, 0.20);

        h1 {
            font-size: 4rem;
            margin-bottom: 1rem;
        }

        h2 {
            font-size: 3rem;
            margin-bottom: 1rem;
        }

        p {
            font-size: .875rem;
            font-family: $font-family-sans;
        }

        a {
            color: #fff;
        }
    }

    &::after {
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.4);
        position: absolute;
        top: 0;
        left: 0;
    }
}
