.pagination {
    margin-bottom: 0;
    border-radius: 0;

    @media screen and (max-width:576px) {
        margin-top: 2rem;
    }

    li {
        margin-top: 4rem;

        a {
            display: block;
            border: 1px solid #ccc;
            padding: 1rem 2rem;
            border-radius: .1875rem;
            font-weight: 500;
            text-transform: uppercase;
            color: #444;
            font-family: $font-family-sans;
            font-size: .875rem;
            letter-spacing: .0625rem;

            &:hover, &:focus {
                background-color: #f1f1f1;
            }

            &:active {
                box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
            }
        }

        span {
            display: inline-block;
            line-height: 1rem;
            height: 1rem;
        }

        i {
            font-size: 1.5rem;
            display: inline-block;
            line-height: 1rem;
            height: 1rem;
            position: relative;
            top: .125rem;

            &:before {
                display: block;
            }
        }

        &.prev {
            i {
                margin-right: 1rem;
            }
        }

        &.next {
            i {
                margin-left: 1rem;
            }
        }
    }
}
