.bf-themes-widgetzone {
  background-color: #fafafa;
  border: 1px dashed #aaa;
  border-radius: .25rem;
  padding: 1rem;

  .input-group {
    background-color: #fff;

    &:last-child {
      margin-bottom: 0 !important;
    }
  }
}
