.btn-rounded {
  border-radius: 6rem;
}

.btn {
  text-transform: capitalize;

  &-link {
  }

  &-default {
    &:hover {
      background-color: $gray-100;
    }
  }

  &-outline {
    &-default {
      border-color: $gray-500;
      color: $gray-600;

      &:hover {
        border-color: $gray-500;
      }
    }
  }

  &-xs {
    padding: 0.125rem 0.5rem;
    font-size: 0.75rem;
    border-radius: 0.2rem;
  }
  &-block {
    width: 100%;
  }
}
