.EasyMDEContainer {
  display: block;
  position: relative;
  margin-bottom: 4rem;
  padding-top: 3rem;

  &.sided--no-fullscreen {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .CodeMirror {
    box-sizing: border-box;
    height: auto;
    border: none;
    padding: 0;
    font: inherit;
    z-index: 0;
    word-wrap: break-word;

    &-scroll {
      cursor: text;
    }

    &-fullscreen {
      background: #fff;
      position: fixed !important;
      top: 3rem;
      left: 0;
      right: 0;
      bottom: 0;
      height: auto;
      z-index: 8;
      border-right: none !important;
      border-bottom-right-radius: 0 !important;

      .CodeMirror-lines {
        padding-bottom: 10rem;
      }
    }

    &-sided {
      width: 50% !important;
      &.sided--no-fullscreen {
        border-right: none !important;
        border-bottom-right-radius: 0;
        position: relative;
        flex: 1 1 auto;
      }
    }

    &-placeholder {
      opacity: 0.5;
    }

    &-focused .CodeMirror-selected {
      background: #d9d9d9;
    }
  }
}

.editor-toolbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  user-select: none;
  border-bottom: 1px solid $gray-200;
  display: flex;
  z-index: 5;
  height: 3rem;

  &.-sticky {
    width: 61rem;
    position: fixed;
    top: 0;
    left: auto;
    background-color: #fff;
    border-bottom-color: $gray-100;

    &::after {
      content: "";
      display: block;
      width: 100%;
      position: absolute;
      bottom: -2rem;
      left: 0;
      height: 2rem;
      background-image: linear-gradient(180deg, rgba(#000, 0.1), transparent);
      z-index: 6;
    }
    @media screen and (max-width: 1199px) {
      width: 100%;
      left: 0;
    }
  }

  &.fullscreen {
    width: 100%;
    height: 3rem;
    box-sizing: border-box;
    background: #fff;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 1;
    z-index: 100;
    button {
      height: 3rem;
    }
    &::after {
      content: "";
      display: block;
      width: 100%;
      position: absolute;
      bottom: -2rem;
      left: 0;
      height: 2rem;
      background-image: linear-gradient(180deg, rgba(#000, 0.1), transparent);
      z-index: 6;
    }
  }

  &.sided--no-fullscreen {
    width: 100%;
  }

  button {
    background: none;
    border: 0;
    display: inline-block;
    text-align: center;
    text-decoration: none !important;
    height: 3rem;
    width: 3rem;
    margin: 0;
    padding: 0;
    cursor: pointer;
    flex-grow: 1;
    border-bottom: 1px solid transparent;
    border-radius: 0;

    &:not(:last-child) {
      margin-right: 1px;
    }

    &:hover {
      background-color: $gray-100;
      border-bottom-color: $gray-300;

      .bi {
        fill: $gray-900;
      }
    }

    &.active {
      background-color: rgba($blogifier, 0.1);
      border-bottom-color: rgba($blogifier, 0.2);
      .bi {
        fill: $blogifier;
      }
    }

    .bi {
      fill: $gray-800;
    }
  }

  &.disabled-for-preview {
    button:not(.no-disable) {
      opacity: 0.6;
      pointer-events: none;
      background-color: #fff !important;
      border-bottom-color: transparent !important;
      .bi {
        fill: $gray-800 !important;
      }
    }
  }
}

//
.editor-preview {
  font-size: 1rem;
  padding: 3rem;
  background: #fff;

  > p {
    margin-top: 0;
  }
  pre {
    background: #eee;
    margin-bottom: 10px;
  }
  table td,
  table th {
    border: 1px solid #ddd;
    padding: 5px;
  }
  iframe {
    max-width: 100%;
  }

  &-full {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 7;
    overflow: auto;
    display: none;
    box-sizing: border-box;
  }
  &-side {
    position: fixed;
    bottom: 0;
    width: 50%;
    top: 3rem;
    right: 0;
    z-index: 9;
    overflow: auto;
    display: none;
    box-sizing: border-box;
    word-wrap: break-word;
    border-left: 1px solid $gray-200;
    padding-bottom: 7rem;
  }
  &-active-side,
  &-active {
    display: block;
  }
}

// THEME
.cm-s-easymde {
  .cm-tag {
    color: $hljs-green;
  }
  .cm-attribute {
    color: $hljs-blue;
  }
  .cm-string {
    color: $hljs-red;
  }
  .cm-header-1 {
    font-size: 175%;
    line-height: 100%;
  }
  .cm-header-2 {
    font-size: 160%;
    line-height: 160%;
  }
  .cm-header-3 {
    font-size: 125%;
    line-height: 125%;
  }
  .cm-header-4 {
    font-size: 110%;
    line-height: 110%;
  }
  .cm-comment {
    background: rgba(0, 0, 0, 0.05);
    border-radius: 2px;
  }
  .cm-link {
    color: $hljs-blue;
  }
  .cm-url {
    color: $hljs-blue;
  }
  .cm-quote {
    color: $hljs-comments;
    font-style: italic;
  }
  .cm-hr {
    color: $hljs-comments;
  }
}

span[data-img-src]::after {
  content: "";
  background-image: var(--bg-image);
  display: block;
  max-height: 100%;
  max-width: 100%;
  background-size: contain;
  height: 0;
  padding-top: var(--height);
  width: var(--width);
  background-repeat: no-repeat;
}

.editor-statusbar {
  padding: 8px 10px;
  font-size: 12px;
  color: #959694;
  text-align: right;
  span {
    display: inline-block;
    min-width: 4em;
    margin-left: 1em;
  }
  .lines:before {
    content: "lines: ";
  }
  .words:before {
    content: "words: ";
  }
  .characters:before {
    content: "characters: ";
  }
}
