.tooltip-inner {
  margin-top: 0.25rem;
  box-shadow: 0 0 0 1px rgba(#fff, 0.5);
  letter-spacing: 0.03125rem;
}

.bs-tooltip-bottom .tooltip-inner {
  margin-top: 0.25rem;
}

.bs-tooltip-top .tooltip-inner {
  margin-bottom: 0.25rem;
}
