html, body {
    min-height: 100%;
}

html {
    font-size: 1em;
}

body {
    background-color: #fff;
    font-family: $font-family-base;
    font-size: $font-size-base;
    cursor: default;
    overflow-y: scroll;
}

.container {
    width: 100%;
    max-width: 32rem;
}

.sample-wrapper {
    min-height: 100%;
    margin-bottom: -$footer-height;

    &::after {
        content: "";
        display: block;
        height: $footer-height;
    }
}

.sample-content {

    h2 {
        font-size: 1.5rem;
        font-weight: 500;
    }

    padding-top: 2rem;
    padding-bottom: 2rem;

    @media screen and (max-width:460px) {
        padding: 2rem;
    }
}
