a{
    color:#fff;
    &:hover{
        color:#fff;
    }
}

img {
    max-width: 100%;
}

label {
    font-weight: $font-weight-normal;
    white-space: nowrap;
}

hr {
    border-color: #555;
    margin: 2rem 0;
}

form {
    margin: 0;
}

h1, h2, h3, h4 {
    font-weight: $font-weight-bold;
    letter-spacing: -1px;
}

iframe {
    width: 100%;
    border: none;
}

button {
    font-family: inherit;
    cursor: pointer;

    &:focus {
        outline: none !important;
    }
}

pre {
    font-size: 1rem;
}

.progress {
    margin-bottom: 1rem;
}

::selection {
    background: #000;
    color: #fff;
}

::-moz-selection {
    background: #000;
    color: #fff;
}

.form-control {
    background:rgba(0, 0, 0, 0.50);
    border-width:2px;
    border-color:#666;
}

form {
}
