a {
    color: #fff;

    &:hover {
        color: #fff;
    }
}

img {
    max-width: 100%;
}

label {
    font-weight: $font-weight-normal;
    white-space: nowrap;
}

hr {
    border-color: #333;
    margin: 2rem 0;
}

form {
    margin: 0;
}

h1, h2, h3, h4 {
    font-weight: $font-weight-medium;
    letter-spacing: -1px;
    margin: 0;
}

iframe {
    width: 100%;
    border: none;
}

button {
    font-family: inherit;
    cursor: pointer;

    &:focus {
        outline: none !important;
    }
}

pre {
    font-size: 1rem;
}

.progress {
    margin-bottom: 1rem;
}

::selection {
    background: #000;
    color: #fff;
}

::-moz-selection {
    background: #000;
    color: #fff;
}

.form-control {
    background: none !important;
    border-color: #444;
    color: #fff;

    &:focus, &[disabled] {
        background: none !important;
    }
}


