.related {
  border-top: 1px solid #f1f1f1;
  padding-top: 3rem;

  &-header {
    margin-bottom: 3rem;
    align-items: center;
    display: flex;
    &-title {
      margin-bottom: 0;
      font-size: 1rem;
    }
    &-link {
      margin-bottom: 0;
      color: #000;
      font-size: 0.875rem;
      font-weight: 500;
      &:hover {
        color: $color;
      }
    }
  }

  // item
  &-item {
    position: relative;
    top: 0;
    display: flex;
    flex-direction: column;
    min-height: 20rem;
    height: 100%;
    border-radius: 0.125rem;
    padding: 2rem;
    overflow: hidden;
    background-color: #000;
    transition: all ease-in-out 0.25s;
    &:hover {
      box-shadow: 0 0.15rem 5rem rgba(#000, 0.2);
      top: -0.125rem;
      .related-link {
        &::after {
          content: "";
          display: block;
          background: transparent;
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
        }
      }
    }
  }

  &-cover {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
    object-position: center;
    opacity: 0.7;
    transition: all ease-in-out 0.3s;
  }
  // date
  &-date {
    font-size: 0.75rem;
    color: #fff;
    margin-top: auto;
    position: relative;
    z-index: 2;
    opacity: 0.7;
  }

  // title
  &-title {
    margin-top: 0.5rem;
    z-index: 2;
    font-size: 1.5rem;
    font-weight: 600;
  }
  &-link {
    color: #fff;
    &:hover {
      color: #fff;
    }
  }
}
