@using Blogifier.Core.Common
@{
    Layout = $"~/{ApplicationSettings.BlogAdminFolder}/_Layout/_Layout.cshtml";
}
<div class="bf-header d-flex d-lg-none">@ViewData["Title"] <i class="fa fa-chevron-down"></i></div>
<div class="bf-main">
    <div class="bf-sidebar d-lg-block">
        <div class="bf-settings-sidebar">
            @if (Model.Profile.IsAdmin)
            {
                <ul class="bf-settings-sidebar-nav">
                    <li is-active-route asp-controller="Settings" asp-action="General">
                        <a asp-controller="Settings" asp-action="General">General</a>
                    </li>
                    <li is-active-route asp-controller="Settings" asp-action="Posts">
                        <a asp-controller="Settings" asp-action="Posts">Posts</a>
                    </li>
                </ul>
            }
            <ul class="bf-settings-sidebar-nav">
                <li is-active-route asp-controller="Settings" asp-action="Profile">
                    <a asp-controller="Settings" asp-action="Profile">Profile</a>
                </li>
                <li is-active-route asp-controller="Settings" asp-action="ChangePassword">
                    <a asp-controller="Settings" asp-action="ChangePassword">Password</a>
                </li>
                @if (Model.Profile.IsAdmin)
                {
                    <li is-active-route asp-controller="Settings" asp-action="Users">
                        <a asp-controller="Settings" asp-action="Users">Users</a>
                    </li>
                }
            </ul>
            <ul class="bf-settings-sidebar-nav">
                @if (Model.Profile.IsAdmin)
                {
                    <li is-active-route asp-controller="Settings" asp-action="Advanced">
                        <a asp-controller="Settings" asp-action="Advanced">Advanced</a>
                    </li>
                }
                <li is-active-route asp-controller="Settings" asp-action="About">
                    <a asp-controller="Settings" asp-action="About">About</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="bf-body">
        @RenderBody()
    </div>
</div>
@section Scripts{
    @RenderSection("Scripts", false)
}
