.blog-header {
 background:#000;
    padding: 2.5rem;

    .blog-logo {
        width: 12rem;

        img {
        }
    }

    .navbar {
        padding: 0;
    }

    .nav-item {
        margin-left: 1.25rem;
        margin-right: 1.25rem;
    }

    .navbar-expand-lg .navbar-nav .nav-link {
        padding: 0;
        font-weight: 600;
        font-size: 1rem;
        color: #888;
    }

    .navbar-dark .navbar-nav .active > .nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show > .nav-link {
        color: $color-theme;
    }

    .dropdown-menu {
        background: #000;
        padding: 0;
        border: 0;

        .dropdown-item {
            color: rgba(255,255,255,.4);
            padding: 0.75rem 1rem;
            font-weight: 400;
            font-size: 0.875rem;
            text-transform: uppercase;

            &:focus,
            &:hover {
                background: rgba(255,255,255,.05);
            }
        }

        .dropdown-divider {
            margin: 0;
            border-top: 1px solid #222;
        }
    }
}

.blog-search {


}


.blog-social {
  li {
    margin-left: 1.25rem;

    &:first-child {
      margin: 0;
    }

    a {
      color: #666;
      font-size: 1.125rem;

      &:hover {
        color: #222;
      }
    }
  }
}
