@using Blogifier.Core.Common
@model ChangePasswordViewModel
@{
    Layout = $"~/{ApplicationSettings.BlogAdminFolder}/_Layout/_Settings.cshtml";
    ViewData["Title"] = "Change password";
}

<div class="bf-settings bf-settings-boxed bf-settings-changepassword" data-page-title="@ViewData["Title"]">
    <div class="bf-title"><span>@ViewData["Title"]</span></div>
    @Html.Partial("_StatusMessage", Model.StatusMessage)
    <form method="post">
        <div class="form-group">
            <label asp-for="OldPassword" class="form-group-label"></label>
            <input asp-for="OldPassword" class="form-control" />
            <span asp-validation-for="OldPassword" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="NewPassword" class="form-group-label"></label>
            <input asp-for="NewPassword" class="form-control" />
            <span asp-validation-for="NewPassword" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="ConfirmPassword" class="form-group-label"></label>
            <input asp-for="ConfirmPassword" class="form-control" />
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary btn-main">Save</button>
    </form>
</div>
@section Scripts {
    <script src="~/admin/js/lib/jquery.validate.min.js"></script>
    <script src="~/admin/js/lib/jquery.validate.unobtrusive.min.js"></script>
}
