@model ForgotPasswordViewModel
@{
    ViewData["Title"] = "Forgot your password?";
}
<form asp-action="ForgotPassword" method="post">
    <div class="bf-account-header">
      <h1>Forgot Password?</h1>
      <p>We will send you an email that will allow you to reset your password.</p>
    </div>
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group">
        <input asp-for="Email" class="form-control" placeholder="Email" autofocus>
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary btn-lg btn-block">Submit</button>
</form>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
