@{
    Layout = "/Views/Shared/_Layout.cshtml";
}
<h2>Manage your account</h2>
@await Html.PartialAsync("_ManageNav")
<hr />
@RenderBody()

@section Scripts {
    @RenderSection("Scripts", required: false)
}

