@using WebApp.Views.Manage
@inject SignInManager<ApplicationUser> SignInManager
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}
<ul class="nav justify-content-center">
    <li class="nav-item @ManageNavPages.IndexNavClass(ViewContext)"><a class="nav-link" asp-action="Index">Profile</a></li>
    <li class="nav-item @ManageNavPages.ChangePasswordNavClass(ViewContext)"><a class="nav-link" asp-action="ChangePassword">Password</a></li>
    @if (hasExternalLogins)
    {
        <li class="nav-item @ManageNavPages.ExternalLoginsNavClass(ViewContext)"><a  class="nav-link" asp-action="ExternalLogins">External logins</a></li>
    }
    <li class="nav-item @ManageNavPages.TwoFactorAuthenticationNavClass(ViewContext)"><a  class="nav-link" asp-action="TwoFactorAuthentication">Two-factor authentication</a></li>
</ul>