&-home {
    padding: 4rem 0 3rem;

    a {
        background: $color-blogifier;
        display: block;
        line-height: 5rem;
        text-align: center;
        border-radius: 5rem;
        font-size: 1.25rem;
        margin-bottom: 1rem;
        text-decoration: none;

        &:hover {
            background:#000;
        }
    }
}
