@page "/admin/newsletter"
@inject IStringLocalizer<Resource> _localizer

<div class="app-settings d-flex">
   <!-- TAB NAV -->
   <div class="app-settings-nav nav flex-column" id="nav-tab" role="tablist">
      <a class="active" id="link-tab-01" role="tab" data-bs-toggle="tab" href="#tab-01" aria-controls="tab-01" aria-selected="true">@_localizer["subscribers"]</a>
      <a id="link-tab-02" role="tab" data-bs-toggle="tab" href="#tab-02" aria-controls="tab-02" aria-selected="false">@_localizer["newsletter"]</a>
      <a id="link-tab-03" role="tab" data-bs-toggle="tab" href="#tab-03" aria-controls="tab-03" aria-selected="false">@_localizer["settings"]</a>
   </div>
   <!-- TAB CONTENT -->
   <div class="app-settings-content tab-content" id="nav-tabContent">
      <div class="tab-pane fade show active" id="tab-01" role="tabpanel" aria-labelledby="tab-01"><SubscribersComponent /></div>
      <div class="tab-pane fade" id="tab-02" role="tabpanel" aria-labelledby="tab-02"><NewslettersComponent /></div>
      <div class="tab-pane fade" id="tab-03" role="tabpanel" aria-labelledby="tab-03"><EmailSettingsComponent /></div>
   </div>
</div>