// color
$color-brand-primary: #000;
$color-brand-secondary: #111;
$color-brand-default: #222;

// font-family
$font-family-base: "Roboto";

// font-weight
$font-weight-thin: 100;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;
$font-weight-black: 900;
