.blog-footer {
    color: #999;
    font-size: .875rem;
    padding: 4rem 0;

    p {
        margin: 0;

        a {
            color: #999;

            &:hover {
                color: $color-blogifier;
            }
        }
    }

    @media screen and (max-width:57rem) {
        text-align: center;
        padding: 2rem 0;
    }
}
