.dropdown-user {
  &-link {
    width: 3rem;
    height: 3rem;
    text-align: center;
    display: block;
    position: relative;
    margin-left: 1.5rem;
    border-radius: 100%;
    border: 0;
    background: none;

    &.logedin {
      img {
        padding: 0;
      }
    }

    &:hover,
    &:focus {
      .bi {
        fill: $color;
      }
    }
    &::before {
      content: "";
      width: 1px;
      height: 1rem;
      background-color: rgba(#000, 0.1);
      display: block;
      position: absolute;
      top: 0;
      left: -0.75rem;
      transform: translateY(1rem);
    }
    .bi {
      height: 100%;
      fill: #555;
      transform: translateX(-0.135rem);
    }
  }

  &-menu {
    border-radius: $radius;
    box-shadow: 0 0 3rem rgba(#000, 0.2);
    border: none;
    width: 10rem;
    .dropdown-item {
      font-size: 0.875rem;
      font-weight: 500;
      text-transform: capitalize;
      padding: 0.5rem 1rem;
      color: #555;
      transition: all ease-in-out 0.2s;
      &:active,
      &:hover {
        color: #000;
        background-color: var(--bs-light);
      }
    }
  }
}
