.pager {
  list-style: none;
  padding: 0;
  margin: 4rem 0 4rem;
  text-align: center;
  height: 3rem;
  &::after {
    content: "";
    height: 1px;
    width: 50%;
    margin: 0 auto;
    background-image: linear-gradient(
      90deg,
      transparent,
      rgba(#000, 0.1),
      transparent
    );
    display: block;
    transform: translateY(-1.5rem);
    transition: width ease-in-out 0.5s;
  }

  &:hover {
    &::after {
      width: 100%;
      background-image: linear-gradient(
        90deg,
        transparent,
        rgba(#000, 0.15),
        transparent
      );
    }
    .pager-link {
      opacity: 1;
    }
  }

  &-item {
    display: inline-block;
    margin: 0 0.25rem;
    background-color: #fff;
    position: relative;
    z-index: 5;
  }
  &-link {
    display: block;
    color: #888;
    font-weight: 500;
    font-size: 0.875rem;
    text-transform: uppercase;
    width: 3rem;
    height: 3rem;
    line-height: 3rem;
    transition: opacity ease 0.2s;
    opacity: 0.5;

    &:hover {
      color: $color;
      .bi {
        width: 2rem;
        height: 2rem;
      }
    }
    .bi {
      width: 1.5rem;
      height: 1.5rem;
      transition: all ease 0.2s;
    }
  }
}
