.bft-share {
  padding-top: 4rem;
  margin-bottom: 4rem;

  &-list {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  &-item {
    margin-right: 1rem;
  }

  &-link {
    text-align: center;
    display: block;
    height: 100%;

    .bi {
      width: 1.5rem;
      height: 1.5rem;
      fill: #555;
    }
    &:hover,
    &:focus {
      .bi {
        fill: $color;
      }
    }
  }
}
