.bft-social {
  list-style: none;
  padding: 0;
  margin: 0;

  &-item {
    width: 3rem;
    height: 3rem;
  }
  &-link {
    width:100%;
    height: 100%;
    text-align: center;
    display: block;

    &.-btn {
      background: none;
      border: 0;
    }

    &:hover,
    &:focus {
      .bi {
        fill: $color;
      }
    }
  }

  .bi {
    width: 1.125rem;
    height: 100%;
    fill: #555;
  }
}
