@using Blogifier.Core.Common

<div class="admin-footer">
    <div class="container">
        <div class="float-md-left item-copyright">
        <a href="http://blogifier.net/" target="_blank"><img src="~/embedded/admin/standard/img/logo-sm.png" alt="Blogifier" /></a>
        Copyright &copy; @DateTime.Now.Year Blogifier (Version @Blogifier.Core.Common.ApplicationSettings.Version)
        </div>
        <ul class="float-md-right">
            <li><a href="https://github.com/blogifierdotnet/Blogifier.Core" target="_blank">GitHub</a></li>
            <li><a href="https://github.com/blogifierdotnet/Blogifier.Core/wiki" target="_blank">Documents</a></li>  
            <li><a href="https://github.com/blogifierdotnet/Blogifier.Core/issues" target="_blank">Support</a></li>  
        </ul>
    </div>
</div>
