    @using Blogifier.Core.Common

@{
    var themeFolder = "embedded/admin/standard";
}
@Html.Partial("~/Views/Blogifier/Admin/Standard/_Shared/_about.cshtml")
<form method="post" id="frmLogOut" asp-controller="Account" asp-action="Logout" asp-antiforgery="true"></form>
<script src="~/@themeFolder/js/lib/jquery.min.js"></script>
<script src="~/@themeFolder/js/lib/toastr.min.js"></script>
<script src="~/@themeFolder/js/lib/popper.min.js"></script>
<script src="~/@themeFolder/js/lib/bootstrap.min.js"></script>
<script src="~/@themeFolder/js/app/app.js"></script>
<script src="~/@themeFolder/js/app/dataService.js"></script>
<script src="~/@themeFolder/js/app/uploadController.js"></script>
<script>
    var webRoot = '@Url.Content("~/")';
    var blogRoute = '@ApplicationSettings.BlogRoute';
    function getUrl(str) {
        return webRoot + str;
    };
</script>
