@using Blogifier.Core.Common
@{
    var avatar = ApplicationSettings.ProfileAvatar;
    var userName = "";
    var blogTitle = ApplicationSettings.Title;
    var blogDesc = ApplicationSettings.Description;
    var blogImg = ApplicationSettings.ProfileImage;
    if (Model.Profile != null)
    {
        userName = Model.Profile.AuthorName;
        blogTitle = Model.Profile.Title;
        blogDesc = Model.Profile.Description;
        blogImg = string.IsNullOrEmpty(Model.Profile.Image) ? blogImg : Model.Profile.Image;
        if (!string.IsNullOrEmpty(Model.Profile.Avatar))
        {
            avatar = Model.Profile.Avatar;
        }
    }
}
<a class="bf-sidebar-header" href="~/@ApplicationSettings.BlogRoute@Model.Profile.Slug" target="_blank">
    <img class="item-img" src="@avatar">
    <span class="item-name">@userName</span>
    <span class="item-url">@Context.Request.Host/@ApplicationSettings.BlogRoute@Model.Profile.Slug</span>
</a>
<button class="bf-sidebar-toggle"><i class="fa fa-navicon"></i></button>