.admin-settings {
    flex: 1;
    border: .0625rem solid $color-border;
    &-sidebar {
        border-right: .0625rem solid $color-border;
        @include unstyled();
        li {
            margin-bottom: 1rem;
            &.active {
                position: relative;
                font-weight: $font-weight-medium;
                a {
                    color: #000;
                }
                &::after,
                &::before {
                    @include triangle(left, .625rem, #fff);
                    top: 50%;
                    right: -.0625rem;
                    margin-top: -.625rem;
                }
                &::before {
                    @include triangle(left, .6875rem, darken($color-border, 10%));
                    margin-top: -.6875rem;
                }
            }
            a {
                color: #666;
                display: block;
                padding-left: 3rem;
                line-height: 2.375;
            }
        }
    }
    &-content {
        table {
            margin-bottom: 2rem;
            &:last-child {
                margin-bottom: 0;
            }
            td {
                font-size: .875rem;
                &:first-child {
                    width: 13rem;
                }
            }
            th,
            td {
                padding: .25rem 0;
                &:last-child {
                    overflow-wrap: break-word;
                    word-wrap: break-word;
                    word-break: break-word;
                    hyphens: none;
                }
            }
            thead {
                th {
                    border-top: 0;
                    font-weight: $font-weight-medium;
                }
            }
        }
    }
}