.admin-settings {
    display: flex;
    width: 100%;
    overflow: hidden;
    border-radius: 5px;
    &-sidebar {
        width: 200px;
        flex: 1;
        background: rgba(255,255,255,0.3);

        ul {
            display: block;
            list-style: none;
            margin: 0;
            padding: 0;

            li {
                text-transform: uppercase;

                &.active {
                    background: #fff;

                    a {
                        color: #000;
                    }
                }

                a {
                    display: block;
                    line-height: 3.5rem;
                    padding-left: 2rem;
                    color: #888;
                }
            }
        }
    }

    &-content {
        flex: 4;
        background: #fff;
        padding: 3rem;
    }
}
