.admin-content-settings {
    .admin-settings {
        flex: 1;
        border: .0625rem solid $color-border;
    }

    @media screen and (max-width: 47.9375rem) {
        padding: 3rem 0;

        .admin-settings {
            border: 0;
        }
    }
}

.admin-settings-sidebar {
    @include unstyled();

    @media screen and (min-width: 47.9375rem) {
        padding-top: 3rem;
        border-right: .0625rem solid $color-border;

        li {
            margin-bottom: 1rem;

            &.active {
                position: relative;
                font-weight: $font-weight-medium;

                a {
                    color: #000;
                }

                &::after {
                    top: 50%;
                    right: -.0625rem;
                    margin-top: -.5rem;
                    @include triangle(left, .5rem, #fff);
                }

                &::before {
                    top: 50%;
                    right: -.0625rem;
                    margin-top: -.5625rem;
                    @include triangle(left, .5625rem, darken($color-border, 10%));
                }
            }

            a {
                color: #666;
                display: block;
                padding-left: 2.5rem;
                line-height: 2.375;
            }

            i {
                display: none;
            }
        }
    }

    @media screen and (max-width:47.9375rem) {
        display: flex;
        border-bottom: .0625rem solid $color-border;
        height: 3rem;

        li {
            height: 3rem;
            line-height: 3rem;
            flex: 1;
            text-align: center;

            &.active {
                position: relative;
                font-weight: $font-weight-medium;

                a {
                    color: #000;
                }

                &::after {
                    left: 50%;
                    bottom: 0rem;
                    margin-left: -.5rem;
                    @include triangle(up, .5rem, #fff);
                }

                &::before {
                    left: 50%;
                    bottom: 0;
                    margin-left: -.5625rem;
                    @include triangle(up, .5625rem, darken($color-border, 10%));
                }
            }

            a {
                font-size: 1rem;
                line-height: 3rem;
                display: block;
                color: #666;
            }

            span {
                display: none;
            }
        }
    }
}

.admin-settings-content {
    padding: 3rem !important;

    .admin-content-title {
        display: none;
    }

    table {
        margin-bottom: 2rem;

        &:last-child {
            margin-bottom: 0;
        }

        td {
            font-size: .875rem;

            &:first-child {
                width: 13rem;
            }
        }

        th,
        td {
            padding: .25rem 0;

            &:last-child {
                overflow-wrap: break-word;
                word-wrap: break-word;
                word-break: break-word;
                hyphens: none;
            }
        }

        thead {
            th {
                border-top: 0;
                font-weight: $font-weight-medium;
            }
        }
    }

    .spin-icon {
        position: relative;
        top: .25rem;
    }

    @media screen and (max-width:47.9375rem) {
        padding: 1rem !important;

        table {
            tr {
                display: block;
                padding: .5rem 0 !important;
                border-bottom: .0625rem solid #ddd !important;
            }

            td, th {
                display: block;
                width: 100% !important;
                padding: 0 !important;
                border: none !important;

                &:first-child {
                    font-weight: $font-weight-medium;
                }
            }
        }

        .admin-content-title {
            display: block;
        }
    }
}
