.bf-settings {
    padding: 5.5rem 3rem 2rem;
    max-width: 48rem;
    width: 100%;

    @media (max-width:90rem) {
        margin: auto;
    }

    @media (max-width:48rem) {
        padding: 1rem;
    }

    .form-group {
        > label {
            margin-bottom: .25rem;
            font-weight: $fw-medium;
        }
    }

    .btn-main {
        width: 10rem;

        @media screen and (max-width:48rem) {
            width: 100%;
        }
    }
}


.bf-settings-application {
    .item-blog {
        background: #fafafa;
        border-radius: 3px;
        border: 1px solid #eee;
        margin-bottom: 2rem;

        &-head {
            padding: 1rem;
            border-bottom: 1px solid #eee;

            h4 {
                margin: 0;
                line-height: 2.5rem;
            }
        }

        &-body {
            padding: 1rem;
        }

        &-info {
            @include unstyled(ul);

            span {
                min-width: 7.5rem;
                display: inline-block;

                &:first-child {
                    font-weight: 500;
                }
            }
        }
    }
}


.bf-settings-about {
    table {
        margin-bottom: 2rem;

        &:last-child {
            margin-bottom: 0;
        }

        td {
            font-size: .875rem;

            &:first-child {
                width: 13rem;
            }
        }

        th,
        td {
            padding: .25rem 0;

            &:last-child {
                overflow-wrap: break-word;
                word-wrap: break-word;
                word-break: break-word;
                hyphens: none;
            }
        }

        thead {
            th {
                border-top: 0;
                font-weight: $fw-medium;
            }
        }
    }

    @media screen and (max-width:47.9375rem) {
        table {
            tr {
                display: block;
                padding: .5rem 0 !important;
                border-bottom: .0625rem solid #ddd !important;
            }

            td, th {
                display: block;
                width: 100% !important;
                padding: 0 !important;
                border: none !important;

                &:first-child {
                    font-weight: $fw-medium;
                }
            }
        }

        .admin-content-title {
            display: block;
        }
    }
}
