@page
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = Localizer["contact"];
}
<style>
    .modal-body .row {
        line-height: 2.5em;
        border-bottom: 1px solid #efefef;
    }
    .card-contact {
        margin-bottom: 10px;
    }
    .btn-group{
        margin-top: 15px;
    }
    .form-group-label a {
        float: right;
        color: red;
    }
</style>
<div class="bf-main">
    <partial name="~/Pages/Admin/Shared/_Notifybar.cshtml" />
    <div id="app" class="bf-body" style="display:none">
        <div class="bf-content">
            <label class="form-group-label">@Localizer["contact"]</label>

            <div class="row">
                <div v-for="(item, index) in contacts" class="col-md-6 card-contact">
                    <div class="card">
                        <div class="card-body">
                            <div class="form-group-label">
                                {{getDate(item.dateNotified)}} / {{item.notifier.split("|")[0]}}
                                <a href="#" v-on:click="remove(item.id)"><i class="fa fa-times"></i></a>
                            </div>
                            <div class="email">
                                <a :href="'mailto:'+item.notifier.split('|')[1]+''">{{ item.notifier.split('|')[1] }}</a>
                            </div>
                            <hr />
                            {{ item.content }}
                        </div>
                    </div>                  
                </div>
            </div>

            <div v-if="contacts && contacts.length == 0" class="bf-list-empty">
                @Localizer["not-found"]!
            </div>

            <!-- Pagination -->
            <ul v-if="contacts && contacts.length > 0" class="bf-pagination d-flex">
                <li v-if="pager.showOlder" class="bf-pagination-item">
                    <a class="bf-pagination-link" title="older" :href="pagelink('older')">
                        <i class="bf-pagination-icon fa fa-chevron-left"></i>
                    </a>
                </li>
                <li v-if="pager.showNewer" class="bf-pagination-item">
                    <a class="bf-pagination-link" title="newer" :href="pagelink('newer')">
                        <i class="bf-pagination-icon fa fa-chevron-right"></i>
                    </a>
                </li>
                <li class="bf-pagination-item">
                    <span class="bf-pagination-count">
                        {{ cntFrom }}-{{ cntTo }} out of {{ pager.total }}
                    </span>
                </li>
            </ul>
            <!--/Pagination -->
        </div>
    </div>
</div>

@section Scripts{
    <script>
        new Vue({
            el: "#app",
            data: {
                contacts: [],
                pager: {},
                page: 1,
                cntFrom: 0,
                cntTo: 0
            },
            methods: {
                load: function (page) {
                    axios.get(webRoot + 'api/notifications/contact?page=' + page)
                        .then(response => {
                            this.contacts = response.data.notifications;
                            this.pager = response.data.pager;

                            this.cntFrom = this.pager.currentPage == 1 ? 1 : (this.pager.currentPage - 1) * this.pager.itemsPerPage + 1;
                            this.cntTo = this.pager.currentPage * this.pager.itemsPerPage < this.pager.total ? this.pager.currentPage * this.pager.itemsPerPage : this.pager.total;
                            $('#app').fadeIn();
                        })
                        .catch(function (error) { toastr.error(error); });
                },
                remove: function (id) {
                    var result = confirm("Please confirm removing this message");
                    if (result) {
                        axios.delete(webRoot + 'api/notifications/remove/' + id)
                            .then(response => {
                                toastr.success('Removed');
                                setTimeout(function () { location.reload(); }, 1000);
                            })
                            .catch(function (error) { toastr.error(error); });
                    }
                    return false;
                }
            },
            beforeMount() {
                this.load(1)
            }
        })
    </script>
}