@using Blogifier.Core.Common
@using Blogifier.Core.Data.Models
@model BlogCategoryModel
@{
    var avatar = Model.Profile.Avatar == null ? ApplicationSettings.ProfileAvatar : Model.Profile.Avatar;
    Model.Pager.RouteValue = Model.Profile.Slug + "/" + Model.Category.Slug + "/";
}
<main class="page-category">
    <header class="cover" style="background-image: url('@Model.CoverImg')">
        <div class="cover-title container">
            <h2>@Model.Category.Title</h2>
            <p class="text-uppercase">Category</p>
        </div>
    </header>

    <div class="blog-content container">
        @Html.Partial("~/Views/Blogifier/Blog/Standard12/_Shared/_Loop.cshtml", Model.Posts)
        @Html.Partial("~/Views/Blogifier/Blog/Standard12/_Shared/_Pager.cshtml", Model.Pager)
    </div>
</main>