@using Blogifier.Core.Common
@using Blogifier.Core.Data.Models
@model BlogPostsModel

<section class="cover" style="background-image: url('@Model.CoverImg')">
    <div class="cover-title container">
        <h1>@ApplicationSettings.Title</h1>
        <p>@ApplicationSettings.Description</p>
    </div>
</section>

<main class="blog-content container">
    @Html.Partial("~/Views/Blogifier/Blog/Standard12/_Shared/_Loop.cshtml", Model.Posts)
    @if (Model != null)
    {
        <ul class="pagination justify-content-center">
            @if (Model.Pager.ShowOlder)
                {
                <li class="page-item prev"><a href="~/@ApplicationSettings.BlogRoute@Model.Pager.Older"><i class="fa fa-angle-left"></i> <span>Older Posts</span></a></li>
            }
            @if (Model.Pager.ShowNewer)
                {
                <li class="page-item next"><a href="~/@ApplicationSettings.BlogRoute@Model.Pager.Newer"><span>Newer Posts</span> <i class="fa fa-angle-right"></i></a></li>
            }
        </ul>
    }
</main>