.btn {
  text-transform: uppercase;
  font-size: .875rem;
  font-weight: 500;
  padding: 0 1.5rem;
  height: 2.5rem;
  line-height: 2.5rem;
  display: inline-block;
  cursor: pointer;

  &-sm {
    font-size: .75rem;
    padding: 0 1rem;
    height: 2.25rem;
    line-height: 2.25rem;
  }

  &-lg {
    padding: 0 1.25rem;
    height: 3rem;
    line-height: 3rem;
  }

  &-rounded {
    border-radius: 5rem;
  }

  &-unstyled {
    border: 0;
    background: none;
    cursor: pointer;
  }

  &-icon {
    padding: 0;
    width: 3rem;
  }

  & + .dropdown-toggle-split {
    padding-right: .75rem;
    padding-left: .75rem;
    font-size: 1rem;
    border-left: 1px solid rgba(#000000, .2);

    &::after {
      position: relative;
    }
  }

  .fa {
    font-size: .875rem;
  }

  &.disabled,
  &:disabled {
    cursor: default;
  }
}
// BTN PRIMARY

.btn-primary {
  @include btn($cl-bf);
}

.btn-outline-primary {
  @include btn-outline($cl-bf);
}
// BTN SECONDARY

.btn-secondary {
  @include btn($cl-gray);
}

.btn-outline-secondary {
  @include btn-outline($cl-gray);
}

.btn-outline-default {
  background: none;
  border-color: #ddd;
  box-shadow: none !important;

  &:hover {
    background: #ddd;
  }
}


// temporary fix
.input-group-btn:not(:first-child)>.btn, .input-group-btn:not(:first-child)>.btn-group {
     margin-left:-1px; 
}
