.bf-list {
  @include unstyled(ul);

  .custom-control {
    display: block;
    padding: 0;
    margin: 0;
    min-width: 1rem;
    min-height: 1rem;
    width: 1rem;
    height: 1rem;

    &-indicator {
      top: 0;
      left: 0;
    }
  }

  &-item {
    position: relative;
    height: 3rem;
    padding: 0 2rem;
    border-bottom: 1px solid #f8f8f8;

    &:hover {
      background-color: #fafafa;
    }
    @media screen and (max-width: 991px) {
      padding: 0 1rem;
    }
  }

  &-empty {
    padding: 2rem;
  }

  &-item-link {
    color: #666;
    height: 3rem;
    line-height: 3rem;
    display: block;
    width: 100%;
    font-size: .875rem;
    font-weight: 500;
    @include ellipsis;

    &:focus {
      outline: none;
    }

    &:focus,
    &:hover {
      color: $cl-bf;
    }
  }


  &-item-name {
    color: #666;
    height: 3rem;
    line-height: 3rem;
    display: block;
    width: 100%;
    font-size: .875rem;
    font-weight: 500;
    @include ellipsis;
  }

  &-item-status {
    font-size: .625rem;
    padding-left: 1rem;

    &-draft {
      color: #ff9b00;
    }

    &-published {
      color: #00c748;
    }
  }
  &-item-text,
  &-item-date {
    display: block;
    color: #666;
    font-size: .75rem;
    text-transform: uppercase;
    white-space: nowrap;
  }

  &-item-favorite {
    font-size: .875rem;
    cursor: pointer;
    padding: 0;

    .fa-star-o {
      color: #888;
    }

    .fa-star {
      color: #ffbe00;
    }

    &:focus,
    &:hover {
      outline: none;

      .fa-star-o {
        color: #ffbe00;
      }

      .fa-star {
        color: #888;
      }
    }
  }

  &-item-show {
    font-size: .875rem;
    color: #888;

    &:focus {
      outline: none;
    }

    &:focus,
    &:hover {
      color: $cl-bf;
    }
  }
  //
}
