.loading {
  text-align: center;
  padding: 1.25rem 0;
  @include clearfix;
  display: none;

  &-sm {
    padding: .875rem 0;
  }

  > div {
    float: left;
    width: .5rem;
    height: .5rem;
    margin: 0 .125rem;
    border-radius: 100%;
    background-color: $cl-bf;
    -webkit-animation: loading 1s infinite ease-in-out both;
    animation: loading 1s infinite ease-in-out both;
  }

  &-white {
    > div {
      background: #fff;
    }
  }

  .loading-dot-1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
  }

  .loading-dot-2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
  }
}
@-webkit-keyframes loading {
  0%,
  100%,
  80% {
    -webkit-transform: scale(0);
  }

  40% {
    -webkit-transform: scale(1.0);
  }
}
@keyframes loading {
  0%,
  100%,
  80% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  40% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}
