.bf-pagination {
  @include unstyled(ul);
  padding: 2rem;

  &-item {}

  &-link {}

  &-icon {
    width: 1rem;
    height: 1rem;
    display: inline-block;
    margin-right: 1rem;
  }
  @media screen and (max-width: 991px) {
    padding: 1rem;
  }
}
