<header>
    <div id="logo"><img src="~/admin/img/logo/white/logo.png">@Model.Blog.Title</div>
    <nav>
        <ul>
            <li><a href="/">Home</a>
            <li><a href="~/blog">Blog</a>
            <li><a href="~/admin">Admin</a>
        </ul>
    </nav>
</header>