.widget-newsletter {

    h3 {
    }

    p {
        margin-bottom: 2rem;
    }

    form {
        position: relative;
        border-radius: 6rem;
        overflow: hidden;
    }

    input {
        background: #eee;
        width: 100%;
        border: none;
        border-radius: 10rem;
        color: #000;
        outline: none !important;
        height: 3.25rem;
        padding: 0 1.5rem;


        &::placeholder {
            font-size: .875rem;
            font-weight: 400;
        }

        &:focus {
            outline: none !important;
            box-shadow: none;
        }
    }

    button {
        background-color: none;
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        border: 0;
        width: 7.5rem;
        color: #fff;
        background: $color-theme;
        text-transform: uppercase;
        font-size: .875rem;
        border-left: 1px solid #eee;
    }
}
