body {
    font-family: $font-family-base;
    color: #666;
    cursor: default;
    background-color: #fff;
    overflow-y: scroll;
}

.container {
    width: 100%;
    max-width: 75rem;
}
.blog-content {
    min-height:100%;
}