body {
    font-family: $font-family-base;
    font-size:1.25rem;
    color: #333;
    cursor: default;
    background-color: #fafafa;
    overflow-y: scroll;
}

.container {
    width: 100%;
    max-width: 53.75rem;
}

.wrapper {
    min-height: 100%;
    margin-bottom: -5rem;
}

.wrapper:after {
    content: "";
    display: block;
    height: 5rem;
}
