body {
    font-family: $font-family-base;
    color: #666;
    cursor: default;
    background-color: #fff;
    overflow-y: scroll;
}

.container {
    width: 100%;
    max-width: 75rem;
}
.blog-content {
    min-height:100%;
}

.pagination {
    background:#000;
    margin-bottom: 0;
    padding-top: 4rem;
    padding-bottom: 4rem;
    border-radius:0;
}