<!DOCTYPE html>
<html lang="en">
@Html.Partial("~/Views/Blogifier/Admin/Standard/_Shared/_Head.cshtml")
<body>
    @RenderBody()
    @Html.Partial("~/Views/Blogifier/Admin/Standard/_Shared/_Foot.cshtml")
    @RenderSection("Scripts", false)
</body>
</html>
