<!DOCTYPE html>
<html lang="en">
<partial name="../includes/head.cshtml" />

<body>
    <partial name="../includes/header.cshtml" />
    @RenderBody()
    <partial name="../includes/footer.cshtml" />
    <partial name="../includes/foot.cshtml" />
</body>

</html>
