body {
    background: #2C45A3;
    background: -webkit-gradient(linear, left top, right top, color-stop(30%, #2c45a3), to(#355bc5));
    background: -webkit-linear-gradient(left, #2c45a3 30%, #355bc5 100%);
    background: -o-linear-gradient(left, #2c45a3 30%, #355bc5 100%);
    background: linear-gradient(90deg, #2c45a3 30%, #355bc5 100%);
    font-family: $font-family-base;
    font-size: 1rem;
    cursor: default;
    overflow-y: scroll;
    color: #fff;
}
 