.post {
    position: relative;
    margin-bottom: 5rem;

    &-more {
        font-size: .875rem;
        border: 1px solid #ddd;
        padding: .65rem 0;
        text-transform: uppercase;
        display: block;
        width: 8rem;
        text-align: center;
        margin-top: 2rem;

        &:hover {
            border-color: $color-theme;
        }
    }

    .container {
        width: 1080px;
    }


    &-title {
        font-family: $font-heading;
        font-size: 2.5rem;
        line-height: 1.1;
        margin-bottom: 2rem;

        a {
            color: #333;
            display: block;

            &:hover {
                color: $color-theme;
            }
        }
    }

    .post-description {
        font-size: 1.25rem;
        font-weight: 300;

        p {
            margin-bottom: 1rem;
        }
    }


    .post-content {
        font-size: 1rem;
        font-weight: 300;

        p {
            margin-bottom: 1rem;
        }
    }


    &:last-child {
        margin-bottom: 0;
    }

    .post-featrued-label {
        position: absolute;
        right: 5rem;
        top: 0;
        display: block;

        i {
            display: block;
            background: gold;
            width: 2px;
            width: 100%;
            text-align: center;
            padding: 1rem 0;
        }

        &::after {
            content: "";
            -webkit-box-sizing: content-box;
            -moz-box-sizing: content-box;
            box-sizing: content-box;
            width: 0;
            height: 20px;
            border: 20px solid gold;
            border-top: 0 solid;
            border-bottom: 20px solid transparent;
            font: normal 100%/normal Arial, Helvetica, sans-serif;
            color: rgba(0,0,0,1);
            -o-text-overflow: clip;
            text-overflow: clip;
            margin-top: -5px;
            display: block;
        }
    }





    .post-meta {
        margin-bottom: 1.25rem;


        &-author {

            &-avatar {
                border-radius: 100%;
                width: 2.25rem;
                height: 2.25rem;
                margin-right: .75rem;
                transition: all ease .25s;
                border: 1px solid #ddd;

                &:hover {
                    opacity: .75;
                }
            }

            &-name {
                color: #000;
                font-size: .875rem;
                transition: all ease .25s;
                margin-bottom: .5rem;
                font-weight: 500;

                &:hover {
                    color: #555;
                }
            }


            &:hover {
                color: #555;
            }
        }

        &-category {
            color: #333;
            text-transform: uppercase;
            margin-bottom: .5rem;

            a {
                color: #333;
                font-weight: 500;
                transition: all ease .25s;
                font-size: .875rem;

                &:hover {
                    color: #555;
                }
            }
        }

        &-time {
            padding-top: 3rem;
            border-right: 1px solid #eee;
            height: 100%;
            display: block;
            text-transform: uppercase;
            font-size: .75rem;
            font-weight: 500;
            color: #999;
            position: relative;
            padding-right: 1rem;

            &::after {
                content: "";
                width: 1rem;
                height: 1rem;
                border-radius: 100%;
                position: absolute;
                right: -.5rem;
                top: 3rem;
                border: 1px solid #ddd;
                background: #fff;
            }
        }
    }
}
