.page-search {
    background:#444;
    padding: 4rem 0;
    margin-bottom:4rem;
}

.page-search-title {
    margin-bottom: 5rem;
    font-size: 1.5rem;
    color: #fff;
    margin: 0;

    .fa {
        margin-right: 1rem;
    }
}
