.post-single {
    .post-cover {
        margin-bottom:5rem;
        width: 100%;
        overflow: hidden;
        max-height: 400px;
        position: relative;
        background: #000;

        &-img {
            opacity: .5;
            min-width: 100%;
        }
    }

    .post-header {
        padding-bottom: 4rem;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        color: #fff;
    }

    .post-title {
        font-family: $font-heading;
        margin-top: 1rem;
        font-size: 2.5rem;
        line-height: 1.1;
        margin-bottom: 2rem;
        font-weight:400;
        color: #fff;

        a {
            color: #fff;
            display: block;

            &:hover {
                color: $color-theme;
            }
        }
    }

    .post-time {
        text-transform: uppercase;
        font-size: .75rem;
        opacity: .7;
    }

    .post-category {
        opacity: .7;
        text-transform: uppercase;
        font-size: .75rem;

        a {
            color: #fff;

            &:hover {
                color: $color-theme;
            }
        }
    }

    .post-content {
        font-size:1.25rem;
        font-weight:400;
    }




    .post-author {

        &-avatar {
            border-radius: 100%;
            width: 2.25rem;
            height: 2.25rem;
            margin-right: .75rem;
            transition: all ease .25s;
            border: 1px solid #ddd;

            &:hover {
                opacity: .75;
            }
        }

        &-name {
            color: #fff;
            font-size: .875rem;
            transition: all ease .25s;
            margin-bottom: .5rem;
            font-weight: 500;

            &:hover {
                color: $color-theme;
            }
        }


        &:hover {
            color: $color-theme;
        }
    }
}
