// gradient
@mixin linear-gradient($top-color, $bottom-color, $opacity) {
  background: $top-color;
  background: -moz-linear-gradient(top, rgba($top-color, $opacity) 0%, rgba($bottom-color, $opacity) 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba($top-color, $opacity) 0%, rgba($bottom-color, $opacity) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba($top-color, $opacity) 0%, rgba($bottom-color, $opacity) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
// no select
@mixin noselect {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
// font-awesome
@mixin icon($code) {
  content: $code;
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
// unstyled
@mixin unstyled($type) {
  @if $type == button {
    background: none;
    border: none;
    padding: 0;
    outline: none !important;
  }
  @if $type == ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
}
// clearfix
@mixin clearfix() {
  &:after,
  &:before {
    content: "";
    display: table;
  }

  &:after {
    clear: both;
  }
}
// box-sizing
@mixin box-sizing($box-sizing) {
  -webkit-box-sizing: $box-sizing;
  -moz-box-sizing: $box-sizing;
  box-sizing: $box-sizing;
}
// border-radius
@mixin border-radius($size...) {
  @if length($size) == 1 {
    border-radius: $size;
  } @else {
    @include custom-border-radius($size...);
  }
}
// custom-border-radius
@mixin custom-border-radius($topLeft: 0, $topRight: 0, $bottomRight: 0, $bottomLeft: 0) {
  @if $topLeft != 0 {
    border-top-left-radius: $topLeft;
  }
  @if $topRight != 0 {
    border-top-right-radius: $topRight;
  }
  @if $bottomRight != 0 {
    border-bottom-right-radius: $bottomRight;
  }
  @if $bottomLeft != 0 {
    border-bottom-left-radius: $bottomLeft;
  }
}
//
@mixin triangle($size, $color, $direction) {
  content: "";
  position: absolute;
  height: 0;
  width: 0;
  border-color: transparent;
  border-style: solid;
  border-width: $size / 2;
  @if $direction == up {
    border-bottom-color: $color;
  } @else
  if $direction == right {
    border-left-color: $color;
  } @else
  if $direction == down {
    border-top-color: $color;
  } @else
  if $direction == left {
    border-right-color: $color;
  }
}
//
@mixin ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
//
@mixin btn($color) {
  background-color: $color;
  border-color: $color;

  &:hover {
    background-color: darken($color, 7);
    border-color: darken($color, 7);
  }

  &:not([disabled]):not(.disabled).active,
  &:not([disabled]):not(.disabled):active,
  .show > &.dropdown-toggle {
    background-color: darken($color, 7);
    border-color: darken($color, 7);
    box-shadow: 0 0 0 .2rem rgba($color,.5);
  }

  &.focus,
  &:focus {
    box-shadow: 0 0 0 .2rem rgba($color,.5);
  }

  &.disabled,
  &:disabled {
    background-color: $color;
    border-color: $color;
  }
}
//
@mixin btn-outline($color) {
  color: $color;
  border-color: $color;

  &:hover {
    color: #fff;
    background-color: $color;
    border-color: $color;
  }

  &.focus,
  &:focus {
    box-shadow: 0 0 0 .2rem rgba($color,.5);
  }

  &:not([disabled]):not(.disabled).active,
  &:not([disabled]):not(.disabled):active,
  .show > &.dropdown-toggle {
    background-color: darken($color, 7);
    border-color: darken($color, 7);
    box-shadow: none;
  }

  &.disabled,
  &:disabled {
    color: $color;
    background-color: transparent;
    border-color: $color;
  }
}
