@{
  Layout = "layouts/_base.cshtml";
}

@section HeadMeta{
  <title>Error 404</title>
  <meta name="description" content="Error page">
}

<main class="container">
  <h1>Page Not Found</h1>
</main>


