@using Blogifier.Shared.Resources
@using Blogifier.Shared
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<Resource> _localizer
@{
    Layout = "layouts/_layout.cshtml";
}

<main class="container">
    <partial name="components/post/featured.cshtml" />

    <!--
        TODO:
        Custom fields:
        - view style: view-grid (default) or view-list
     -->
    <partial name="components/post/view-grid.cshtml" />
    <!-- <partial name="components/post/view-list.cshtml" /> -->

    <partial name="components/pager.cshtml" />

    <!--
        TODO:
        Custom Fields
        - on (default) or off
        - Title (Popular)
        - How many items
    -->
    <partial name="components/post/popular.cshtml" />
</main>
