@using Blogifier.Shared.Resources
@using Blogifier.Shared
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<Resource> _localizer
@{
    Layout = "layouts/_layout.cshtml";
}

<main class="container">
    <partial name="components/post/featured.cshtml" />
    <!--
        TODO:
        add custom field for view-grid or view-list.
        from the customize page users should be able to choose which view they want.
        we have a view-grid.cshtml and view-list.cshtml

        default is view-grid.cshtml
     -->
    <partial name="components/post/view-grid.cshtml" />
    <partial name="components/pager.cshtml" />
</main>
