@using Blogifier.Shared.Resources
@using Blogifier.Shared
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<Resource> _localizer
@{
    Layout = "~/Views/Themes/Standard/layouts/_layout.cshtml";
}

<main class="container">
    <partial name="components/featured.cshtml" />
    <partial name="components/posts.cshtml" />
    <partial name="components/pager.cshtml" />
</main>