@using Blogifier.Shared.Resources
@using Blogifier.Shared
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<Resource> _localizer
@{
    Layout = "layouts/_layout.cshtml";
}

<main class="container">
    <partial name="post/featured.cshtml" />
    <!--
        TODO:
        Custom fields:
        - Post list style options:
            1. view-grid (default)
            2. view-list
     -->
    <partial name="post/view-grid.cshtml" />
    <!-- <partial name="post/view-list.cshtml" /> -->

    <partial name="components/pager.cshtml" />

    <!--
        TODO:
        Custom Fields:
        popular
        - on (default) or off
        - Title (default: Popular)
        - How many items
    -->
    <partial name="post/popular.cshtml" />
</main>
