@using Blogifier.Shared.Resources
@using Blogifier.Shared
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<Resource> _localizer
@{
    Layout = "layouts/_layout.cshtml";
}

<main class="container">
    <partial name="components/post/featured.cshtml" />
    <partial name="components/post/list.cshtml" />
    <partial name="components/pager.cshtml" />
</main>
