@model IEnumerable<BlogPost>
<div class="list-group">
    @foreach (var post in Model)
    {
    <a href="~/posts/@post.Slug" class="list-group-item list-group-item-action" title="">@post.Title</a>
    }
</div>