.btn {
    &-brand {
        @include makebutton(#fff, #fff, $color-brand, $color-brand-hover);
        border: 0;
    }

    &-gray {
        @include makebutton(#fff, #fff, $color-gray, $color-gray-dark);
        border: 0;
    }


    &-light {
        @include makebutton($color-gray, $color-gray, $color-gray-lighter, #e4e8ee);
        border: 0;
    }
}


.custom-control-input:checked ~ .custom-control-label::before {
    border-color: $color-brand;
    background-color: $color-brand;
}

.custom-control-input:focus ~ .custom-control-label::before {
    box-shadow: 0 0 0 0.2rem rgba($color-brand,.25);
}

.custom-control-input:not(:disabled):active ~ .custom-control-label::before {
    color: #fff;
    background-color: #e8deff;
    border-color: #e8deff;
}

.custom-control-input:focus:not(:checked) ~ .custom-control-label::before {
    border-color: $color-brand;
}
