.dropdown {
    &-menu {
        border: 0;
        box-shadow: 0 0 10rem rgba(#000, .3);
    }
}

.form-control:disabled, .form-control[readonly] {
    background:none;
    cursor:default;
}


.form-group {
    font-size: .875rem;
    margin-bottom: 1rem;
}

.input-group-append {
    .btn {
        font-size: .875rem;
        text-transform: uppercase;
    }
}

.form-control {
    font-size: .875rem;
}

.form-control-label {
    font-weight: 500;
    font-size: .876rem;
    line-height: 1;
}
