.tooltip {
    &[x-placement=bottom] {
        margin-top: -2px;
    }

    &-inner {
        background: darken($color-brand, 10%);
        font-size: .625rem;
        text-transform: uppercase;
        letter-spacing: 1px;
    }

    .arrow {
        // for now we remove this arrow to see if it fits our design.
        display: none !important;

        &::before, &::after {
            border-bottom-color: darken($color-brand, 10%);
        }
    }
}
