.mce-tinymce.mce-container.mce-panel {
    border-radius: .25rem;
    overflow: hidden;
    border: .0625rem solid #ddd !important;
}

.mce-toolbar-grp {
    padding: 0 !important;
    border-bottom: .0625rem solid #ddd !important;
}

.mce-toolbar * {
    margin: 0 !important;
    padding: 0 !important;
}

.mce-btn:hover, .mce-btn:focus {
    border: none !important;
}

.mce-colorbutton .mce-preview {
    left: .8125rem !important;
    top: auto !important;
    bottom: .75rem !important;
    width: 0.9375rem !important;
}

#mceu_0-open {
    .mce-caret {
        position: relative;
        top: .5625rem;
    }
}

.mce-toolbar-grp .mce-flow-layout-item {
    border: none !important;
}

.mce-toolbar {
    .mce-btn {
        border: none !important;

        button:first-child {
            border: none !important;
            padding: .75rem !important;
            cursor: pointer;
        }
    }

    .mce-open {
        padding: .75rem .125rem !important;
        margin-left: -.3125rem !important;



        i {
            margin-top: .5rem !important;
        }
    }
}

@media (max-width:50rem) {

    .mce-toolbar {
        .mce-btn {
            button:first-child {
                padding: .5rem !important;
            }
        }

        .mce-open {
            padding: .5rem .125rem !important;
        }
    }

    .mce-colorbutton .mce-preview {
        left: .625rem !important;
        bottom: .625rem !important;
        width: .8125rem !important;
    }
}

@media (max-width:43.75rem) {
    #mceu_22 {
        display: none !important;
    }
}

@media (max-width:36.25rem) {

    #mceu_21 {
        display: none !important;
    }

    .mce-toolbar {
        .mce-btn {
            button:first-child {
                padding: .5rem .375rem !important;
            }
        }

        .mce-open {
            padding: .5rem .125rem !important;
        }
    }

    .mce-colorbutton .mce-preview {
        left: .5rem !important;
        bottom: .5rem !important;
        width: .8125rem !important;
    }
}

@media (max-width:26.875rem) {
    #mceu_14 {
        display: none !important;
    }
}

@media (max-width:25rem) {
    #mceu_10 {
        display: none !important;
    }
}

@media (max-width:35.5625rem) {
    #mceu_15 {
        display: none !important;
    }
}
