.admin-toolbar {
    margin-bottom: 1rem;
    position: relative;

    .btn-group {
        .btn {
            &:focus {
                box-shadow: none !important;
            }
        }
    }

    .admin-toolbar-mutlicheck {
        transition: opacity ease .4s;
        opacity:0;
        visibility:hidden;

        &.visible{
            opacity:1;
            visibility:visible;
        }
    }
}
