@model Blogifier.Core.Data.Models.AdminBaseModel
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Title</title>
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    <link href="~/Embedded/css/green.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="row">
            <img src="~/Embedded/images/1500x500.jpg" style="width: 100%; height: 150px" />
        </div>
        <div class="row">
            <div class="col-lg-3">
                <h3>Navigation</h3>
                <ul>
                    <li><a href="~/">Home</a></li>
                    <li><a href="~/admin">Admin</a></li>
                    <li><a href="~/admin/profile">Profile</a></li>
                    <li><a href="~/admin/syndication">Tools</a></li>
                    <li><a href="~/admin/about">About</a></li>
                </ul>
            </div>
            <div class="col-lg-9">
                @RenderBody()
            </div>
        </div>
        <div class="row">
            Footer here (Version: @Blogifier.Core.Common.ApplicationSettings.Version)
        </div>
    </div>
    <script src="~/Embedded/js/site.js"></script>
</body>
</html>