<!DOCTYPE html>
<html lang="en">
<head>
    <title>Title</title>
    <link href="~/Blogifier/Content/css/admin.css" rel="stylesheet">
</head>
<body>
    <div class="container">
        <div class="row">
            <div>
                Logo img: <img src="~/Blogifier/Content/images/zip.png" width="42" />
            </div>
            <div class="col-lg-12">
                @RenderBody()
            </div>
            <div>
                Footer here
            </div>
        </div>
    </div>
    <script src="~/Blogifier/Content/scripts/site.js"></script>
</body>
</html>