<!DOCTYPE html>
<html lang="en">
<head>
    <!-- META -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- CSS -->
    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono|Ubuntu:300,400,500,700" rel="stylesheet">
    <link href="~/Embedded/admin/css/toastr.min.css" rel="stylesheet" />
    <link href="~/Embedded/admin/css/styles.css" rel="stylesheet">

    <!-- TITLE -->
    <title>Admin</title>
    <meta name="description" content="Blogifier">
</head>

<body>

    <div class="app">
        <div class="app-header">

            <div class="float-left">
                <div class="blog-info">
                    <a href="~/blog">@Blogifier.Core.Common.ApplicationSettings.Title</a>
                </div>
            </div>

            <div class="dropdown profile-nav float-right">
                <button class="dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"><img src="~/Embedded/admin/img/profile_small.jpg" alt=""><span>John Doe <i class="fa fa-angle-down"></i></span></button>
                <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
                    @if (Model.BlogExists)
                    {
                        <li class="dropdown-item"><a href="~/admin" class="active"><i class="fa fa-align-justify"></i>Posts</a></li>
                    }
                    <li class="dropdown-item"><a href="~/admin/profile"><i class="fa fa-user"></i>Profile</a></li>
                    @if (Model.BlogExists)
                    {
                        <li class="dropdown-item"><a href="~/admin/syndication"><i class="fa fa-cog"></i>Tools</a></li>
                        <li class="dropdown-item"><a href="~/admin/about"><i class="fa fa-info-circle"></i>About</a></li>
                    }
                    <li class="dropdown-item"><a href="" onclick="profileLogOut(); return false;"><i class="fa fa-power-off"></i>Logout</a></li>
                </ul>
            </div>
        </div>

        @RenderBody()

    </div>
    <form method="post" id="frmLogOut" asp-controller="Account" asp-action="Logout" asp-antiforgery="true"></form>

    <script src="~/Embedded/admin/js/jquery-2.2.4.min.js"></script>
    <script src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script>
    <script src="~/Embedded/admin/js/bootstrap.min.js"></script>
    <script src="~/Embedded/admin/js/icheck.min.js"></script>
    <script src="~/Embedded/admin/js/toastr.min.js"></script>
    <script src="~/Embedded/admin/js/custom.js"></script>
    @RenderSection("Scripts", false)
</body>
</html>