@using Blogifier.Core.Common
<div>
    <h2>About</h2>
    <table>
        <tr>
            <th>Name</th>
            <th>Value</th>
        </tr>
        <tr>
            <td>WebRootPath</td>
            <td>@ApplicationSettings.WebRootPath</td>
        </tr>
        <tr>
            <td>ContentRootPath</td>
            <td>@ApplicationSettings.ContentRootPath</td>
        </tr>
        <tr>
            <td>Version</td>
            <td>@ApplicationSettings.Version</td>
        </tr>
        <tr>
            <td>Operating System</td>
            <td>@ApplicationSettings.OSDescription</td>
        </tr>
    </table>
</div>