@using Blogifier.Core.Common
@using Blogifier.Core.Data.Domain
@using Blogifier.Core.Data.Models
@using System.Collections.Generic
@model Blogifier.Core.Data.Models.AdminPostsModel
@{

}
<div>
    <h2>Admin standard theme index page</h2>
    <p>This is a standard admin theme from core package, should look green</p>
    <button onclick="test()" value="Test">Test</button>
</div>
@if (Model.Publications != null)
{
    foreach (var item in Model.Publications)
    {
        <h4>@item.Title</h4>
        <div>@item.Description</div>
    }
}