@using Blogifier.Core.Common
@using Blogifier.Core.Data.Domain
@using System.Collections.Generic
@model List<Publication>
@{

}
<div>
    <h2>Admin standard theme index page</h2>
    <p>This is a standard admin theme from core package, should look green</p>
    <button onclick="test()" value="Test">Test</button>
</div>
@if (Model != null)
{
    foreach (var item in Model)
    {
        <h4>@item.Title</h4>
        <div>@item.Description</div>
    }
}