@using Blogifier.Core.Common
@{
    Layout = "~/Views/Blogifier/Themes/Admin/Standard/_Layout.cshtml";
}
<div>
    <h2>Admin standard theme index page</h2>
    <p>This is a standard admin theme from core package, should look green</p>
    <button onclick="test()" value="Test">Test</button>
</div>
