@model Blogifier.Core.Data.Models.AdminPostsModel

<div class="app-content posts">
    <div class="posts-list">
        <div class="posts-list-header">
            <input type="checkbox"> <button type="button" class="btn btn-block btn-primary">New Post</button>
        </div>
        @if (Model != null && Model.BlogPosts != null)
        {
        <ul>              
            @foreach (var item in Model.BlogPosts)
            {
                if (item.Id == Model.SelectedPost.Id)
                {
                    <li class="active"><input type="checkbox"><a href="~/admin/@item.Slug">@item.Title</a></li>
                }
                else
                {
                    <li><input type="checkbox"><a href="~/admin/@item.Slug">@item.Title</a></li>
                }
            }
        </ul>
        }
    </div>
    <div class="posts-content">
        <div class="posts-content-header clearfix">
            <div class="btn-group float-left" role="group">
                <button type="button" class="btn btn-secondary">Edit</button>
                <button type="button" class="btn btn-secondary">Delete</button>
                <button type="button" class="btn btn-secondary">Publish</button>
            </div>
            <div class="btn-group float-right" role="group">
                <button type="button" class="btn btn-secondary"><i class="fa fa-tags"></i></button>
                <button type="button" class="btn btn-secondary"><i class="fa fa-clock-o"></i></button>
            </div>
        </div>
        <div class="posts-content-body">
            @Html.Raw(Model.SelectedPost.Content)
        </div>
    </div>
</div>