@model Blogifier.Core.Data.Models.AdminPostsModel

<div class="app-content container container-sm pt-5 pb-5">
    <h2 class="page-title">Posts</h2>
    @if (Model != null && Model.BlogPosts != null)
    {
        foreach (var item in Model.BlogPosts)
        {
            <h4>@item.Title</h4>
            <div>@item.Description</div>
        }
    }
    else
    {
        <div>You do not have any posts yet. You can start by creating new post or importing posts from RSS feed.</div>
    }
</div>
