@model Blogifier.Core.Data.Models.AdminProfileModel

<div class="app-content container container-sm pt-5 pb-5">
    <form method="post" asp-controller="Admin" asp-action="Profile" asp-antiforgery="true">
        <h2 class="page-title">Profile</h2>
        <div class="form-group">
            <input type="text" asp-for="Profile.Title" class="form-control" placeholder="Blog Title" />
            <span asp-validation-for="Profile.Title" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input asp-for="Profile.Description" type="text" class="form-control" placeholder="Blog Description" />
            <span asp-validation-for="Profile.Description" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="text" asp-for="Profile.AuthorName" class="form-control" placeholder="Author Name" />
            <span asp-validation-for="Profile.AuthorName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="text" asp-for="Profile.AuthorEmail" class="form-control" placeholder="Email" />
            <span asp-validation-for="Profile.AuthorEmail" class="text-danger"></span>
        </div>

        <div class="form-group">
            <input type="text" asp-for="Profile.Logo" class="form-control" placeholder="Logo" />
            <span asp-validation-for="Profile.Logo" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="text" asp-for="Profile.Avatar" class="form-control" placeholder="Avatar" />
            <span asp-validation-for="Profile.Avatar" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="text" asp-for="Profile.Image" class="form-control" placeholder="Image" />
            <span asp-validation-for="Profile.Image" class="text-danger"></span>
        </div>

        <div class="form-group">
            <select asp-for="Profile.BlogTheme" asp-items="Model.BlogThemes" class="form-control"></select>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-success btn-block">Save</button>
        </div>
        <input asp-for="Profile.Id" hidden="hidden" />
        <input asp-for="Profile.IdentityName" hidden="hidden" />
        <input asp-for="Profile.Slug" hidden="hidden" />
    </form>
</div>
@section Scripts{
    @if (!string.IsNullOrEmpty(ViewBag.Message))
    {
        <script>toastr.success('@ViewBag.Message')</script>
    }
}