@model Blogifier.Core.Data.Models.AdminProfileModel

<div class="app-header clearfix p-4">
    <button type="button" class="app-side-toggle"><span></span><span></span><span></span></button>
    <h3>Profile</h3>
</div>
<div class="app-content p-4">
    <form method="post" asp-controller="Admin" asp-action="Profile" asp-antiforgery="true">
        <div class="form-group">
            <label asp-for="Blog.Title">Title</label>
            <input type="text" asp-for="Blog.Title" class="form-control" />
            <span asp-validation-for="Blog.Title" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Blog.Description">Blog Description</label>
            <input asp-for="Blog.Description" type="text" class="form-control" />
            <span asp-validation-for="Blog.Description" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Blog.Name">Author Name</label>
            <input type="text" asp-for="Blog.Name" class="form-control" />
            <span asp-validation-for="Blog.Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Blog.AuthorEmail">Email</label>
            <input type="text" asp-for="Blog.AuthorEmail" class="form-control" />
            <span asp-validation-for="Blog.AuthorEmail" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Blog.Theme">Theme</label>
            <select asp-for="Blog.Theme" asp-items="Model.AdminThemes" class="form-control"></select>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block">Save</button>
        </div>

        <input asp-for="Blog.Id" hidden="hidden" />
        <input asp-for="Blog.IdentityName" hidden="hidden" />
        <input asp-for="Blog.Slug" hidden="hidden" />
        <input asp-for="Blog.Theme" hidden="hidden" />
    </form>
</div>