@page "/admin/authentication/{action}"
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication

<p> @Action </p>
<RemoteAuthenticatorView Action="@Action" />

@code {
    [Parameter]
    public string Action { get; set; }
}