.app-widget-analytics {
    .custom-select {
        background-color: $color-gray-lighter;
        border-color: $color-gray-lighter;
        width: 7rem;
        margin-left: auto;
        display:block;
        height: 2rem;
        padding: 0 .5rem;
        margin-top:-1rem;
    }
}
