.app-widget-stats {
    margin-bottom: 1rem;

    .col {
        &:not(:last-child) {
            margin-right: 1rem;
        }
    }

    &-item {
        background-color: $color-gray-lighter;
        color: $color-gray;
        padding: 1.25rem 0;
        font-size: 2.5rem;
        font-weight: 300;
        border-radius: .25rem;

        span {
            display: block;
            text-align: center;
            line-height:1;
        }

        &-title {
            font-size: 1rem;
            margin-top:.5rem;
        }
    }
}
