$app_toolbar_height: 2.5rem;

.app-posts {
    padding-right: 3rem;
    margin-bottom: 3rem;
    /* TOOLBAR */
    &-toolbar {
        padding-bottom: 1rem;
        border-bottom: 1px solid $color-gray-lighter;
    }

    &-selectall {
        padding: 0;
        width: $app_toolbar_height;
        height: $app_toolbar_height;

        .custom-control-label {
            width: 100%;
            height: 100%;

            &::before,
            &::after {
                vertical-align: top;
                transform: translate(-50%,-50%);
                position: absolute;
                top: 50%;
                left: 50%;
            }
        }
    }


    &-actions {
        .btn {
            width: $app_toolbar_height;
            padding: 0;
        }

        .bi {
            fill: $color-gray-light;
            vertical-align: top;
            transform: translate(-50%,-50%);
            position: absolute;
            top: 50%;
            left: 50%;


            &-check {
                width: 1.625rem;
                height: 1.625rem;
            }



            &-star-fill, &-archive-fill, &-trash-fill {
                width: .9875rem;
                height: .9875rem;
            }
        }
    }


    &-search {
        background: $color-gray-lighter;
        border-radius: .25rem;
        position: relative;
        height: $app_toolbar_height;
        max-width: 10rem;

        &-input {
            height: $app_toolbar_height;
            border: 0;
            background: none;
            padding: 0 $app_toolbar_height .125rem .875rem;
            max-width: 100%;

            &::placeholder {
                color: $color-gray;
            }
        }

        &-button {
            border: 0;
            background: none;
            position: absolute;
            right: 0;
            top: 0;
            height: $app_toolbar_height;
            width: $app_toolbar_height;
            padding: 0;
            -webkit-appearance: none;

            &:hover, &:focus {
                .app-posts-search-icon {
                    fill: $color-gray-dark;
                }
            }
        }

        &-icon {
            height: 1rem;
            width: 1rem;
            vertical-align: top;
            transform: translate(-50%,-50%);
            position: absolute;
            top: 50%;
            left: 50%;
            fill: $color-gray;
        }
    }

    &-filters {
        .dropdown-toggle {
            height: $app_toolbar_height;
        }
    }
    /* LIST */
    &-list {
        padding: 0;
        margin: 0;
        list-style: none;
    }

    &-item {
        height: 2.5rem;
        border-bottom: 1px solid $color-gray-lighter;

        &:hover {
            background: #fafafa;
        }

        &-link {
            font-size: 1rem;
            font-weight: 500;
            color: $color-gray-dark;
            flex: 1;
            line-height: 2.375rem;
            margin-right: 1rem;


            &:hover {
                color: $color-brand;
                text-decoration: none;
            }
        }

        &-select {
            padding: 0;
            width: $app_toolbar_height;
            height: $app_toolbar_height;

            .custom-control-label {
                width: 100%;
                height: 100%;

                &::before,
                &::after {
                    vertical-align: top;
                    transform: translate(-50%,-50%);
                    position: absolute;
                    top: 50%;
                    left: 50%;
                }
            }
        }

        &-external,
        &-status,
        &-featured,
        &-icon {
            display: block;
            width: $app_toolbar_height;
            height: $app_toolbar_height;
            margin: 0 !important;
            position: relative;


            .bi {
                vertical-align: top;
                transform: translate(-50%,-50%);
                position: absolute;
                top: 50%;
                left: 50%;
            }

            &:focus {
                outline: none !important;
            }
        }

        &-date {
            color: $color-gray-light;
            text-transform: uppercase;
            font-size: .75rem;
            margin-right: 1rem;
        }

        &-status {
            border: 0;
            padding: 0;
            background: none;

            .bi {
                width: .625rem;
                height: .625rem;
            }

            &-published {
                .bi {
                    fill: #00c748;
                }
            }

            &-draft {
                .bi {
                    fill: #ff9b00;
                }
            }
        }

        &-featured {
            border: 0;
            padding: 0;
            background: none;

            &:hover {
                .bi-star {
                    fill: $color-gray-dark;
                }
            }

            .bi {
                width: .875rem;
                height: .875rem;
            }

            .bi-star {
                fill: $color-gray;
            }

            .bi-star-fill {
                fill: #ffae21;
                display: none;
            }

            &.is-featured {
                .bi-star {
                    display: none;
                }

                .bi-star-fill {
                    display: block;
                }
            }
        }

        &-external {
            &:hover {
                .bi {
                    fill: $color-gray-dark;
                }
            }

            .bi {
                width: .875rem;
                height: .875rem;
                fill: $color-gray;
            }
        }
    }

    @media screen and (max-width:767px) {
        .app-posts-item-link {
            font-size: .875rem;
        }

        .app-posts-selectall, .app-posts-item-select {
            width: 1rem;
            margin-right: .5rem;
        }

        .app-posts-item-external, .app-posts-item-status, .app-posts-item-featured, .app-posts-item-icon {
            width: 1.5rem;
        }
    }
}
