.app-dashboard-widgets {
}

.app-widget {
    background: $color-gray-lighter;
    border-radius: .25rem;

    &-body {
        position: relative;
        padding: 1rem;
    }

    &:not(:last-child) {
        margin-bottom: 1rem;
    }
}
