.page-author {
    .cover {
        .cover-title {
            img {
                border-radius: 100%;
                margin-bottom: 1rem;
                width:8rem;
                height:8rem;
            }

            p {
                opacity: .75;
                font-size: .875rem;
                text-transform: capitalize;
                margin-bottom: 0;
            }

            a {
                color: #fff;
            }

            ul {
                @include unstyled();
                margin-top: 1rem;

                li {
                    display: inline-block;
                    margin: 0 .5rem;
                }
            }
        }
    }
}
