.post-list-item {
    border-bottom: 1px solid #eee;
    margin-bottom: 2rem;
    padding-bottom: 2rem;

    &:last-child {
        margin: 0;
        border: none !important;
    }

    .post-list-title {
        margin-bottom: .5rem;

        a {
            font-size: 2rem;
            font-weight: 900;
        }
    }

    .post-list-info {
        font-size: .75rem;
        text-transform: uppercase;
        font-weight: 300;
        letter-spacing: 1px;
        color: #888;
        margin-bottom: .5rem;

        a {
            color: #888;
        }
    }

    .post-list-content {
        margin: 0;
    }
}
