.post-item-wrapper {
    margin-top: 2rem;

    &:nth-child(1), &:nth-child(2), &:nth-child(3) {
        margin-top: 0;
    }
}

.post-item {
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
    height: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 3px;
    overflow: hidden;

    .post-item-cover {
        height: 14rem;
        position: relative;
        overflow: hidden;
        background: #000;
        display: block;

        .post-item-img {
            transform: translate(-50%,-50%);
            position: absolute;
            left: 50%;
            top: 50%;
            font-size: 0;
            max-width: 200%;
        }
    }

    .post-item-info {
        font-size: .75rem;
        color: #aaa;
        text-transform: uppercase;
        margin-bottom: .75rem;

        a {
            color: #aaa;
        }
    }

    .post-item-title {
        font-size: 1.5rem;
        margin-bottom: .75rem;

        a {
            font-weight: 600;
            color: #000;
        }
    }

    .post-item-content {
        padding: 1.5rem;
        display: flex;
        flex: 1;
        flex-direction: column;
    }

    .post-item-text {
        flex: 1;
        height: 100px;
        overflow: hidden;
        margin-bottom: .25rem;
    }

    .post-item-more {
        height: 1.25rem;
    }
}
