.post-item {
    height: 100%;
    border-bottom:1px solid #eee;

    .container, .row, class[col-], img {
        height: 100%;
    }

    .post-item-col {
        padding-bottom:8rem;
        padding-top:8rem;
    } &-img {
        width: 100%;
        background: #000;
        margin-bottom: .5rem;
    }

    &-title {
        font-size: 2rem;
        margin-bottom: .5rem;

        a {
            color: #000;
        }
    }

    &-info {
        margin-bottom: .5rem;
        font-size: .75rem;
    }

    &-content {
        margin: 0;
    }
}
