.post-single {
    padding-top: 25rem;

    &-cover {
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 0;
        height: 30rem;
        margin-bottom: 3rem;
        background-position: center center;
        background-size: cover;

        .container {
            height: 100%;
        }
    }

    &-title {
        padding-bottom: 3rem;
        position: absolute;
        bottom: 0;
        color: #fff;

        h1 {
            font-size: 3rem;
            margin-bottom: 2rem;
            font-weight: 900;
        }
    }

    &-info {
        font-size: 1rem;
        text-transform: uppercase;
        font-weight: 300;
        letter-spacing: 1px;
        color: #fff;
        margin-bottom: 2rem;

        a {
            color: #fff;
        }
    }

    &-content {
        font-size: 1.37500rem;
        font-weight: 300;
        margin-bottom:4rem;
    }
}
