.post-single {
    &-content {
        font-size: 1.37500rem;
        font-weight: 300;
        margin-bottom: 4rem;

        p {
            margin-bottom: 1rem;
        }

        h1, h2, h3, h4, h5 {
            margin-bottom: 0;
            margin-top: 1rem;
        }
    }
}
