@layout SettingsLayout
@page "/admin/settings/advanced/"

<h1 class="app-section-title">Advanced Settings</h1>
<div class="app-section-content">
    <p class="app-section-desc">In the future, we'll have some advanced settings here.</p>
</div>