@layout SettingsLayout
@page "/admin/settings/comments/"
@inject HttpClient _http
@inject IStringLocalizer<Resource> _localizer
@inject IToaster _toaster

<PageTitle Title="@_localizer["comments settings"]" />

<h1 class="section-title">@_localizer["Comments settings"]</h1>
<div class="alert alert-warning">This section is under development.</div>
<div class="section-content">
     <p>
        You can use alternatives,
        <a href="https://blogifier.net/docs/settings/comments/" target="_blank" rel="nofollow">How To Add Disqus Comment System?</a>
     </p>
</div>
