@layout SettingsLayout
@page "/admin/settings/comments/"
@inject HttpClient _http
@inject IStringLocalizer<Resource> _localizer
@inject IToaster _toaster


<h1 class="app-settings-title">Comments Settings</h1>
<p class="app-settings-desc">Blogifier's team is working on a comment system and it will be ready soon.</p>
<div class="app-settings-wrap">
    <h2 class="app-settings-subtitle">Other Options:</h2>
    <a href="https://blogifier.net/guides/users/comments/" target="_blank" rel="nofollow">How to add Disqus to my Blog?</a>
</div>