@layout SettingsLayout
@page "/admin/settings/comments/"
@inject HttpClient _http
@inject IStringLocalizer<Resource> _localizer
@inject IToaster _toaster
<h1 class="section-title">Comments Settings</h1>
<div class="section-desc alert alert-warning">
    <p class="mb-0">In the near future, we'll have a comments system, until then, you can use alternatives.</p>
    <a href="https://blogifier.net/docs/settings/comments/" target="_blank" rel="nofollow">How to add Disqus to my blog?</a>
</div>
<div class="section-content">
    <!-- content goes here -->
</div>