@layout SettingsLayout
@page "/admin/settings/comments/"
@inject HttpClient _http
@inject IStringLocalizer<Resource> _localizer
@inject IToaster _toaster
<h1 class="app-section-title">Comments Settings</h1>
<p class="app-section-desc mb-1">In the near future, we'll have a comments system, until then, you can use alternatives.</p>
<div class="app-section-content">
    <a href="https://blogifier.net/guides/users/comments/" target="_blank" rel="nofollow">How to add Disqus to my blog?</a>
</div>