.bft-widget-category {
  &-item {
    display: inline-block;
    margin-bottom: 0.25rem;
  }
  &-link {
    font-size: 0.875rem;
    font-weight: 500;
    display: inline-block;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    color: #000;
    text-transform: capitalize;
    position: relative;
    background: #fff;
    border: 1px solid #ddd;
    padding: 0.25rem 0.5rem;

    &:hover {
      color: $color;
    }
  }
  &-count {
    position: absolute;
    right: 0;
    font-size: 0.625rem;
    top: 50%;
    transform: translateY(-50%);
  }
}
