.widget-newsletter {
  &-desc {
    font-size: 0.875rem;
    color: #444;
    margin-bottom: 1rem;
  }
  &-input {
    background: none;
    margin-bottom: 1rem;
  }
  &-thanks {
    display: none;
  }
}
