.blog-newsletter {
  &-desc {
    font-size: .875rem;
    color: #444;
    margin-bottom: 1rem;

  }

  .form-control {
    background: none;
    border-radius: 0;
    margin-bottom: 1rem;
  }

  .btn {
    border-radius: 0;
  }
}
