.widget-social {
    ul {
        list-style: none;
    }

    li {
        display: inline-block;
        margin-left: 1rem;
    }

    a {
        color: #b3b3b3;
        display: block;
        border-radius: 10rem;
        font-weight: 500 !important;
        font-size: 1rem;
    }

    i {
        display: inline-block;
        width: 1.25rem;
        font-size: 1.25rem;
        position: relative;
        top: .125rem;
    }

    &-fb {


        &:hover {
            color: $color-fb;
        }
    }

    &-tw {
        &:hover {
            color: $color-tw;
        }
    }

    &-in {
        &:hover {
            color: $color-in;
        }
    }

    &-rss {

        &:hover {
            color: $color-rss;
        }
    }


    &-admin {

        &:hover {
            color: $color-theme;
        }
    }
}
