<table>
    <tr>
        <td><h3>Blazor component</h3></td>
    </tr>
    <tr>
        <td>Current count: @currentCount</td>
    </tr>
    <tr>
        <td><button class="btn btn-primary" @onclick="IncrementCount">Click me</button></td>
    </tr>
</table>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}