html {
  height: 100%;
}
body {
  cursor: default;
  overflow-y: scroll;
  height: 100%;
  display: flex;
  flex-direction: column;

  &::-webkit-scrollbar {
    width: 0.75rem;
  }

  &::-webkit-scrollbar-track {
    background-color: #fff;
    box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
  }

  &::-webkit-scrollbar-thumb {
    background-color: $gray-500;
    border-radius: 5rem;
    &:hover {
      background: $gray-600;
    }
  }
}

// index.html
.blogifier {
  height: 100%;
  display: flex;
  flex-direction: column;
}

// shared/MainLayout.razor
.content {
}

// shared/NavMenu.razor
.menu {
}
