html {
  height: 100%;
}
body {
  cursor: default;
  overflow-y: scroll;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.blogifier {
  height: 100%;
  // app
}

.content {
  margin-bottom: 3rem;
  flex-grow: 1;
  padding-left: 2rem;
  padding-top: 2rem;
}
.sidebar {
  min-width: 10rem;
}

.footer {
  text-align: right;
  font-size: 0.75rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-top: auto;
  color: $gray-500;
  a {
    color: $gray-500;
    &:hover {
      color: $blogifier;
    }
  }
}
