html {
  height: 100%;
}
body {
  cursor: default;
  overflow-y: scroll;
  height: 100%;
  display: flex;
  flex-direction: column;
}

// index.html
.blogifier {
  height: 100%;
}

// shared/MainLayout.razor
.content {
}

// shared/NavMenu.razor
.menu {
}
