@using System.Reflection
@inject AppDbContext DbContext
<div class="app-settings-title">Blogifier Info</div>
@if (DbProviderName != null)
{
    <div class="app-info">
        <ul>
            <li>
                <label>Blogifier</label>
                <span>v.@BlazorVersion</span>
            </li>
            <li>
                <label>Blogifier.Core</label>
                <span>v.@AppSettings.Version</span>
            </li>
            <li>
                <label>Database</label>
                <span>@DbProviderName</span>
            </li>
            <li>
                <label>Root</label>
                <span>@AppSettings.ContentRootPath</span>
            </li>
            <li>
                <label>OS</label>
                <span>@AppSettings.OSDescription</span>
            </li>
        </ul>
    </div>
}

@code {
    protected string DbProviderName { get; set; }
    protected string BlazorVersion { get; set; }

    protected override void OnInitialized()
    {
        DbProviderName = DbContext.Database.ProviderName;

        BlazorVersion = typeof(BlogSettings)
                .GetTypeInfo()
                .Assembly
                .GetCustomAttribute<AssemblyInformationalVersionAttribute>()
                .InformationalVersion;
    }
}
