$warning: #ff9b00;
$success: #00c748;
$primary: #7700ff;
$danger: #fb4343;
$secondary: #878891;


$body-bg:#f5f6f6; 

$input-border-width: 0;

//
$container: 66rem;
$input-focus-box-shadow-width: 2px;
$input-btn-focus-width: 2px;
$link-decoration: none;
$btn-font-weight: 500;
$input-btn-font-size: .875rem;
$input-btn-padding-y: .5rem;
$btn-link-color: #676b76;




//
$bf-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1); 

