// colors
$blogifier: #791ae6;
$default: #fff;
$warning: #ff8d00;

// body
$body-bg: #f5f6f6;
$body-color: #111;
$link-color: $blogifier;
$link-hover-color: #444;

// input
$input-border-width: 0;
$input-focus-box-shadow-width: 2px;

// active
$component-active-bg: $blogifier;

// font and text
$link-decoration: none;
$btn-font-weight: 500;

// buttons
$input-btn-font-size: .875rem;
$input-btn-padding-y: .5rem;
$input-btn-focus-width: 2px;

// button link
$btn-link-color: #666;
$btn-link-hover-color: $blogifier;

// container
$container: 66rem;

// shadow
$bf-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);

// accordion
$accordion-border-width: 0;
$accordion-body-padding-y: 1rem;
$accordion-body-padding-x: 0;
$accordion-button-focus-box-shadow: none;
$accordion-button-active-bg: none;
$accordion-button-active-color: $blogifier;
$accordion-button-padding-y: .5rem;
$accordion-button-padding-x: 0;