.pagination {
    margin:4rem 0;
    .item {

        &-link {
            background: #000;
            border: 3px solid #000;
            padding: .5rem 1.5rem;
            font-size: 1rem;
            color: #b2b2b2;
            font-weight: 500;
            border-radius: 10rem;
            display: block;

            &:hover {
                background: none;
                color: $color-theme;
                border-color:$color-theme;
            }
        }

    }
}
