.pagination {
    margin:4rem 0;
    .item {

        &-link {
            background: #04ffb0;
            border: 3px solid #04ffb0;
            padding: .5rem 1.5rem;
            font-size: 1rem;
            color: #000;
            font-weight: 500;
            border-radius: 10rem;
            display: block;

            &:hover {
                background: none;
                color: $color-theme;
            }
        }

    }
}
