.bf-settings-sidebar {
  ul {
    @include unstyled(ul);
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    border-bottom: 1px solid #e5e5e5;
  }

  li {
    a {
      font-size: .875rem;
      text-transform: uppercase;
      font-weight: 500;
      color: #aaa;
      display: block;
      padding: .5rem 0;

      &:focus,
      &:hover {
        color: #000;
      }
    }

    &.active {
      a {
        color: #000;
      }
    }
  }
  @media screen and (min-width: 992px) {
    padding: 2rem;

    ul {
      &:last-child {
        margin-bottom: 0;
        padding-bottom: 0;
        border-bottom: 0;
      }
    }
  }
  @media screen and (max-width: 991px) {
    ul {
      margin-bottom: 0;
      padding-bottom: 0;
      border-bottom: 1px solid #e5e5e5;
    }

    li {
      a {
        padding: .75rem 1rem;
      }
    }
  }
}
