.bf-setup {
    background: $cl-bf;
    color: #fff;
    height: 100%;
    overflow-y: auto;
    // form
    &-header {
        text-align: center;
        margin-bottom: 3rem;
    }

    &-title {
        font-size: 3rem;
    }

    &-info {
        font-size: 2rem;
    }

    &-form {
        padding: 8rem 2rem 2rem;
    }

    &-body {
        width: 100%;
        max-width: 30rem;
        margin: 0 auto;
    }

    &-url {
        display: block;
    }

    .btn {
        color: $cl-bf;
    }

    .form-group {
        margin-bottom: 1.5rem;
    }

    .form-control {
        color: #fff;
        border-color: rgba(#000000, .25);
        &:focus {
            border-color: rgba(#000000, .40);
        }

        &::placeholder {
            color: rgba(#ffffff, .30);
        }
    }
    // logo
    &-logo {
        background-color: $cl-bf;
        background-image: url('/embedded/lib/img/logo.png');
        background-repeat: no-repeat;
        background-position: center;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        animation: ease-in setup-logo forwards .5s 1s;
        z-index: 1000;
    }

    @media screen and (max-width:55rem) {

        &-form {
            padding: 4rem 2rem 2rem;
        }

        &-title {
            font-size: 2rem;
        }

        &-info {
            font-size: 1rem;
            font-weight: 400;
        }
    }
}


@keyframes setup-logo {
    from {
        opacity: 1;
        transform: scale(1);
    }

    to {
        opacity: 0;
        transform: scale(.75);
        visibility: hidden;
    }
}
