@using Blogifier.Core.Common
@using Blogifier.Core.Data.Models
@model BlogCategoryModel
@{
    var avatar = ApplicationSettings.ProfileAvatar;
    Model.Pager.RouteValue = Model.Category.Slug + "/";

    if (Model.Profile != null)
    {
        if (!string.IsNullOrEmpty(Model.Profile.Avatar))
        {
            avatar = Model.Profile.Avatar;
        }
        Model.Pager.RouteValue = Model.Profile.Slug + "/" + Model.Category.Slug + "/";
    }
}
<main class="page-category">
    <header class="page-cover" style="background-image: url('@Model.CoverImg')">
        <div class="container">
            <h2 class="page-cover-title">@Model.Category.Title</h2>
            <p class="page-cover-desc">Category</p>
        </div>
    </header>
    @Html.Partial($"~/{ApplicationSettings.BlogThemesFolder}/OneTwo/_Shared/_Post.cshtml", Model.Posts)
    @Html.Partial($"~/{ApplicationSettings.BlogThemesFolder}/OneTwo/_Shared/_Pager.cshtml", Model.Pager)
</main>