@using Blogifier.Core.Common
@{
    //var themeFolder = "embedded/admin/standard";
    var themeFolder = "blogifier/admin/custom";
    var headerView = string.Format("~/Views/{0}/_header.cshtml", themeFolder);
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, shrink-to-fit=no, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Blogifier</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link href="~/@themeFolder/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/@themeFolder/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/@themeFolder/lib/toastr/toastr.min.css" rel="stylesheet" />
    <link href="~/@themeFolder/css/styles.min.css" rel="stylesheet" />

</head>
<body>
    <div id="wrapper">
        @Html.Partial(headerView)
        <div class="container main">
            <div class="settings-page">
                <div class="settings-page-sidebar">
                    <ul>
                        <li class="profile"><a href="~/admin/settings/profile">Profile</a></li>
                        <li class="import"><a href="~/admin/settings/import">Import</a></li>
                        <li class="disqus"><a href="~/admin/settings/disqus">Disqus</a></li>
                        @if (Model.Profile != null && Model.Profile.IsAdmin)
                        {
                            <li class="application"><a href="~/admin/settings/application">Global</a></li>
                        }
                    </ul>
                </div>
                <div class="settings-page-content">
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>

    <form method="post" id="frmLogOut" asp-controller="Account" asp-action="Logout" asp-antiforgery="true"></form>

    <script src="~/@themeFolder/js/jquery-3.2.1.min.js"></script>
    <script src="~/@themeFolder/js/tether.min.js"></script>
    <script src="~/@themeFolder/js/bootstrap.min.js"></script>
    <script src="~/@themeFolder/lib/toastr/toastr.min.js"></script>
    <script src="~/@themeFolder/js/app.js"></script>
    <script src="~/@themeFolder/js/dataService.js"></script>
    <script src="~/@themeFolder/js/uploadController.js"></script>
    <script>
        var webRoot = '@Url.Content("~/")';
        function getUrl(str) {
            return webRoot + str;
        };
    </script>
    @RenderSection("Scripts", false)
</body>
</html>
