@using Blogifier.Core.Common
@{
    //var themeFolder = "embedded/admin/standard";
    var themeFolder = "blogifier/admin/custom";
}

<div id="asset-edit-actions"></div>
<div id="page-content-wrapper">
    <h2>Files</h2>
    <div>
        <div class="asset-edit" id="assetEdit"></div>
        <div class="asset-gallery" id="assetList"></div>
        <ul class="pager"></ul>
    </div>
</div>
<div style="display:none;">
    <form method="post" name="frmUploadAssets" id="frmUploadAssets" asp-action="Index" asp-controller="Blogifier/Api/Assets/Multiple" enctype="multipart/form-data">
        <input type="file" name="files" id="files" multiple onchange="assetController.uploadAssets(); return false;" />
        <input type="submit" value="Upload Multiple" />
    </form>
</div>
@section Scripts{
    <script src="~/@themeFolder/js/assetController.js"></script>
    <script>assetController.loadFileManager()</script>
}