@model Blogifier.Core.Data.Models.AdminBaseModel
@{
    //var themeFolder = "embedded/admin/standard";
    var themeFolder = "blogifier/admin/custom";
}
<link href="~/@themeFolder/lib/autocomplete/easy-autocomplete.min.css" rel="stylesheet" />

<div id="post-edit-actions" class="page-toolbar"></div>

<div id="page-content-wrapper">
    <div id="post-list">
        <ul id="admin-posts" class="list-group post-list elements-list"></ul>
        <ul class="pagination-custom"></ul>
    </div>
</div>

@section Scripts{
    <script src="~/@themeFolder/js/postsController.js"></script>
}