@{
    var returnUrl = Url.Action("Index", "Admin");
}
<footer class="blog-footer">
    <div class="container">
        <div class="blog-copyright">
            <a href="~/" class="blog-logo d-block"> <img src="~/themes/spot/img/logo-white.png" alt="@Model.Blog.Title" /></a>

            <p class="">Copyright © @DateTime.Now.Year. Powered by <a href="https://github.com/blogifierdotnet/Blogifier" data-toggle="tooltip" target="_blank" title="Version - @AppSettings.Version">Blogifier</a>. Designed by <a href="https://francis.bio/" target="_blank" rel="nofollow">Francis</a>.</p>
        </div>
        @*@await Component.InvokeAsync("HtmlBlock", new { theme = "bridge", widget = "Social Buttons" })*@
        <ul class=" list-unstyled">
            @if (User.Identity.IsAuthenticated)
            {
            <li>
                <a href="~/admin"><i class="fa fa-user"></i></a>
            </li>
            }
            else
            {
            <li>
                <a href="~/account/login?ReturnUrl=@returnUrl"><i class="fa fa-login"></i></a>
            </li>
            }
        </ul>
    </div>
</footer>

@*<a href="#" onclick="profileLogOut(); return false;">Logoff</a>
    <form method="post" id="frmLogOut" asp-controller="Account" asp-action="Logout" asp-antiforgery="true"></form>*@
<script src="~/themes/spot/js/jquery.min.js"></script>
<script src="~/themes/spot/js/popper.min.js"></script>
<script src="~/themes/spot/js/bootstrap.min.js"></script>
<script src="~/themes/spot/js/prism.js"></script>
<script src="~/themes/spot/js/blog.js" asp-append-version="true"></script>




