/*

    Author:     Francis - http://francis.bio/
    Version:    1.0
     
*/

// Base 
@import "base/variables";
@import "base/mixins";
@import "base/reset";
@import "base/base";

// Layout
@import "layout/header";
@import "layout/footer";
 
// Components
@import "components/cover";
@import "components/post";
@import "components/pagination";
@import "components/tooltip";
@import "components/browserupgrade";
@import "components/prism";

// Pages
@import "pages/index";
@import "pages/single";
@import "pages/author";
@import "pages/category";
@import "pages/search";
@import "pages/error";
