.app-editor {
    &-container {
        width: 70rem;
        max-width:100%;
        margin-right:auto;
        margin-left:auto;
    }

    &-header {
        background: #f6f8fb;
        padding: 2rem;
    }

    &-title {
        flex: 1;
        -webkit-flex: 1;
        padding-right: 2rem;

        .form-control {
            height: 2.5rem;
            background: 0;
            border: 1px solid $color-gray;
            box-shadow: none;
        }
    }

    &-actions {

        .btn {
            height: 2.5rem;
            line-height: 2.5rem;
            width: 7rem;
            padding: 0;
            text-transform: uppercase;
            font-weight: 500;
            font-size: .875rem;

            &:not(:last-child) {
                margin-right: .25rem;
            }

            &-icon {
                padding: 0;
                width: 2.5rem;

                svg {
                    width: 2.5rem;
                    line-height: 2.5rem;
                    height: 1.25rem;
                    font-size: 1rem;
                }
            }
        }
    }
}
