.form-group {
  .field-validation-error {
    font-size: .75rem;
    font-weight: 500;
  }

  &-label {
    font-size: .875rem;
    font-weight: 500;
    margin-bottom: 0;
  }
}

.form-control {
  padding: 0 1rem;
  height: 2.5rem;
  border-color: #ddd;
  background-color: transparent;
  font-size: .875rem;

  &:focus {
    border-color: #aaa;
    box-shadow: none;
  }

  &-rounded {
    border-radius: 5rem;
  }

  &-sm {
    padding: 0 .75rem;
    height: 2.25rem;
  }

  &-lg {
    padding: 0 1rem;
    height: 3rem;
  }
}

textarea.form-control {
  height: auto;
  padding: 1rem;
}
// custom control


.custom-control {
  &-single {
    margin: 0;
    padding: 0;
    min-height: 0;
    width: 1rem;
    height: 1rem;

  }

      &-label {
        &::after,
        &::before {
          top: 0 !important;
        }
      }
  &-input {
    &:focus~.custom-control-label::before {
      box-shadow: 0 0 0 1px #fff, 0 0 0 .2rem rgba(87, 49, 179, .25);
    }

    &:checked~.custom-control-label::before {
      background-color: $cl-bf !important;
    }
  }
}
//
// .custom-control-input:checked ~ .custom-control-indicator {
//   background-color: $cl-bf;
// }
//
// .custom-control-input:focus ~ .custom-control-indicator {
//   box-shadow: 0 0 0 1px #fff, 0 0 0 .2rem rgba(#666,.15);
// }
//
// custom select

.custom-select-rounded {
  border-radius: 5rem;
}
// Select

select.form-control:not([size]):not([multiple]) {
  height: calc(2.25rem + 4px);
}
