.modal {
  .close {
    height: 2.25rem;
    width: 2rem;
    cursor: pointer;
    margin: 0;
    padding: 0;

    &:focus {
      outline: none;
    }

    .fa-times {
      font-size: 1.125rem;
      display: block;
      height: 100%;
      line-height: 2.25rem;
    }
  }

  .modal-footer,
  .modal-header {
    padding: .5rem 1rem;
    font-size: .875rem;
  }

  .modal-title {
    font-size: 1rem;
    margin: auto 0;
  }

  .modal-content {
    border: 0;
    overflow: hidden;

    .form-group {
      margin-bottom: 1rem;
    }
  }
}

.modal-backdrop {
  &.show {
    opacity: .75;
  }
}
