@inject IDataService DataService
@{
    PostModel m = (PostModel)Model;
}
<!doctype html>
<html lang="en" class="no-js">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="canonical" href="~/blog" />
    <title>@m.Post.Title</title>
    <meta name="description" content="@m.Post.Description">
    <link rel="stylesheet" href="~/themes/html5/style.css">
    <script src="~/themes/html5/script.js"></script>
</head>
<body>
    <partial name="~/Views/Themes/Html5/Shared/Header.cshtml" />
    <section>
        <strong>@m.Post.Title</strong>
    </section>
    <section id="pageContent">
        <main role="main">
            <article>
                @Html.Raw(m.Post.Content)
            </article>
        </main>
        <partial name="~/Views/Themes/Html5/Shared/Aside.cshtml" />
    </section>
    <partial name="~/Views/Themes/Html5/Shared/Footer.cshtml" />

</body>
</html>