@model Blogifier.Core.Data.Domain.BlogPost
@using Blogifier.Core.Data.Domain;
@{
    var post = Model;
    var cats = "";
    if (post == null)
    {
        post = new BlogPost();
    }
    if (post.PostCategories != null && post.PostCategories.Count > 0)
    {
        foreach (var cat in post.PostCategories)
        {
            cats += string.Format("<span class='btn btn-white btn-xs' onclick='alert(\"{0}\")'>{1} <i class='fa fa-remove'></i></span> ", cat.CategoryId, cat.Category.Title);
        }
    }
    cats += " <span class='btn btn-white btn-xs' title='Add category' onclick='alert(\"0\")'> <i class='fa fa-plus'></i></span> ";
}
<div class="btn-bar">
    <div class="pull-left">
        @Html.Raw(cats)
    </div>
    <div class="pull-right">
        <div class="tooltip-demo">
            <button class="btn btn-white btn-xs" title="Cancel" onclick="return postController.close()">Cansel</button> 
            <button class="btn btn-white btn-xs" title="Save post" onclick="return postController.save()">Save</button>&nbsp;&nbsp;
            <button class="btn btn-white btn-xs" data-placement="top" title="Delete" onclick="return postController.remove('@post.Id')"><i class="fa fa-trash-o"></i> </button>
        </div>
    </div>
</div>

<div class="wrap">  
    <form id="frmEditor" style="height:100%;">
        <div class="form-group">
            <input id="txtPostTitle" class="form-control" placeholder="Post title" value="@post.Title" />
        </div>
        <div class="form-group">
            <textarea id="txtContent">@post.Content</textarea>
        </div>
        <input id="hdnPostId" hidden="hidden" />
    </form>
</div>