.bf-editor {
    padding-top: 6rem;

    &-container {
        max-width: 1024px;
        width: 100%;
        margin: 0 auto;
    }
}

.bf-editor-header {
    background: #333;
    height: 300px;
    position: relative;
    margin-bottom: 4rem;

    &::after {
        content: "";
        width: 100%;
        height: 100%;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        background: #000;
        opacity: .75;
        z-index: 49;
    }

    .bf-editor-container {
        position: relative;
        z-index: 50;
        height: 100%;
    }

    .btn {
        position: absolute;
        right: 0;
        bottom: 0;
        transform: translateY(50%);
    }
}

.bf-editor-title {
    position: absolute;
    bottom: 4rem;
    width: 100%;
    border: none;
    padding: 0;
    display: block;
    height: auto;
    font-size: 2rem;
    background: none;
    color: #fff;
    padding: 1rem 0;
    font-weight: 300;

    &:focus {
        outline: none;
    }
}
.bf-editor-footer {
    .btn-group.float-right {
        margin-left:.25rem;
    }
}

