.bf-editor {
    &-container {
        max-width: 1024px;
        width: 100%;
        margin: 0 auto;
    }
}

.bf-editor-header {
    background-color: $color-brand-purple-dark;
    position: relative;
    padding: 2.5rem 0 6.5rem;

    .item-title {
        overflow: hidden;
        display: block;
        padding: 0;
        border: 1px dashed transparent;
        background: none;
        color: #fff;
        font-size: 2.5rem;
        font-weight: 100 !important;
        outline: none !important;
        position: relative;
        z-index: 1;

        &:focus {
            border-color: rgba(255, 255, 255, 0.34);
        }
    }

    &::after, &::before {
        content: "";
        display: block;
        height: 100%;
        width: 100%;
        position: absolute;
        bottom: 0;
    }

    &::after {
        height: 4rem;
        left: 50%;
        transform: translate(-50%);
        background: $color-brand-purple-dark;
        border-top: 1px solid $color-black-10;
    }

    &::before {
        left: 0;
        background: #000;
        opacity: .5;
    }

    &:hover {
        .item-title {
            border-color: rgba(255, 255, 255, 0.34);
        }
    }

    &.bf-editor-cover {
        padding-top: 14rem;
    }
}
