.admin-editor-form {
    .form-control-title {
        font-size: 1.25rem;
    }

    .form-control-text {
        height: 30.375rem;
    }

    .form-group {
        position: relative;
    }

    .spin-icon {
        position: absolute;
        bottom: .75rem;
        right: 1rem;
        display: none;

        i {
            display: block;
            font-size: 1.75rem;
            color: #000;
        }
    }

    @media screen and (max-width:480px) {
        .form-control-title {
            font-size: 1rem;
        }
    }
}