.admin-editor-form {
    .form-control-title {
        font-size: 1.25rem;
    }

    .form-control-text {
        height: 30.375rem;
    }

    .form-group {
        position: relative;
    }

    .spin-icon {
        position: absolute;
        bottom: .75rem;
        right: 1rem;
        display: none;

        i {
            display: block;
            font-size: 1.75rem;
            color: #000;
        }
    }



    @media screen and (max-width:35.9375rem) {
        .form-control-title {
            padding: .5rem;
        }
    }
}

.admin-editor-toolbar {
    display: none;
}

.admin-editor-toolbar-right {
    .btn-group > .btn {
        padding-right: 0;
        padding-left: 0;
        width: 3rem;

        &:after {
            display: none;
        }
    }

    .dropdown-menu-right {
        width: 18.75rem;
        max-height: 18.75rem;
        padding: 0;
    }
}

.admin-editor-cover {
    position: relative;
    overflow: hidden;
    height: 14.5rem;
    border-radius: 3px;

    img {
        max-width: none;
        min-height: 100%;
        max-height: 100%;
        position: relative;
        left: 50%;
        transform: translate(-50%);
    }

    &-actions {
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 2;
        width: 100%;

        button {
            display: block;
            width: 100%;
            color: #000;
            border: 0;
            padding: .5rem 0;
            font-size: .875rem;
            background: #fff;
            text-transform: uppercase;
            font-weight: $font-weight-medium;
        }
    }
}

.admin-editor-category {
    text-transform: none;
    overflow: hidden;

    form {
        .form-control {
            background:none;
            padding: 1rem 1.25rem;
            border: none;
            border-bottom: 1px solid #eee;
            border-radius: 0;
            border-top-left-radius: 3px;
            border-top-right-radius: 3px;
        }
    }

    ul {
        @include unstyled();
        height: 11.2rem;
        overflow-x: hidden;

        li {
            position: relative;
            border-bottom: .0625rem solid #eee;

            &:hover {
                background: #fafafa;
            }

            label {
                margin-bottom: 0;
                display: block;
                padding: .44rem 1rem .44rem 2.5rem;
            }

            .custom-control-indicator {
                top: .55rem;
                left: 1rem;
            }
        }

        i {
            display: block;
            width: 2.25rem;
            line-height: 2.125rem;
            border-left: .0625rem solid #eee;
            position: absolute;
            right: 0;
            top: 0;
            text-align: center;
            color: #aaa;
            cursor: pointer;
            background: #fff;

            &:hover {
                color: red;
            }
        }
    }
}
