.bf-posts-empty {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: $cl-bf;

    .item-body {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        color: #fff;
        text-align: center;
        padding: 0 1rem;
        width: 100%;
    }

    .item-title {
        font-size: 4rem;
        margin-bottom: 3rem;
        font-weight: $fw-thin;
    }

    .btn {
        color: $cl-bf;
        width: 17rem;
        padding: 0;
        line-height: 4rem;
        height: 4rem;
        font-size: 1.5rem;
    }

    @media screen and (max-width:768px) {
        h1, h2 {
            font-size: 2rem;
        }
    }
}
