.bf-posts-sidebar-head {
    padding: 1rem 5rem;
    position: relative;

    .item-head {
        position: absolute;
        top: 0;
        width: 5rem;
        height: 100%;
        margin: 0;
        padding: 0;
    }

    .item-head-select {
        left: 0;
    }

    .item-head-tools {
        right: 0;
        color: $cl-black-40;
        font-size: 1.25rem;

        &:focus {
            color: $cl-white-40;
        }

        &[aria-expanded="true"] {
            color: #fff !important;
        }
    }

    .item-control, .fa {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
    }

    .btn-light {
        font-weight: $fw-bold;
    }
}
