.bf-posts {
    @media (max-width:800px) {
        .bf-sidebar {
            min-height: 100%;
        }

        .bf-content {
            display: none;
        }
    }

    &-empty {
        position: fixed;
        z-index: 1000;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: $cl-bf;
        display:none;

        &-body {
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            color: #fff;
            text-align: center;
            padding: 0 1rem;
            width: 100%;
        }

        h1, h2 {
            font-weight: $fw-thin;
        }

        h2 {
            margin-bottom: 1rem;
            font-size: 2.5rem;
        }

        h1 {
            font-size: 4rem;
            margin-bottom: 3rem;
        }

        .btn {
            color: $cl-bf;
            width: 17rem;
            padding: 0;
            line-height: 4rem;
            height: 4rem;
            font-size: 1.5rem;
        }

        @media screen and (max-width:768px) {
            h1, h2 {
                font-size: 2rem;
            }
        }
    }
}
