.bf-posts-sidebar-list {

    .item-list {
        border-bottom: 1px solid $cl-black-5;
        position: relative;

        &:first-child {
            border-top: 1px solid $cl-black-5;
        }

        &-select {
            position: absolute;
            top: 0;
            width: 5rem;
            height: 100%;
            margin: 0;
            padding: 0;

            .item-control {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                cursor: pointer;
            }
        }

        &-link {
            color: $cl-white-50;
            display: block;
            line-height: 1.25;
            max-width: 25rem;
            padding: 1.25rem 1.75rem 1.25rem 5rem;
            font-size: .9375rem;
            cursor: pointer;
            @include ellipsis;

            &.active {
                background: $cl-black-5;
                color: #fff !important;
            }

            &:focus {
                outline: none;
                color: #fff;
            }
        }

        &-info {
            display: none;
        }

        &:hover {
            .item-list-link {
                color: rgba(255, 255, 255, 0.75);
            }
        }
    }

    @media (min-width:1024px) {
        .item-list {
            &-link-mobile {
                display: none;
            }
        }
    }

    @media (max-width:1023px) {
        .item-list {
            &-link-desktop {
                display: none;
            }
        }
    }
}
