.bf-posts-toolbar {
    @include clearfix;
    padding: 1.5rem 1.5rem 1.5rem 0;
    border-bottom: 1px solid $cl-black-5;

    .custom-control {
        margin: 0;
        display: block;
        padding: 0;
        width: 4rem;
        height: 2.5rem;

        &-indicator {
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }

    @media screen and (max-width:55rem) {
        padding: 1rem 1rem 1rem 0;

        .custom-control {
            width: 3rem;
        }
    }
}

.bf-posts-search {
    position: relative;
    width: 12rem;

    .form-control {
        padding: 0 1rem;
        height: 2.5rem;
    }

    .item-submit {
        @include unstyled(button);
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        display: block;
        width: 3rem;
        height: 100%;
        color: #aaa;

        &:hover, &:focus {
            cursor: pointer;
            color: #000;
        }
    }

    @media screen and (max-width:35rem) {
        display: none;
    }
}

.bf-posts-list {
    @include unstyled(ul);

    .item {
        border-bottom: 1px solid $cl-black-5;
        position: relative;

        &:hover {
            background-color: #fafafa;
        }
    }

    .item-empty {
        padding: 1rem 4rem;
        font-size: 1rem;
        color: #aaa;
    }

    .item-search {
        font-size: 1rem;

        a {
            display: block;
            padding: 0 4rem;
            height: 4rem;
            line-height: 4rem;
        }

        i {
            position: absolute;
            left: 0;
            top: 0;
            margin: 0;
            display: block;
            padding: 0;
            width: 4rem;
            height: 100%;
            line-height: 4rem;
            text-align: center;
        }
    }

    .item-select {
        position: absolute;
        left: 0;
        top: 0;
        margin: 0;
        display: block;
        padding: 0;
        width: 4rem;
        height: 100%;

        .custom-control-indicator {
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
        }
    }

    .item-link {
        font-size: 1rem;
        font-weight: 400;
        color: #000;
        height: 4rem;
        line-height: 4rem;
        padding-left: 4rem;
        display: block;
        @include ellipsis;
        padding-right: 18rem;
    }


    .item-show {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 4rem;
        height: 100%;

        i {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
        }

        &:hover {
            background: $cl-bf;
            color: #fff;
        }
    }

    .item-status {
        color: #444;
        font-size: .625rem;
        position: absolute;
        top: 0;
        height: 100%;
        right: 4rem;
        width: 2rem;

        &-published {
            color: #00c748
        }

        &-draft {
            color: #ff9b00;
        }

        i {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            display: block;
            margin-top: -1px;
        }
    }

    .item-info {
        position: absolute;
        right: 5.75rem;
        top: 0;
        font-size: .75rem;
        text-transform: uppercase;
        line-height: 4rem;
        padding-right: 1.5rem;
        color: #aaa;
    }

    @media screen and (max-width:75rem) {
        .item-link {
            padding-right: 12rem;
        }

        .item-info-views {
            display: none;
        }
    }

    @media screen and (max-width:55rem) {

        .item-link, .item-info, .item-search a,, .item-search a i {
            height: 3rem;
            line-height: 3rem;
        }

        .item-show, .item-select {
            width: 3rem;
        }

        .item-status {
            right: 3rem;
        }

        .item-info {
            right: 4.5rem;
        }

        .item-link {
            padding-left: 3rem;
        }

        .item-search {
            a {
                padding: 0 3rem;
            }

            i {
                width: 3rem;
            }
        }
    }

    @media screen and (max-width:40rem) {
        .item-link {
            padding-right: 5.5rem;
        }

        .item-info {
            display: none;
        }
    }
}

.bf-posts-pagination {
    @include unstyled(ul);
    @include clearfix();
    font-size: 1rem;

    .item {
        float: left;
        line-height: 4rem;
        height: 4rem;

        &-link {
            font-size: 1rem;
            width: 4rem;
            height: 100%;
            display: block;
            text-align: center;

            i {
                line-height: 4rem;
                display: block;
            }
        }
    }

    @media screen and (max-width:55rem) {
        .item, .item-link i {
            height: 3rem;
            line-height: 3rem;
        }

        .item-link {
            width: 3rem;
        }
    }
}
