.post-list {

    .post-item {
        position: relative;
        padding: 0;
        border: 1px solid #dbdbdb;
        overflow: hidden;

        &-link {
            display: block;
            height: 100%;
            height: 3.5rem;
            line-height: 3.5rem;
            padding-left: 1rem;
            width: 100%;
            font-weight: 500;
            font-size: 1rem;
        }

        &-info {
            background-color: #fff;
            position: absolute;
            right: 0;
            top: 0;
            height: 3.5rem;
            vertical-align: top;
            display: table;

            button, a, span {
                display: table-cell;
                height: 100%;
                padding: 0;
                margin: 0;
                border: none;
                min-width: 3.5rem;
                line-height: 3.5rem;
                text-align: center;
                background: none;
            }

            button, a {
                cursor: pointer;

                &:hover {
                    i {
                        color: #000;
                    }
                }
            }

            i {
                color: #666;
                font-size: 14px;

                &.fa-trash {
                }
            }

            span {
                padding-right:1rem;
                font-size: .75rem;
                color: #888;
            }
        }
    }
}