.bf-posts-multiactions {
    display: none;

    .btn-unstyled {
        -webkit-flex: 1;
        -ms-flex: 1;
        flex: 1;
        background: $cl-black-20;
        color: $cl-white-50;
        border-right: 1px solid $cl-black-10;
        line-height: 3rem;
        cursor: pointer;

        &:last-child {
            border-right: 0;
        }

        &:hover {
            color: #fff;
            background: $cl-black-25;
        }

        &:focus {
            color: #fff;
        }

        .fa {
            font-size: 0.875rem;
        }
    }
}
