.post-edit {
    .page-toolbar {
        display: none;

        .float-right {
            > .btn,
            .dropdown-toggle {
                letter-spacing: 0;
                padding-right: 1rem;
                padding-left: 1rem;
                width: 4rem;


                &:after {
                    display: none;
                }
            }

            .dropdown-menu-right {
                width: 300px;
                max-height: 300px;
            }
        }
    }

    .form-control-textcontent {
        height: 482px;
    }
}


.post-image {
    position: relative;
    overflow: hidden;
    max-height: 300px;

    &-actions {
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: 2;
        width: 100%;

        .btn {
            width: 100%;
            border-radius: 0;
        }

        i {
            color: #fff;
            font-size: 1rem;
        }
    }
}


.post-category {
    max-height: 300px;
    text-transform: none;

    form {
        padding: 1rem;
        border-bottom: 1px solid #eee;
    }

    ul {
        @include unstyled();
        height: 215px;
        overflow-y: scroll;

        li {
            position: relative;
            border-bottom: 1px solid #eee;

            &:hover {
                background: #fafafa;
            }

            label {
                margin-bottom: 0;
                display: block;
                padding: .44rem 1rem .44rem 2.5rem;
            }

            .custom-control-indicator {
                top: .55rem;
                left: 1rem;
            }
        }

        button {
            border: none;
            display: block;
            border-left: 1px solid #eee;
            padding: 0;
            height: 100%;
            background: none;
            position: absolute;
            right: 0;
            top: 0;
            color: #aaa;
            width: 2.25rem;
            cursor: pointer;

            &:hover {
                color: red;
            }
        }
    }
}
