.bf-posts-pagination {
    color: $cl-black-50;
    text-align: center;
    padding: 1.5rem 0 !important;

    .item {
        display: inline-block;
        line-height: 2rem;
        height: 2rem;

        &-link {
            color: $cl-black-50;

            &:hover {
                color: #fff;
            }
        }

        &-count {
            margin: 0 1.5rem;
            position: relative;
            top: -2px;
        }

        .fa {
            font-size: 1.5rem;
            line-height: 2rem;
            display: block;
        }
    }
}
