.bf-posts-sidebar-head {
    border-bottom: 1px solid $color-black-20;
    position: relative;
    padding: 1rem 4.25rem;

    .head-tools {
        position: absolute;
        top: 0;
        display: flex;
        width: 4.5rem;
        height: 4.5rem;

        input, i {
            margin: auto;
        }

        &.head-tools-left {
            left: 0;
        }

        &.head-tools-right {
            right: 0;
        }
    }
}

.bf-posts-sidebar-filters {
    padding: 3rem;
    background: $color-black-20;

    label {
        display: block;
    }
}

.bf-posts-list {
    li {
        border-bottom: 1px solid $color-black-20;
    }
}
