.bf-sidebar-posts-head {
    border-bottom: 1px solid $color-black-10;
    position: relative;
    padding: 1.5rem 6rem;

    .head-tools {
        position: absolute;
        top: 0;
        display: flex;
        width: 6rem;
        height: 6rem;

        input, i {
            margin: auto;
        }

        &.head-tools-left {
            left: 0;
        }

        &.head-tools-right {
            right: 0;
        }
    }
}

.bf-sidebar-posts-tools {
    background: $color-black-10;

    label {
        display: block;
    }

    .bf-sidebar-posts-search {
        .form-control {
            background: none;
            border: none;
            border-bottom: 1px solid $color-black-10;
            color: #fff;
            padding: 0 2rem;
            height: 3rem;

            &:focus {
                outline: none;
            }
        }
    }

    .bf-sidebar-posts-filters {
        padding: 0 2rem 2rem;

        h5 {
            margin-top: 2rem;
            margin-bottom: 1rem;
            text-transform: uppercase;
            opacity: .75;
        }

        label {
            display: block;
            font-size: .875rem;
            margin-bottom: .25rem;
        }

        input {
            margin-right: 1rem;
            position: relative;
            top: 2px;
        }
    }
}

.bf-posts-list {
    li {
        border-bottom: 1px solid $color-black-10;
        padding: 1rem 2rem;
    }

    a {
        color: #fff;
    }
}


.bf-content-posts {
    .bf-content-post-cover{
        height:400px;
        background-color:#eee;
    }
}