.bf-posts-preview {

    .item-preview-header {
        position: relative;
        background-color: #222;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 20rem;

        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 24;
            background: $cl-black-50;
            background: -moz-linear-gradient(top, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.85) 80%, rgba(0,0,0,0.85) 100%);
            background: -webkit-linear-gradient(top, rgba(0,0,0,0.5) 0%,rgba(0,0,0,0.85) 80%,rgba(0,0,0,0.85) 100%);
            background: linear-gradient(to bottom, rgba(0,0,0,0.5) 0%,rgba(0,0,0,0.85) 80%,rgba(0,0,0,0.85) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80000000', endColorstr='#d9000000',GradientType=0 );
        }
    }

    .item-preview-info {
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 25;
        width: 100%;
        padding: 0 3rem 3rem;
    }

    .item-preview-meta {
        color: $cl-white-50;
        text-transform: uppercase;
        font-size: .75rem;
    }

    .item-preview-title {
        color: #fff;
        margin: 1rem 0 1.5rem;
        font-size: 2rem;
        line-height: 1.2;
        font-weight: $fw-normal;

        @media (min-width:1200px) {
            max-width: 75%;
            width: 100%;
        }
    }

    .item-preview-body {
        padding: 3rem;
    }
}
