
//
.bf-content-posts {
}

.bf-content-post-cover {
    min-height: 400px;
    background-color: #111;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;

    &::after {
        display: block;
        content: "";
        background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
        background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%);
        background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    &-body {
        padding: 3rem;
        padding-top: 0;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        color: #fff;
        z-index: 1;

        p {
            margin: 0;
            font-size: .75rem;
            opacity: .5;
        }

        h1 {
            margin: 1rem 0 2.5rem;
            font-size: 2.5rem;
            font-weight: 300;
            width: 70%;
        }

        .btn-group {
            margin-right: 1rem;
        }
    }

    .btn-conten-post-action {
    }
}

.bf-content-post-text {
    padding: 3rem;
    font-size: 1.125rem;
    color: #000;
    font-weight: $fw-normal;
    line-height: 1.6;

    ul, ol {
        margin: 2rem;
        list-style-position: inside;
    }

    ul {
        list-style-type: circle;
    }

    ol {
        list-style-type: decimal;
    }

    p {
        margin-bottom: 1.5rem;
    }

    h1, h2, h3, h4, h5, h6 {
        margin: 2rem 0 .5rem;
        font-weight: $fw-bold;
    }
}
