.bf-posts-add {
    padding: 1.5rem;
    border-bottom: 1px solid $cl-black-5;
}

.bf-posts-search {
    position: relative;

    &::after {
        content: "";
        display: block;
        height: 1px;
        position: absolute;
        bottom: 0;
        left: 1.5rem;
        right: 1.5rem;
        background: $cl-black-5;
    }

    .search-input {
        border: 0;
        padding: 0 1.5rem;
        background: none;
        outline: none;
        width: 100%;
        height: 3.5rem;
        color: #fff;

        &:focus {
            background: $cl-black-10;
        }

        &::placeholder {
            color: $cl-white-50;
        }
    }

    .search-submit {
        @include unstyled(button);
        position: absolute;
        top: 0;
        right: 0;
        padding: 0 1.5rem;
        height: 100%;
        color: $cl-white-40;
        cursor: pointer;

        &:focus {
            color: #fff;
        }


        i {
            font-size: 14px;
        }
    }

    .search-submit:focus ~ .search-input {
        background: $cl-black-10;
    }
}

.bf-posts-filters {

    .item-group {
        padding: 1.5rem;
        position: relative;

        &::after {
            content: "";
            display: block;
            height: 1px;
            position: absolute;
            bottom: 0px;
            left: 1.5rem;
            right: 1.5rem;
            background: $cl-black-5;
        }
    }

    .item-label {
        display: block;
        margin: 0;
        font-size: .875rem;
    }
}
