.bf-sidebar-posts-tools {
    margin-top: -1px;
    background: $color-black-20;
    position: relative;
    font-size: .875rem;
    color: rgba(255, 255, 255, 0.50);

    &::before {
        @include triangle(1.25rem, $color-black-20, up);
        position: absolute;
        top: -1.25rem;
        right: 1.875rem;
    }

    .bf-sidebar-posts-search {
        position: relative;

        input {
            background: none;
            border: none;
            border-bottom: 1px solid $color-black-5;
            color: #fff;
            padding: 0 2rem;
            height: 3rem;
            width: 100%;
            outline: none;

            &::placeholder {
                color: rgba(255, 255, 255, 0.50);
            }
        }

        .fa {
            position: absolute;
            right: 2.25rem;
            top: 1.125rem;
            font-size: .75rem;
        }
    }
}

.bf-sidebar-posts-filter {

    .posts-filter-status {
        label {
            display: block;
            margin: 0;
            flex: 1;
        }

        span {
            display: block;
            width: 100%;
            height: 100%;
            line-height: 2.75rem;
            text-align: center;
            cursor: pointer;
            text-transform: uppercase;
            font-size: .75rem;
        }

        input {
            &:checked + span {
                background: $color-black-5;
            }
        }
    }

    .posts-filter-category {
        border-bottom: 1px solid $color-black-5;

        .btn-unstyled {
            width: 100%;
            line-height: 2.75rem;
            text-align: left;
            padding: 0 2rem;
            font-size: .875rem;
            cursor: pointer;
            color: rgba(255, 255, 255, 0.50);
            position: relative;

            .fa {
                position: absolute;
                right: 2.25rem;
                top: .75rem;
                font-size: 1.25rem;
            }
        }

        > div {
            padding: .5rem 2rem;
        }

        label {
            display: block;
        }
    }
}
