<header class="blog-header">
    <div class="blog-nav">
        <div class="container d-flex">
            <nav class="navbar navbar-expand-lg navbar-dark mr-auto">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="~/">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            @if (User.Identity.IsAuthenticated)
                            {
                                <a class="nav-link" href="~/admin">Admin</a>
                            }
                            else
                            {
                                <a class="nav-link" href="~/account/login?ReturnUrl=/admin">Login</a>
                            }
                        </li>
                    </ul>
                </div>
            </nav>
            <form class="blog-search-form my-auto" role="search" asp-controller="Blog" asp-action="Index" method="post">
                <input type="search" id="term" name="term" class="form-control" placeholder="Search..." autocomplete="off">
                <button type="submit"><i class="fa fa-search"></i></button>
            </form>
        </div>
    </div>
    <a href="~/" class="blog-logo d-block"> <img src="~/themes/metal/img/logo.png" alt="@Model.Blog.Title" /></a>
</header>