@inject IStringLocalizer<Resource> _localizer
<div class="alert alert-warning">
    @_localizer["under-development"].
    <a class="append-arrow-right" href="https://github.com/blogifierdotnet/blogifier/projects/">@_localizer["more-info"]</a>
</div>
