<p class="text-warning">This section is still under development.</p>
<div class="row">

    <!--
        Get all the Widget Zones that theme developer added to the theme.
        We loop this app-widget-zone div:
    -->


    <!-- Widgetzone -->
    <div class="app-widgetzone col-lg-4">

        <h2 class="app-widgetzone-title">Widget Zone Name</h2>

        <!-- Add -->
        <div class="app-widgetzone-add dropdown dropdown-full">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                Add Widget
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">

                <!-- Loop all the available widgets / and onclick we it -->
                <button class="dropdown-item" type="button" onclick="">Widgets Title 1</button>
                <button class="dropdown-item" type="button" onclick="">Widgets Title 2</button>
                <button class="dropdown-item" type="button" onclick="">Widgets Title 2</button>

            </div>
        </div>
        <!--/Add -->

        <!-- Added widgets -->
        <div class="app-widgetzone-widget">

            <div class="app-widgetzone-widget-title">Name of the widget</div>
            <div class="app-widgetzone-widget-settings">
                <div class="form-item">
                    <label class="form-item-label">Title</label>
                    <input class="form-control" value="Newsletter">
                </div>
                <button class="btn btn-default btn-block" type="button">Save</button>
            </div>

        </div> 
        <!--/Added widgets -->


    </div>
    <!--/Widgetzone -->


</div>