<p class="text-warning">This section is still under development.</p>
<div class="row app-widgetzone-row">
    <!--
        Get all the Widget Zones that theme developer added to the theme.
        We loop this:
    -->
    <!-- Widgetzone -->
    <div class="col-lg-4">
        <div class="app-widgetzone">

            <!--
                Widget Zone Name comes from the theme, Theme developer name it, so user underdstand what Widget Zone they are customizing.
                Example: Sidebar or Footer, etc.
            -->
            <h2 class="app-widgetzone-title">Widget Zone Name</h2>
            <div class="app-widgetzone-body">

                <!-- Added widgets -->
                <div class="app-widgetzone-widget d-flex">
                    <div class="app-widgetzone-widget-move"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-three-dots-vertical " viewBox="0 0 16 16"><path d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z" /></svg></div>
                    <div class="app-widgetzone-widget-title">Widget Title</div>
                    <button class="app-widgetzone-widget-btn ms-auto" type="button" data-bs-toggle="modal" data-bs-target="#widgetSettings"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-gear-fill" viewBox="0 0 16 16"><path d="M9.405 1.05c-.413-1.4-2.397-1.4-2.81 0l-.1.34a1.464 1.464 0 0 1-2.105.872l-.31-.17c-1.283-.698-2.686.705-1.987 1.987l.169.311c.446.82.023 1.841-.872 2.105l-.34.1c-1.4.413-1.4 2.397 0 2.81l.34.1a1.464 1.464 0 0 1 .872 2.105l-.17.31c-.698 1.283.705 2.686 1.987 1.987l.311-.169a1.464 1.464 0 0 1 2.105.872l.1.34c.413 1.4 2.397 1.4 2.81 0l.1-.34a1.464 1.464 0 0 1 2.105-.872l.31.17c1.283.698 2.686-.705 1.987-1.987l-.169-.311a1.464 1.464 0 0 1 .872-2.105l.34-.1c1.4-.413 1.4-2.397 0-2.81l-.34-.1a1.464 1.464 0 0 1-.872-2.105l.17-.31c.698-1.283-.705-2.686-1.987-1.987l-.311.169a1.464 1.464 0 0 1-2.105-.872l-.1-.34zM8 10.93a2.929 2.929 0 1 1 0-5.86 2.929 2.929 0 0 1 0 5.858z" /></svg></button>
                </div>
                <!--/Added widgets -->

                <!-- Add -->
                <div class="app-widgetzone-add dropdown dropdown-full">
                    <button class="btn btn-outline-default dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">Add Widget</button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <!-- Loop all the available widgets / and onclick we it -->
                        <button class="dropdown-item" type="button" onclick="">Widgets Title 1</button>
                        <button class="dropdown-item" type="button" onclick="">Widgets Title 2</button>
                        <button class="dropdown-item" type="button" onclick="">Widgets Title 2</button>
                    </div>
                </div>
                <!--/Add -->

            </div>
        </div>
    </div>
    <!--/Widgetzone -->

</div>

<!-- Modal - Widget Settings -->
<div class="modal fade" id="widgetSettings" tabindex="-1" aria-labelledby="widgetSettingsLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="widgetSettingsLabel">Widget title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="form-item">
                    <label class="form-item-label">Title</label>
                    <input type="text" class="form-control" value="" />
                </div>
                <div class="form-item">
                    other settings goes here...
                </div>
                <button type="button" class="btn btn-blogifier">Save Changes</button>
            </div>
        </div>
    </div>
</div>
<!--/Modal -->