@{
    var returnUrl = Url.Action("Index", "Admin");
}
<footer class="blog-footer">
    <div class="container">
        <p class="blog-copyright text-center">Copyright © @DateTime.Now.Year. Powered by <a href="https://github.com/blogifierdotnet/Blogifier" data-toggle="tooltip" target="_blank" title="Version - @AppSettings.Version">Blogifier</a>. Designed by <a href="https://francis.bio/" target="_blank" rel="nofollow">Francis</a>.</p>
    </div>
</footer>

@*<a href="#" onclick="profileLogOut(); return false;">Logoff</a>
    <form method="post" id="frmLogOut" asp-controller="Account" asp-action="Logout" asp-antiforgery="true"></form>*@
<script src="~/themes/wide/js/jquery.min.js"></script>
<script src="~/themes/wide/js/popper.min.js"></script>
<script src="~/themes/wide/js/bootstrap.min.js"></script>
<script src="~/themes/wide/js/prism.js"></script>
<script src="~/themes/wide/js/blog.js" asp-append-version="true"></script>




