<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>@Html.Raw(Model.Blog.Title)</title>
<meta name="description" content="@Html.Raw(Model.Blog.Description)">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://fonts.googleapis.com/css?family=Roboto:300,500,400,700|Merriweather:700" rel="stylesheet">
<link href="~/themes/wide/css/bootstrap.min.css" rel="stylesheet">
<link href="~/themes/wide/css/font-awesome.min.css" rel="stylesheet">
<link href="~/themes/wide/css/prism.css" rel="stylesheet">
<link href="~/themes/wide/css/styles.min.css" rel="stylesheet" asp-append-version="true">
<link rel="shortcut icon" href="~/lib/img/favicon.ico">
