@using Blogifier.Core.Common
@{
    var customFooter = "";
    try
    {
        var cf = Model.CustomFields;
        customFooter = (cf.ContainsKey("Footer") && !string.IsNullOrEmpty(cf["Footer"])) ? cf["Footer"] : "";
    }
    catch { }
}
<footer class="blog-footer">
    <div class="container">
        <p>Copyright © @DateTime.Now.Year @ApplicationSettings.Title.</p>
        <p>Powered by <a href="http://blogifier.net/" data-toggle="tooltip" target="_blank" title="Version - @ApplicationSettings.Version">Blogifier</a>. Designed by <a href="https://francis.bio/" target="_blank" rel="nofollow">Francis</a>.</p>
    </div>
</footer>
<form method="post" id="frmLogOut" asp-controller="Account" asp-action="Logout" asp-antiforgery="true"></form>
<script src="~/blogifier/blog/onetwo/js/jquery.min.js"></script>
<script src="~/blogifier/blog/onetwo/js/popper.min.js"></script>
<script src="~/blogifier/blog/onetwo/js/bootstrap.min.js"></script>
<script src="~/blogifier/blog/onetwo/js/prism.js"></script>
<script src="~/blogifier/blog/onetwo/js/blog.js" asp-append-version="true"></script>
@Html.Raw(customFooter)