@using Blogifier.Core.Common
@{
    var cf = Model.CustomFields;
    var customFooter = (cf.ContainsKey("Footer") && !string.IsNullOrEmpty(cf["Footer"])) ? cf["Footer"] : "";
}
<footer class="blog-footer">
    <p>Copyright © @DateTime.Now.Year @ApplicationSettings.Title. Powered by <a href="http://blogifier.net/" data-toggle="tooltip" target="_blank" title="Version - @ApplicationSettings.Version">Blogifier</a>.</p>
</footer>
<form method="post" id="frmLogOut" asp-controller="Account" asp-action="Logout" asp-antiforgery="true"></form>
<script src="~/blogifier/blog/custom/js/jquery-3.2.1.min.js"></script>
<script src="~/blogifier/blog/custom/js/tether.min.js"></script>
<script src="~/blogifier/blog/custom/js/bootstrap.min.js"></script>
<script src="~/blogifier/blog/custom/js/jquery.dotdotdot.min.js"></script>
<script src="~/blogifier/blog/custom/js/prism.js"></script>
<script src="~/blogifier/blog/custom/js/blog.js" asp-append-version="true"></script>
@Html.Raw(customFooter)