@using Blogifier.Core.Common
@{
    var themeFolder = "blogifier/blog/custom";
}
<footer class="blog-footer">
    <section class="container clearfix">
        <p class="float-left">
            Copyright © @DateTime.Now.Year @ApplicationSettings.Title. Powered by <a href="http://blogifier.net/" data-toggle="tooltip" target="_blank" title="Version - @Blogifier.Core.Common.ApplicationSettings.Version">Blogifier</a>.
        </p>
        <ul class="float-right">
            <li><a href="#" data-toggle="tooltip" title="Google Plus"><i class="fa fa-google"></i></a></li>
            <li><a href="#" data-toggle="tooltip" title="Twitter"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#" data-toggle="tooltip" title="GitHub"><i class="fa fa-github"></i></a></li>
            <li><a href="#" data-toggle="tooltip" title="Instagram"><i class="fa fa-instagram"></i></a></li>
        </ul>
    </section>
</footer>
<form method="post" id="frmLogOut" asp-controller="Account" asp-action="Logout" asp-antiforgery="true"></form>
<script src="~/@themeFolder/js/jquery-3.2.1.min.js"></script>
<script src="~/@themeFolder/js/tether.min.js"></script>
<script src="~/@themeFolder/js/bootstrap.min.js"></script>
<script src="~/@themeFolder/js/jquery.dotdotdot.min.js"></script>
<script src="~/@themeFolder/js/blog.js"></script>