@using Blogifier.Core.Common
@{
    var themeFolder = "blogifier/blog/custom";
}
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>@ApplicationSettings.Title</title>
<meta name="description" content="@ApplicationSettings.Description">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700" rel="stylesheet">
<link href="~/@themeFolder/css/bootstrap.min.css" rel="stylesheet">
<link href="~/@themeFolder/css/font-awesome.min.css" rel="stylesheet">
<link href="~/@themeFolder/css/styles.min.css" rel="stylesheet">
<link rel="shortcut icon" href="~/embedded/lib/img/favicon.ico">