.app-menu {
    border: 1px dashed $gray-500;
    border-radius: .5rem;
    height: 100%;

    &-row {
        .col-lg-4 {
            padding-bottom: 1.5rem;
        }
    }

    &-title {
        font-size: 1rem;
        font-weight: 500;
        color: $gray-700;
        padding: 1rem;
        border-bottom: 1px dashed $gray-500;
    }

    &-body {
        padding: 1rem;
    }

    &-add {
        margin-top: 1rem;

        .dropdown-toggle {
            background: none;
            box-shadow: none;
        }
    }

    &-item {
        padding: 0;
        background: #fff;
        border-radius: .25rem;
        box-shadow: $bf-shadow;

        &:not(:last-child) {
            margin-bottom: .5rem;
        }

        &-move {
            width: 1.5rem;
            height: 2.5rem;
            text-align: center;
            cursor: move;

            .bi {
                height: 2.5rem;
                width: .875rem;
                fill: $gray-400;
            }
        }

        &-title {
            font-size: .875rem;
            font-weight: 500;
            line-height: 2.5rem;
            user-select: none;
        }

        &-btn {
            border: 0;
            padding: 0;
            margin: 0;
            background: none;
            /*border-left: 1px solid $gray-200;*/
            height: 2.5rem;
            width: 2.5rem;
            margin-left: auto;

            .bi {
                width: .875rem;
                height: 2.5rem;
                fill: $gray-600;
            }
        }
        // hover menu
        &:hover {
            .bi {
                fill: $blogifier;
            }
        }
    }

    &-submenu {
        margin-left: 2rem;
        margin-bottom: 0;

        &:not(:last-child) {
            margin-bottom: .25rem;
        }
    }
}
