
h1 {
    font-size: 1.5rem;
}

.content {
    padding-top: 1.1rem;
}

.badge-primary {
    background-color: #5731b3;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}

.post-cover {
    height: 30rem;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.tooltip {
    margin-left: -7px;
}

.oi-chevron-right {
    padding-left: 3px;
}

#post-editor-tabs-list {
    padding: 10px 0 0 20px;
    height: 60px;
    margin: 0;
}

.editor-categories span {
    font-size: 1.5em;
    color: #666;
    padding: 0 10px;
}

.input-categories {
    width: 90% !important;
    float: right;
    margin: 0 !important;
    padding: 0 !important;
    line-height: 22px !important;
    font-size: .95rem;
    color: #FFF !important;
    border: none !important;
    background-color: transparent;
    outline: none !important;
}

.input-group {
    margin-bottom: 15px;
}

.notfound {
    font-size: .8em;
    font-weight: 600;
    color: #888;
}

.validation-message {
    margin-left: -2px;
}

/* Initial Loader */

@keyframes spinner {
    to {
        transform: rotate(360deg);
    }
}

.spinner:before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 40px;
    height: 40px;
    margin-top: -10px;
    margin-left: -10px;
    border-radius: 50%;
    border: 2px solid #ccc;
    border-top-color: #000;
    animation: spinner .6s linear infinite;
}

#ampm {
    margin-left: 5px;
}

.dash-1 .card {
    min-height: 190px;
}

.dash-1 h3 {
    font-size: 1.3em;
}

.add-new-container .btn.add-new {
    color: #fff;
    background-color: #6200ee;
    border-color: #6200ee;
    padding: 10px 5px;
    float: right;
}

.add-new-container .btn.add-new:hover {
    border-color: #6200ee;
    background-color: #6200ee;
}


.modal-profile {
    padding: 20px;
}

.profile img {
    width: 100px !important;
    float: left;
    margin-right: 10px;
}

.card.profile {
    padding-top: 20px;
}

.card.profile h4 {
    font-size: 1em;
}

.card.dash .btn.primary {
    background-color: #666;
    opacity: 0.7;
    color: #FFF;
    border: 1px solid #666;
}

.card.dash .btn.primary:hover {
    opacity: 0.6;
}

.card.dash .btn.secondary {
    color: #666;
    border: 1px solid #888;
}

.card.dash .btn.secondary:hover {
    background-color: #f8f2f2;
}

.profile p {
    font-size: .8em;
}

.settings-table td {
    font-size: .8em;
    color: #666;
}

.settings-table label {
    color: #333;
}

.ct-series-a .ct-bar, .ct-series-a .ct-line, .ct-series-a .ct-point, .ct-series-a .ct-slice-donut {
    stroke: #6200ee;
}

.ct-bar {
    fill: none;
    stroke-width: 40px;
}

.chart-card select {
    border: none;
    width: 160px;
    margin: 0 0 0 10px;
}
