// PostListComponent.razor
.app-posts {
    // toolbar
    &-toolbar {
        margin-bottom: 1rem;
    }

    &-selectall {
        height: 2.5rem;
        padding: 0;
        width: 2.5rem;
        margin-top: 0;
        margin-bottom: 0;
        position: relative;

        .form-check-input {
            vertical-align: top;
            transform: translateY(-50%);
            position: absolute;
            top: 50%;
            left: 0;
            margin: 0;
        }
    }

    &-add {
        width: 7rem;
        border-radius: 5rem;
    }

    .dropdown-menu {
        padding: 0;
        border: 0;
        box-shadow: $bf-shadow;

        .dropdown-item {
            padding: .625rem 1rem;
            line-height: 1;
            font-size: .875rem;
            font-weight: 500;

            &:not(:last-child) {
                border-bottom: 1px solid #f5f5f6;
            }
        }
    }

    &-actions {
        .bi {
            margin-right: .5rem;
            vertical-align: middle;
        }
    }

    &-filter {
    }
    // search
    &-search {
        background: #fff;
        box-shadow: $bf-shadow;
        border-radius: .25rem;
        position: relative;


        &-toggle {
            &[aria-expanded="true"] {
                // when it's active.
            }

            .bi {
                width: .9875rem;
                height: .9875rem;
                fill: $btn-link-color;
                position:relative;
                top:-1px;
            }
        }

        &-button,
        &-input {
            height: 2.5rem;
            border: 0;
            padding: 0 1rem;
            background: 0;
        }

        &-button {
            width: 7rem;
            border-left: 1px solid #f5f5f5;
            font-size: .875rem;
            color: #888;

            &:hover {
                color: #000;
            }
        }
    }
    // list
    &-list {
        padding: 0;
        margin: 1rem 0;
        list-style: none;
        border-top: 1px solid #e6e6e6;
    }

    &-item {
        border-bottom: 1px solid #e6e6e6;

        &-select {
            height: 2.5rem;
            padding: 0;
            width: 2.5rem;
            margin-top: 0;
            margin-bottom: 0;
            position: relative;

            .form-check-input {
                vertical-align: top;
                transform: translateY(-50%);
                position: absolute;
                top: 50%;
                left: 0;
                margin: 0;
            }
        }

        &-link {
            line-height: 2.5rem;
            color: #666;
            font-weight: 500;
            display: block;
            font-size: .875rem;

            &:hover {
                color: $blogifier;
            }
        }

        button {
        }

        &-date {
            font-size: .875rem;
            color: #aaa;
        }

        &-status,
        &-featured,
        &-external {
            padding: 0;
            margin: 0;
            border: 0;
            background: none;
            width: 2.5rem;
            height: 2.5rem;
            display: block;
            text-align: center;

            .bi {
                line-height: 1;
                height: 2.5rem;
            }
        }

        &-status {
        }

        &-featured {
        }

        &-external {
            .bi {
            }

            &:hover {
                .bi {
                    fill: $blogifier;
                }
            }
        }
    }
}
