@page
@model App.Pages.Admin.Settings.ImportModel
@{
    ViewData["Title"] = "Import";
}

<div class="bf-main">
    <partial name="~/Pages/Admin/Settings/_Taskbar.cshtml" />
    <div class="bf-body">
        <h2>Settings / Import</h2>
    </div>
</div>