@page
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = Localizer["import"];
}

<div class="bf-main">
    <partial name="~/Pages/Admin/Settings/_Taskbar.cshtml" />
    <div class="bf-body">
        <div class="bf-content bf-content-boxed bf-settings">
            <div class="form-group">
                <label class="form-group-label">@Localizer["select-rss-file"]</label>
                <div class="input-group">
                    <input type="text" id="Cover" class="form-control" readonly />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-secondary btn-upload" onclick="return importClick();"> @Localizer["select"]</button>
                    </span>
                    <div class="loading loading-sm ml-3"><div class="loading-dot-1"></div><div class="loading-dot-2"></div><div class="loading-dot-3"></div></div>
                </div>
            </div>
            <div id="importMsgs"></div>
        </div>
    </div>
</div>
<div style="display:none;">
    <form method="post" name="frmImport" id="frmImport" enctype="multipart/form-data">
        <input type="file" name="file" id="file" onchange="importSubmit(); return false;" />
        <input type="submit" value="Upload Multiple" />
    </form>
</div>

@section Scripts{
    <script>
        var importClick = function () {
            $('#file').trigger('click');
            return false;
        }
        var importSubmit = function () {
            $('.loading').fadeIn('fast');
            var data = new FormData($('#frmImport')[0]);
            DataService.upload('admin/importfeed', data, importCallback, fail);
        }
        var importCallback = function (data) {

            $('#importMsgs').empty();
            $("#importMsgs").append('<table class="table">');
            $.each(data, function (index) {
                var msg = data[index];
                var tag = '';
                if (msg.importType === 0) {
                    if (msg.status === 0) {
                        tag = '<h3>' + htmlDecode(msg.message) + '</h3>';
                    }
                    else {
                        tag = '<div class="alert alert-danger" role="alert">' + htmlDecode(msg.message) + '</div>';
                    }
                }
                else {
                    if (msg.status === 0) {
                        if (msg.importType === 1) {
                            tag = '<div class="alert alert-success" role="alert">' + htmlDecode(msg.message) + '</div>';
                        }
                        else {
                            tag = '<div class="alert alert-info" role="alert">' + htmlDecode(msg.message) + '</div>';
                        }
                    }
                    else {
                        tag = '<div class="alert alert-danger" role="alert">' + htmlDecode(msg.message) + '</div>';
                    }
                }
                $("#importMsgs").append(tag);
            });
            $("#importMsgs").append('</table>');

            $('.loading').fadeOut('fast');
            toastr.success('Completed');
        }
        function htmlDecode(str) {
            return String(str).replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;').replace(/"/g, '&quot;');
        }
    </script>
}