@page
@model App.Pages.Admin.Settings.PasswordModel
@{
    ViewData["Title"] = "Password";
}

<div class="bf-main">
    <partial name="~/Pages/Admin/Settings/_Taskbar.cshtml" />
    <div class="bf-body">
        <form method="post" asp-antiforgery="true">
            <div class="bf-content bf-content-boxed bf-settings">
                <div asp-validation-summary="All" class="text-danger"></div>
                <input type="hidden" asp-for="ChangePasswordModel.UserName" />
                <div class="form-group">
                    <label asp-for="ChangePasswordModel.OldPassword" class="form-group-label"></label>
                    <input asp-for="ChangePasswordModel.OldPassword" class="form-control" autofocus />
                </div>
                <div class="form-group">
                    <label asp-for="ChangePasswordModel.NewPassword" class="form-group-label"></label>
                    <input asp-for="ChangePasswordModel.NewPassword" class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="ChangePasswordModel.ConfirmPassword" class="form-group-label"></label>
                    <input asp-for="ChangePasswordModel.ConfirmPassword" class="form-control" />
                </div>
                <button type="submit" class="btn btn-primary btn-main">Save</button>
            </div>
        </form>
    </div>
</div>
@section Scripts{
    @if (Model.ShowMessage)
    {
        <script>toastr.success('@Model.Message')</script>
    }
}