@page
@model App.Pages.Admin.Settings.PasswordModel
@{
    ViewData["Title"] = "Password";
}

<div class="bf-main">
    <partial name="~/Pages/Admin/Settings/_Taskbar.cshtml" />
    <div class="bf-body">
        <h2>Settings / Password</h2>
    </div>
</div>