@page
@inject IViewLocalizer Localizer
@inject Core.Services.IStorageService Storage
@inject Core.Services.IDataService Data
@{
    ViewData["Title"] = "Theme";
    var blog = await Data.CustomFields.GetBlogSettings();
    var theme = blog.Theme;
    var widgets = Storage.GetWidgets(theme);
    var show = "show";
}

<div class="bf-main">
    <partial name="~/Pages/Admin/Settings/_Taskbar.cshtml" />
    <div class="bf-body">
        <div class="bf-content">
            <div class="settings-body">
                @if (widgets.Any())
                {
                    <div class="accordion" id="accordion-widgets">
                        @foreach (var widget in widgets)
                        {
                            var path = $"~/Views/Widgets/{widget.Widget}/Edit.cshtml";
                            <div class="card">
                                <div class="card-header" id="heading-@widget.Widget">
                                    <h5 class="mb-0">
                                        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapse-@widget.Widget" aria-expanded="false" aria-controls="collapse-@widget.Widget">
                                            @widget.Title
                                        </button>
                                    </h5>
                                </div>
                                <div id="collapse-@widget.Widget" class="collapse @show" aria-labelledby="heading-@widget.Widget" data-parent="#accordion-widgets">
                                    <div class="card-body">
                                        @{
                                            await Html.RenderPartialAsync(path, new ThemeWidget { Theme = theme, Widget = widget });
                                        }
                                    </div>
                                </div>
                            </div>
                            show = "";
                        }
                    </div>
                }
            </div>
        </div>
    </div>
</div>