@using Blogifier.Core.Common
@{ 
    var pageTitle = ApplicationSettings.Title;
    var pageDescription = ApplicationSettings.Description;
    var customHead = "";
    try
    {
        pageTitle = Model.PageTitle;
        pageDescription = Model.PageDescription;
        var cf = Model.CustomFields;
        customHead = (cf.ContainsKey("Head") && !string.IsNullOrEmpty(cf["Head"])) ? cf["Head"] : "";
    }
    catch { }
}
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>@pageTitle</title>
<meta name="description" content="@pageDescription">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700" rel="stylesheet">
<link href="~/blogifier/blog/onezero/css/bootstrap.min.css" rel="stylesheet">
<link href="~/blogifier/blog/onezero/css/font-awesome.min.css" rel="stylesheet">
<link href="~/blogifier/blog/onezero/css/prism.css" rel="stylesheet">
<link href="~/blogifier/blog/onezero/css/styles.min.css" rel="stylesheet" asp-append-version="true">
<link rel="shortcut icon" href="~/embedded/lib/img/favicon.ico">
@Html.Raw(customHead)