@inject IViewLocalizer Localizer
@inject Core.Services.IDataService _data;
@{
    bool _isAdmin = false;
    try
    {
        var user = _data.Authors.Single(a => a.AppUserName == User.Identity.Name);
        if (user != null)
        {
            _isAdmin = user.IsAdmin;
        }
    }
    catch { }
}
<div class="bf-sidebar d-lg-block">
    <div class="bf-settings-sidebar">
        <ul class="bf-settings-sidebar-nav">
            @if (_isAdmin)
            {
            <li is-active-route asp-controller="notifications" asp-action="index">
                <a href="~/admin/notifications">@Localizer["notifications"]</a>
            </li>
            <li is-active-route asp-controller="notifications" asp-action="newsletter">
                <a href="~/admin/notifications/newsletter">@Localizer["newsletter"]</a>
            </li>
            <li is-active-route asp-controller="notifications" asp-action="contact">
                <a href="~/admin/notifications/contact">@Localizer["contact"]</a>
            </li>
            }
        </ul>
    </div>
</div>