@inject IViewLocalizer Localizer
@inject Core.Services.IDataService _data;
@{
    bool _isAdmin = false;
    try
    {
        var user = _data.Authors.Single(a => a.AppUserName == User.Identity.Name);
        if (user != null)
        {
            _isAdmin = user.IsAdmin;
        }
    }
    catch { }
}
<div class="bf-sidebar d-lg-block">
    <div class="bf-settings-sidebar">
        <ul class="bf-settings-sidebar-nav">
            @if (_isAdmin)
            {
            <li is-active-route asp-controller="settings" asp-action="index">
                <a href="~/admin/settings">@Localizer["general"]</a>
            </li>
            }
            <li is-active-route asp-controller="settings" asp-action="profile">
                <a href="~/admin/settings/profile">@Localizer["profile"]</a>
            </li>
            @if (_isAdmin)
            {
            <li is-active-route asp-controller="settings" asp-action="users">
                <a href="~/admin/settings/users">@Localizer["users"]</a>
            </li>
            <li is-active-route asp-controller="settings" asp-action="import">
                <a href="~/admin/settings/import">@Localizer["import"]</a>
            </li>
            }
        </ul>
    </div>
</div>