@page
@model App.Pages.Admin.Shared.ErrorModel
@{
    var statusCode = Model.Code;
    var statusmessage = "";
    switch (statusCode)
    {
        case 400:
            statusmessage = "Bad request: The request cannot be fulfilled due to bad syntax";
            break;
        case 403:
            statusmessage = "Forbidden";
            break;
        case 404:
            statusmessage = "Page not found";
            break;
        case 408:
            statusmessage = "The server timed out waiting for the request";
            break;
        case 500:
            statusmessage = "Internal Server Error - server was unable to finish processing the request";
            break;
        default:
            statusmessage = "That’s odd... Something we didn't expect happened";
            break;
    }

    ViewData["Title"] = statusmessage;
    Layout = "~/Pages/Admin/Shared/_Layout.cshtml";
}

<div class="page-content">
    <div class="container" style="padding: 40px 0">
        <h1>Error @Model.Code</h1>
        <p>@statusmessage</p>
    </div>
</div>