.themes {
  &-item {
    margin-bottom: 3rem;
  }
  &-thumbnail {
    border-radius: 0.325rem;
    display: block;
    // 4:5
    width: 12.5rem;
    height: 15.625rem;
    object-fit: cover;
    object-position: center;
  }

  &-info {
    margin-left: 2rem;
    padding-top: 1rem;
  }

  &-title {
    margin-bottom: 1.5rem;
  }

  &-meta {
    list-style: none;
    padding: 0;
    margin: 0 0 1.5rem;
    color: $gray-600;

    &-item {
      margin-right: 1.5rem;
    }
  }

  &-desc {
    margin-bottom: 1.5rem;
    width: 100%;
    max-width: 75%;
  }
}
