@using Askmethat.Aspnet.JsonLocalizer.Localizer
@inject IDataService DataService
@inject IJsonStringLocalizer<ListModel> Localizer
@{
    var blog = await DataService.CustomFields.GetBlogSettings();
}

<!-- Preloader -->
<div class="preloader d-flex align-items-center justify-content-center">
    <div class="lds-ellipsis">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>

<!-- ##### Header Area Start ##### -->
<header class="header-area">
    <!-- Navbar Area -->
    <div class="vizew-main-menu rusetfs" id="sticker">
        <div class="classy-nav-container breakpoint-off">
 
            <!-- Menu -->
            <nav class="navbar sticky-top navbar-expand-sm navbar-dark">
                <a class="navbar-brand navbar-logo mb-0" href="/">
                    <span class="logo-light">RUS</span><span class="logo-bold">ETFS</span>
                </a>
                <button aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-target="#navbarNavAltMarkup" data-toggle="collapse" type="button">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav flex-fill">
                        <a class="nav-item nav-link " href="https://rusetfs.com/screener">Скринер</a>
                        <a class="nav-item nav-link " href="https://rusetfs.com/map">Карта</a>
                        <a class="nav-item nav-link " href="https://rusetfs.com/portfolio/calculator">Портфель</a>
                        <a class="nav-item nav-link " href="https://rusetfs.com/community">Сообщество</a>
                        <a class="nav-item nav-link active" href="https://blog.rusetfs.com">Статьи</a>
                        <a class="nav-item nav-link " href="https://rusetfs.com/donation">Помощь проекту</a>
                    </div>
                    <div class="buttons">
                        <button ><i class="fa fa-search"></i></button>
                    </div>
                </div>
            </nav>
 
        </div>
    </div>
</header>

@{
    AppSettings.SiteRoot = Url.Content("~/");
}