<title>Title</title>
<meta name="description" content="Description">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700|Merriweather:700" rel="stylesheet">
<environment include="Development">
    <link href="~/themes/standard/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/themes/standard/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/themes/standard/css/prism.css" rel="stylesheet">
    <link href="~/themes/standard/css/styles.min.css" rel="stylesheet" asp-append-version="true">
</environment>
<environment exclude="Development">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link href="~/themes/standard/css/standard.min.css" rel="stylesheet">
</environment>
<link rel="shortcut icon" href="~/themes/standard/img/standard.ico">