@using Askmethat.Aspnet.JsonLocalizer.Localizer
@inject IDataService DataService
@inject IJsonStringLocalizer<ListModel> Localizer
@{
    var blog = await DataService.CustomFields.GetBlogSettings();

    var facebook = DataService.CustomFields.GetCustomValue("facebook");
    var twitter = DataService.CustomFields.GetCustomValue("twitter");
    var instagram = DataService.CustomFields.GetCustomValue("instagram");
    var pinterest = DataService.CustomFields.GetCustomValue("pinterest");
    var github = DataService.CustomFields.GetCustomValue("github");
}

<!-- Preloader -->
<div class="preloader d-flex align-items-center justify-content-center">
    <div class="lds-ellipsis">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>

<!-- ##### Header Area Start ##### -->
<header class="header-area">
    <!-- Top Header Area -->
    <div class="top-header-area">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-12 col-md-6">
                    <span class="blog-title">@blog.Title</span>
                </div>
                <div class="col-12 col-md-6">
                    <div class="top-meta-data d-flex align-items-center justify-content-end">
                        <!-- Top Social Info -->
                        <div class="top-social-info">
                            @if (!string.IsNullOrEmpty(facebook)){<a href="https://www.facebook.com/@facebook"><i class="fa fa-facebook"></i></a>}
                            @if (!string.IsNullOrEmpty(twitter)){<a href="https://www.twitter.com/@twitter"><i class="fa fa-twitter"></i></a>}
                            @if (!string.IsNullOrEmpty(pinterest)){<a href="https://www.pinterest.com/@pinterest"><i class="fa fa-pinterest"></i></a>}
                            @if (!string.IsNullOrEmpty(instagram)){<a href="https://www.instagram.com/@instagram"><i class="fa fa-instagram"></i></a>}
                            @if (!string.IsNullOrEmpty(github)){<a href="https://www.github.com/@github"><i class="fa fa-github"></i></a>}
                        </div>
                        <!-- Top Search Area -->
                        <div class="top-search-area">
                            <form asp-controller="Blog" asp-action="Search" method="post">
                                <input type="search" id="term" name="term" placeholder="Search...">
                                <button type="submit" class="btn"><i class="fa fa-search" aria-hidden="true"></i></button>
                            </form>
                        </div>
                        <!-- Login -->
                        <a href="~/admin" class="login-btn"><i class="fa fa-user" aria-hidden="true"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Navbar Area -->
    <div class="vizew-main-menu" id="sticker">
        <div class="classy-nav-container breakpoint-off">
            <div class="container">

                <!-- Menu -->
                <nav class="classy-navbar justify-content-between" id="vizewNav">

                    <!-- Nav brand -->
                    <a href="~/blog" class="nav-brand"><img src="~/themes/vizew/img/core-img/logotype.png" alt=""></a>

                    <!-- Navbar Toggler -->
                    <div class="classy-navbar-toggler">
                        <span class="navbarToggler"><span></span><span></span><span></span></span>
                    </div>

                    <div class="classy-menu">

                        <!-- Close Button -->
                        <div class="classycloseIcon">
                            <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                        </div>

                        <!-- Nav Start -->
                        <div class="classynav">
                            <ul>
                                <li><a href="~/">Home</a></li>
                                <li class="active"><a href="~/blog">Blog</a></li>
                                <li><a href="~/feed/rss">Subscribe</a></li>
                            </ul>
                        </div>
                        <!-- Nav End -->
                    </div>
                </nav>
            </div>
        </div>
    </div>
</header>

@{
    AppSettings.SiteRoot = Url.Content("~/");
}