/*

    Author:     Francis - http://francis.bio/
    Version:    1.0

*/

// Base
@import "base/variables";
@import "base/reset";
@import "base/base";

// Layout
@import "layout/main";
@import "layout/header";
@import "layout/footer";
@import "layout/cover";
@import "layout/widgets";

// Components
@import "components/button";
@import "components/search";
@import "components/pagination";
@import "components/tooltip";
@import "components/browserupgrade";
@import "components/hamburgers";
@import "components/modal";
 
// Pages
@import "pages/post";
@import "pages/single";
@import "pages/featured";
@import "pages/author";
@import "pages/error";
@import "pages/index";
@import "pages/category";
@import "pages/search";

// Widgets
@import "widgets/social";
@import "widgets/posts";
@import "widgets/tags";
@import "widgets/categories";
@import "widgets/newsletter";
