<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Newsletter</title>
</head>
<body style="padding: 20px">
    <h2>{3}</h2>
    <div style="font-weight:600;font-size:.9rem;color:#5731b3">Just published on {0}</div>
    <div style="padding:20px 0">{4}</div>
    <div style="background-color: #5731b3;border-color: #1861ac;border-radius:.25rem;min-width:100px;max-width:200px;padding:10px;margin:20px 0;text-align:center">
        <a href="{10}posts/{6}" style="color:#FFF;text-transform:uppercase;text-decoration:none;font-size:.8rem;font-weight:600">Keep reading...</a>
    </div>
</body>
</html>