
<footer class="blog-footer">
    <div class="container">
        <div class="widget widget-newsletter">
            <h4 class="widget-title"><span>Newsletter</span></h4>
            <div class="widget-body">
                <ul>
                    @await Component.InvokeAsync("Newsletter", new { theme = "cheese", widget = "Newsletter" })
                </ul>
            </div>
        </div>

        <div class="blog-footer-wrap">

            <div class="widget widget-social">
                <h4 class="widget-title"><i class="widget-icon fa fa-share-alt"></i><span>Follow Us</span></h4>
                <div class="widget-body">
                    @*@await Component.InvokeAsync("HtmlBlock", new { theme = "cheese", widget = "Social Buttons" })*@
                    <div class="row">
                        <div class="col-sm-6"><a class="widget-social-fb" target="_blank" href="https://facebook.com/blogifierdotnet"><i class="fa fa-facebook"></i> <span>Facebook</span></a></div>
                        <div class="col-sm-6"><a class="widget-social-tw" target="_blank" href="https://twitter.com/blogifierdotnet"><i class="fa fa-twitter"></i> <span>Twitter</span></a></div>
                        <div class="col-sm-6"><a class="widget-social-in" target="_blank" href="https://instagram.com/blogifierdotnet"><i class="fa fa-instagram"></i> <span>Instagram</span></a></div>
                        <div class="col-sm-6"><a class="widget-social-rss" target="_blank" href="/feed/rss"><i class="fa fa-rss"></i> <span>Subscribe</span></a></div>
                    </div>
                </div>
            </div>


            <div class="blog-copyright">
                <p class="">Copyright © @DateTime.Now.Year. Powered by <a href="https://github.com/blogifierdotnet/Blogifier" data-toggle="tooltip" target="_blank" title="Version - @AppSettings.Version">Blogifier</a>. Designed by <a href="https://francis.bio/" target="_blank" rel="nofollow">Francis</a>.</p>
            </div>
        </div>
    </div>
</footer>

@*<a href="#" onclick="profileLogOut(); return false;">Logoff</a>
    <form method="post" id="frmLogOut" asp-controller="Account" asp-action="Logout" asp-antiforgery="true"></form>*@
<script src="~/themes/cheese/js/jquery.min.js"></script>
<script src="~/themes/cheese/js/popper.min.js"></script>
<script src="~/themes/cheese/js/bootstrap.min.js"></script>
<script src="~/themes/cheese/js/prism.js"></script>
<script src="~/themes/cheese/js/blog.js" asp-append-version="true"></script>




