.alert {
    padding: 3rem;
    background: #333;
    color: #fff;
    border-radius: $radius-md;
    margin-bottom: 1rem;

    p, h1, h2, h3, h4 {
        margin-bottom: 1rem;
    }

    p {
        &:last-child {
            margin-bottom: 0;
        }
    }

    &-info {
        background: #2972cc;
    }

    &-danger {
        background: #A22C29;
    }

    &-success {
        background: #29a25c;
    }

    &-warning {
        background: #FE9920;
    }
}
