.btn {
    cursor: pointer;
    padding: 0 2rem;
    height: 2.5rem;
    line-height: 2.5rem;
    font-weight: $fw-medium;
    font-size: .875rem;
    text-transform: uppercase;

    &-icon-rounded {
        width: 2.5rem;
        padding: 0;
        border-radius: 100%;
    }

    &-outline-light {
        &:hover, &:active {
            color: #000;
        }
    }

    &-sm {
        height: 2.25rem;
        line-height: 2.25rem;
        padding: 0 1.5rem;
    }

    &-lg {
        height: 3.5rem;
        line-height: 3.5rem;
        padding: 0 3rem;
        font-size: 1.25rem;
    }

    &-rounded {
        border-radius: 3.5rem;
    }
}

// btn-group-icon
.btn-group-icon {
    .btn {
        padding: 0;
        width: 3rem;

        &-sm {
            width: 2.5rem;
        }
    }
}

// btn-icon
.btn-icon {
    padding: 0;
    width: 3rem;
}

// btn-group
.btn-group {
    .btn {
        &:focus, &.focus {
            box-shadow: none;
        }
    }
}

// btn-primary
.btn-primary {
    color: #fff;
    background-color: $cl-bf;
    border-color: $cl-bf;

    &:hover, &:active, &.active {
        color: #fff;
        background-color: $cl-bf-light;
        border-color: $cl-bf-light;
    }

    &:focus, &.focus {
        box-shadow: 0 0 0 3px rgba($cl-bf, .25);
    }

    &.disabled, &:disabled {
        background-color: $cl-bf;
        border-color: $cl-bf;
    }
}

.show > .btn-primary.dropdown-toggle {
    background-color: $cl-bf-light;
    border-color: $cl-bf-light;
}

// btn-outline-primary

.btn-outline-primary {
    color: $cl-bf;
    background-color: transparent;
    background-image: none;
    border-color: $cl-bf
}

.btn-outline-primary:hover {
    color: #fff;
    background-color: $cl-bf;
    border-color: $cl-bf
}

.btn-outline-primary.focus, .btn-outline-primary:focus {
    box-shadow: 0 0 0 3px rgba(0,123,255,.5)
}

.btn-outline-primary.disabled, .btn-outline-primary:disabled {
    color: $cl-bf;
    background-color: transparent
}

.btn-outline-primary.active, .btn-outline-primary:active, .show > .btn-outline-primary.dropdown-toggle {
    color: #fff;
    background-color: $cl-bf;
    border-color: $cl-bf
}


// btn-light
.btn-light {
    background: #fff;
}

// btn-link
.btn-link {
    color: $cl-bf;


    &:focus, &:hover {
        color: $cl-bf-light;
        text-decoration: none;
    }
}

// no style
.btn-unstyled {
    @include unstyled(button);
}
