.btn {
    cursor: pointer;
    padding: 0 2rem;
    height: 2.5rem;
    line-height: 2.5rem;
    font-weight: $fw-medium;
    font-size: .875rem;
    text-transform: uppercase;

    &-icon-rounded {
        width: 2.5rem;
        padding: 0;
        border-radius: 100%;
    }

    &-outline-light {
        &:hover, &:active {
            color: #000;
        }
    }
}

// btn-group-icon
.btn-group-icon {
    .btn {
        padding: 0;
        width: 3rem;
    }
}

// btn-icon
.btn-icon {
    padding: 0;
    width: 3rem;
}

// btn-group
.btn-group {
    .btn {
        &:focus, &.focus {
            box-shadow: none;
        }
    }
}

// btn-primary
.btn-primary {
    color: #fff;
    background-color: $cl-bf;
    border-color: $cl-bf;

    &:hover, &:active, &.active {
        color: #fff;
        background-color: $cl-bf-light;
        border-color: $cl-bf-light;
    }

    &:focus, &.focus {
        box-shadow: 0 0 0 3px rgba($cl-bf, .25);
    }

    &.disabled, &:disabled {
        background-color: $cl-bf;
        border-color: $cl-bf;
    }
}

.show > .btn-primary.dropdown-toggle {
    background-color: $cl-bf-light;
    border-color: $cl-bf-light;
}

// btn-link
.btn-link {
    color: $cl-bf;


    &:focus, &:hover {
        color: $cl-bf-light;
        text-decoration: none;
    }
}

// no style
.btn-unstyled {
    @include unstyled(button);
}
