.dropdown {
    .dropdown-menu {
        padding: 0;
        border:0;
        overflow:hidden;
        ul{
            @include unstyled(ul);
        }
    }


    .dropdown-toggle {
        &::after {
            display: none;
        }
    }
}
