
.mce-tinymce {
    margin-top: -4rem;
    background: none !important;
}

.mce-flow-layout {
    white-space: nowrap;
}

#mceu_21, #mceu_21-body {
    width: 100%;
    padding: 0;
    margin: 0;
}

#mceu_21 {
    padding-right: 105px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

#mceu_21-body {
    display: flex;

    > .mce-btn {
        flex: 1;
        padding: 0;
        background: none;
        text-align: center;
        border: 0;
        margin: 0;

        button {
            height: 4rem;
            padding: 0;
            display: block;
            width: 100%;
            text-align: center;


            &:hover {
                background-color: $color-black-20;
            }
        }

        &.mce-active {
            button {
                background-color: $color-black-20;
            }
        }
    }

    .mce-colorbutton {
        button {
            float: left;

            .mce-preview {
                display: none !important;
            }

            i.mce-i-backcolor {
                background: $color-black-20;
                border-radius: 100%;
                width: 1.5rem;
                height: 1.5rem;
                text-align: center;
                line-height: 1.5rem;
            }
        }

        .mce-open {
            border: none !important;
            position: absolute;



            .mce-caret {
                display: none !important;
            }
        }
    }
}

.mce-floatpanel {
    margin-top: 0;

    .mce-menu-item.mce-first {
        display: none;
    }
}


.mce-panel {
    border: 0;
}

.mce-caret {
    border-top-color: #fff
}

.mce-ico, .mce-txt {
    color: #fff;
}


.mce-toolbar-grp {
    height: 4rem;
    padding: 0;

    &.mce-panel {
        background: none !important;
    }

    .mce-btn {
        padding: 0;
    }
}


.mce-menubtn.mce-fixed-width span {
    width: auto;
}


#mceu_0-open {
    color: #fff;

    .mce-txt {
        font-size: 18px;
        font-weight: bold;
        display: inline;
    }

    .mce-caret {
        display: none !important;
    }
}

.mce-menu {
    background-color: #111;
    padding: 0;

    .mce-menu-item {
        padding: .25rem .5rem;
        margin: 0;
        border: 0;


        &:hover, &.mce-selected {
            background-color: #222;
        }

        .mce-text {
            color: #aaa;
            display: inline-block;
        }

        i {
            color: #aaa;
        }


        span {
            padding: 0;
            margin: 0;
        }
    }

    .mce-container-body.mce-stack-layout[role="menu"] {
        width: 100% !important;
    }

    .mce-menu-item-sep {
        border-color: #333 !important;
    }
}

.mce-grid-border a {
    border-color: #666;
}

.mce-grid-border a:hover, .mce-grid-border a.mce-active {
    border-color: #eee;
    background: #eee;
}

.mce-menu-sub .mce-text-center {
    color: #fff;
}
