.custom-control-indicator {
    border: 2px solid $color-black-20;
    background-color: transparent;
    width: 1.125rem;
    height: 1.125rem;
    top: .125rem;
}

.bf-sidebar {
    .custom-control-input:checked ~ .custom-control-indicator {
        border-color: $color-black-5;
        background-color: $color-black-20;
    }

    .custom-control-input:focus ~ .custom-control-indicator {
        box-shadow: none;
        border-color: $color-white-10;
    }
}

.custom-control-input:checked ~ .custom-control-indicator {
    background-color: $color-brand-purple-dark;
    border-color: $color-brand-purple-dark;
}

.custom-control-input:focus ~ .custom-control-indicator {
    box-shadow: 0 0 0 1px #fff, 0 0 0 3px $color-brand-purple-dark;
}
