.modal {
    .modal-header {
        padding: .75rem 1rem;

        h4 {
            font-size: 1rem;
            margin: 0;
        }
        .close {
            font-size:1rem;
            cursor:pointer;
        }
    }

    .modal-content {
        border: 0;
        overflow: hidden;
    }
}

.modal-backdrop {
    &.show {
        opacity: .75;
    }
}
