.bf-nav {
    height: 96px;
    padding: 1.5rem;
    border-bottom: 1px solid $cl-black-5;

    .item-img {
        width: 3rem;
        border-radius: 100%;
        margin-right: 1rem;
        float: left;
        display: block;
    }

    .item-name {
        float: left;
        display: block;
        line-height: 3rem;
    }
}
