.bf-nav {
    position: fixed;
    right: 1rem;
    top: 1rem;
    z-index: 1001;
    @include noselect;
    height: 2.75rem;

    .dropdown-toggle {
        @include unstyled(button);
        width: 2.75rem;
        height: 2.75rem;
        cursor: pointer;
        background: $cl-bf;
        @include border-radius($radius);

        img {
            display: block;
            width: 100%;
            height: 100%;
            @include border-radius($radius);
        }
    }

    .dropdown-menu {
        width: 12rem;
        margin-top:.25rem;
    }
}
