.tooltip-box {
    background: rgba(0, 0, 0, 0.75);
    border-radius: 2px;
    padding: .35rem .5rem .25rem;
    position: absolute;
    z-index: 1000;
    transform: translateX(-50%);
    margin-top: 1rem;
    font-size: .75rem;
    text-transform: uppercase;
    white-space: nowrap;
    color:#fff;
    &::before {
        @include triangle(.75rem, rgba(0, 0, 0, 0.75), up);
        position: absolute;
        top: -.75rem;
        left: 50%;
        transform: translateX(-50%);
    }
}
