.widget-posts {
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    &-item {
        margin-bottom: 1rem !important;
        position: relative;
        padding-left: 4rem;
        min-height: 3rem;
        padding-top: .25rem;

        &:last-child {
            border: 0;
            margin: 0;
        }
    }


    &-link {
        color: #111 !important;

        &:hover {
            color: $color-theme !important;
        }
    }

    &-title {
        font-size: 1rem;
        font-weight: 500;
        margin: 0;
    }

    &-date {
        font-size: 0.75rem;
        color: #666;
    }

    &-img {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 3rem;
        height: 3rem;
        border-radius: 100%;
    }

    &-desc {
        font-size: 0.75rem;
        color: #666;
        display: none;
    }

    &-cat {
        font-size: 0.75rem;
        color: #666;
    }
}
