.pagination {
    margin: 4rem 0;

    .item {
        margin: 0 .5rem;
        &-link {
            padding: .5rem 2rem;
            font-size: 2rem;
            color:#888;
            font-weight: 500;
            border-radius: 10rem;
            display: block;

            &:hover {
                color:#111;
            }
        }
    }
}
