.bf-editor {
    padding-top: 5.5rem;
    padding-bottom: 4.75rem;

    &-container {
        max-width: 1024px;
        width: 100%;
        margin: 0 auto;
    }

    @media (max-width: 800px) {
        padding-top: 5rem;
    }

    @media (max-width: 480px) {
        padding-top: 4rem;
    }
}

.bf-editor-header {
    background: #333;
    position: relative;
    margin-bottom: 3rem;
    padding: 3rem 0 3.25rem;

    &.bf-editor-cover {
        width: 100%;
        z-index: 100;
        padding: 10rem 0 3.25rem;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

        &:after {
            display: block;
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.52);
            z-index: 0;
        }
    }

    .bf-editor-title {
        display: block;
        border: none;
        background: none;
        font-size: 2rem;
        padding: 0;
        outline: none;
        color: #fff;
        position: relative;
        z-index: 1;
        font-weight: $fw-normal;
    }
}

.bf-editor-footer {
    margin-top: 3rem;

    .btn-group.float-right {
        margin-left: .25rem;
    }

    .dropdown-menu {
        width: 100%;
        max-width: 100%;
        min-width: 100%;

        .dropdown-item {
            font-weight: $fw-medium;
            font-size: .75rem;
            text-transform: uppercase;
        }
    }
}

.bf-editor-settings {
    padding: 0;

    h5 {
        font-size: .875rem;
        text-transform: uppercase;
    }

    > div {
        padding: 1rem;
    }
}

.bf-editor-category {
    border-bottom: 1px solid #eee;

    form {
        margin-bottom: 1rem;
    }

    ul {
        @include unstyled(ul);
        max-height: 360px;
        overflow-y: auto;
    }

    li {
        position: relative;

        &:hover {
            i {
                display: block;
            }
        }

        label {
            display: block;
            padding-left: 2rem;
            margin: 0;
            font-size: 1rem;
        }

        .custom-control-indicator {
            left: .25rem;
        }

        i {
            position: absolute;
            right: 0;
            top: .125rem;
            display: none;
            cursor: pointer;
        }
    }
}
