.bf-editor {
    padding-top: 4.75rem;
    padding-bottom: 4.75rem;

    &-container {
        max-width: 1024px;
        width: 100%;
        margin: 0 auto;
    }
}

.bf-editor-header {
    background: #333;
    position: relative;
    margin-bottom: 3rem;
    padding: 3rem 0 3.25rem;

    &.bf-editor-cover {
        width: 100%;
        z-index: 100;
        padding: 10rem 0 3.25rem;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

        &:after {
            display: block;
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.52);
            z-index: 0;
        }
    }

    .bf-editor-title {
        display: block;
        border: none;
        background: none;
        font-size: 2rem;
        padding: 0;
        outline: none;
        color: #fff;
        position: relative;
        z-index: 1;
        font-weight: $font-weight-normal;
    }
}

.bf-editor-footer {
    margin-top: 3rem;

    .btn-group.float-right {
        margin-left: .25rem;
    }

    .dropdown-menu {
        width: 100%;
        max-width: 100%;
        min-width: 100%;

        .dropdown-item {
            font-weight: $font-weight-medium;
            font-size: .75rem;
            text-transform: uppercase;
        }
    }
}
