.bf-editor {
    min-height: 100%;
    position: relative;


    @media screen and (max-width:55rem) {
    }
}

.bf-editor-header {
    background-color: #333;
    position: relative;
    width: 100%;
    z-index: 100;
    padding: 12rem 3rem 3rem;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    &:after {
        display: block;
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.52);
        z-index: 0;
    }

    .bf-editor-title {
        display: block;
        border: none;
        background: none;
        font-size: 2rem;
        padding: 0;
        outline: none;
        color: #fff;
        position: relative;
        z-index: 1;
        font-weight: $fw-normal;
        width: 100%;
    }

    @media screen and (max-width:71rem) {
        padding-left: 2rem;
    }

    @media screen and (max-width:55rem) {
        margin-top: 6rem;
        padding: 2rem;

        .bf-editor-title {
            font-size: 1.5rem;
        }
    }

    @media screen and (max-width:30rem) {
        padding: 1.5rem 1rem;
        margin-top: 5rem;
    }
}

.bf-editor-form {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;

    .form-control-text {
        border: 0;
        background: none;
        padding: 0;
        height: 100%;
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1;
    }
}

.bf-editor-footer {
    background: #f7f7f7;
    padding: 2rem 3rem;

    .btn-group.float-right {
        margin-left: .25rem;
    }

    .dropdown-menu {
        width: 100%;
        max-width: 100%;
        min-width: 100%;

        .dropdown-item {
            font-weight: $fw-medium;
            font-size: .75rem;
            text-transform: uppercase;
        }
    }

    @media screen and (max-width:71rem) {
        padding: 2rem;
    }

    @media screen and (max-width:55rem) {
        padding: .5rem 1rem;

        .btn {
            padding: 0 .75rem;
            height: 2.5rem;
            line-height: 2.5rem;
            font-size: 1rem;
        }

        .btn-group-icon {
            .btn {
                padding: 0;
                width: 2.5rem;
            }
        }
    }
}

.bf-editor-settings {
    padding: 0;

    h5 {
        font-size: .875rem;
        text-transform: uppercase;
    }

    > div {
        padding: 1rem;
    }
}

.bf-editor-category {
    border-bottom: 1px solid #eee;

    form {
        margin-bottom: 1rem;
    }

    ul {
        @include unstyled(ul);
        max-height: 15rem;
        overflow-y: auto;
    }

    li {
        position: relative;

        &:hover {
            i {
                display: block;
            }
        }

        label {
            display: block;
            padding-left: 2rem;
            margin: 0;
            font-size: 1rem;
        }

        .custom-control-indicator {
            left: .25rem;
        }

        i {
            position: absolute;
            right: 0;
            top: .125rem;
            display: none;
            cursor: pointer;
        }
    }
}
