.bf-editor-nav {
    position: fixed;
    top: 1.5rem;
    left: 1.5rem;
    z-index: 10001;

    .dropdown-toggle {
        position: relative;
        @include unstyled(button);
        cursor: pointer;
        height: 2.5rem;
        color: #fff;
        min-width: 2.5rem;

        &:hover, &[aria-expanded="true"] {
            img {
                box-shadow: 0 0 .5rem 0 rgba(0, 0, 0, 0.27);
            }
        }

        img {
            width: 2.5rem;
            height: 2.5rem;
            border-radius: 50%;
            position: absolute;
            top: 0;
            left: 0;
        }

        span {
            display: block;
            line-height: 2.5rem;
            padding-left: 3.5rem;
            color: #fff;
            font-weight: 500;
        }
    }

    .dropdown-menu {
        margin-top: 1rem;

        &::before {
            @include triangle(.875rem, #fff, up);
            position: absolute;
            top: -.8125rem;
            left: .8125rem;
        }
    }

    .dropdown-item {
        font-size: .875rem;
    }

    @media (max-width: 800px) {
        top: 0;
        left: 0;

        .dropdown-toggle {
            width: 5rem;
            height: 5rem;
            border-radius: 0;
        }
    }

    @media (max-width: 480px) {

        .dropdown-toggle {
            width: 4rem;
            height: 4rem;
        }
    }
}
