.post {
  &-cover {
    width: 100%;
    height: 20rem; // TODO: maybe make it possible to customize it from admin panel?
    margin: 0; // reset the figure margin
    position: relative;
    background-color: #000;
    &-img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      object-position: center;
      opacity: 0.9; // For when we have a very white cover.
    }
    &-caption {
      display: block;
      max-width: 100%;
      width: calc(var(--post-width) + var(--post-gap));
      position: relative;
      bottom: calc(var(--post-gap) / 2);
      margin: -1.5rem auto 0;
      color: #fff;
      font-size: 0.625rem;
      text-align: right;
      line-height: 1rem;
      a,
      span {
        border-radius: $radius;
        display: inline-block;
        padding: 0 0.25rem;
        opacity: 0.7;
        color: #fff;
        background-color: rgba(0, 0, 0, 0.3);
        &:hover {
          opacity: 1;
          background-color: #000;
        }
      }
    }

    // This ::after make a white header background on the top of the post title.
    &::after {
      content: "";
      display: block;
      height: calc(var(--post-gap) / 2);
      width: calc(var(--post-width) + var(--post-gap));
      max-width: 100%;
      position: absolute;
      left: 50%;
      bottom: 0;
      transform: translateX(-50%);
      background-color: #fff;
      border-top-left-radius: $radius;
      border-top-right-radius: $radius;
    }
  }

  &-container {
    max-width: calc(
      var(--post-width) + 2rem
    ); // calc and maintain the actual with
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 1rem;
    padding-left: 1rem;
  }

  // header
  &-title {
    margin-bottom: 2.5rem;
    line-height: 1.1;
    letter-spacing: -1px;
    font-weight: 700;
    font-size: 3.25rem;
    color: #000;
  }

  &-meta {
    margin-bottom: 2.5rem;
    line-height: 1.4;
    font-size: 0.875rem;
    font-weight: 300;
    color: #666;
    white-space: nowrap;
    cursor: default;

    &-item {
      &:not(:last-of-type) {
        margin-right: 1.75rem;
      }
    }

    &-label {
      display: block;
      font-size: 0.75rem;
      color: #999;
    }

    a {
      color: #666;
      text-decoration: none;
      &:hover {
        color: $color;
      }
    }

    &-btn {
      height: 2rem;
      width: 2rem;
      border: 0;
      margin: 0;
      padding: 0;
      background: none;
      text-align: center;

      .bi {
        width: 1.25rem;
        height: 100%;
        fill: #888;
      }

      &:hover {
        .bi {
          fill: $color;
        }
      }
    }

    &-author {
      display: flex;
      align-items: center;
      &-img {
        margin-right: 0.5rem;
        border-radius: 100%;
      }
      &-name {
        text-transform: capitalize;
      }
    }

    &-cats {
      word-break: keep-all;
      &-list {
        margin: 0;
        padding: 0;
        list-style: none;
      }
      &-item {
        &:not(:last-child) {
          margin-right: 0.125rem;
          .post-meta-cats-link {
            &::after {
              content: ",";
            }
          }
        }
      }
    }
  }

  // content
  &-content {
    line-height: 1.8;
    margin-bottom: 4rem;
    hyphens: auto;
    a {
      overflow-wrap: break-word;
      word-break: break-all;
    }
    p {
      margin-bottom: 1.5rem;
    }
    h1 {
      font-size: 2rem;
    }
    h2 {
      margin-top: 1.5rem;
      font-size: 1.75rem;
      font-weight: 600;
      color: #000;
    }
    h3 {
      margin-top: 1.5rem;
      font-size: 1.5rem;
    }
    h4 {
      margin-top: 1.5rem;
      font-size: 1.25rem;
    }
    figure {
      margin-bottom: 1.5rem;
    }
    img {
      border-radius: 0.125rem;
    }
    table {
      width: 100%;
    }
    ul,
    ol {
      margin-bottom: 1.5rem;
    }
  }

  // footer
  &-footer {
    margin-bottom: 8rem;
    padding-top: 4rem;
    border-top: 1px solid var(--bs-light);
  }

  // author
  &-author {
    display: flex;
    align-items: center;
    margin-bottom: 4rem;
    &-name {
      margin: 0 0 0.25rem;
      font-size: 1.125rem;
      text-transform: capitalize;
    }
    &-bio {
      margin-bottom: 0;
      font-size: 0.875rem;
      font-weight: 400;
      color: #000;
    }
    &-cover {
      margin: 0 1.5rem 0 0;
      min-width: 5rem;
    }
    &-img {
      width: 5rem;
      height: 5rem;
      border-radius: 100%;
    }
  }

  // comments
  #disqus_thread {
    &:not(:empty) {
      padding: 3rem;
      background-color: var(--bs-light);

      > iframe {
        margin: 0 !important;
      }
    }
  }

  // nav
  &-nav {
    .post-card-item {
      min-height: 10rem;
    }
    .bi {
      z-index: 3;
      width: 2rem;
      height: 2rem;
      fill: #fff;
      opacity: 0.5;
    }
  }
}
