$post-width: 51.75rem;
.post {
  &-cover {
    width: 100%;
    height: 20rem;
    position: relative;
    background-color: #000;
    margin: 0;
    &-img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      object-position: center;
      opacity: 0.9;
    }
    &-caption {
      position: absolute;
      bottom: 6.5rem;
      right: 50%;
      margin-right: -($post-width / 2);
      color: #fff;
      opacity: 0.7;
      font-size: 0.625rem;
      background-color: rgba(0, 0, 0, 0.3);
      padding: 0.125rem 0.5rem;
      border-radius: 3rem;
      a {
        color: #fff;
      }
      &:hover {
        background-color: #000;
        opacity: 1;
      }
    }
  }
  &-container {
    padding: 4rem;
    max-width: 51.75rem;
    width: 100%;
    background-color: #fff;
    margin-top: -6rem;
    z-index: 1;
    position: relative;
  }

  &-header {
    margin-bottom: 2.5rem;
  }

  &-title {
    margin-bottom: 2.5rem;
    font-weight: 700;
    font-size: 3rem;
  }

  &-meta {
    cursor: default;
    color: #555;
    font-size: 0.875rem;
    font-weight: 300;
    line-height: 1.4;
    &-item {
      margin-right: 1.75rem;
    }
    &-label {
      display: block;
      font-size: 0.75rem;
      color: #999;
    }

    a {
      color: #555;
      &:hover {
        color: $color;
      }
    }

    &-btn {
      height: 2rem;
      width: 2rem;
      border: 0;
      margin: 0;
      padding: 0;
      background: none;
      text-align: center;

      .bi {
        width: 1.25rem;
        height: 100%;
      }

      &:hover {
        .bi {
          fill: $color;
        }
      }
    }

    &-author {
      display: flex;
      align-items: center;
      &-img {
        margin-right: 0.5rem;
        border-radius: 0;
      }
      &-details {
      }
      &-name {
        text-transform: capitalize;
      }
    }

    &-date {
      &-time {
      }
    }

    &-cats {
      &-list {
        margin: 0;
        padding: 0;
        list-style: none;
      }
      &-item {
        &:not(:last-child) {
          margin-right: 0.1rem;
          .post-meta-cats-link {
            &::after {
              content: ",";
            }
          }
        }
      }
      &-link {
      }
    }
  }

  // desc

  &-description {
    font-weight: 300;
    font-size: 1.125rem;
    margin-bottom: 3rem;
  }

  // content //
  &-content {
    font-size: 1rem;
    line-height: 1.8;
    margin-bottom: 2rem;
    p {
      margin-bottom: 1.5rem;
    }

    img {
      border-radius: 0.25rem;
    }
    h2 {
      font-size: 1.75rem;
      font-weight: 600;
      color: #000;
    }
    h3 {
      font-size: 1.5rem;
    }
    h4 {
      font-size: 1.25rem;
    }
    iframe {
      width: 100% !important;
      border-radius: 0.25rem;
      margin-top: 1rem;
      margin-bottom: 1.5rem;
    }
  }

  &-component {
    margin-top: 4rem;
    &-title {
      margin-bottom: 1rem;
      font-size: 1rem;
      text-transform: uppercase;
      color: #888;
    }
  }

  &-author {
    &-name {
      font-size: 1.125rem;
      text-transform: capitalize;
    }
    &-bio {
      font-size: 0.875rem;
      margin-bottom: 0;
    }
    &-img {
    }
  }

  &-nav {
    &-list {
      list-style: none;
      padding: 0;
      margin: 0;
    }

    &-item {
    }
    &-link {
    }
  }
}
