.bft-post {
  &-wrap {
    max-width: 50rem;
    width: 100%;
  }

  &-header {
    margin-bottom: 2rem;
  }

  &-title {
    margin-bottom: 2rem;
    font-weight: 700;
  }

  &-meta {
    color: #999;
    font-size: 0.875rem;
    a {
      color: #999;
      &:hover {
        color: $color;
      }
    }
  }

  &-by {
    &-name {
      text-transform: capitalize;
    }
    &-img {
      border-radius: 100%;
      margin-right: 0.5rem;
    }
  }

  &-cats {
    &-list {
      list-style: none;
      margin: 0;
      padding: 0;
    }
    &-item {
      margin-right: 0.75rem;
    }
  }

  &-description {
    font-weight: 300;
    font-size: 1.125rem;
    margin-bottom: 3rem;
  }

  &-cover {
    margin-bottom: 3rem;
  }

  &-content {
    font-size: 1rem;
    line-height: 1.8;
    margin-bottom: 2rem;
    p {
      margin-bottom: 1.5rem;
    }

    img {
      border-radius: 0.25rem;
    }
    h2 {
      font-size: 1.75rem;
      font-weight: 600;
      color: #000;
    }
    h3 {
      font-size: 1.5rem;
    }
    h4 {
      font-size: 1.25rem;
    }
    iframe {
      width: 100% !important;
      border-radius: 0.25rem;
      margin-top: 1rem;
      margin-bottom: 1.5rem;
    }
  }

  &-component {
    margin-top: 4rem;
    &-title {
      margin-bottom: 1rem;
      font-size: 1rem;
      text-transform: uppercase;
      color: #888;
    }
  }

  &-author {
    &-name {
      font-size: 1.125rem;
      text-transform: capitalize;
    }
    &-bio {
      font-size: 0.875rem;
      margin-bottom: 0;
    }
    &-img {
    }
  }

  &-nav {
    &-list {
      list-style: none;
      padding: 0;
      margin: 0;
    }

    &-item {
    }
    &-link {
    }
  }
}
