<header class="blog-header d-flex flex-column">
	<div class="container d-flex">
		<a href="~/" class="blog-logo my-auto d-flex">
			<img src="~/themes/standard/img/logo-white.png" alt="Blog Title" class="my-auto" />
		</a>
		<ul class="blog-social nav ml-auto my-auto">
			@if (Model.values["enabled"] == "True")
			{
				<li class="blog-social-item">
					<a class="blog-social-link" target="_blank" href="https://www.facebook.com/@Model.values["facebook"]">
						<i class="blog-social-icon fa fa-facebook"></i>
					</a>
				</li>
				<li class="blog-social-item">
					<a class="blog-social-link" target="_blank" href="https://www.twitter.com/@Model.values["twitter"]">
						<i class="blog-social-icon fa fa-twitter"></i>
					</a>
				</li>
			}
			<li class="blog-social-item">
				<a class="blog-social-link" target="_blank" href="feed/rss">
					<i class="blog-social-icon fa fa-rss"></i>
				</a>
			</li>
		</ul>
		<button class="blog-search-toggle btn-unstyled" type="button" data-toggle="modal" data-target="#blog-search">
			<i class="fa fa-search"></i>
		</button>
		<ul class="blog-social nav my-auto nav-login">
			<li class="blog-social-item">
				<a class="blog-social-link" href="~/admin">
					<i class="fa fa-user" aria-hidden="true"></i>
				</a>
			</li>
		</ul>
	</div>
</header>