@inject IDataService DataService
@{ 
    var socials = await DataService.CustomFields.GetSocial();
}
<header class="blog-header d-flex flex-column">
    <div class="container d-flex">
        <a href="~/blog" class="blog-logo my-auto d-flex">
            <img src="~/themes/standard/img/logo-white.png" alt="Blog Title" class="my-auto" />
        </a>
        <ul class="blog-social nav ml-auto my-auto">
            @foreach (var field in socials)
            {
            <li class="blog-social-item">
                <a class="blog-social-link" target="_blank" href="@field.Content">
                    <i class="blog-social-icon fa @field.Icon"></i>
                </a>
            </li>
            }
            <li class="blog-social-item">
                <a class="blog-social-link" target="_blank" href="feed/rss">
                    <i class="blog-social-icon fa fa-rss"></i>
                </a>
            </li>
        </ul>
        <button class="blog-search-toggle btn-unstyled" type="button" data-toggle="modal" data-target="#blog-search">
            <i class="fa fa-search"></i>
        </button>
    </div>
</header>
@{
    AppSettings.SiteRoot = Url.Content("~/");
}