<title>Title</title>
<meta name="description" content="Description">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700|Merriweather:700" rel="stylesheet">
<link href="~/themes/standard/css/bootstrap.min.css" rel="stylesheet">
<link href="~/themes/standard/css/font-awesome.min.css" rel="stylesheet">
<link href="~/themes/standard/css/prism.css" rel="stylesheet">
<link href="~/themes/standard/css/styles.min.css" rel="stylesheet" asp-append-version="true">
<link rel="shortcut icon" href="~/themes/standard/img/standard.ico">