
<footer class="blog-footer">

</footer>

@*<a href="#" onclick="profileLogOut(); return false;">Logoff</a>
    <form method="post" id="frmLogOut" asp-controller="Account" asp-action="Logout" asp-antiforgery="true"></form>*@
<script src="~/themes/vision/js/jquery.min.js"></script>
<script src="~/themes/vision/js/popper.min.js"></script>
<script src="~/themes/vision/js/bootstrap.min.js"></script>
<script src="~/themes/vision/js/prism.js"></script>
<script src="~/themes/vision/js/blog.js" asp-append-version="true"></script>




