.widget-social {

    a {
        margin-bottom: 2rem;
        color: #fff !important;
        display: block;
        padding: 0.75rem 1.25rem;
        border-radius: 10rem;
        font-weight: 500 !important;
        font-size: 1rem;

        &:hover {
            background-color: rgba(255, 255, 255, 0.20);
        }
    }

    i {
        display: inline-block;
        width: 1.25rem;
        margin-right: .625rem;
        font-size: 1.25rem;
        position: relative;
        top: .125rem;
    }

    &-fb {
        background-color: $color-fb;


        &:hover {
        }
    }

    &-tw {
        background-color: $color-tw;

        &:hover {
        }
    }

    &-in {
        background-color: $color-in;

        &:hover {
        }
    }

    &-rss {
        background-color: $color-rss;

        &:hover {
        }
    }


    &-admin {
        background-color: $color-theme;

        &:hover {
        }
    }
}
