<!-- 
    TODO:
    
    Loop 3 items of features

    And the 3 comes from the Settings.json which is the default number,
    And users are able to change it from the Customize page.
 -->

<article class="bft-featured row">
    <figure class="bft-featured-cover col-lg-8 pe-5">
        <img class="bft-featured-img shadow-lg" alt="POST_TITLE" src="/themes/standard/img/plant.jpg">
        <figcaption class="visually-hidden">Post Title</figcaption>
    </figure>
    <section class="bft-featured-content col-lg-4 d-flex flex-column my-auto">
        <h2 class="bft-featured-title">
            <a class="bft-featured-link" href="/">Tips to help your plants thrive this summer</a>
        </h2>
        <div class="bft-featured-meta order-first">
            <time class="bft-featured-time">January 21, 2021</time>
            <a class="bft-featured-cat" href="#">Plants</a>
            <a class="bft-featured-cat" href="#">Summber</a>
        </div>
        <p class="bft-featured-desc">
            Many plants enter major growth phases during the the long, sunny days of summer, but it isn’t always a breeze.
        </p>
        <a class="bft-featured-more" href="#">
            Read More
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
            </svg>
        </a>
    </section>
</article>