@using Blogifier.Shared.Resources
@using Blogifier.Shared
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<Resource> _localizer

<partial name="../components/search.cshtml" />

<footer class="container">
    <partial name="../components/newsletter.cshtml" />
    <section class="footer d-flex">
        <p>&copy; @DateTime.Now.Year - Site Title</p>
        <p class="ms-auto">
            Powered by <a href="https://blogifier.net" rel="nofollow" target="_blank" title="Blogifier v3.0 - An open-source publishing platform.">Blogifier</a>
        </p>
    </section>
</footer>
