@using Blogifier.Shared.Resources
@using Blogifier.Shared
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<Resource> _localizer

<partial name="../components/search.cshtml" />

<footer class="footer">
    <div class="container">
        <div class="row g-5">
            <div class="col-lg-4">
                <partial name="../widgets/popular.cshtml" />
            </div>
            <div class="col-lg-4">
                <partial name="../widgets/categories.cshtml" />
            </div>
            <div class="col-lg-4">
                <partial name="../widgets/newsletter.cshtml" />
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container d-flex">
            <p>&copy; @DateTime.Now.Year - Site Title</p>
            <p class="ms-auto">
                Powered by <a href="https://blogifier.net" data-toggle="tooltip" rel="nofollow" target="_blank" title="Version - ">Blogifier</a>
            </p>
        </div>
    </div>
</footer>
