<header class="header">
    <div class="container d-flex align-items-center">

        <!--
            TODO:

            User can select logo or title from the customize page.

            by default it's title.
         -->
        <a class="header-title" href="">Site Title</a>
        <!--
        <a class="header-logo" href="~/">
            <img class="header-logo-img" src="~/themes/standard/img/logo-black.png" alt="Site Title">
        </a>
        -->
        <partial name="../components/social.cshtml" />
        <partial name="../components/admin.cshtml" />
    </div>
</header>
