@using Blogifier.Shared
<!-- 
    TODO:
    List of related posts.

    Custom Fields
    - on or off
    - Title (Related Posts)
    - How many items
 -->
 <section class="bft-post-component">
    <h4 class="bft-post-component-title">Related Posts</h4>
    <div class="row">
        <article class="col-md-4">
            <a class="bft-related-item" href="#">
                <img class="bft-related-item-img" src="http://localhost:5000/img/cover.png" alt="Post Title">
                <h4 class="bft-related-item-title">Watering Plants with a Raspberry Pi, Test Blogifier post</h4>
                <time class="bft-related-item-time">2020/01/05</time>
            </a>
        </article>
        <article class="col-md-4">
            <a class="bft-related-item" href="#">
                <img class="bft-related-item-img" src="http://localhost:5000/img/cover.png" alt="Post Title">
                <h4 class="bft-related-item-title">Post Title</h4>
                <time class="bft-related-item-time">2020/01/05</time>
            </a>
        </article>
        <article class="col-md-4">
            <a class="bft-related-item" href="#">
                <img class="bft-related-item-img" src="http://localhost:5000/img/cover.png" alt="Post Title">
                <h4 class="bft-related-item-title">Post Title</h4>
                <time class="bft-related-item-time">2020/01/05</time>
            </a>
        </article>
    </div>
</section>