@using Blogifier.Core.Common
@using Blogifier.Core.Data.Models
@model ZoneViewModel
@inject IComponentHelper helper

@if (Model.Widgets != null && Model.Widgets.Count > 0)
{
    <div>ZONE: @Model.Zone</div>
    foreach (var widget in Model.Widgets)
    {
        <div style="border: 1px solid red; margin: 2px">
            @await helper.AddZoneWidget(Component, Model.Zone, widget)
        </div>
    }
}