.blog-header {
  padding-top: 3rem;
  padding-bottom: 3rem;
  background: #c31432;
  background: -webkit-linear-gradient(to right, #240b36, #c31432);
  background: linear-gradient(to right, #240b36, #c31432);

  .navbar {
    padding: 0;
  }

  .nav-item {
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .navbar-expand-lg .navbar-nav .nav-link {
    padding: 0;
    font-weight: 400;
  }

  &-one {
    border-bottom: 1px solid #ddd;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  &-two {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}

.blog-social {
  li {
    margin-left: 1.25rem;

    &:first-child {
      margin: 0;
    }

    a {
      color: #666;
      font-size: 1.125rem;

      &:hover {
        color: #222;
      }
    }
  }
}
