/*
    Author: Francis - http://francis.bio/blogifier/
*/

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');

// Vendor
@import "vendor/bootstrap";
@import "vendor/fontawesome";
@import "vendor/toastr";


// Base 
@import "base/variables";
@import "base/mixins";
@import "base/reset";
@import "base/base";

// Modules
@import "modules/editors";
@import "modules/filepicker";
@import "modules/dropdown";
@import "modules/buttons";
@import "modules/forms";
@import "modules/modals";
@import "modules/pagination";
@import "modules/tooltip";
@import "modules/alerts";
@import "modules/toolbar";
@import "modules/loading";
@import "modules/filters";
@import "modules/search";

// Layout
@import "layout/header";
@import "layout/footer";
 
// Pages
@import "pages/posts/index";
@import "pages/posts/editor";
@import "pages/files/files";
@import "pages/settings/settings";
@import "pages/setup/setup";
   