.bf-filemanager {
  .modal-dialog {
    max-width: 50rem;
    padding: 1rem;
    margin: 0 auto;
    @media screen and (min-width: 991px) {
      margin-top: 2rem;
    }
  }

  .modal-body {
    padding: 0;
  }

  .modal-footer,
  .modal-header {
    padding: .75rem 1rem;
  }

  .modal-header {
    border-bottom: 1px solid #eee;

    .dropdown-menu {
      width: 12rem;
      padding: .5rem;
    }
  }

  &-search {
    margin-bottom: 1rem;
  }

  &-body {
    padding: .5rem;
    min-height: 13.5rem;

    .item {
      padding: .5rem;
      overflow: hidden;

      a {
        display: block;
        height: 100%;
      }
    }

    .item-img {
      position: relative;
      height: 9.5rem;
      overflow: hidden;
      display: block;
      border: 1px solid #eee;
      border-bottom: 0;
      border-top-right-radius: .25rem;
      border-top-left-radius: .25rem;
      cursor: pointer;

      img {
        width: auto;
        min-height: 100%;
        min-width: 100%;
        max-width: 150%;
        max-height: none;
        position: absolute;
        left: 50%;
        top: 50%;
        display: block;
        transform: translate(-50%, -50%);
      }
    }

    .item-name {
      background-color: #fafafa;
      font-size: .75rem;
      @include ellipsis;
      display: block;
      padding: .375rem .375rem .375rem 1.75rem;
      margin: 0;
      border: 1px solid #eee;
      border-bottom-left-radius: .25rem;
      border-bottom-right-radius: .25rem;

      .custom-control-indicator {
        left: .375rem;
        top: .425rem;
      }
    }
  }

  &-pagination {}
}
