.blog-search-form {
    position: relative;
    margin-left: 3rem;

    .form-control {
        background: #eee;
        width: 13rem;
        border: none;
        border-radius: 10rem;
        color: #000;
        outline: none !important;
        height: 3.25rem;
        padding: 0 1.5rem;

        &::placeholder {
            font-size: 1rem;
            font-weight: 400;
        }

        &:focus {
            border-color: rgba(255,255,255,.75);
            outline: none !important;
            box-shadow: none;
        }
    }

    button {
        border: 0;
        padding: 0;
        margin: 0;
        background: none;
        color: #888;
        height: 100%;
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        width: 3.25rem;


        &:hover {
            color: $color-theme;
        }
    }
}
