img {
    max-width: 100%
}

a {
    color: #6200ee
}

    a:hover {
        color: #636e72;
        text-decoration: none
    }

.nav-pills .nav-link {
    color: #636e72;
    font-weight: 500;
    position: relative
}

    .nav-pills .nav-link:hover {
        color: #2d3436
    }

    .nav-pills .nav-link.active {
        background: #636e72;
        color: #fff
    }

        .nav-pills .nav-link.active:hover {
            color: #fff
        }

.nav-pills svg {
    width: 1rem;
    height: 1rem;
    position: absolute;
    left: 1rem;
    top: 50%;
    transform: translateY(-50%)
}

.nav-pills .nav-link-name {
    padding-left: 2rem
}

@media screen and (max-width: 767px) {
    .nav-pills .nav-link-name {
        display: none
    }
}

@media screen and (max-width: 767px) {
    .nav-pills {
        padding-right: 0;
        margin: -2rem -1rem 2rem;
        background: #f1f4f8
    }

        .nav-pills.show {
            display: block
        }

        .nav-pills .nav-link {
            color: #636e72;
            font-weight: 500;
            height: 3rem;
            flex: 1
        }

            .nav-pills .nav-link svg {
                left: 50%;
                transform: translate(-50%, -50%)
            }

            .nav-pills .nav-link:hover {
                color: #2d3436
            }

            .nav-pills .nav-link.active {
                background: none;
                color: #6200ee
            }

                .nav-pills .nav-link.active:hover {
                    color: #6200ee
                }
}

.components-reconnect-show, .components-reconnect-failed, .components-reconnect-rejected {
    display: none
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050
}

.invalid {
    outline: 1px solid red
}

.validation-message {
    color: red;
    list-style: none;
    margin-left: -10px;
    font-size: .8em;
    font-weight: 600;
    padding: 5px;
    margin-top: 5px
}

.editor-modal-bg {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1003
}

.editor-modal-content {
    max-width: 790px;
    min-width: 280px;
    height: 545px;
    background-color: white;
    border-radius: 4px;
    margin: 0 auto;
    margin-top: 2rem
}

.modal-actions {
    background-color: #492997;
    padding: 5px 20px;
    margin: 0 !important;
    height: 48px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px
}

.post-options {
    float: right;
    margin-left: 20px;
    margin-top: 0
}

.modal-actions .btn-secondary {
    background-color: transparent !important;
    border: none !important;
    font-weight: 600;
    font-size: 1em !important
}

.btn-post-group {
    margin-top: 5px
}

    .btn-post-group a {
        font-size: .9em;
        font-weight: 600
    }

.modal-actions .btn-secondary span.oi {
    padding: 0 20px !important;
    width: 24px !important
}

.modal-actions .nav-tabs {
    border: 0 !important;
    font-weight: 600;
    position: relative;
    top: 5px
}

    .modal-actions .nav-tabs .nav-link.active {
        color: #333
    }

    .modal-actions .nav-tabs .nav-link {
        border: none !important;
        color: #C8BEE0
    }

        .modal-actions .nav-tabs .nav-link:hover {
            border: none !important
        }

.btn-close {
    margin: 0 0 0 20px !important;
    background-color: transparent !important;
    padding: 0;
    border: none !important
}

#newsletter-tab {
    margin-bottom: 1px;
    margin-left: 10px;
    border-bottom: none
}

    #newsletter-tab a {
        color: #888;
        font-weight: 600;
        font-size: .9em;
        text-transform: uppercase
    }

    #newsletter-tab .nav-link {
        border: none;
        border-bottom: 3px solid #FFF
    }

        #newsletter-tab .nav-link.active {
            color: #666;
            margin-bottom: 0;
            border-bottom: 3px solid #5731b3
        }

        #newsletter-tab .nav-link:hover {
            color: #666;
            border-bottom: 3px solid #5731b3
        }

.tab-subscription fieldset {
    padding: 5px !important
}

.pagination .item-link {
    border: 1px solid #9c9c9c;
    border-radius: 50%;
    display: inline-block;
    width: 2.75rem;
    height: 2.75rem;
    text-align: center;
    text-transform: uppercase;
    color: #888;
    font-weight: 700;
    margin-top: 15px;
    margin-right: 10px
}

.pagination .item-icon {
    display: block;
    height: 100%;
    line-height: 2.5rem;
    font-size: 1rem
}

li.item.item-text {
    margin-top: 24px;
    height: 32px;
    font-size: .8em;
    margin-right: 10px;
    color: #888
}

    li.item.item-text span.text-active {
        padding-right: 5px;
        margin: 0 5px;
        font-size: 1.4em;
        font-weight: 600
    }

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0,0,0,0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000
}

html {
    height: 100%
}

body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
    cursor: default;
    overflow-y: scroll
}

.app-content {
    padding-top: 2rem;
    padding-bottom: 4rem
}

.container {
    width: 70rem;
    max-width: 100%
}

.app-nav {
    background-color: #6200ee
}

.app-nav-list {
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    list-style: none;
    height: 100%;
    display: flex
}

.app-nav .app-nav-seperate-right::before {
    content: "";
    width: 50%;
    height: 1px;
    background: #000;
    opacity: .125;
    display: block;
    margin: 0 auto
}

.app-nav-link {
    width: 4rem;
    height: 4rem;
    line-height: 4rem;
    text-align: center;
    display: block;
    color: #fff;
    opacity: .5
}

    .app-nav-link:hover, .app-nav-link.active {
        opacity: 1;
        color: #fff
    }

.app-nav-svg, .app-nav-img {
    width: 1rem;
    height: 1rem
}

.app-nav .bi-plus {
    width: 2rem;
    height: 2rem
}

.app-nav .bi-newspaper, .app-nav .bi-envelope-fill {
    width: 1.25rem;
    height: 1.25rem
}

.app-nav-profile-button {
    width: 4rem;
    height: 4rem;
    background: none;
    border: 0;
    outline: none !important
}

.app-nav-profile-button-img {
    width: 2rem;
    height: 2rem;
    border-radius: 4rem
}

.app-nav-profile-button:hover {
    background: rgba(0,0,0,0.1)
}

.app-nav-profile-content {
    margin-top: .5rem;
    width: 16rem;
    padding: 2rem
}

.app-nav-profile-avatar {
    border-radius: 100%;
    border: 2px solid #636e72;
    width: 4rem;
    height: 4rem;
    display: block;
    margin: 0 auto 1rem
}

.app-nav-profile-name {
    font-weight: 500;
    line-height: 1.25
}

.app-nav-profile-email {
    font-size: .75rem;
    color: #666
}

.app-nav-profile-info {
    text-align: center;
    margin-bottom: 2rem
}

    .app-nav-profile-info span {
        display: block
    }

.app-nav-profile-links {
    list-style: none;
    padding: 0;
    margin: 0
}

    .app-nav-profile-links li {
        border-top: 1px solid #eee
    }

    .app-nav-profile-links a {
        color: #666;
        padding: .5rem 0 .5rem 2rem;
        display: block;
        position: relative;
        font-size: .875rem;
        font-weight: 500
    }

        .app-nav-profile-links a:hover {
            color: #6200ee
        }

    .app-nav-profile-links svg {
        width: 1rem;
        height: 1rem;
        position: absolute;
        top: 50%;
        left: .25rem;
        transform: translateY(-50%)
    }

    .app-nav-profile-links .bi-person-fill {
        width: 1.125rem;
        height: 1.125rem
    }

.btn-brand {
    color: #fff;
    background-color: #6200ee;
    border: 0
}

    .btn-brand svg {
        fill: #fff
    }

    .btn-brand:hover {
        color: #fff;
        background-color: #4d2b8e
    }

        .btn-brand:hover svg {
            fill: #fff
        }

    .btn-brand.focus, .btn-brand:focus {
        color: #fff;
        background-color: #6200ee;
        border-color: #6200ee;
        box-shadow: 0 0 0 0.2rem rgba(98,0,238,0.25)
    }

        .btn-brand.focus svg, .btn-brand:focus svg {
            fill: #fff
        }

    .btn-brand:not(:disabled):not(.disabled).active, .btn-brand:not(:disabled):not(.disabled):active, .show > .btn-brand.dropdown-toggle {
        color: #fff;
        background-color: #4d2b8e
    }

        .btn-brand:not(:disabled):not(.disabled).active:focus, .btn-brand:not(:disabled):not(.disabled):active:focus, .show > .btn-brand.dropdown-toggle:focus {
            box-shadow: 0 0 0 0.2rem rgba(98,0,238,0.5)
        }

.btn-gray {
    color: #fff;
    background-color: #636e72;
    border: 0
}

    .btn-gray svg {
        fill: #fff
    }

    .btn-gray:hover {
        color: #fff;
        background-color: #2d3436
    }

        .btn-gray:hover svg {
            fill: #fff
        }

    .btn-gray.focus, .btn-gray:focus {
        color: #fff;
        background-color: #636e72;
        border-color: #636e72;
        box-shadow: 0 0 0 0.2rem rgba(99,110,114,0.25)
    }

        .btn-gray.focus svg, .btn-gray:focus svg {
            fill: #fff
        }

    .btn-gray:not(:disabled):not(.disabled).active, .btn-gray:not(:disabled):not(.disabled):active, .show > .btn-gray.dropdown-toggle {
        color: #fff;
        background-color: #2d3436
    }

        .btn-gray:not(:disabled):not(.disabled).active:focus, .btn-gray:not(:disabled):not(.disabled):active:focus, .show > .btn-gray.dropdown-toggle:focus {
            box-shadow: 0 0 0 0.2rem rgba(99,110,114,0.5)
        }

.btn-light {
    color: #636e72;
    background-color: #f1f4f8;
    border: 0
}

    .btn-light svg {
        fill: #636e72
    }

    .btn-light:hover {
        color: #636e72;
        background-color: #e4e8ee
    }

        .btn-light:hover svg {
            fill: #636e72
        }

    .btn-light.focus, .btn-light:focus {
        color: #636e72;
        background-color: #f1f4f8;
        border-color: #f1f4f8;
        box-shadow: 0 0 0 0.2rem rgba(241,244,248,0.25)
    }

        .btn-light.focus svg, .btn-light:focus svg {
            fill: #636e72
        }

    .btn-light:not(:disabled):not(.disabled).active, .btn-light:not(:disabled):not(.disabled):active, .show > .btn-light.dropdown-toggle {
        color: #636e72;
        background-color: #e4e8ee
    }

        .btn-light:not(:disabled):not(.disabled).active:focus, .btn-light:not(:disabled):not(.disabled):active:focus, .show > .btn-light.dropdown-toggle:focus {
            box-shadow: 0 0 0 0.2rem rgba(241,244,248,0.5)
        }

.custom-control-input:checked ~ .custom-control-label::before {
    border-color: #6200ee;
    background-color: #6200ee
}

.custom-control-input:focus ~ .custom-control-label::before {
    box-shadow: 0 0 0 0.2rem rgba(98,0,238,0.25)
}

.custom-control-input:not(:disabled):active ~ .custom-control-label::before {
    color: #fff;
    background-color: #e8deff;
    border-color: #e8deff
}

.custom-control-input:focus:not(:checked) ~ .custom-control-label::before {
    border-color: #6200ee
}

.dropdown-menu {
    border: 0;
    box-shadow: 0 0 10rem rgba(0,0,0,0.3)
}

.form-control:disabled, .form-control[readonly] {
    background: none;
    cursor: default
}

.form-group {
    font-size: .875rem;
    margin-bottom: 1rem
}

.input-group-append .btn {
    font-size: .875rem;
    text-transform: uppercase
}

.form-control {
    font-size: .875rem
}

.form-control-label {
    font-weight: 500;
    font-size: .876rem;
    line-height: 1
}

.tooltip[x-placement=bottom] {
    margin-top: -2px
}

.tooltip-inner {
    background: #4d00bb;
    font-size: .625rem;
    text-transform: uppercase;
    letter-spacing: 1px
}

.tooltip .arrow {
    display: none !important
}

    .tooltip .arrow::before, .tooltip .arrow::after {
        border-bottom-color: #4d00bb
    }

.app-posts {
    padding-right: 3rem;
    margin-bottom: 3rem
}

.app-posts-toolbar {
    padding-bottom: 1rem;
    border-bottom: 1px solid #f1f4f8
}

.app-posts-selectall {
    padding: 0;
    width: 2.5rem;
    height: 2.5rem
}

    .app-posts-selectall .custom-control-label {
        width: 100%;
        height: 100%
    }

        .app-posts-selectall .custom-control-label::before, .app-posts-selectall .custom-control-label::after {
            vertical-align: top;
            transform: translate(-50%, -50%);
            position: absolute;
            top: 50%;
            left: 50%
        }

.app-posts-actions .btn {
    width: 2.5rem;
    padding: 0
}

.app-posts-actions .bi {
    fill: #b2bec3;
    vertical-align: top;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%
}

.app-posts-actions .bi-check {
    width: 1.625rem;
    height: 1.625rem
}

.app-posts-actions .bi-star-fill, .app-posts-actions .bi-archive-fill, .app-posts-actions .bi-trash-fill {
    width: .9875rem;
    height: .9875rem
}

.app-posts-search {
    background: #f1f4f8;
    border-radius: .25rem;
    position: relative;
    height: 2.5rem;
    max-width: 10rem
}

.app-posts-search-input {
    height: 2.5rem;
    border: 0;
    background: none;
    padding: 0 2.5rem 0.125rem 0.875rem;
    max-width: 100%
}

    .app-posts-search-input::placeholder {
        color: #636e72
    }

.app-posts-search-button {
    border: 0;
    background: none;
    position: absolute;
    right: 0;
    top: 0;
    height: 2.5rem;
    width: 2.5rem;
    padding: 0;
    -webkit-appearance: none
}

    .app-posts-search-button:hover .app-posts-search-icon, .app-posts-search-button:focus .app-posts-search-icon {
        fill: #2d3436
    }

.app-posts-search-icon {
    height: 1rem;
    width: 1rem;
    vertical-align: top;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
    fill: #636e72
}

.app-posts-filters .dropdown-toggle {
    height: 2.5rem
}

.app-posts-list {
    padding: 0;
    margin: 0;
    list-style: none
}

.app-posts-item {
    height: 2.5rem;
    border-bottom: 1px solid #f1f4f8
}

    .app-posts-item:hover {
        background: #fafafa
    }

.app-posts-item-link {
    font-size: 1rem;
    font-weight: 500;
    color: #2d3436;
    flex: 1;
    line-height: 2.375rem;
    margin-right: 1rem
}

    .app-posts-item-link:hover {
        color: #6200ee;
        text-decoration: none
    }

.app-posts-item-select {
    padding: 0;
    width: 2.5rem;
    height: 2.5rem
}

    .app-posts-item-select .custom-control-label {
        width: 100%;
        height: 100%
    }

        .app-posts-item-select .custom-control-label::before, .app-posts-item-select .custom-control-label::after {
            vertical-align: top;
            transform: translate(-50%, -50%);
            position: absolute;
            top: 50%;
            left: 50%
        }

.app-posts-item-external, .app-posts-item-status, .app-posts-item-featured, .app-posts-item-icon {
    display: block;
    width: 2.5rem;
    height: 2.5rem;
    margin: 0 !important;
    position: relative
}

    .app-posts-item-external .bi, .app-posts-item-status .bi, .app-posts-item-featured .bi, .app-posts-item-icon .bi {
        vertical-align: top;
        transform: translate(-50%, -50%);
        position: absolute;
        top: 50%;
        left: 50%
    }

    .app-posts-item-external:focus, .app-posts-item-status:focus, .app-posts-item-featured:focus, .app-posts-item-icon:focus {
        outline: none !important
    }

.app-posts-item-date {
    color: #b2bec3;
    text-transform: uppercase;
    font-size: .75rem;
    margin-right: 1rem
}

.app-posts-item-status {
    border: 0;
    padding: 0;
    background: none
}

    .app-posts-item-status .bi {
        width: .625rem;
        height: .625rem
    }

.app-posts-item-status-published .bi {
    fill: #00c748
}

.app-posts-item-status-draft .bi {
    fill: #ff9b00
}

.app-posts-item-featured {
    border: 0;
    padding: 0;
    background: none
}

    .app-posts-item-featured:hover .bi-star {
        fill: #2d3436
    }

    .app-posts-item-featured .bi {
        width: .875rem;
        height: .875rem
    }

    .app-posts-item-featured .bi-star {
        fill: #636e72
    }

    .app-posts-item-featured .bi-star-fill {
        fill: #ffae21;
        display: none
    }

    .app-posts-item-featured.is-featured .bi-star {
        display: none
    }

    .app-posts-item-featured.is-featured .bi-star-fill {
        display: block
    }

.app-posts-item-external:hover .bi {
    fill: #2d3436
}

.app-posts-item-external .bi {
    width: .875rem;
    height: .875rem;
    fill: #636e72
}

@media screen and (max-width: 767px) {
    .app-posts .app-posts-item-link {
        font-size: .875rem
    }

    .app-posts .app-posts-selectall, .app-posts .app-posts-item-select {
        width: 1rem;
        margin-right: .5rem
    }

    .app-posts .app-posts-item-external, .app-posts .app-posts-item-status, .app-posts .app-posts-item-featured, .app-posts .app-posts-item-icon {
        width: 1.5rem
    }
}

.app-widget {
    background: #f1f4f8;
    border-radius: .25rem
}

.app-widget-body {
    position: relative;
    padding: 1rem
}

.app-widget:not(:last-child) {
    margin-bottom: 1rem
}

.app-notifications-clock {
    line-height: 2.5rem;
    height: 2.5rem;
    text-align: center;
    color: #636e72
}

.app-widget-stats {
    margin-bottom: 1rem
}

    .app-widget-stats .col:not(:last-child) {
        margin-right: 1rem
    }

.app-widget-stats-item {
    background-color: #f1f4f8;
    color: #636e72;
    padding: 1.25rem 0;
    font-size: 2.5rem;
    font-weight: 300;
    border-radius: .25rem
}

    .app-widget-stats-item span {
        display: block;
        text-align: center;
        line-height: 1
    }

.app-widget-stats-item-title {
    font-size: 1rem;
    margin-top: .5rem
}

.app-widget-analytics .custom-select {
    background-color: #f1f4f8;
    border-color: #f1f4f8;
    width: 7rem;
    margin-left: auto;
    display: block;
    height: 2rem;
    padding: 0 .5rem;
    margin-top: -1rem
}

.app-editor-container {
    width: 70rem;
    max-width: 100%;
    margin-right: auto;
    margin-left: auto
}

.app-editor-title {
    flex: 1;
    -webkit-flex: 1;
    padding-right: 2rem
}

    .app-editor-title .form-control {
        height: 2.5rem;
        background: 0;
        border: 1px solid #b2bec3;
        box-shadow: none
    }

        .app-editor-title .form-control:focus {
            border-color: #636e72
        }

.app-editor-actions {
    padding-bottom: 3.5rem
}

    .app-editor-actions .btn {
        height: 2.5rem;
        line-height: 2.5rem;
        padding: 0;
        text-transform: uppercase;
        font-weight: 500;
        font-size: .875rem;
        flex: 1
    }

        .app-editor-actions .btn:not(:last-child) {
            margin-right: .25rem
        }

    .app-editor-actions .btn-icon {
        padding: 0;
        width: 2.5rem;
        line-height: 1.25rem;
        flex: none
    }

        .app-editor-actions .btn-icon svg {
            width: 1.25rem;
            height: 1.25rem;
            font-size: 1rem
        }

.app-editor-details {
    background: #f1f4f8;
    padding: 1rem;
    border-radius: .25rem
}

    .app-editor-details .form-control {
        background: none
    }

    .app-editor-details .btn-outline-secondary {
        border-color: #ced4da
    }

.app-settings .nav-pills {
    padding-right: 1rem
}

    .app-settings .nav-pills .nav-link .bi-gear, .app-settings .nav-pills .nav-link .bi-link-45deg, .app-settings .nav-pills .nav-link .bi-person {
        width: 1.25rem;
        height: 1.25rem
    }

.app-settings-title {
    font-size: 1.25rem;
    font-weight: 500;
    margin-bottom: .5rem;
    line-height: 2.5rem;
    height: 2.5rem;
    color: #2d3436;
    text-transform: uppercase;
    position: relative
}

    .app-settings-title:not(:first-child) {
        margin-top: 3rem
    }

.app-settings .form-submit-button {
    margin-top: 1rem
}

    .app-settings .form-submit-button .btn {
        min-width: 8rem;
        padding: 0;
        height: 2.5rem;
        font-size: 1rem;
        text-transform: uppercase;
        font-weight: 500
    }

.app-themes .col-md-6 {
    margin-bottom: 2rem
}

.app-themes-item {
    border: 2px solid #f1f4f8;
    height: 100%;
    overflow: hidden;
    position: relative;
    border-radius: .25rem;
    background: #f1f4f8
}

.app-themes-active {
    border-color: #6200ee;
    background: #6200ee
}

    .app-themes-active .app-themes-title {
        background: #6200ee;
        color: #fff
    }

.app-themes-cover {
    width: 100%;
    min-height: 100%
}

.app-themes-title {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0 1rem;
    height: 3rem;
    background: #f1f4f8;
    color: #636e72
}

.app-themes-name {
    font-weight: 500;
    font-size: .875rem
}

.app-themes .btn {
    height: 2rem;
    padding: 0 1rem;
    font-size: .75rem;
    text-transform: uppercase;
    font-weight: 500
}

.app-info ul {
    list-style: none;
    padding: 0;
    margin: 0
}

.app-info li {
    border-bottom: 1px solid #f1f4f8;
    display: flex;
    padding: .5rem 0
}

.app-info label {
    min-width: 10rem;
    margin: 0
}

@media screen and (max-width: 991px) {
    .app-info li, .app-info label {
        display: block
    }
}

.app-social-list {
    list-style: none;
    padding: 0;
    margin: 0
}

    .app-social-list li {
        border-bottom: 1px solid #f1f4f8;
        display: flex;
        padding: .5rem 0
    }

.app-newsletter .nav-pills {
    padding-right: 1rem
}

.app-newsletter-title {
    font-size: 1.25rem;
    font-weight: 500;
    border-bottom: 1px solid #b2bec3;
    margin-bottom: 1rem;
    line-height: 1;
    padding-bottom: .5rem;
    color: #2d3436
}

    .app-newsletter-title:not(:first-child) {
        margin-top: 3rem
    }

.app-newsletter .form-group {
    font-size: .875rem;
    margin-bottom: 1rem
}

.app-newsletter .input-group-append .btn {
    font-size: .875rem;
    text-transform: uppercase
}

.app-newsletter .form-control {
    font-size: .875rem
}

.app-newsletter .form-control-label {
    font-weight: 500;
    font-size: .876rem;
    line-height: 1
}

.app-newsletter .form-submit-button {
    margin-top: 1rem
}

    .app-newsletter .form-submit-button .btn {
        min-width: 8rem;
        padding: 0 1.5rem;
        height: 2.5rem;
        font-size: 1rem;
        text-transform: uppercase;
        font-weight: 500
    }

.app-newsletter-subscribers-list {
    list-style: none;
    padding: 0;
    margin: 0
}

    .app-newsletter-subscribers-list li {
        border-bottom: 1px solid #f1f4f8;
        display: flex;
        padding: .5rem 0
    }

    .app-newsletter-subscribers-list label {
        min-width: 10rem;
        margin: 0
    }
/*# sourceMappingURL=admin.min.css.map */
