body {
    font-family: $font-family-base;
    color: #666;
    cursor: default;
    background-color: #e6e9f0;
    overflow-y: scroll;

    // Sticky footer
    display: flex;
    flex-direction: column;
}
