body {
    font-family: $font-family-base;
    color: #666;
    cursor: default;
    background-color:$color-bg;
    overflow-y:scroll;
}
.container {
    width:100%;
    max-width:75rem;
}

#wrapper {
    padding-bottom:3rem;
}