html,
body {
    height: 100%;
}

body {
    font-family: $font-family-base;
    font-size: $font-size-base;
    line-height: $line-height-base;
    background-color: #fff;
    color: #444;
    cursor: default;
    overflow-y: scroll;
}

.container {
    width: 100%;
    max-width: 60rem;
    padding-right: 1rem;
    padding-left: 1rem;
}

.admin-content {
    min-height: 100%;
    padding-top: 7rem;
    padding-bottom: 7rem;

    &-title {
        padding-bottom: 2rem;
    }

    @media screen and (max-width: 47.9375rem) {
        padding-top: 4rem;
        padding-bottom: 3.5rem;
    }
}
