

body {
    background: #fff;
    font-family: $font-family-base;
    font-weight: 400;
    font-size: 1rem;
    overflow-y: scroll;
    color: #333;
}

//
.bf {
    height: 100%;

    .bf-sidebar {
        background: $color-brand-purple-dark;
        color: #fff;
        @include linear-gradient($color-brand-purple-light, $color-brand-purple-dark, 1);
    }

    ul {
        @include unstyled(ul);
    }

    @media (min-width:1024px) {
        display: table;

        .bf-sidebar,
        .bf-content {
            display: table-cell;
            vertical-align: top;
        }

        .bf-content {
            width: 100%;
        }

        .bf-sidebar {
            width: 360px;
            min-width: 360px;
        }
    }
}

//
.container {
    width: 1024px;
    margin: 0 auto;
}
