body {
    font-family: $font-family-base;
    overflow-y: scroll;
    cursor: default;
}

//
.bf {
    height: 100%;

    .bf-sidebar {
        background: $color-brand-purple-dark;
        color: #fff;
        @include linear-gradient($color-brand-purple-light, $color-brand-purple-dark, 1);
    }

    ul {
        @include unstyled(ul);
    }

    @media (min-width:768px) {
        display: table;

        .bf-sidebar,
        .bf-content {
            display: table-cell;
            vertical-align: top;
            min-height: 100%;
        }

        .bf-content {
            width: 100%;
        }

        .bf-sidebar {
            width: 420px;
            min-width: 420px;
        }
    }
}

//
.container {
    width: 100%;
    max-width: 64rem;
    margin: 0 auto;
}
