body {
    font-family: $font-family-base;
    overflow-y: scroll;
    cursor: default;
}

//
.bf {
    height: 100%;

    .bf-sidebar {
        background: $cl-bf;
        color: #fff;

        ul {
            @include unstyled(ul);
        }
    }


    @media (min-width:800px) {
        display: table;

        .bf-sidebar,
        .bf-content {
            display: table-cell;
            vertical-align: top;
            min-height: 100%;
        }

        .bf-content {
            width: 100%;
        }

        .bf-sidebar {
            width: 360px;
            min-width: 360px;
        }
    }


    @media (min-width:1280px) {
        .bf-sidebar {
            width: 400px;
            min-width: 400px;
        }
    }
}

//
.container {
    width: 100%;
    max-width: 64rem;
    margin: 0 auto;
}
