body {
    font-family: $font-family-base;
    overflow-y: scroll;
    cursor: default;
}

//
.bf {
    position: relative;
    padding-left: $width-sidebar;

    .bf-sidebar {
        width: $width-sidebar;
        position: fixed;
        left: 0;
        top: 0;
        bottom: 0;
        overflow-y: auto;
        background: $cl-bf;
        color: #fff;

    }

    .bf-content {
    }
}

//
.container {
    width: 100%;
    max-width: 64rem;
    margin: 0 auto;
}
