html, body {
    height: 100%;
}

p {
    margin: 0;
}

a {
    color: $color-brand-purple-dark;
    &:hover {
        color: $color-brand-purple-light;
        text-decoration: none;
    }
}


img {
    max-width: 100%;
}
