a {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: $font-weight-normal;
    line-height: 1.1;
    margin: 0;
}

p {
    margin: 0;
}

ul {
    @include unstyled(ul);
}

input {
    &[type=text],
    &[type=search],
    textarea,
    select {
        width: 100%;
    }

    &:focus {
        outline: none;
    }
}


button, input, optgroup, select, textarea {
    font-family: $font-family-base;
}
