.bf-sidebar-header {
    position: relative;
    display: block;
    border-bottom: 1px solid $cl-black-5;
    padding: 1.5rem;
    padding-left: 5rem;

    .item-img {
        width: 2.5rem;
        height: 2.5rem;
        position: absolute;
        left: 1.5rem;
        top: 1.5rem;
        border-radius: 100%;
        margin-right: 1rem;
    }

    span {
        display: block;
        color: #fff;
        height: 1.25rem;
        @include ellipsis;
    }

    .item-name {
        font-weight: $fw-medium;
        line-height: 1.75rem;
    }

    .item-url {
        font-size: .75rem;
        line-height: 1.5rem;
        color: $cl-white-50;
    }

    @media screen and (max-width:55rem) {
        padding: .5rem 3.5rem;

        .item-img {
            top: .8125rem;
            left: 1rem;
            width: 2rem;
            height: 2rem;
        }

        .item-name {
            height: 2.5rem;
            line-height: 2.625rem;
        }

        .item-url {
            display: none;
        }
    }
}

.bf-sidebar-toggle {
    position: absolute;
    top: 0;
    right: 0;
    height: 3.5rem;
    width: 3.5rem;
    background: none;
    border: none;
    padding: 0;
    display: none;
    outline: none !important;

    i {
        font-size: 1.125rem;
        color: #fff;
        display: block;
        height: 100%;
        line-height: 3.75rem;
    }

    &.active {
        background: $cl-white-10;
    }

    @media screen and (max-width:55rem) {
        display: block;
    }
}

.bf-sidebar-nav {
    @include unstyled(ul);

    .nav-item {
        border-bottom: 1px solid $cl-black-5;
    }

    .nav-item-link {
        display: block;
        line-height: 3.5rem;
        padding: 0 1.5rem;
        font-size: 1rem;
        font-weight: $fw-medium;
        text-transform: uppercase;
        color: $cl-white-50;

        &:hover {
            color: #fff;
            cursor: pointer;
        }

        &.active {
            color: #fff;
            background: $cl-black-5;
        }
    }

    .nav-item-body {
        background: $cl-black-5;
    }

    @media screen and (max-width:55rem) {
        display: none;
    }
}


.bf-sidebar-logo {
    padding: 1rem;
    text-align: center;
    opacity: .2;
    outline: none;

    &:hover, &:focus {
        opacity: 1;
    }

    img {
        width: 1.25rem;
    }

    @media screen and (max-width:55rem) {
        display: none;
    }
}
