.tooltip-inner {
    text-transform: uppercase;
    font-size: 10px;
    padding: 3px 10px 4px;
    letter-spacing: 1px;
    border-radius: 2px;
}

.mce-tinymce.mce-container.mce-panel {
    border-radius:4px;
    overflow:hidden;
    border:1px solid #ccc;
}

.mce-toolbar-grp {
    border-bottom:1px solid #ccc !important;
    padding:5px !important;
}