// FONT FAMILY
$font-family-roboto: "Roboto";
$font-family-base: $font-family-roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;

// FONT SIZE
$font-size-base: 1rem;
$line-height-base: 1.5;

// FONT WEIGHT
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;

// COLORS
$color-border: #eee;