.blog-footer {
    background-color: #000;
    color: #888;
    font-size: 1rem;
    padding: 3rem 1rem;


    .blog-copyright {
        color: #888;
        font-size: .875rem;
        text-transform: uppercase;

        a {
            color: #888;

            &:hover {
                color: $color-theme;
            }
        }
    }

    a {
        color: #b3b3b3;

        &:hover {
            color: $color-theme;
        }
    }


    p {
        margin: 0;
    }
}
