@{
    var returnUrl = Url.Action("Index", "Admin");
}
<footer class="blog-footer">
    <div class="container">
            <div class="row">
                <div class="col-sm-4">

                    <div class="widget widget-posts">
                        <h4 class="widget-title"><i class="widget-icon fa fa-file-text-o"></i> <span>Recent Posts</span></h4>
                        <div class="widget-body">
                            <ul class="widget-posts-list">
                                @await Component.InvokeAsync("PostList", new { theme = "box", widget = "Recent Posts" })
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="widget widget-categories">
                        <h4 class="widget-title"><i class="widget-icon fa fa-folder"></i> <span>Categories</span></h4>
                        <div class="widget-body">
                            <ul>
                                @await Component.InvokeAsync("Categories", new { theme = "box", widget = "Categories" })
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="widget widget-newsletter">
                        <h4 class="widget-title"><i class="widget-icon fa fa-telegram"></i><span>Newsletter</span></h4>
                        <div class="widget-body">
                            <ul>
                                @await Component.InvokeAsync("Newsletter", new { theme = "box", widget = "Newsletter" })
                            </ul>
                        </div>
                    </div>
                    <div class="widget widget-social ml-auto">
                        <h4 class="widget-title"><i class="widget-icon fa fa-share-alt"></i> <span>Follow Us</span></h4>
                        <div class="widget-body">
                            @*@await Component.InvokeAsync("HtmlBlock", new { theme = "bridge", widget = "Social Buttons" })*@
                            <ul>
                                <li><a class="widget-social-fb" target="_blank" href="https://facebook.com/blogifierdotnet"><i class="fa fa-facebook"></i></a></li>
                                <li><a class="widget-social-tw" target="_blank" href="https://twitter.com/blogifierdotnet"><i class="fa fa-twitter"></i></a></li>
                                <li><a class="widget-social-in" target="_blank" href="https://instagram.com/blogifierdotnet"><i class="fa fa-instagram"></i></a></li>
                                <li><a class="widget-social-rss" target="_blank" href="/feed/rss"><i class="fa fa-rss"></i></a></li>

                                @if (User.Identity.IsAuthenticated)
                             {
                                <li>
                                    <a class="widget-social-admin" href="~/admin"><i class="fa fa-user"></i></a>
                                </li>
                            }
                            else
                            {
                                <li>
                                    <a class="widget-social-admin" href="~/account/login?ReturnUrl=@returnUrl"><i class="fa fa-login"></i></a>
                                </li>
            }
                            </ul>
                        </div>
                    </div>
                </div>

            </div>
        <p class="blog-copyright text-center">Copyright © @DateTime.Now.Year. Powered by <a href="https://github.com/blogifierdotnet/Blogifier" data-toggle="tooltip" target="_blank" title="Version - @AppSettings.Version">Blogifier</a>. Designed by <a href="https://francis.bio/" target="_blank" rel="nofollow">Francis</a>.</p>
    </div>
</footer>

@*<a href="#" onclick="profileLogOut(); return false;">Logoff</a>
    <form method="post" id="frmLogOut" asp-controller="Account" asp-action="Logout" asp-antiforgery="true"></form>*@
<script src="~/themes/box/js/jquery.min.js"></script>
<script src="~/themes/box/js/popper.min.js"></script>
<script src="~/themes/box/js/bootstrap.min.js"></script>
<script src="~/themes/box/js/prism.js"></script>
<script src="~/themes/box/js/blog.js" asp-append-version="true"></script>




