@inject IStringLocalizer<Resource> _localizer
@inject IJSRuntime _jsRuntime
@implements IAsyncDisposable

@code {

  [Parameter] public string Content { get; set; } = default!;
  [Parameter] public string Toolbar { get; set; } = default!;

  private IJSObjectReference? module;

  protected override async Task OnAfterRenderAsync(bool firstRender)
  {
    if (firstRender)
    {
      module = await _jsRuntime.InvokeAsync<IJSObjectReference>("import", "./admin/js/editor.js");
      if (module is not null)
      {
        await module.InvokeVoidAsync("loadEditor", Toolbar);
      }
    }

    if (module is not null)
    {
      await module.InvokeVoidAsync("setEditorValue", Content);
    }
  }

  public async ValueTask<string?> GetValueAsync()
  {
    if (module is not null)
    {
      return await module.InvokeAsync<string>("getEditorValue");
    }
    return null;
  }

  async ValueTask IAsyncDisposable.DisposeAsync()
  {
    if (module is not null)
    {
      await module.DisposeAsync();
    }
  }
}

<div class="easymde-wrapper">
  <textarea id="bf_editor" tabindex="2" class="visually-hidden" placeholder="@_localizer["type-here"]"></textarea>
</div>
