
@inject IJSRuntime _jsRuntime
@inject IStringLocalizer<Resource> _localizer

@code {

  [Parameter] public string Content { get; set; } = default!;
  [Parameter] public string Toolbar { get; set; } = default!;

  protected override async Task OnAfterRenderAsync(bool firstRender)
  {
    if (firstRender)
    {
      await _jsRuntime.InvokeAsync<string>("commonJsFunctions.loadEditor", Toolbar);
    }
    await _jsRuntime.InvokeAsync<string>("commonJsFunctions.setEditorValue", Content);
  }
}

<div class="easymde-wrapper">
  <textarea id="bf_editor" tabindex="2" class="visually-hidden" placeholder="@_localizer["type-here"]"></textarea>
</div>
