@model Blogifier.Core.Data.Models.AdminBaseModel
@{
    Layout = "~/Views/Blogifier/Admin/Custom/_LayoutSettings.cshtml";
}
<div id="page-content-wrapper">
    <div class="form-group">
        <input type="text" class="form-control" placeholder="Blog Title" />
    </div>
    <div class="form-group">
        <input type="text" class="form-control" placeholder="Blog Description" />
    </div>
    <div class="input-group form-group">
        <input type="text" asp-for="Profile.Avatar" class="form-control" placeholder="Blog Logo" readonly />
        <span class="input-group-btn" style="display:none;">
            <button type="button" class="btn btn-secondary" onclick="return uploadController.remove('');">
                remove
            </button>
        </span>
        <span class="input-group-btn">
            <button type="button" class="btn btn-secondary btn-upload" onclick="return filePickerController.open('');"> upload</button>
        </span>
    </div>
    <div class="input-group form-group">
        <input type="text" asp-for="Profile.Avatar" class="form-control" placeholder="Blog Cover" readonly />
        <span class="input-group-btn" style="display:none;">
            <button type="button" class="btn btn-secondary" onclick="return uploadController.remove('');">
                remove
            </button>
        </span>
        <span class="input-group-btn">
            <button type="button" class="btn btn-secondary btn-upload" onclick="return filePickerController.open('');"> upload</button>
        </span>
    </div>
    <div class="form-group">
        <select class="form-control custom-select">
            <option selected>Standard theme</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
        </select>
    </div>
    <div class="form-group">
        <div class="input-group">
            <span class="input-group-addon" id="basic-addon3">Post Per Page</span>
            <input type="number" class="form-control" value="10">
        </div>
    </div>
    <div class="form-group">
        <textarea class="form-control" rows="7" placeholder="Custom Code..."></textarea>
    </div>
    <button class="btn btn-success btn-block btn-lg">Save</button>
</div>