@model Blogifier.Core.Data.Models.SettingsCustom
@{
    Layout = "~/Views/Blogifier/Admin/Custom/_Layout/_Settings.cshtml";
}
<h4 class="admin-content-title">Custom Fields</h4>
<form method="post" asp-controller="Settings" asp-action="Custom" asp-antiforgery="true">
    <div class="form-group">
        <strong>&lt;head&gt;</strong>
        <p><small>Example: Meta tags, Scripts, and Styles or any other custom codes.</small></p>
         <textarea asp-for='CustomFields["Head"]' class="form-control" rows="7"></textarea>
    </div>
    <div class="form-group">
        <strong>Footer</strong>
        <p><small>Example: Analytics, Scripts, and Styles or any other custom codes.</small></p>
         <textarea asp-for='CustomFields["Footer"]' class="form-control" rows="7"></textarea>
    </div>
    <div class="form-group">
        <strong>Post</strong>
        <p><small>Example: Comment systems, Share buttons or any other custom codes.</small></p>
         <textarea asp-for='CustomFields["Post"]' class="form-control" rows="7"></textarea>
    </div>
    <div id="disqusForm">
        <div id="btnDisqus">
            <button type="submit" class="btn btn-black btn-save-setting">Save</button>
        </div>
    </div>
</form>
@section Scripts{
    @if (!string.IsNullOrEmpty(ViewBag.Message))
    {
        <script>toastr.success('@ViewBag.Message')</script>
    }
}