@model Blogifier.Core.Data.Models.AdminToolsModel
@{
    Layout = "~/Views/Blogifier/Admin/Custom/_Layout/_Settings.cshtml";
}
<form method="post" asp-controller="Settings" asp-action="Custom" asp-antiforgery="true">
    <div class="form-group row">
        <label class="col-sm-3 col-form-label text-right">Google link</label>
        <div class="col-sm-9">
            <input type="text" asp-for='CustomFields["Google"]' class="form-control" />
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-3 col-form-label text-right">Twitter link</label>
        <div class="col-sm-9">
            <input type="text" asp-for='CustomFields["Twitter"]' class="form-control" />
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-3 col-form-label text-right">Github link</label>
        <div class="col-sm-9">
            <input type="text" asp-for='CustomFields["Github"]' class="form-control" />
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-3 col-form-label text-right">Facebook link</label>
        <div class="col-sm-9">
            <input type="text" asp-for='CustomFields["Facebook"]' class="form-control" />
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-3 col-form-label text-right">Instagram link</label>
        <div class="col-sm-9">
            <input type="text" asp-for='CustomFields["Instagram"]' class="form-control" />
        </div>
    </div>

    <div id="disqusForm">
        <div class="form-group row">
            <label class="col-sm-3 col-form-label text-right">Disqus Script</label>
            <div class="col-sm-9">
                <textarea asp-for='CustomFields["disqus"]' class="form-control" rows="10" cols="70"></textarea>
            </div>
        </div>
        <div class="row">
            <div id="btnDisqus" class="col-md-9 offset-md-3">
                <button type="submit" class="btn btn-black btn-save-setting">Save</button>
            </div>
        </div>
    </div>
</form>
@section Scripts{
    @if (!string.IsNullOrEmpty(ViewBag.Message))
    {
        <script>toastr.success('@ViewBag.Message')</script>
    }
}