@model Blogifier.Core.Data.Models.AdminBaseModel
@{
    Layout = "~/Views/Blogifier/Admin/Custom/_Layout/_Settings.cshtml";
    var themeFolder = "blogifier/admin/custom";
}
<form id="frmImport" name="frmImport">
    <div class="form-group row">
        <label class="col-sm-3 col-form-label text-right">RSS URL</label>
        <div class="col-sm-9">
            <input type="text" id="txtFeedUrl" class="form-control" />
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-3 col-form-label text-right">Domain URL</label>
        <div class="col-sm-9">
            <input id="txtDomain" type="text" class="form-control" />
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-3 col-form-label text-right">Sub Folder</label>
        <div class="col-sm-9">
            <input id="txtSubDomain" type="text" class="form-control" />
        </div>
    </div>
    <div class="form-group row">
        <div class="col-md-9 offset-md-3">
            <label class="custom-control custom-checkbox">
                <input type="checkbox" id="chkImportImages" class="custom-control-input">
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description">Import Images</span>
            </label>
        </div>
        <div class="col-md-9 offset-md-3">
            <label class="custom-control custom-checkbox">
                <input type="checkbox" id="chkImportAttachements" class="custom-control-input">
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description">Import Attachements</span>
            </label>
        </div>
    </div>
    <div class="row">
        <div class="col-md-9 offset-md-3">
            <div class="spin-icon" style="text-align: center; display:none">
                <i class="fa fa-spin fa-cog fa-2x fa-fw"></i>
                <span class="sr-only">Loading...</span>
            </div>
            <div id="btnImport">
                <input type="hidden" id="hdnProfileId" value="@Model.Profile.Id" />
                <button type="button" class="btn btn-black  btn-save-setting" onclick="toolsController.importRss()">Import</button>
            </div>
        </div>
    </div>
</form>
@section Scripts{
    <script src="~/@themeFolder/js/toolsController.js"></script>
}