@model Blogifier.Core.Data.Models.AdminBaseModel
@{
    Layout = "~/Views/Blogifier/Admin/Custom/_Layout/_Layout.cshtml";
}
<div class="bf-settings bf-settings-import">
    <form id="frmImport" name="frmImport">
        <div class="form-group">
            <label>RSS URL</label>
                <input type="text" id="txtFeedUrl" class="form-control" />
        </div>
        <div class="form-group">
            <label>Domain URL</label>
                <input id="txtDomain" type="text" class="form-control" />
        </div>
        <div class="form-group">

            <label class="custom-control custom-checkbox">
                <input type="checkbox" id="chkImportImages" class="custom-control-input">
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description">Import Images</span>
            </label>
            <label class="custom-control custom-checkbox">
                <input type="checkbox" id="chkImportAttachements" class="custom-control-input">
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description">Import Attachements</span>
            </label>
        </div>
        <div id="btnImport" class="clearfix">
            <button type="button" class="btn btn-primary btn-main float-md-left" onclick="toolsController.importRss()">Import</button>
            <div class="loading  float-md-left ml-md-3"><div class="loading-dot-1"></div><div class="loading-dot-2"></div><div class="loading-dot-3"></div></div>
        </div>
    </form>
</div>
@section Scripts{
    <script src="~/blogifier/admin/custom/js/app/toolsController.js"></script>
    <script>document.getElementById('txtFeedUrl').focus()</script>
}
