@model Blogifier.Core.Data.Models.SettingsPersonal
@{
    Layout = "~/Views/Blogifier/Admin/Custom/_Layout/_Settings.cshtml";
    var themeFolder = "blogifier/admin/custom";
    var filePicker = string.Format("~/Views/{0}/_Shared/_FilePicker.cshtml", themeFolder);
}

@if (!Model.BlogExists)
{
    <div class="alert alert-warning" role="alert">
        You must save your profile before you can navigate to other pages.
    </div>
}
<form method="post" asp-controller="Settings" asp-action="Personal" asp-antiforgery="true">
    <div class="form-group row">
        <label class="col-sm-3 col-form-label text-right">Blog Title</label>
        <div class="col-sm-9">
            <input type="text" asp-for="Title" class="form-control" />
            <span asp-validation-for="Title" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-3 col-form-label text-right">Blog Description</label>
        <div class="col-sm-9">
            <input asp-for="Description" type="text" class="form-control" />
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-3 col-form-label text-right">Blog Theme</label>
        <div class="col-sm-9">
            <select asp-for="BlogTheme" asp-items="Model.BlogThemes" class="form-control custom-select"></select>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-3 col-form-label text-right">Blog Logo</label>
        <div class="input-group col-sm-9">
            <input type="text" asp-for="Logo" class="form-control" readonly />
            <span class="input-group-btn" style="display:none;">
                <button type="button" class="btn btn-secondary" onclick="return uploadController.remove('');"> remove </button>
            </span>
            <span class="input-group-btn">
                <button type="button" class="btn btn-secondary btn-upload" onclick="return filePickerController.open('profilelogo');"> upload</button>
            </span>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-3 col-form-label text-right">Blog Cover</label>
        <div class="input-group col-sm-9">
            <input type="text" asp-for="Image" class="form-control" readonly />
            <span class="input-group-btn" style="display:none;">
                <button type="button" class="btn btn-secondary" onclick="return uploadController.remove('');"> remove </button>
            </span>
            <span class="input-group-btn">
                <button type="button" class="btn btn-secondary btn-upload" onclick="return filePickerController.open('profileimage');"> upload</button>
            </span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-9 offset-md-3">
            <button type="submit" class="btn btn-black">Save</button>
        </div>
    </div>
</form>
@Html.Partial(filePicker)
@section Scripts{
    @if (!string.IsNullOrEmpty(ViewBag.Message))
    {
        <script>toastr.success('@ViewBag.Message')</script>
    }
    <script>document.getElementById('Title').focus()</script>
    <script src="~/@themeFolder/js/filePickerController.js"></script>
}