@model Blogifier.Core.Data.Models.SettingsProfile
@{
    Layout = "~/Views/Blogifier/Admin/Custom/_Layout/_Layout.cshtml";
}
<div class="bf-settings bf-settings-profile">
    <form method="post" asp-controller="Settings" asp-action="Profile" asp-antiforgery="true">
        <div class="form-group">
            <label>Author Name</label>
            <input type="text" asp-for="AuthorName" class="form-control" />
            <span asp-validation-for="AuthorName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label>Email Address</label>

            <input type="text" asp-for="AuthorEmail" class="form-control" />
            <span asp-validation-for="AuthorEmail" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label>Profile Photo</label>
            <div class="input-group">
                <input type="text" asp-for="Avatar" class="form-control" readonly />
                <span class="input-group-btn">
                    <button type="button" class="btn btn-secondary btn-upload" onclick="return fileManagerController.open(updateAvatarCallback);">upload</button>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label>Facebook Link</label>
            <input type="text" asp-for='CustomFields["Facebook"]' class="form-control" />
        </div>
        <div class="form-group">
            <label>Twitter Link</label>
            <input type="text" asp-for='CustomFields["Twitter"]' class="form-control" />
        </div>
        <div class="form-group">
            <label>Google Link</label>
            <input type="text" asp-for='CustomFields["Google"]' class="form-control" />
        </div>
        <div class="form-group">
            <label>Instagram Link</label>
            <input type="text" asp-for='CustomFields["Instagram"]' class="form-control" />
        </div>
        <div class="form-group">
            <label>Github Link</label>
            <input type="text" asp-for='CustomFields["Github"]' class="form-control" />
        </div>
        <button type="submit" class="btn btn-primary btn-main">Save</button>
    </form>
    <div style="display:none;">
        <form method="post" name="frmUploadAssets" id="frmUploadAssets" asp-action="Index" asp-controller="Blogifier/Api/Assets/Multiple" enctype="multipart/form-data">
            <input type="file" name="files" id="files" multiple onchange="filePickerController.uploadAssets(); return false;" />
            <input type="submit" value="Upload Multiple" />
        </form>
    </div>
</div>
@Html.Partial("~/Views/Blogifier/Admin/Custom/_Shared/_FileManager.cshtml")
@section Scripts{
    @if (!string.IsNullOrEmpty(ViewBag.Message))
    {
        <script>toastr.success('@ViewBag.Message')</script>
    }
    <script>
        var updateAvatarCallback = function (data) {
            toastr.success('Avatar: ' + data);
        }
    </script>
    <script>document.getElementById('AuthorName').focus()</script>
    <script src="~/blogifier/admin/custom/js/app/fileManagerController.js"></script>
}
