@model Blogifier.Core.Data.Models.AdminProfileModel
@{
    Layout = "~/Views/Blogifier/Admin/Custom/_Layout/_Settings.cshtml";
    var themeFolder = "blogifier/admin/custom";
    var isDisabled = Model.BlogExists ? "" : "disabled";
    var filePicker = string.Format("~/Views/{0}/_Shared/_FilePicker.cshtml", themeFolder);
}

@if (!Model.BlogExists)
{
    <div class="alert alert-warning" role="alert">
        You must save your profile before you can navigate to other pages.
    </div>
}
<form method="post" asp-controller="Settings" asp-action="Profile" asp-antiforgery="true">
    <div class="form-group row">
        <label class="col-sm-3 col-form-label text-right">Author Name</label>
        <div class="col-sm-9">
            <input type="text" asp-for="Profile.AuthorName" class="form-control" />
            <span asp-validation-for="Profile.AuthorName" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-3 col-form-label text-right">Email Address</label>
        <div class="col-sm-9">
            <input type="text" asp-for="Profile.AuthorEmail" class="form-control" />
            <span asp-validation-for="Profile.AuthorEmail" class="text-danger"></span>
        </div>
    </div>
    <div class=" form-group row">
        <label class="col-sm-3 col-form-label text-right">Profile Photo</label>
        <div class="input-group col-sm-9">
            <input type="text" asp-for="Profile.Avatar" class="form-control" readonly />
            <span class="input-group-btn" style="display:none;">
                <button type="button" class="btn btn-secondary" onclick="return uploadController.remove('');"> remove </button>
            </span>
            <span class="input-group-btn">
                <button type="button" @isDisabled class="btn btn-secondary btn-upload" onclick="return filePickerController.open('profileavatar');"> upload</button>
            </span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-9 offset-md-3">
            <button type="submit" class="btn btn-black">Save</button>
        </div>
    </div>
    <!-- for model validation, do not remove -->
    <input asp-for="Profile.Id" hidden="hidden" />
    <input asp-for="Profile.IdentityName" hidden="hidden" />
    <input asp-for="Profile.Slug" hidden="hidden" />
    <input asp-for="Profile.BlogTheme" hidden="hidden" />
    <input asp-for="Profile.Title" hidden="hidden" />
    <input asp-for="Profile.Description" hidden="hidden" />
</form>
@Html.Partial(filePicker)
@section Scripts{
    @if (!string.IsNullOrEmpty(ViewBag.Message))
    {
        <script>toastr.success('@ViewBag.Message')</script>
    }
    <script>document.getElementById('Profile_AuthorName').focus()</script>
    <script src="~/@themeFolder/js/filePickerController.js"></script>
}