@model Blogifier.Core.Data.Models.AdminProfileModel
@{
    Layout = "~/Views/Blogifier/Admin/Custom/_LayoutSettings.cshtml";
}
<div id="page-content-wrapper">
    @if (!Model.BlogExists)
    {
        <div class="alert alert-warning" role="alert">
            You must save your profile before you can navigate to other pages.
        </div>
    }
    <form method="post" asp-controller="Settings" asp-action="Profile" asp-antiforgery="true">
        <div class="form-group">
            <input type="text" asp-for="Profile.Title" class="form-control" placeholder="Blog Title" />
            <span asp-validation-for="Profile.Title" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input asp-for="Profile.Description" type="text" class="form-control" placeholder="Blog Description" />
            <span asp-validation-for="Profile.Description" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="text" asp-for="Profile.AuthorName" class="form-control" placeholder="Author Name" />
            <span asp-validation-for="Profile.AuthorName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="text" asp-for="Profile.AuthorEmail" class="form-control" placeholder="Email" />
            <span asp-validation-for="Profile.AuthorEmail" class="text-danger"></span>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block">Save</button>
        </div>
        <input asp-for="Profile.Id" hidden="hidden" />
        <input asp-for="Profile.IdentityName" hidden="hidden" />
        <input asp-for="Profile.Slug" hidden="hidden" />
        <input asp-for="Profile.BlogTheme" hidden="hidden" />
    </form>
</div>
@section Scripts{
    @if (!string.IsNullOrEmpty(ViewBag.Message))
    {
        <script>toastr.success('@ViewBag.Message')</script>
    }
    <script>document.getElementById('Profile_Title').focus()</script>
}