<md-card class="featured-post" flex style="height: 100%" ui-sref="post({ slug: postListItemCtrl.post.slug })">
    <div class="featured-post-image" style="background-image: url('{{postListItemCtrl.post.image}}')"></div>
    <md-card-title>
        <md-card-title-text>
            <span class="md-title">{{postListItemCtrl.post.title}}</span>
            <span class="md-subtitle" ng-bind-html="postListItemCtrl.post.content | unsafe"></span>
        </md-card-title-text>
    </md-card-title>
</md-card>