.widget-newsletter {
    background: $color-theme;
    padding: 7rem;
    text-align: center;
    color:#fff;

    .widget-title {
        font-size: 3rem;
    }

    h3 {
    }

    p {
        margin-bottom: 2rem;
        opacity: .75;
        font-weight: 300;
        font-size: 1.5rem;
    }

    form {
        position: relative;
        width: 30rem;
        margin: 0 auto;
    }

    input {
        background: #fff;
        width: 100%;
        border: none;
        border-radius: 10rem;
        color: #000;
        outline: none !important;
        height: 4rem;
        padding: 0 1.5rem;

        &::placeholder {
            color: rgba(0,0,0,.5);
            font-size: 1rem;
            font-weight: 400;
        }

        &:focus {
            border-color: rgba(0,0,0,.75);
            outline: none !important;
            box-shadow: none;
        }
    }

    button {
        background-color: none;
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        border: 0;
        width: 10rem;
        color: $color-theme;
        text-transform: uppercase;
        background: none;
        font-size: .875rem;
        font-weight: 500;
        border-left: 1px solid rgba(0,0,0,.1);

        &:hover {
            color: #253d80;
        }
    }
}
