@mixin makebutton($text, $text-hover, $background, $background-hover) {
    color: $text;
    background-color: $background;

    svg {
        fill: $text;
    }

    &:hover {
        color: $text-hover;
        background-color: $background-hover;

        svg {
            fill: $text-hover;
        }
    }

    &.focus,
    &:focus {
        color: $text-hover;
        background-color: $background;
        border-color: $background;
        box-shadow: 0 0 0 0.2rem rgba($background,.25);

        svg {
            fill: $text-hover;
        }
    }

    &:not(:disabled):not(.disabled).active,
    &:not(:disabled):not(.disabled):active,
    .show > &.dropdown-toggle {
        color: $text-hover;
        background-color: $background-hover;
    }

    &:not(:disabled):not(.disabled).active:focus,
    &:not(:disabled):not(.disabled):active:focus,
    .show > &.dropdown-toggle:focus {
        box-shadow: 0 0 0 0.2rem rgba($background,.5);
    }
}
