img {
    max-width: 100%;
}

a {
    color: $color-brand;

    &:hover {
        color: $color-gray;
        text-decoration: none;
    }
}

.nav-pills {
    .nav-link {
        color: $color-gray;
        font-weight: 500;
        position: relative;

        &:hover {
            color: $color-gray-dark;
        }

        &.active {
            background: $color-gray;
            color: #fff;

            &:hover {
                color: #fff;
            }
        }
    }

    svg {
        width: 1rem;
        height: 1rem;
        position: absolute;
        left: 1rem;
        top: 50%;
        transform: translateY(-50%);
    }

    .nav-link-name {
        padding-left: 2rem;
    }

    @media screen and (max-width: 767px) {
        .nav-link-name {
            display: none;
        }
    }
}
