/*$color-brand: #593c8f;*/
$color-brand: #6200ee;
$color-brand-hover: #4d2b8e;

$color-gray-dark: #2d3436;
$color-gray: #636e72;
$color-gray-light: #b2bec3;
$color-gray-lighter: #f1f4f8;
$color-text: $color-gray;
$color-text-hover: $color-gray-dark;
