:root {
  --blogifier: #622aff; }

a {
  color: #6200ee;
  text-decoration: none; }
  a:hover {
    color: #888; }

img {
  max-width: 100%; }

.nav-link {
  color: #555; }
  .nav-link:hover {
    color: var(--blogifier); }

.container {
  width: 64rem;
  max-width: 100%; }

.bft-title {
  font-size: 1.75rem;
  margin: 0; }

.bft-social a {
  display: block;
  text-align: center; }
  .bft-social a:hover .bi {
    fill: #6200ee; }

.bft-social .bi {
  width: 1.125rem;
  height: 100%;
  fill: #555; }

.dropdown-user-btn {
  color: #622aff;
  background: rgba(98, 42, 255, 0.15);
  font-weight: 500;
  border: 0;
  border-radius: 0.25rem;
  padding: 0.5rem 1rem;
  outline: none !important;
  font-size: .9875rem; }
  .dropdown-user-btn:hover, .dropdown-user-btn:focus {
    background-color: #622aff;
    color: #fff; }
  .dropdown-user-btn img {
    transform: translateY(-1px); }

.dropdown-user-menu {
  margin-top: 0.5rem !important;
  background-color: #622aff;
  width: 100%;
  min-width: 100%;
  border: 0; }
  .dropdown-user-menu .dropdown-item {
    color: rgba(255, 255, 255, 0.85);
    font-size: 0.875rem;
    padding: 0.25rem 1rem;
    text-transform: capitalize; }
    .dropdown-user-menu .dropdown-item:hover, .dropdown-user-menu .dropdown-item:focus {
      color: #fff;
      background: none;
      background-color: rgba(255, 255, 255, 0.1); }

.blog-nav li:not(:last-child) {
  margin-right: 1.5rem; }

.blog-nav a {
  font-weight: 500;
  line-height: 2rem;
  display: block;
  color: #666;
  -webkit-font-smoothing: antialiased; }
  .blog-nav a:hover {
    color: #6200ee; }

.blog-footer {
  margin-top: 2.5rem;
  background-color: #f7f7f7; }

.blog-copyright {
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  color: #666;
  font-size: 0.75rem;
  text-transform: uppercase;
  line-height: 2rem;
  padding-top: 2rem;
  padding-bottom: 2rem; }
  .blog-copyright p {
    margin: 0; }
  .blog-copyright a {
    color: #666; }
    .blog-copyright a:hover {
      color: #6200ee; }

.blog-adminbar svg {
  width: 0.875rem;
  height: 0.875rem;
  transform: translateY(-1px);
  margin-right: 0.125rem; }

.blog-adminbar a {
  margin-left: 1rem; }

.widget {
  margin-bottom: 4rem; }
  .widget-title {
    font-weight: 400;
    letter-spacing: 0.1em;
    color: #999;
    font-size: 1rem;
    text-transform: uppercase;
    display: block;
    margin-bottom: 1rem; }
  .widget-content ul {
    list-style: none;
    padding: 0;
    margin: 0; }

.post-home {
  margin-bottom: 4rem;
  position: relative; }
  .post-home:hover .post-home-cover {
    opacity: 1;
    box-shadow: 0 15px 45px -5px rgba(7, 10, 25, 0.25);
    -webkit-filter: brightness(1.07);
    filter: brightness(1.07);
    transform: translate(0, -2px); }
  .post-home .post-cover {
    margin-bottom: 1.5rem;
    overflow: hidden;
    height: 15rem;
    box-shadow: 0 3px 12px -1px rgba(7, 10, 25, 0.2), 0 22px 27px -20px rgba(7, 10, 25, 0.2);
    transition: all 0.3s ease; }
    .post-home .post-cover img {
      min-height: 100%; }
  .post-home .post-label {
    position: absolute;
    top: 1rem;
    left: 2.5rem;
    padding: 0.125rem 0.5rem;
    background-color: #000;
    text-transform: uppercase;
    color: #fff;
    font-size: 0.625rem;
    letter-spacing: 0.125rem;
    display: inline-block;
    border-radius: 5rem; }
  .post-home .post-header {
    margin-bottom: 1rem; }
  .post-home .post-title {
    font-size: 1.25rem;
    font-weight: 700; }
    .post-home .post-title-link {
      color: #000; }
      .post-home .post-title-link:hover {
        color: #6200ee; }
  .post-home .post-meta {
    font-weight: 500;
    letter-spacing: 0.1em;
    color: #888;
    font-size: 0.75rem;
    text-transform: uppercase;
    -webkit-font-smoothing: antialiased;
    margin-bottom: 1rem; }
  .post-home .post-body p {
    font-size: 0.875rem;
    text-align: justify;
    line-height: 1.6875;
    color: #505050;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    margin-bottom: 0.5rem; }
  .post-home .post-more {
    border-bottom: 1px solid #000;
    color: #000;
    font-size: 0.875rem;
    font-weight: 500; }

.post-single .post-cover {
  margin-bottom: 4rem;
  box-shadow: 0 3px 12px -1px rgba(7, 10, 25, 0.2), 0 22px 27px -20px rgba(7, 10, 25, 0.2);
  min-width: 100%; }

.post-single .post-header {
  margin-bottom: 2rem; }

.post-single .post-title {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 1rem 0;
  line-height: 1.25;
  max-width: 85%;
  -webkit-font-smoothing: initial; }

.post-single .post-meta {
  font-weight: 500;
  letter-spacing: 0.1em;
  color: #888;
  font-size: 0.75rem;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
  margin-bottom: 0;
  line-height: 2rem; }
  .post-single .post-meta-sep {
    display: inline-block;
    margin: 0 0.5rem; }

.post-single .post-cats {
  font-weight: 500;
  letter-spacing: 0.1em;
  color: #888;
  font-size: 0.75rem;
  text-transform: uppercase; }

.post-single .post-author-img {
  display: inline-block;
  border: 2px solid #fff;
  box-shadow: 0 0 0 1px #ccc;
  border-radius: 50%;
  margin-right: 0.5rem;
  width: 1.5rem;
  height: 1.5rem; }

.post-single .post-body {
  line-height: 1.6;
  color: #333;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-size: 1.0625rem;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.9);
  padding-left: 2rem;
  padding-right: 2rem; }
  .post-single .post-body h2,
  .post-single .post-body h3,
  .post-single .post-body h4 {
    margin-top: 2rem; }

.widget-posts-item {
  position: relative;
  padding-left: 5.5rem;
  min-height: 4rem; }
  .widget-posts-item:not(:last-child) {
    margin-bottom: 1rem; }
  .widget-posts-item:hover .widget-posts-cover {
    opacity: 1;
    box-shadow: 0 15px 45px -5px rgba(7, 10, 25, 0.25);
    -webkit-filter: brightness(1.07);
    filter: brightness(1.07);
    transform: translate(0, -2px); }

.widget-posts-title {
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.5;
  margin-bottom: 0rem;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden; }

.widget-posts-time {
  font-weight: 500;
  letter-spacing: 0.1em;
  color: #888;
  font-size: 0.625rem;
  text-transform: uppercase;
  display: block;
  margin-top: 0.25rem; }

.widget-posts-link {
  display: block; }

.widget-posts-cover {
  position: absolute;
  left: 0;
  top: 0;
  width: 4.5rem;
  height: 4rem;
  overflow: hidden;
  box-shadow: 0 3px 12px -1px rgba(7, 10, 25, 0.2), 0 22px 27px -20px rgba(7, 10, 25, 0.2);
  transition: all 0.3s ease; }

.widget-posts-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-height: 100%;
  max-height: 100%;
  min-width: 100%;
  max-width: none; }

.blog-newsletter-desc {
  font-size: .875rem;
  color: #444;
  margin-bottom: 1rem; }

.blog-newsletter .form-control {
  background: none;
  border-radius: 0;
  margin-bottom: 1rem; }

.blog-newsletter .btn {
  border-radius: 0; }

.widget-category {
  border-top: 1px dashed #e5e5e5; }
  .widget-category-item {
    margin: 0; }
  .widget-category-link {
    font-size: 0.875rem;
    font-weight: 500;
    display: block;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    border-bottom: 1px dashed #e5e5e5;
    color: #000;
    text-transform: capitalize;
    position: relative; }
    .widget-category-link:hover {
      color: #6200ee; }
    .widget-category-link span {
      position: absolute;
      right: 0;
      font-size: 0.625rem;
      top: 50%;
      transform: translateY(-50%); }

/*# sourceMappingURL=blog.css.map */