a {
  color: var(--bft-color);
  text-decoration: none; }
  a:hover {
    color: #888; }

img {
  max-width: 100%; }

.container {
  width: 64rem;
  max-width: 100%; }

.bft-header {
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  margin-bottom: 5rem;
  border-bottom: 1px solid #f7f7f7; }
  .bft-header-sign {
    margin-right: 1rem; }
    .bft-header-sign:hover .bft-header-title, .bft-header-sign:focus .bft-header-title {
      color: var(--bft-header-title-hover); }
  .bft-header-title {
    margin: 0;
    font-size: var(--bft-header-title-size);
    font-weight: var(--bft-header-title-weight);
    color: var(--bft-header-title-color); }
  .bft-header-logo {
    width: var(--bft-header-logo-width);
    height: var(--bft-header-logo-height); }

.widget:not(:last-child) {
  margin-bottom: 4rem; }

.widget-title {
  font-weight: 400;
  letter-spacing: 0.1em;
  color: #999;
  font-size: 1rem;
  text-transform: uppercase;
  display: block;
  margin-bottom: 1rem; }

.widget-content ul {
  list-style: none;
  padding: 0;
  margin: 0; }

.blog-footer {
  background: #f8f9fa;
  margin-top: 5rem;
  padding-top: 3rem; }
  .blog-footer a {
    color: #000; }
    .blog-footer a:hover {
      color: var(--bft-color); }

.bft-social {
  list-style: none;
  padding: 0;
  margin: 0; }
  .bft-social-item {
    width: 3rem;
    height: 3rem; }
  .bft-social-link {
    display: block;
    text-align: center;
    display: block;
    height: 100%; }
    .bft-social-link:hover .bi, .bft-social-link:focus .bi {
      fill: var(--bft-color); }
  .bft-social .bi {
    width: 1.125rem;
    height: 100%;
    fill: #555; }

.dropdown-user-link {
  width: 3rem;
  height: 3rem;
  text-align: center;
  display: block;
  position: relative;
  margin-left: 1.5rem;
  border-radius: 100%;
  border: 0;
  background: none; }
  .dropdown-user-link.logedin img {
    width: 1.5rem;
    height: 1.5rem;
    padding: 0; }
  .dropdown-user-link:hover .bi, .dropdown-user-link:focus .bi {
    fill: var(--bft-color); }
  .dropdown-user-link::before {
    content: "";
    width: 1px;
    height: 1rem;
    background-color: rgba(0, 0, 0, 0.1);
    display: block;
    position: absolute;
    top: 0;
    left: -0.75rem;
    transform: translateY(1rem); }
  .dropdown-user-link .bi {
    height: 100%;
    fill: #555;
    transform: translateX(-0.135rem); }

.dropdown-user-menu {
  margin-top: 0.5rem !important;
  background-color: #622aff;
  width: 10rem;
  min-width: 100%;
  border: 0; }
  .dropdown-user-menu .dropdown-item {
    color: rgba(255, 255, 255, 0.85);
    font-size: 0.875rem;
    padding: 0.25rem 1rem;
    text-transform: capitalize; }
    .dropdown-user-menu .dropdown-item:hover, .dropdown-user-menu .dropdown-item:focus {
      color: #fff;
      background: none;
      background-color: rgba(255, 255, 255, 0.1); }

.bft-featured {
  margin-bottom: 5rem; }
  .bft-featured-figure {
    margin: 0; }
  .bft-featured-img {
    border-radius: .25rem; }
  .bft-featured-title {
    font-size: 1.75rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
    line-height: 1.3; }
  .bft-featured-link {
    color: #000; }
    .bft-featured-link:hover {
      color: var(--bft-color); }
  .bft-featured-meta {
    margin-bottom: 1.5rem;
    color: #999;
    font-size: 0.875rem; }
  .bft-featured-cat {
    color: #999; }
    .bft-featured-cat::before {
      content: "";
      margin: 0 0.5rem;
      width: 0.25rem;
      height: 0.25rem;
      border-radius: 1rem;
      background-color: rgba(0, 0, 0, 0.2);
      display: inline-block;
      transform: translateY(-0.125rem); }
    .bft-featured-cat:hover {
      color: var(--bft-color); }
  .bft-featured-desc {
    color: #666;
    line-height: 1.8;
    margin-bottom: 1.5rem; }

.bft-copyright {
  color: #666;
  margin-top: 3rem;
  border-top: 1px solid #eee;
  font-size: 0.75rem;
  line-height: 2rem;
  padding-top: 2rem;
  padding-bottom: 2rem; }
  .bft-copyright p {
    margin: 0; }
  .bft-copyright a {
    color: #666; }
    .bft-copyright a:hover {
      color: var(--bft-color); }

.bft-post-item {
  margin-bottom: 1rem;
  overflow: hidden; }
  .bft-post-item-cover {
    margin: 0 0 1rem; }
  .bft-post-item-img {
    border-radius: .25rem; }
  .bft-post-item-content {
    padding: 0 .25rem; }
  .bft-post-item-title {
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 0.75rem;
    line-height: 1.3; }
  .bft-post-item-link {
    color: #000; }
    .bft-post-item-link:hover {
      color: var(--bft-color); }
  .bft-post-item-meta {
    margin-bottom: 0.75rem;
    color: #bbb;
    font-size: 0.875rem; }
  .bft-post-item-cat {
    color: #bbb; }
    .bft-post-item-cat::before {
      content: "";
      margin: 0 0.5rem;
      width: 0.25rem;
      height: 0.25rem;
      border-radius: 1rem;
      background-color: rgba(0, 0, 0, 0.2);
      display: inline-block;
      transform: translateY(-0.125rem); }
    .bft-post-item-cat:hover {
      color: #555; }
  .bft-post-item-desc {
    color: #555;
    font-size: 1rem;
    margin-bottom: 0.5rem; }
  .bft-post-item-more {
    color: #444;
    font-weight: 500;
    display: inline-block;
    font-size: .875rem; }

.bft-post-wrap {
  max-width: 50rem;
  width: 100%; }

.bft-post-header {
  margin-bottom: 2rem; }

.bft-post-title {
  margin-bottom: 2rem;
  font-weight: 700; }

.bft-post-meta {
  color: #999;
  font-size: 0.875rem; }
  .bft-post-meta a {
    color: #999; }
    .bft-post-meta a:hover {
      color: var(--bft-color); }

.bft-post-author-name {
  text-transform: capitalize; }

.bft-post-author-img {
  border-radius: 100%;
  margin-right: 0.5rem; }

.bft-post-cats-list {
  list-style: none;
  margin: 0;
  padding: 0; }

.bft-post-cats-item {
  margin-right: 0.75rem; }

.bft-post-description {
  font-weight: 300;
  font-size: 1.125rem;
  margin-bottom: 3rem; }

.bft-post-cover {
  margin-bottom: 3rem; }

.bft-post-content {
  font-size: 1.125rem;
  line-height: 1.8; }
  .bft-post-content p {
    margin-bottom: 1.5rem; }

.widget-posts-item {
  position: relative;
  padding-left: 5.5rem;
  min-height: 4rem; }
  .widget-posts-item:not(:last-child) {
    margin-bottom: 1rem; }
  .widget-posts-item:hover .widget-posts-cover {
    opacity: 1;
    box-shadow: 0 15px 45px -5px rgba(7, 10, 25, 0.25);
    -webkit-filter: brightness(1.07);
    filter: brightness(1.07);
    transform: translate(0, -2px); }

.widget-posts-title {
  font-size: 0.875rem;
  font-weight: 500;
  line-height: 1.5;
  margin-bottom: 0rem;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden; }

.widget-posts-time {
  font-weight: 500;
  letter-spacing: 0.1em;
  color: #888;
  font-size: 0.625rem;
  text-transform: uppercase;
  display: block;
  margin-top: 0.25rem; }

.widget-posts-link {
  display: block; }

.widget-posts-cover {
  position: absolute;
  left: 0;
  top: 0;
  width: 4.5rem;
  height: 4rem;
  overflow: hidden;
  box-shadow: 0 3px 12px -1px rgba(7, 10, 25, 0.2), 0 22px 27px -20px rgba(7, 10, 25, 0.2);
  transition: all 0.3s ease; }

.widget-posts-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-height: 100%;
  max-height: 100%;
  min-width: 100%;
  max-width: none; }

.blog-newsletter-desc {
  font-size: .875rem;
  color: #444;
  margin-bottom: 1rem; }

.blog-newsletter .form-control {
  background: none;
  border-radius: 0;
  margin-bottom: 1rem; }

.blog-newsletter .btn {
  border-radius: 0; }

.widget-category {
  border-top: 1px dashed #e5e5e5; }
  .widget-category-item {
    margin: 0; }
  .widget-category-link {
    font-size: 0.875rem;
    font-weight: 500;
    display: block;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    border-bottom: 1px dashed #e5e5e5;
    color: #000;
    text-transform: capitalize;
    position: relative; }
    .widget-category-link:hover {
      color: var(--bft-color); }
    .widget-category-link span {
      position: absolute;
      right: 0;
      font-size: 0.625rem;
      top: 50%;
      transform: translateY(-50%); }

/*# sourceMappingURL=blog.css.map */