:root {
  --bs-gutter-x: 1rem; }

a {
  text-decoration: none; }

img {
  max-width: 100%; }

.container {
  width: 59.75rem;
  max-width: 100%; }

.header {
  padding-top: 4rem;
  padding-bottom: 4rem; }
  .header-sign {
    margin-right: 1rem; }
  .header-title {
    display: block;
    margin: 0;
    font-size: var(--bft-header-title-size);
    font-weight: var(--bft-header-title-weight);
    color: var(--bft-header-title-color);
    line-height: 1.2; }
    .header-title:hover, .header-title:focus {
      color: var(--bft-header-title-hover); }
  .header-desc {
    margin: 0;
    font-weight: 300;
    color: var(--bft-header-desc-color, #666); }
  .header-logo {
    display: block; }
    .header-logo-img {
      width: var(--bft-header-logo-width);
      height: var(--bft-header-logo-height); }

.bft-widget-title {
  font-weight: 300;
  letter-spacing: 0.1em;
  color: #aaa;
  font-size: 1rem;
  text-transform: uppercase;
  display: block;
  margin-bottom: 2rem; }

.bft-widget-content ul {
  list-style: none;
  padding: 0;
  margin: 0; }

.footer {
  background: #f8f9fa;
  margin-top: 4rem;
  padding-top: 4rem; }
  .footer a {
    color: #000; }
    .footer a:hover {
      color: var(--bft-color); }

.footer-copyright {
  color: #666;
  margin-top: 3rem;
  border-top: 1px solid #eee;
  font-size: 0.75rem;
  line-height: 2rem;
  padding-top: 2rem;
  padding-bottom: 2rem; }
  .footer-copyright p {
    margin: 0; }
  .footer-copyright a {
    color: #666; }
    .footer-copyright a:hover {
      color: var(--bft-color); }

.bft-social {
  list-style: none;
  padding: 0;
  margin: 0; }
  .bft-social-item {
    width: 3rem;
    height: 3rem; }
  .bft-social-link {
    width: 100%;
    height: 100%;
    text-align: center;
    display: block; }
    .bft-social-link.-btn {
      background: none;
      border: 0; }
    .bft-social-link:hover .bi, .bft-social-link:focus .bi {
      fill: var(--bft-color); }
  .bft-social .bi {
    width: 1.125rem;
    height: 100%;
    fill: #555; }

.dropdown-user-link {
  width: 3rem;
  height: 3rem;
  text-align: center;
  display: block;
  position: relative;
  margin-left: 1.5rem;
  border-radius: 100%;
  border: 0;
  background: none; }
  .dropdown-user-link.logedin img {
    width: 1.5rem;
    height: 1.5rem;
    padding: 0; }
  .dropdown-user-link:hover .bi, .dropdown-user-link:focus .bi {
    fill: var(--bft-color); }
  .dropdown-user-link::before {
    content: "";
    width: 1px;
    height: 1rem;
    background-color: rgba(0, 0, 0, 0.1);
    display: block;
    position: absolute;
    top: 0;
    left: -0.75rem;
    transform: translateY(1rem); }
  .dropdown-user-link .bi {
    height: 100%;
    fill: #555;
    transform: translateX(-0.135rem); }

.dropdown-user-menu {
  margin-top: 0.5rem !important;
  background-color: #622aff;
  width: 10rem;
  min-width: 100%;
  border: 0; }
  .dropdown-user-menu .dropdown-item {
    color: rgba(255, 255, 255, 0.85);
    font-size: 0.875rem;
    padding: 0.25rem 1rem;
    text-transform: capitalize; }
    .dropdown-user-menu .dropdown-item:hover, .dropdown-user-menu .dropdown-item:focus {
      color: #fff;
      background: none;
      background-color: rgba(255, 255, 255, 0.1); }

.featured {
  margin-bottom: 5rem; }
  .featured-cover {
    margin: 0;
    max-height: 100%;
    min-height: 100%;
    overflow: hidden;
    position: relative;
    border: 1px solid #eee; }
    @media screen and (max-width: 991px) {
      .featured-cover {
        height: 20rem; } }
  .featured-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center; }
  .featured-content {
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 2rem; }
  .featured-title {
    font-size: 1.75rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
    line-height: 1.3; }
  .featured-link {
    color: #000; }
    .featured-link:hover {
      color: var(--bft-color); }
  .featured-meta {
    font-size: 0.875rem;
    color: #777;
    margin-bottom: 1.5rem;
    opacity: 0.7; }
    .featured-meta a {
      color: #777; }
      .featured-meta a:hover {
        color: #000; }
  .featured-author {
    display: flex;
    align-items: center;
    margin-right: 1rem; }
    .featured-author-img {
      border-radius: 50rem;
      margin-right: 0.25rem;
      filter: grayscale(100%); }
    .featured-author-name {
      text-transform: capitalize; }
  .featured-date {
    display: flex;
    align-items: center;
    margin-right: 0.875rem; }
    .featured-date-icon {
      margin-right: 0.375rem; }
  .featured-cat {
    display: flex;
    align-items: center; }
    .featured-cat-icon {
      margin-right: 0rem; }
  .featured-desc {
    color: #444;
    line-height: 1.8;
    margin-bottom: 1.5rem; }
  .featured-more {
    font-weight: 500;
    font-size: 0.875rem;
    color: var(--bft-color); }
    .featured-more:hover {
      color: #000; }
  .featured-prev, .featured-next {
    width: 3rem;
    opacity: 0; }
  .featured-prev {
    left: -4rem; }
  .featured-next {
    right: -3.5rem; }
  .featured:hover .featured-next,
  .featured:hover .featured-prev {
    opacity: 0.2; }

.post-grid {
  padding: 1.5rem;
  height: 100%;
  border: 1px solid #e5e5e5;
  position: relative;
  transition: all ease-in-out 0.3s; }
  .post-grid-cover {
    display: block;
    margin: -1.5625rem -1.5625rem 1.5rem;
    position: relative; }
    .post-grid-cover::after {
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      background: none;
      box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.125); }
  .post-grid-img {
    min-width: 100%;
    height: 10rem;
    object-fit: cover;
    object-position: center; }
  .post-grid-meta {
    font-size: 0.75rem;
    color: #555;
    margin-bottom: 1.5rem;
    opacity: 0.7; }
    .post-grid-meta a {
      color: #555; }
  .post-grid-author {
    display: flex;
    align-items: center;
    margin-right: 0.875rem; }
    .post-grid-author-img {
      border-radius: 50rem;
      margin-right: 0.25rem;
      filter: grayscale(100%); }
    .post-grid-author-name {
      text-transform: capitalize; }
  .post-grid-date {
    display: flex;
    align-items: center; }
    .post-grid-date-icon {
      margin-right: 0.375rem; }
  .post-grid-title {
    font-size: 1.125rem;
    font-weight: 600;
    margin-bottom: 1rem; }
  .post-grid-link {
    color: #000;
    transition: color ease-in-out 0.2s; }
    .post-grid-link:hover {
      color: var(--bft-color); }
  .post-grid-desc {
    font-size: 0.875rem;
    color: #777;
    margin: 0;
    line-height: 1.75;
    transition: color ease-in-out 0.2s; }
  .post-grid-more:focus {
    position: absolute;
    top: -1px;
    left: -1px;
    bottom: -1px;
    right: -1px;
    background: none; }
  .post-grid:hover {
    box-shadow: 0 0 10rem rgba(0, 0, 0, 0.1);
    border-color: #fff; }
    .post-grid:hover .post-grid-link {
      color: var(--bft-color); }
    .post-grid:hover .post-grid-desc {
      color: #000; }
    .post-grid:hover .post-grid-more {
      position: absolute;
      top: -1px;
      left: -1px;
      bottom: -1px;
      right: -1px;
      background: none; }

.bft-share {
  padding-top: 4rem;
  margin-bottom: 4rem; }
  .bft-share-list {
    list-style: none;
    padding: 0;
    margin: 0; }
  .bft-share-item {
    margin-right: 1rem; }
  .bft-share-link {
    text-align: center;
    display: block;
    height: 100%; }
    .bft-share-link .bi {
      width: 1.5rem;
      height: 1.5rem;
      fill: #555; }
    .bft-share-link:hover .bi, .bft-share-link:focus .bi {
      fill: var(--bft-color); }

.bft-related {
  margin-top: 5rem; }
  .bft-related-title {
    text-transform: uppercase;
    margin-bottom: 3rem;
    font-weight: 300;
    color: #999;
    font-size: 1.25rem;
    letter-spacing: 1px; }
  .bft-related-item {
    height: 100%;
    position: relative;
    display: block;
    overflow: hidden;
    min-height: 10rem;
    border-radius: 0.25rem;
    background-color: #eee;
    color: #000; }
    .bft-related-item-title {
      margin-bottom: 0.5rem;
      font-size: 1.125rem;
      font-weight: 600;
      padding: 1.5rem 1.5rem 0.5rem; }
    .bft-related-item-time {
      font-size: 0.75rem;
      opacity: 0.7;
      padding: 0 1.5rem;
      margin-bottom: 1.5rem;
      display: block; }
    .bft-related-item-img {
      display: block;
      width: 100%; }
    .bft-related-item:hover {
      color: var(--bft-color); }

.pager {
  list-style: none;
  padding: 0;
  margin: 4rem 0 4rem;
  text-align: center;
  height: 3rem; }
  .pager::after {
    content: "";
    height: 1px;
    width: 50%;
    margin: 0 auto;
    background-image: linear-gradient(90deg, transparent, rgba(0, 0, 0, 0.1), transparent);
    display: block;
    transform: translateY(-1.5rem);
    transition: width ease-in-out 0.5s; }
  .pager:hover::after {
    width: 100%;
    background-image: linear-gradient(90deg, transparent, rgba(0, 0, 0, 0.15), transparent); }
  .pager:hover .pager-link {
    opacity: 1; }
  .pager-item {
    display: inline-block;
    margin: 0 0.25rem;
    background-color: #fff;
    position: relative;
    z-index: 5; }
  .pager-link {
    display: block;
    color: #888;
    font-weight: 500;
    font-size: 0.875rem;
    text-transform: uppercase;
    width: 3rem;
    height: 3rem;
    line-height: 3rem;
    transition: opacity ease 0.2s;
    opacity: 0.5; }
    .pager-link:hover {
      color: var(--bft-color); }
      .pager-link:hover .bi {
        width: 2rem;
        height: 2rem; }
    .pager-link .bi {
      width: 1.5rem;
      height: 1.5rem;
      transition: all ease 0.2s; }

:not(pre) > code {
  color: #e53935;
  background: #f8f9fa;
  padding: .125rem .25rem; }

code[class*="language-"],
pre[class*="language-"] {
  color: #212529;
  background: none;
  border-radius: 0.25rem;
  font-family: var(--bs-font-monospace);
  font-size: 0.875rem;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.6;
  -moz-tab-size: 2;
  -o-tab-size: 2;
  tab-size: 2;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none; }

pre[class*="language-"] {
  padding: 2rem;
  margin: 1rem 0 1.5rem;
  overflow: auto; }

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
  background: #f8f9fa; }

:not(pre) > code[class*="language-"] {
  padding: 0.1rem;
  white-space: normal; }

.token.script.language-javascript {
  color: #212529; }

.token.comment, .token.block-comment, .token.prolog, .token.doctype, .token.cdata {
  color: #90a4ae; }

.token.attr-name, .token.namespace, .token.deleted {
  color: #006ee0; }

.token.function, .token.function-name {
  color: #366; }

.token.unit, .token.url, .token.boolean, .token.number {
  color: #366; }

.token.color, .token.hexcode, .token.builtin, .token.property, .token.class, .token.class-name, .token.constant, .token.symbol {
  color: #c30; }

.token.id, .token.selector, .token.important, .token.atrule, .token.keyword {
  color: #006ee0; }

.token.pseudo-class, .token.pseudo-element, .token.inserted, .token.attribute, .token.string, .token.char, .token.attr-value, .token.regex, .token.variable {
  color: #c30; }

.token.punctuation, .token.operator, .token.entity, .token.url {
  color: #212529; }

.token.tag {
  color: #2f6f9f; }

.token.parameter, .token.deleted {
  color: #e53935; }

.token.important, .token.bold {
  font-weight: bold; }

.token.italic {
  font-style: italic; }

.token.entity {
  cursor: help; }

.code-toolbar {
  position: relative;
  overflow: hidden;
  margin-bottom: 2rem; }
  .code-toolbar > pre {
    margin: 0; }
  .code-toolbar:hover .toolbar {
    opacity: 1;
    visibility: visible;
    top: 0; }
  .code-toolbar .toolbar {
    visibility: hidden;
    transition: all ease 0.25s;
    padding: 1rem;
    position: absolute;
    top: -3rem;
    right: 0;
    display: flex;
    font-size: 0.875rem;
    align-items: center;
    color: #777; }
    .code-toolbar .toolbar-item {
      margin-left: 1rem; }
      .code-toolbar .toolbar-item button {
        border: 0;
        color: #fff;
        border-radius: 1rem;
        padding: 0.125rem 1rem;
        background-color: var(--bft-color); }
        .code-toolbar .toolbar-item button:hover {
          background-color: #000; }

.bft-post-item {
  margin-bottom: 1rem;
  overflow: hidden; }
  .bft-post-item-cover {
    margin: 0 0 1rem; }
  .bft-post-item-img {
    border-radius: 0.25rem; }
  .bft-post-item-content {
    padding: 0 0.25rem; }
  .bft-post-item-title {
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 0.75rem;
    line-height: 1.3; }
  .bft-post-item-link {
    color: #000; }
    .bft-post-item-link:hover {
      color: var(--bft-color); }
  .bft-post-item-meta {
    margin-bottom: 0.75rem;
    color: #bbb;
    font-size: 0.875rem; }
  .bft-post-item-cat {
    color: #bbb; }
    .bft-post-item-cat::before {
      content: "";
      margin: 0 0.5rem;
      width: 0.25rem;
      height: 0.25rem;
      border-radius: 1rem;
      background-color: rgba(0, 0, 0, 0.2);
      display: inline-block;
      transform: translateY(-0.125rem); }
    .bft-post-item-cat:hover {
      color: #555; }
  .bft-post-item-desc {
    color: #555;
    font-size: 1rem;
    margin-bottom: 0.5rem; }
  .bft-post-item-more {
    color: #444;
    font-weight: 500;
    display: inline-block;
    font-size: 0.875rem; }
    .bft-post-item-more:hover {
      color: var(--bft-color); }

.post-cover {
  width: 100%;
  height: 20rem;
  position: relative;
  background-color: #000;
  margin: 0; }
  .post-cover-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    opacity: 0.9; }
  .post-cover-caption {
    position: absolute;
    bottom: 6.5rem;
    right: 50%;
    margin-right: -25.875rem;
    color: #fff;
    opacity: 0.7;
    font-size: 0.625rem;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 0.125rem 0.5rem;
    border-radius: 3rem; }
    .post-cover-caption a {
      color: #fff; }
    .post-cover-caption:hover {
      background-color: #000;
      opacity: 1; }

.post-container {
  padding: 4rem;
  max-width: 51.75rem;
  width: 100%;
  background-color: #fff;
  margin-top: -6rem;
  z-index: 1;
  position: relative; }

.post-header {
  margin-bottom: 2.5rem; }

.post-title {
  margin-bottom: 2.5rem;
  font-weight: 700;
  font-size: 3rem; }

.post-meta {
  cursor: default;
  color: #555;
  font-size: 0.875rem;
  font-weight: 300;
  line-height: 1.4; }
  .post-meta-item {
    margin-right: 1.75rem; }
  .post-meta-label {
    display: block;
    font-size: 0.75rem;
    color: #999; }
  .post-meta a {
    color: #555; }
    .post-meta a:hover {
      color: var(--bft-color); }
  .post-meta-btn {
    height: 2rem;
    width: 2rem;
    border: 0;
    margin: 0;
    padding: 0;
    background: none;
    text-align: center; }
    .post-meta-btn .bi {
      width: 1.25rem;
      height: 100%; }
    .post-meta-btn:hover .bi {
      fill: var(--bft-color); }
  .post-meta-author {
    display: flex;
    align-items: center; }
    .post-meta-author-img {
      margin-right: 0.5rem;
      border-radius: 0; }
    .post-meta-author-name {
      text-transform: capitalize; }
  .post-meta-cats-list {
    margin: 0;
    padding: 0;
    list-style: none; }
  .post-meta-cats-item:not(:last-child) {
    margin-right: 0.1rem; }
    .post-meta-cats-item:not(:last-child) .post-meta-cats-link::after {
      content: ","; }

.post-description {
  font-weight: 300;
  font-size: 1.125rem;
  margin-bottom: 3rem; }

.post-content {
  font-size: 1rem;
  line-height: 1.8;
  margin-bottom: 2rem; }
  .post-content p {
    margin-bottom: 1.5rem; }
  .post-content img {
    border-radius: 0.25rem; }
  .post-content h2 {
    font-size: 1.75rem;
    font-weight: 600;
    color: #000; }
  .post-content h3 {
    font-size: 1.5rem; }
  .post-content h4 {
    font-size: 1.25rem; }
  .post-content iframe {
    width: 100% !important;
    border-radius: 0.25rem;
    margin-top: 1rem;
    margin-bottom: 1.5rem; }

.post-component {
  margin-top: 4rem; }
  .post-component-title {
    margin-bottom: 1rem;
    font-size: 1rem;
    text-transform: uppercase;
    color: #888; }

.post-author-name {
  font-size: 1.125rem;
  text-transform: capitalize; }

.post-author-bio {
  font-size: 0.875rem;
  margin-bottom: 0; }

.post-nav-list {
  list-style: none;
  padding: 0;
  margin: 0; }

.bft-widget-popular-item {
  position: relative; }
  .bft-widget-popular-item:not(:last-child) {
    margin-bottom: 1rem; }

.bft-widget-popular-link {
  display: block;
  min-height: 3rem; }

.bft-widget-popular-title {
  margin-bottom: 0rem;
  font-size: 0.875rem;
  line-height: 1.1;
  padding-top: 0.25rem;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden; }

.bft-widget-popular-time {
  color: #777;
  font-size: 0.75rem;
  line-height: 1; }

.bft-widget-popular-cover {
  margin: 0;
  position: relative;
  min-width: 3rem;
  max-width: 3rem;
  flex-grow: 1;
  height: 3rem;
  overflow: hidden;
  transition: all 0.3s ease;
  border-radius: 0.25rem;
  margin-right: 1rem; }

.bft-widget-popular-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-height: 100%;
  max-height: 100%;
  min-width: 100%;
  max-width: none; }

.bft-widget-newsletter-desc {
  font-size: 0.875rem;
  color: #444;
  margin-bottom: 1rem; }

.bft-widget-newsletter-input {
  background: none;
  margin-bottom: 1rem; }

.bft-widget-newsletter-thanks {
  display: none; }

.bft-widget-category-item {
  display: inline-block;
  margin-bottom: 0.25rem; }

.bft-widget-category-link {
  font-size: 0.875rem;
  font-weight: 500;
  display: inline-block;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  color: #000;
  text-transform: capitalize;
  position: relative;
  background: #fff;
  border: 1px solid #ddd;
  padding: 0.25rem 0.5rem; }
  .bft-widget-category-link:hover {
    color: var(--bft-color); }

.bft-widget-category-count {
  position: absolute;
  right: 0;
  font-size: 0.625rem;
  top: 50%;
  transform: translateY(-50%); }

/*# sourceMappingURL=styles.css.map */