@{

}
<section class="widget">
    <h5 class="widget-title">Categories</h5>
    <div class="widget-content">
        <ul class="widget-category">
         <li class="widget-category-item">
            <a class="widget-category-link" href="">Category Name</a>
            <a class="widget-category-link" href="">Category Name</a>
            <a class="widget-category-link" href="">Category Name</a>
         </li>
        </ul>
    </div>
</section>