@using Blogifier.Shared.Resources
@using Blogifier.Shared
@inject ICategoryProvider _categoryProvider
@{
    ViewData["widgetTitle"] = "Categories";
    Layout = "~/Views/Themes/Standard/layouts/_widgets.cshtml";
    var categories = await _categoryProvider.Categories();
    var catUrl = Url.Content("~/categories");
}
<ul class="widget-category">
    @foreach (var item in categories)
    {
        <li class="widget-category-item">
            <a class="widget-category-link" href="@catUrl/@item.Category">@item.Category</a>
        </li>
    }
</ul>