@using Blogifier.Shared.Resources
@using Blogifier.Shared
@{
    ViewData["widgetTitle"] = "Newsletter";
    Layout = "../layouts/_widgets.cshtml";
}
<!--
    TODO:
    The newsletter Thank you messages, button text, and title come from the Customize page.
    but there should be defaults for these, which we use localize.
 -->
<div class="bft-widget-newsletter" id="newsletter">
    <div id="newsletter-form">
        <form id="frmNewsletter" class="bft-widget-newsletter-form">
            <p class="bft-widget-newsletter-desc">We notify you!</p>
            <input class="form-control bft-widget-newsletter-input" id="txtEmail" name="txtEmail" placeholder="youremail@example.com" type="email" required>
            <button id="blog-subscribe" class="btn btn-dark btn-block w-100 bft-widget-newsletter-button">
                Subscribe
            </button>
        </form>
        <div id="ttlNewsletter" class="bft-widget-newsletter-thanks alert alert-success border-0 mb-0">
            Thank you. You are subscribed.
        </div>
    </div>
</div>
