@using Blogifier.Shared.Resources
@using Blogifier.Shared

<div class="newsletter">
    <div class="newsletter-body d-flex align-items-center">
        <div class="newsletter-header">
            <h5 class="newsletter-title">Newsletter</h5>
            <p class="newsletter-desc">We'll email you when new posts published.</p>
        </div>
        <form class="newsletter-form ms-auto">
            <div class="d-flex">
                <input class="newsletter-input" name="email" placeholder="youremail@example.com" type="email" autocomplete="off" required>
                <button class="newsletter-btn">Subscribe</button>
            </div>
        </form>
    </div>
    <div class="newsletter-message"></div>
</div>
