@using Blogifier.Shared.Resources
@using Blogifier.Shared
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<Resource> _localizer
@inject IPostProvider _postProvider

@{
    ViewData["widgetTitle"] = "Popular";
    Layout = "~/Views/Themes/Standard/layouts/_widgets.cshtml";
    var popular = await _postProvider.GetPopular(new Pager(1, 2));
}

<ul class="bft-widget-popular">
    @foreach (var item in popular)
    {
        <li class="bft-widget-popular-item">
            <a class="bft-widget-popular-link d-flex align-items-center" href="~/posts/@item.Slug">
                <figure class="bft-widget-popular-cover">
                    <img class="bft-widget-popular-img" src="~/@item.Cover" alt="@item.Title">
                </figure>
                <header>
                    <h4 class="bft-widget-popular-title">@item.Title</h4>
                    <time class="bft-widget-popular-time">@item.Published.ToFriendlyDateString()</time>
                </header>
            </a>
        </li>
    }
</ul>