<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <ul class="list-inline text-center">
                    @foreach (var field in Model)
                    {
                        <li class="list-inline-item">
                            <a href="@field.Content">
                                <span class="fa-stack fa-lg">
                                    <i class="fas fa-circle fa-stack-2x"></i>
                                    <i class="fab @field.Icon fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                    }
                </ul>
                <p class="copyright text-muted">Copyright &copy; @ViewData["BlogTitle"] @DateTime.Now.Year</p>
            </div>
        </div>
    </div>
</footer>