.pagination {
    padding: 4rem 0;
    margin: 0;
    border-top: 1px solid #eee;
    margin-top: -1px;

    .item {
        margin: 0 1rem;

        i {
        }

        &-link {
            background: #000;
            padding: .75rem 1.5rem;
            font-size: 1rem;
            color: #b2b2b2;
            font-weight: 500;
            border-radius: 10rem;
            display: block;

            &:hover {
                background: #FF3152;
                color: #fff;
            }
        }
    }
}
