.blog-footer {
    background: #0d0d0d;
    color: #b3b3b3;
    font-size: 1rem;
    padding: 3rem 0;
    text-align:center;

    .blog-logo {
        margin:0 auto 1rem;
        width: 8rem;
    }

    &-wrap {
        border-top: 3px solid #25242B;
        padding-top: 3rem;
    }

    .blog-copyright {
        font-size: .875rem;
    }

    a {
        color: #b3b3b3;

        &:hover {
            color: $color-theme;
        }
    }

    p {
        margin: 0 0 1rem;
    }
}
