.widget {
    margin-bottom: 2rem;
    background-color: #ededed;
    
    &-title {
        background: #0d0d0d;
        color: #fff;
        font-size: 1rem;
        font-weight: 500;
        margin-bottom: 0;
        text-align: center;
        padding: 1rem 3rem;
        text-transform:uppercase;
    }

    &-icon {
        font-size: 1rem;
        color: $color-theme;
        margin-right: .5rem;
        display: none;
    }

    &-body {
        padding:2rem;
        ul {
            margin: 0;
            padding: 0;
            list-style: inside;

            li {
                color: #8c8c8c;
                margin-bottom: .25rem;
            }
        }

        a {
            color: #8c8c8c;

            &:hover {
                color: $color-theme;
            }
        }
    }
}
