.blog-footer {
    background: #eee;
    padding-top: 2rem;
    padding-bottom: 2rem;
    font-size: 1rem;
    color: #777;

    .float-left {
        margin: 0;
    }

    .float-right {
        @include unstyled();

        li {
            float: left;
            margin-left: 1rem;

            a {
                color: #888;
            }
        }
    }
}
