.blog-footer {
    border-top: .0625rem solid #ddd;
    background: #fafafa;
    color: #777;
    height: $footer-height - .0625rem;
    line-height: $footer-height - .0625rem;
    font-size: 1rem;
    text-align:center;
    // --
    p {
        margin: 0;
        font-size: .75rem;
        text-transform: uppercase;

        a {
            color: #777;
        }
    }
}
