.blog-footer {
    background: #fafafa;
    box-shadow: 0px -1px 0 #ddd;
    height: 5rem;
    line-height: 5rem;
    font-size: 1rem;
    color: #777;
    font-family: $font-family-sans;

    .float-left {
        margin: 0;
        font-size: .75rem;
        text-transform: uppercase;

        a {
            color: #777;
        }
    }

    .float-right {
        @include unstyled();

        li {
            display: inline-block;
            margin-left: 1rem;

            a {
                color: #888;
            }
        }
    }

    @media screen and (max-width:768px) {
        padding-top: .5rem;
        line-height: 2rem;
        text-align: center;

        .float-right,
        .float-left {
            float: none;
            width: 100%;
        }

        .float-right {
            li {
                margin: 0;
            }
        }
    }
}
