$icon-wh: 1.25rem;
$link-wh: 3rem;

.app-nav {
    padding-top: .75rem + 0.75rem;
    padding-bottom: .75rem;
    position: relative;
    margin-bottom: 4rem;
    background: #fff;
    //
    // The bar on the top
    &::before {
        content: "";
        display: block;
        height: 0.75rem;
        background: $blogifier;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
    }
    //
    // <ul>
    &-list {
        position: relative;
        margin-bottom: 0;
        list-style: none;
    }
    // <a>
    &-link {
        color: #888;
        width: $link-wh;
        height: $link-wh;
        display: block;
        text-align: center;
        line-height: $link-wh - .25rem;

        .bi {
            width: $icon-wh;
            height: $icon-wh;
        }
        // Dashboard icon
        .bi-grid-1x2 {
            width: $icon-wh - .125rem;
            height: $icon-wh - .125rem;
        }

        &.active {
            color: $blogifier;
        }
    }
    //
    // <li> profile dropdown
    &-profile {
        &-button {
            background: none;
            padding: 0;
            border: 1rem;
            width: $link-wh;
            height: $link-wh;
            line-height: 1;

            &-img {
                width: $icon-wh;
                height: $icon-wh;
                vertical-align: middle;
                border-radius:5rem;
            }
        }

        &-content {
            margin-top: 1rem;
            width: 16rem;
            padding: 2rem;
            border: 0;
            box-shadow: 0 0 10rem rgba(0,0,0,0.3);
        }

        &-info {
            text-align: center;
            margin-bottom: 2rem;

            span {
                display: block;
            }
        }

        &-avatar {
            border-radius: 100%;
            width: 4rem;
            height: 4rem;
            display: block;
            margin: 0 auto 1rem;
        }

        &-name {
            font-weight: 500;
            line-height: 1.25;
        }

        &-email {
            font-size: .75rem;
            color: #666;
        }

        &-links {
            list-style: none;
            padding: 0;
            margin: 0;

            li {
                border-top: 1px solid #eee;
            }

            a {
                color: #666;
                padding: .5rem 0 .5rem 2rem;
                display: block;
                position: relative;
                font-size: .875rem;
                font-weight: 500;
                cursor: pointer;

                &:hover {
                    color: $blogifier;
                }
            }

            .bi {
                width: 1rem;
                height: 1rem;
                position: absolute;
                top: 50%;
                left: .25rem;
                transform: translateY(-50%);
            }
        }
    }
} 
