body {
  cursor: default;
  overflow-y: scroll;
  background-color: $gray-100;
}

.container {
  width: $container;
  max-width: 100%;
}

.blogifier {
  // app
}

.content {
  padding-top: 4rem;
  padding-bottom: 4rem;
}
