html {
  height: 100%;
}
body {
  cursor: default;
  overflow-y: scroll;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.container {
  width: $container;
  max-width: 100%;
}

.blogifier {
  // app
}

.content {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.footer {
  text-align: right;
  font-size: 0.75rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-top: auto;
  color: $gray-500;
  a {
    color: $gray-500;
    &:hover {
      color: $blogifier;
    }
  }
}
