$icon-wh: 1.25rem;
$link-wh: 3rem;

.app-nav {
    padding-top: .5rem + 0.75rem;
    padding-bottom: .5rem;
    position: relative;
    border-bottom: 1px solid #eee;
    margin-bottom: 4rem;
    background: #fff;
    //
    // The bar on the top
    &::before {
        content: "";
        display: block;
        height: 0.75rem;
        background: $primary;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
    }
    //
    // <ul>
    &-list {
        position: relative;
        margin-bottom: 0;
        list-style: none;
        // Dashboard icon
        .bi-grid-1x2 {
            width: $icon-wh - .125rem;
            height: $icon-wh - .125rem;
        }
    }
    // <a>
    &-link {
        color: #888;
        width: $link-wh;
        height: $link-wh;
        display: block;
        text-align: center;
        line-height: $link-wh - .25rem;

        svg {
            width: $icon-wh;
            height: $icon-wh;
        }

        &.active {
            color: $primary;
        }
    }
    //
    // <li> profile dropdown
    &-profile {
        &-button {
            background: none;
            padding: 0;
            border: 1rem;
            width: $link-wh;
            height: $link-wh;
            line-height: 1;

            &-img {
                width: $icon-wh;
                height: $icon-wh;
                vertical-align: middle;
            }
        }
    }
}
