.bf-sidebar {
  background-color: #f2f2f2;
  @media screen and (min-width: 992px) {
    min-height: 100%;
    width: $width-sidebar;
    position: fixed;
    left: $width-taskbar;
    top: 0;
    bottom: 0;
    overflow-y: auto;
  }
  @media screen and (max-width: 991px) {
    display: none;
  }
}
