.bf-taskbar {
  @include unstyled(ul);
  background-color: $cl-bf;
  color: #fff;
  z-index: 1001;

  .taskbar-item {
    opacity: .5;
    transition: opacity ease-in .1s;

    &.active,
    &:hover {
      opacity: 1;
    }
  }

  .taskbar-item-link {
    display: block;
    height: 100%;
    color: #fff;
    width: 100%;
    border: 0;
    background: 0;
    cursor: pointer;
    outline: none;
    position: relative;
    padding: 0;
  }

  .taskbar-item-icon {
    display: block;
    font-size: 1.1875rem;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
  }

  .taskbar-item-img {
    display: block;
    font-size: 0;
    width: 1.5rem;
    height: 1.5rem;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    border-radius: 100%;
    overflow: hidden;

    img {
      display: block;
      height: 100%;
      width: 100%;
    }
  }
  @media screen and (min-width: 992px) {
    width: $width-taskbar;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    // overflow-y: auto;
    // any overflow on this will hide any dropdown
    .taskbar-item {
      height: $width-taskbar;
      width: 100%;
    }
  }
  @media screen and (max-width: 991px) {
    height: $width-taskbar-sm;

    .taskbar-item {
      width: $width-taskbar-sm;
      height: 100%;
    }
  }
}
