.bf-about {
    background: $cl-bf;
    color: #fff;
    text-align: center;
    padding: 4rem 1rem 3rem;
    @include noselect;

    .item-logo {
        width: 7rem;
        margin-bottom: 3rem;
    }

    .item-title {
        margin-bottom: .5rem;
    }

    .item-desc {
        line-height: 1.5;
        font-size: .75rem;
        margin-bottom: .5rem;
    }

    .item-copyright {
        opacity: .5;
    }

    .item-social {
        @include unstyled(ul);
        margin-top: 3rem;

        li {
            display: inline-block;
        }

        a {
            opacity: .5;
            color: #fff;
            margin: 0 .25rem;

            &:hover {
                opacity: 1;
            }
        }

        i {
            font-size: 1.25rem;
        }
    }
}
