.dropdown-toggle {}

.dropdown-menu {
  padding: 0;
  overflow: hidden;
}

.dropdown-menu-wide {
  width: 100%;
  min-width: 0;
}

.dropdown-item {
  padding: .375rem 1rem;
  border-bottom: 1px solid #eee;
  font-size: .875rem;

  &:last-child {
    border-bottom: 0;
  }

  &:focus {
    outline: none;
  }

  &.active,
  &:active {
    outline: none !important;
    background-color: $cl-gray;
  }
}
