@page "/admin"
<div class="app-dashboard row no-gutters">
	<div class="app-dashboard-posts col-lg-8">
		<PostListComponent />
	</div>
	<div class="app-dashboard-widgets col-lg-4">
		<div>ProfileWidget</div>
		<div>Counters</div>
		<div>Analytics</div>
		<div>CustomWidget</div>
	</div>
</div>