@page "/admin/"
@inject IStringLocalizer<Resource> _localizer
<PageTitle Title="@_localizer["dashboard"]" />
<div class="dashboard row no-gutters">
    <div class="dashboard-posts col-lg-7">
        <PostListComponent />
    </div>
    <div class="dashboard-widgets col-lg-5">
        <TotalsComponent />
        <BarChartComponent />
    </div>
</div>
