@page "/admin"
@inject IStringLocalizer<Resource> localizer
<PageTitle Title="@localizer["dashboard"]" />
<div class="dashboard row no-gutters">
    <div class="app-dashboard-posts col-lg-7">
        <PostListComponent />
    </div>
    <div class="dashboard-widgets col-lg-5">
        <TotalsComponent />
        <BarChartComponent />
    </div>
</div>