.blog-header {
    position: absolute;
    top: 4rem;
    left: 4rem;
    right: 4rem;
    z-index: 10001;
    background: transparent;
}

.blog-header-toggle {
    position: absolute;
    right: 0;
    top: 0;
    height: 3rem;
    width: 3rem;
    padding: 0;
    border: 0;
    background: none;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 3rem;

    i {
        display: block;
        line-height: 2.875rem;
    }
}

.blog-header-modal {
    visibility: hidden;
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10000;
    background: #000;
    padding-top: 10rem;
    padding-bottom: 10rem;
    transition: all ease .5s;

    .blog-header-toggle {
        top: 4rem;
        right: 4rem;
    }

    &.active {
        opacity: 1;
        visibility: visible;
    }
}

.blog-logo {
    position: absolute;
    left: 0;
    top: 0;
    height: 3rem;
    margin: 0;

    a {
        height: 100%;
        display: block;
    }

    img {
        display: block;
        height: 100%;
        color: #fff;
    }
}

.blog-nav {
    text-align: center;

    ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    li {
        margin-bottom: 1rem;
    }

    a {
        font-size: 2.5rem;
        color: #fff;

        &:hover {
            color: $color-blogifier;
        }
    }
}

.blog-search {
    width: 100%;
    max-width: 40rem;
    text-align: center;
    margin: 2rem auto 0;
    display: block;


    input {
        background: none;
        border: 0;
        text-align: center;
        color: #fff;
        outline: none !important;
        font-size: 2.5rem;
        width: 100%;
    }
}

@media screen and (max-width:60rem) {
    .blog-header {
        top: 0;
        left: 0;
        background: #333;
        padding: 0;
        width: 100%;
        position: relative;
        min-height: 3rem;
    }

    .blog-header-toggle {
        top: .75rem;
        right: .75rem;
        width: 1.5rem;
        height: 1.5rem;
        border: 0;

        i {
            line-height: 1.5rem;
        }
    }

    .blog-logo {
        top: .75rem;
        left: .75rem;
        height: 1.5rem;
    }

    .blog-header-modal {
        background: #222;
        top: 3rem;
        position: relative;
        display: none;
        padding: 0;

        &.active {
            display: block;
        }

        .blog-header-toggle {
            display: none;
        }
    }

    .blog-nav {
        li {
            margin-bottom: 0rem;
        }

        a {
            font-size: 1.25rem;
            border-bottom: 1px solid #282828;
            display: block;
            padding: .5rem 1rem;
            text-align: left;
        }
    }

    .blog-search {
        margin: 0;
        max-width: 100%;

        input {
            width: 100%;
            text-align: left;
            padding: .5rem 1rem;
            font-size: 1.25rem;
        }
    }
}
