.blog-header {
    position: fixed;
    top: 4rem;
    left: 4rem;
    right: 4rem;
    z-index: 10001;
    background: transparent;
}

.blog-header-toggle {
    position: absolute;
    right: 0;
    top: 0;
    height: 3rem;
    width: 3rem;
    padding: 0;
    border: 0;
    background: #000;
    color: #fff;
}

.blog-header-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10000;
    background: #000;
    padding-top: 10rem;
    padding-bottom: 10rem;

    .blog-header-toggle {
        top: 4rem;
        right: 4rem;
        border: 2px solid #fff;
        border-radius: 3rem;
    }
}

.blog-logo {
    position: absolute;
    left: 0;
    top: 0;
    height: 3rem;

    img {
        max-height: 100%;
    }
}

.blog-nav {
    text-align: center;

    ul {
        @include unstyled();
    }

    li {
        margin-bottom: 1rem;
    }

    a {
        font-size: 2.5rem;
    }
}

.blog-search {
    width: 100%;
    max-width: 40rem;
    text-align: center;
    margin: 0 auto;
    display: block;

    input {
        background: none;
        border: 0;
        text-align: center;
        color: #fff;
        outline: none !important;
        font-size: 2.5rem;
        color: $color-blogifier;


        &::-webkit-input-placeholder {
            color: $color-blogifier;
        }

        &::-moz-placeholder {
            color: $color-blogifier;
        }

        &:-ms-input-placeholder {
            color: $color-blogifier;
        }

        &:-moz-placeholder {
            color: $color-blogifier;
        }
    }
}
