.editor {
  padding-bottom: 2rem;

  &-actions {
  }

  &-wrap {
    .EasyMDEContainer {
      border-top-right-radius: 0;
      border-top-left-radius: 0;
    }
  }

  &-header {
    margin-top: 2rem;
    padding: 3rem;
    position: relative;
    background-color: $dark;
    border-top-right-radius: 0.25rem;
    border-top-left-radius: 0.25rem;
    color: #fff;
    z-index: 6;

    &-inner {
      position: relative;
      z-index: 2;
    }

    &-textarea {
      padding: 0.5rem;
      width: 100%;
      border: 1px dashed rgba(#fff, 0);
      border-radius: 0.25rem;
      background: none;
      color: #fff;
      outline: none !important;
      padding-right: 25%;

      &::placeholder {
        color: rgba(#fff, 0.75);
      }

      &:focus {
        border-color: rgba(#fff, 0.5);
      }
    }

    &-title {
      font-weight: 500;
      font-size: 1.25rem;
    }

    &-desc {
      font-size: 0.875rem;
      color: rgba(#fff, 0.75);
      &:focus {
        color: #fff;
      }
    }
  }

  &-cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-top-right-radius: 0.25rem;
    border-top-left-radius: 0.25rem;
    z-index: 0;
    opacity: 0.5;
  }

  &-meta {
    padding-left: 0.5rem;
    margin-top: 1rem;

    &-link {
      color: rgba(#fff, 0.75);
      &[aria-expanded="true"],
      &:hover {
        color: #fff;
      }
    }
  }
}
