@using Blogifier.Core.Common
@{
    var logoImg = BlogSettings.Logo;
    var logoUrl = "http://blogifier.net";
    try
    {
        logoImg = Model.LogoImg;
        logoUrl = Model.LogoUrl;
    }
    catch { }
}
<header class="blog-header clearfix">
    <h1 class="blog-logo"><a href="~/@logoUrl"><img src="@logoImg" alt="@BlogSettings.Title" /></a></h1>
    <button class="blog-header-toggle"><i class="fa fa-navicon"></i></button>
    <section class="blog-header-modal">
        <button class="blog-header-toggle"><i class="fa fa-times"></i></button>
        <nav class="blog-nav">
            <ul>
                <li><a href="~/">Home</a></li>
                <li><a href="~/@ApplicationSettings.BlogRoute">Blogs</a></li>
                @if (User.Identity.IsAuthenticated)
                {
                    <li><a href="~/admin">Admin</a></li>
                    <li><a href="#" onclick="profileLogOut(); return false;">Logoff</a></li>
                }
                else
                {
                    <li><a href="~/account/login?ReturnUrl=%2Fadmin">Login</a></li>
                }
            </ul>
        </nav>
        <form class="blog-search" role="search" asp-controller="Blog" asp-action="Search" method="post">
            <input type="search" id="term" name="term" placeholder="Search..." autocomplete="off">
        </form>
    </section>
</header>