@page "/admin/editor"

@inject IJsonStringLocalizer<Settings> Localizer

<div class="container-fluid">

    <div class="row bf-row">
        <div class="col-lg-2 col-md col-sm bf-col"></div>
        <div class="col-lg-8 col-md-12 col-sm-12 bf-col">

            <PostEditor PostId="0" />

        </div>
        <div class="col-lg-2 col-md col-sm bf-col"></div>
    </div>

</div>

@code{
    [Parameter] public EventCallback<string> OnUpdate { get; set; }

    protected async Task HideEditor()
    {
        // Edit = false;
        await OnUpdate.InvokeAsync("add");
        //StateHasChanged();
    }
}