@page "/admin/editor"

@inject IJsonStringLocalizer<Settings> Localizer

<div class="app-editor">
    <PostEditor PostId="0" />
</div>

@code{
    [Parameter] public EventCallback<string> OnUpdate { get; set; }

    protected async Task HideEditor()
    {
        // Edit = false;
        await OnUpdate.InvokeAsync("add");
        //StateHasChanged();
    }
}