@page "/admin"

<div class="row no-gutters">
    <div class="col-8">
        <Published @ref="PublishedInstance" OnUpdate="UpdateHandler" />
    </div>
    <div class="col-4">
        <div>
            <Profile />
        </div>
        <div>
            <Welcome @ref="WelcomeInstance" OnUpdate="UpdateHandler" />
        </div>
        <div>
            <MainChart />
        </div>
        <div>
            <Custom />
        </div>
    </div>
</div>

@code {

    Published PublishedInstance;
    Welcome WelcomeInstance;

    async Task UpdateHandler(string msg)
    {
        await PublishedInstance.LoadPage(1);
        await WelcomeInstance.Load();
    }
}