@page "/admin"
@using Blogifier.Components

<div class="app-dashboard row no-gutters">
    <div class="app-dashboard-posts col-8">
        <PostListWidget />
    </div>
    <div class="app-dashboard-widgets col-4">
        <ProfileWidget />
        <Welcome @ref="WelcomeInstance" OnUpdate="UpdateHandler" />
        <MainChart />
        <Custom />
    </div>
</div>

@code {

    //PostsWidget PostsWidgetInstance;
    Welcome WelcomeInstance;

    async Task UpdateHandler(string msg)
    {
        //await PostsWidgetInstance.LoadPage(1);
        await WelcomeInstance.Load();
    }
}