@page "/admin"
@using Blogifier.Components

<div class="app-dashboard row no-gutters">
    <div class="app-dashboard-posts col-8">
        <PostListWidget />
    </div>
    <div class="app-dashboard-widgets col-4">
        <ProfileWidget />
        <Counters @ref="CountersInstance" OnUpdate="UpdateHandler" />
        <Analytics />
        <Custom />
    </div>
</div>

@code {

    //PostsWidget PostsWidgetInstance;
    Counters CountersInstance;

    async Task UpdateHandler(string msg)
    {
        //await PostsWidgetInstance.LoadPage(1);
        await CountersInstance.Load();
    }
}