@page "/admin"
@using Blogifier.Components.Profile
@using Blogifier.Components.Dashboard
@inject CustomHttpClient Http
@inject IHttpContextAccessor HttpContextAccessor

@if (!_isInitialized)
{
    <div>Loading...</div>
}
else
{
    <div class="app-dashboard row no-gutters">
        <div class="app-dashboard-posts col-lg-8">
            <PostListWidget OfAuthor="@_postsOfAuthor" />
        </div>
        <div class="app-dashboard-widgets col-lg-4">
            <ProfileWidget/>
            <Counters @ref="CountersInstance" OfAuthor="@_postsOfAuthor" OnUpdate="UpdateHandler"/>
            <Analytics/>
            <CustomWidget/>
        </div>
    </div>
}

@code {

    Counters CountersInstance;

    bool _isInitialized;
    string _postsOfAuthor;

    protected override async Task OnInitializedAsync()
    {
         var author = await Http.GetJsonAsync<Author>($"authors/{HttpContextAccessor.HttpContext.User.Identity.Name}", HttpContextAccessor.HttpContext.Request);
         if (author != null && !author.IsAdmin)
         {
             _postsOfAuthor = author.AppUserName;
         }

        _isInitialized = true;
    }

    async Task UpdateHandler(string msg)
    {
        //await PostsWidgetInstance.LoadPage(1);
        await CountersInstance.Load();
    }
}