@page "/admin"

<div class="app-dashboard row no-gutters">
    <div class="app-dashboard-posts col-8">
        <Published @ref="PublishedInstance" OnUpdate="UpdateHandler" />
    </div>
    <div class="app-dashboard-widgets col-4">
        <Profile />
        <Welcome @ref="WelcomeInstance" OnUpdate="UpdateHandler" />
        <MainChart />
        <Custom />
    </div>
</div>

@code {

    Published PublishedInstance;
    Welcome WelcomeInstance;

    async Task UpdateHandler(string msg)
    {
        await PublishedInstance.LoadPage(1);
        await WelcomeInstance.Load();
    }
}