@page "/admin/newsletter"

@inject IJsonStringLocalizer<Settings> Localizer

<div class="container-fluid">

    <div class="row bf-row">
        <div class="col-lg-6 col-md-12 col-sm-12 bf-col">

            <div class="card">
                <div class="card-body">
                    <h4>Newsletter</h4>
                    <Subscription />
                </div>
            </div>

        </div>
    </div>

</div>