.post {
    position: relative;
    margin-bottom: 2rem;
    background: #000;

    &:hover {
        background: $color-theme;

        .post-cover {
            opacity: .2;
        }
    }


    .post-body {
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        padding: 3rem;
    }

    .post-cover {
        position: relative;
        opacity: .6;

        &-link {
            display: block;
            height: 100%;
            position: absolute;
            width: 100%;
            z-index: 100;
        }

        &:hover {
            img {
                opacity: 0.7;
            }
        }

        img {
            font-size: 0;
            transition: all ease .25s;
        }


        @media screen and (min-width:992px) {
            overflow: hidden;
            min-height: 23rem;

            img {
                width: auto;
                min-height: 100%;
                min-width: 100%;
                max-width: 150%;
                max-height: none;
                position: absolute;
                left: 50%;
                top: 50%;
                display: block;
                transform: translate(-50%, -50%);
            }
        }
    }

    .post-categories {
        list-style: none;
        margin: 0 0 1.25rem;
        padding: 0;
        display: block;

        li {
            float: left;
            margin-right: 1rem;
        }

        a {
            border-bottom: 2px solid transparent;
            font-size: .875rem;
            color: #fff;
            text-transform: uppercase;
            font-weight: 500;
            padding-bottom: .25rem;
            z-index: 101;
            position: relative;
            transition: border-color ease .2s;
            &:hover {
                color: #fff;
                border-color: #fff;
            }
        }
    }


    .post-meta {
        margin-bottom: 0;
        display: block;
        font-size: .875rem;
        color: #fff;
        font-weight: 300;

        a {
            color: #fff;
            font-weight: 500;
            z-index: 101;
            position: relative;
            border-bottom: 2px solid transparent;
            padding-bottom: .25rem;

            transition: border-color ease .2s;
            &:hover {
                color: #fff;
                color: #fff;
                border-color: #fff;
            }
        }
    }

    .post-title {
        font-size: 2rem;
        margin-bottom: 1.25rem;
        line-height: 1.1;

        a {
            color: #fff;

            &:hover {
                color: $color-theme;
            }
        }
    }
}
