@using Blogifier.Core.Common
@model Blogifier.Core.Data.Models.SettingsAdvanced
@{
    ViewData["Title"] = "Avanced Settings";
    Layout = $"~/{ApplicationSettings.BlogAdminFolder}/_Layout/_Settings.cshtml";
}
<div class="bf-content bf-content-boxed bf-settings">
    <div class="bf-title"><span>Import & Export</span></div>
    <div class="btn-group d-flex" role="group">
        <button type="button" class="btn btn-outline-primary w-100" data-toggle="modal" data-target="#importRss">Import RSS</button>
        <button type="button" class="btn btn-outline-primary w-100" disabled>Export</button>
    </div>
</div>

<!-- IMPORT RSS -->
<div class="modal fade" id="importRss" tabindex="-1" role="dialog" aria-labelledby="importRssLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="importRssLabel">Import RSS</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="frmImport" name="frmImport">
                    <div class="form-group">
                        <label class="form-group-label">RSS URL</label>
                        <input type="text" id="txtFeedUrl" class="form-control" autofocus />
                    </div>
                    <div class="form-group">
                        <label class="form-group-label">Domain URL</label>
                        <input id="txtDomain" type="text" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label class="custom-control custom-checkbox">
                            <input type="checkbox" id="chkImportImages" class="custom-control-input">
                            <span class="custom-control-indicator"></span>
                            <span class="custom-control-description">Import Images</span>
                        </label>
                        <label class="custom-control custom-checkbox">
                            <input type="checkbox" id="chkImportAttachements" class="custom-control-input">
                            <span class="custom-control-indicator"></span>
                            <span class="custom-control-description">Import Attachements</span>
                        </label>
                    </div>
                    <div id="btnImport">
                        <button type="button" class="btn btn-primary btn-block" onclick="toolsController.importRss()">Import</button>
                        <div class="loading mx-auto"><div class="loading-dot-1"></div><div class="loading-dot-2"></div><div class="loading-dot-3"></div></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    @if (!string.IsNullOrEmpty(ViewBag.Message))
    {
        <script>toastr.success('@ViewBag.Message')</script>
    }
    <script src="~/embedded/admin/js/app/toolsController.js"></script>
}
