@using Blogifier.Shared.Resources
@using Blogifier.Shared
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<Resource> _localizer

<footer class="blog-footer">
    <div class="container d-flex">
        <p>
            © @DateTime.Now.Year - Site Title
        </p>
       <p class="ms-auto">
            Powered by <a href="https://blogifier.net" data-toggle="tooltip" rel="nofollow" target="_blank" title="Version - ">Blogifier</a>
       </p>
    </div>
</footer>
