<header class="bft-header">
    <div class="container d-flex align-items-center">
        <a class="bft-header-sign" href="~/">
            <!-- TODO: settings for title or logo -->
            <!-- <img class="bft-header-logo" src="~/themes/Standard/img/logo-black.png" alt="Site Title"> -->
            <span class="bft-header-title">Site Title</span>
        </a>
        <partial name="../components/global-social.cshtml" />
        <partial name="../components/global-admin.cshtml" />
    </div>
</header>
