.bf-posts-grid {
  display: none;
  position: relative;
  flex-wrap: wrap;
  padding: 2rem 1rem 0;

  .post-grid-col {
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    @media screen and (min-width:40rem) {
      width: 50%;
    }
    @media screen and (min-width:80rem) {
      width: 33.333%;
    }
    @media screen and (min-width:90rem) {
      width: 25%;
    }
    @media screen and (min-width: 992px) {
      margin-bottom: 2rem;
    }
    @media screen and (max-width: 991px) {
      margin-bottom: 1rem;
    }
  }
  @media screen and (max-width: 991px) {
    padding: 1rem 0 0;
  }
}

.post-grid-item {
  position: relative;
  overflow: hidden;
  box-shadow: 0 1px 2px rgba(0,0,0,0.25);
  border-radius: .125rem;
  overflow: hidden;

  .item-link {
    height: 12rem;
    display: block;
    position: relative;
    color: #fff;
    transition: all ease-in .25s;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    &::after {
      display: block;
      content: "";
      background: #000;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
      background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%);
      background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%);
      transition: all ease-in .1s;
    }

    &:hover {
      &::after {
        opacity: .85;
      }
    }
  }

  .item-title {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 1.5rem;
    font-size: 1.125rem;
    font-weight: 300;
    line-height: 1.5;
    z-index: 100;
  }

  .item-info {
    color: #000;
    padding: 1rem 1.5rem;
    background-color: #fff;
  }

  .custom-control {
    display: block;
    padding: 0;
    margin: 0;
    min-width: 1rem;
    min-height: 1rem;
    width: 1rem;
    height: 1rem;

    &-indicator {
      top: 0;
      left: 0;
    }
  }

  .item-status {
    font-size: .875rem;
    margin-left: 1rem;

    &-draft {
      color: #ff9b00;
    }

    &-published {
      color: #00c748;
    }
  }

  .item-date {
    display: block;
    color: #888;
    font-size: .75rem;
    text-transform: uppercase;
    white-space: nowrap;
  }

  .item-favorite {
    font-size: .875rem;
    cursor: pointer;
    padding: 0;

    .fa-star-o {
      color: #888;
    }

    .fa-star {
      color: #ffbe00;
    }

    &:focus,
    &:hover {
      outline: none;

      .fa-star-o {
        color: #ffbe00;
      }

      .fa-star {
        color: #888;
      }
    }
  }

  .item-show {
    font-size: .875rem;
    color: #888;

    &:focus {
      outline: none;
    }

    &:focus,
    &:hover {
      color: $cl-bf;
    }
  }
}
