// search

.bf-posts-form-search {
  padding: 2rem;

  .form-control {
    background: none;
    padding: 0 1rem;

    &::placeholder {
      text-transform: uppercase;
      font-style: italic;
      font-size: .75rem;
    }
  }
}
// filters

.bf-posts-filters {
  padding: 0 2rem 2rem;

  .custom-control {
    color: #777;
    font-size: .875rem;
    margin: 0;
    min-height: 0;
    height: 1.5rem;
    display: block;
    cursor: pointer;

    &:hover {
      color: #000;
    }

    &-indicator {
      top: .125rem;
      left: 0;
    }

    &-description {
      @include ellipsis;
      display: block;
    }
  }

  .filter-group {
    margin-bottom: 3rem;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .filter-group-list {
    @include unstyled(ul);

    li {
      margin-bottom: .125rem;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  @media screen and (min-width: 992px) {
    margin-top: -0.3125rem;

    .filter-group-title {
      position: relative;
      font-weight: 400;
      font-size: .875rem;
      text-transform: uppercase;
      margin-bottom: .75rem;
      line-height: .75rem;
      height: .75rem;
      color: #aaa;

      &::after {
        content: "";
        width: 100%;
        position: absolute;
        height: 1px;
        background-color: #ddd;
        left: 0;
        top: .3125rem;
        right: 0;
        display: block;
      }

      span {
        display: inline-block;
        background-color: #f2f2f2;
        position: relative;
        z-index: 2;
        padding-right: .5rem;
      }
    }
  }
  @media screen and (max-width: 991px) {
    .filter-label {
      display: block;
      margin-bottom: .5rem;
      text-align: center;
      text-transform: uppercase;
      color: #aaa;
      font-size: .75rem;
    }

    .filter-group {
      margin-bottom: 0;

      &.active {
        .filter-group-list {
          display: block;
        }

        .filter-group-title {
          .fa {
            transform: rotateX(180deg);
          }
        }
      }
    }

    .filter-group-title {
      position: relative;
      font-weight: 400;
      font-size: .875rem;
      text-transform: uppercase;
      line-height: 2.5rem;
      font-weight: 500;

      .fa {
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        width: 1rem;
        line-height: 2.5rem;
        font-size: .75rem;
        text-align: center;
        transition: transform ease-out .25s;
      }
    }

    .filter-group-list {
      display: none;
      padding-bottom: 1.5rem;
    }
  }
}
