<div class="card">
    <div class="card-body">
        <h4>Disqus</h4>
        <textarea class="form-control txt-disqus" rows="3" @bind="DisqusValue" name="disqus" placeholder="Disqus script" />
        <div class="btn-group" role="group" aria-label="Disqus">
            <button class="btn btn-primary" @onclick="Save">Save</button>
        </div>
    </div>
</div>