<div class="card">
    <div class="card-body">
        <h4>Social Buttons</h4>
        <textarea class="form-control txt-social" rows="3" @bind="SocialValue" name="social" placeholder="Social buttons" />
        <div class="btn-group" role="group" aria-label="Social Buttons">
            <button class="btn btn-primary" @onclick="Save">Save</button>
        </div>
    </div>
</div>