@page
@model App.Pages.Admin.Upgrade.UpgradeModel
@{
    Layout = null;
    var repoLink = "https://github.com/blogifierdotnet/Blogifier/releases/tag/v" + Model.NewVersion;

    int oldVersion = string.IsNullOrEmpty(Model.OldVersion) ? 0 : int.Parse(Model.OldVersion.Replace(".", ""));
    int newVersion = string.IsNullOrEmpty(Model.NewVersion) ? 0 : int.Parse(Model.NewVersion.Replace(".", ""));
}
<!DOCTYPE html>
<html>
<head>
    <title>Blogifier upgrade</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <br />
        <form method="post" asp-antiforgery="true">
            <div class="jumbotron">
                @if (Model.IsUpgrading)
                {
                    <div class="alert alert-success" role="alert">
                        Upgrade process has started and might take few minutes to run, depending on your server power and blog size.
                        Give it few minutes, then reload this page.
                    </div>
                    <p id="action-buttons">
                        <a class="btn btn-lg btn-primary" href="~/admin/upgrade" role="button">Reload</a>
                    </p>
                }
                else
                {
                    @if (oldVersion < 21)
                    {
                        <h3>Sorry, only versions 2.1.x.x and up support auto-upgrade.</h3>
                        <p id="action-buttons">
                            <a class="btn btn-lg btn-default" href="~/admin" role="button">Back</a>
                        </p>
                    }
                    else if (oldVersion >= newVersion)
                    {
                        <h3>Your blog is up to date!</h3>
                        <p id="action-buttons">
                            <a class="btn btn-lg btn-default" href="~/admin" role="button">Back</a>
                        </p>
                    }
                    else
                    {
                        <h1>Upgrade to version @Model.NewVersion</h1>
                        <p>
                            You running Blogifier version @Model.OldVersion. New version @Model.NewVersion now <a href="@repoLink" target="_blank">available in the repository</a>.
                            <br />You can upgrade manually or click button below and run in-place process.
                        </p>
                        <div class="alert alert-danger" role="alert">
                            Please do <b>back up your data</b> before running upgrade, manual or automatic.
                        </div>
                        <div class="alert alert-warning">
                            <p>
                                Upgrade will turn off your web service before replacing old files. If you using IIS as your web server, it most likely will
                                restart application once you refresh this page or navigate to any page in the blog.
                            </p>
                            If your blog hosted on Linux, you might need to restart web server manually or via host admin panel.
                        </div>
                        <p id="action-buttons">
                            <button type="submit" onclick="runUpgrade()" class="btn btn-lg btn-primary">Upgrade now</button>
                            <a class="btn btn-lg btn-default" href="~/admin" role="button">Cancel</a>
                        </p>
                    }
                }
            </div>
        </form>
    </div>
</body>
</html>