body, html {
    min-height: 100%;
    min-width: 100%;
}

.blog-wrapper {
    min-height: 100%;
    width: 100%;
}

.load-progress {
    margin: 5em 0;
}

.content-wrapper {
    max-width: 1200px; 
    margin: 0 auto; 
    position: relative;
}

[ui-view].ng-enter, [ui-view].ng-leave {
    position: absolute;
    left: 0;
    right: 0;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
}

[ui-view].ng-enter {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}

[ui-view].ng-leave {
    -webkit-animation-name: fadeOut;
    animation-name: fadeOut;
}

.menu-gradient {
    background-color: #106CC8;
    background: -webkit-linear-gradient(#185694, #106cc8);
    background: linear-gradient(#185694, #106cc8);
    border-bottom: 1px solid #267ED5;
    color: white;
}

.header-toolbar {
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
}

    .header-toolbar .header-toolbar-title {
        color: white;
    }

.nav-menu {
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
    z-index: 60;
}
    .nav-menu header {
        cursor: pointer;
        padding: 32px 16px;
    }

        .nav-menu header img {
            width: 100%;
            border: none;
        }

        .nav-menu header h1 {
            color: white;
            font-size: 1.5em;
            display: block;
            font-weight: bold;
            text-align: center;
            letter-spacing: 0.1em;
        }

    .nav-menu md-list menu-toggle .menu-toggle-header, .nav-menu md-list .md-subheader {
        background-color: transparent;
        color: rgba(255, 255, 255, 0.54);
        font-weight: bold;
        letter-spacing: 0.1em;
    }

    .nav-menu md-list menu-toggle .md-toggle-icon {
        display: block;
        margin-left: auto;
        speak: none;
        vertical-align: middle;
        transform: rotate(180deg);
        transition: transform 0.3s ease-in-out;
    }

        .nav-menu md-list menu-toggle .md-toggle-icon.toggled {
            transform: rotate(0deg);
        }

    .nav-menu md-list .menu-toggle-list {
        overflow: hidden;
        position: relative;
        z-index: 1;
        height: 0;
    }

    .nav-menu md-list md-icon {
        color: white;
    }

.featured-post {
    transition: 0.5s;
    margin: 1em;
    cursor: pointer;
    overflow: hidden;
    padding: 1em;
    position: relative;
}

    .featured-post .fade-clip {
        width: 100%;
        height: 100px;
        position: absolute;
        left: 0;
        bottom: 0;
        background: linear-gradient(transparent 50%, white);
    }

    .featured-post:hover {
        box-shadow: 0px 0px 1em 0px rgba(1,87,139,1);
    }

    .featured-post .featured-post-image {
        height: 150px;
        width: 100%;
        background-position: center;
        background-size: 100% auto;
    }

    .featured-post md-card-title {
        max-height: 100px;
    }

.docs-menu .menu-toggle-list a.md-button {
    display: block;
    padding: 0 16px 0 32px;
    text-transform: none;
    text-rendering: optimizeLegibility;
    font-weight: 500;
}

.parent-list-item:last-child {
    margin-bottom: 20px;
    /* Prevent the hidden License link from causing a double bottom-border */
    border-bottom: none;
}