.blog-wrapper {
    min-height: 100%;
}

.load-progress {
    margin: 5em 0;
}

.content-wrapper {
    max-width: 1200px; 
    margin: 0 auto; 
    position: relative;
}

[ui-view].ng-enter, [ui-view].ng-leave {
    position: absolute;
    left: 0;
    right: 0;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
}

[ui-view].ng-enter {
    -webkit-animation-name: fadeInRight;
    animation-name: fadeInRight;
}

[ui-view].ng-leave {
    -webkit-animation-name: fadeOutLeft;
    animation-name: fadeOutLeft;
}

.featured-post {
    transition: 0.5s;
    margin: 1em;
    cursor: pointer;
}

    .featured-post:hover {
        box-shadow: 0px 0px 1em 0px rgba(1,87,139,1);
    }

    .featured-post .featured-post-image {
        height: 150px;
        width: 100%;
        background-position: center;
        background-size: 100% auto;
    }