$color: var(--bft-color);
$color-hover: #888;

$radius: 0.125rem;

$color-facebook: #4267b2;
$color-twitter: #1da1f2;

//
$hljs-foreground: #212529;
$hljs-background: #f8f9fa;
$hljs-comments: #90a4ae;
$hljs-blue: #006ee0;
$hljs-red: #c30;
$hljs-green: #168174;
$hljs-sky: #2f6f9f;
