<!DOCTYPE html>
<html lang="en">
<head>
    @Html.Partial("~/Views/Themes/Simple/Shared/_Header.cshtml")
</head>
<body>
    @Html.Partial("~/Views/Themes/Simple/Shared/_Navbar.cshtml")
    @RenderBody()
    @Html.Partial("~/Views/Themes/Simple/Shared/_Footer.cshtml")
</body>
</html>