<header class="bft-header">
    <div class="container d-flex">
        <a class="bft-title" href="~/">Site Title</a>
        <partial name="../include/social.cshtml" />
        <partial name="../include/admin.cshtml" />
    </div>
</header>
