.blog-footer {
    margin-bottom: 5rem;
    color: #fff;
    font-size: 1rem;

    .hr-footer {
        border-color: rgba(0, 0, 0, 0.10);
    }

    .widget {
        margin: 0;
    }

    &-wrap {
        padding: 3rem;
        background-color: #000;
        border-bottom-left-radius: .5rem;
        border-bottom-right-radius: .5rem;
    }

    .blog-copyright {
        text-align: center;
        font-size: .875rem;
        margin: 0;
        padding-top: 2.5rem;
        padding-bottom: 2rem;

        p {
            margin: 0;
        }
    }

    a {
        color: #fafafa;

        &:hover {
            color: $color-theme;
        }
    }

    p {
        margin: 0;
    }
}
