@charset 'utf-8';

// helpers
@import "helpers/variables";
@import "helpers/reset";
 
// layouts
@import "layout/main";
@import "layout/header"; 
@import "layout/sidebar";
@import "layout/widgets";
@import "layout/footer";

// components
@import "components/social";
@import "components/admin";
@import "components/search";
@import "components/featured";
@import "components/pager";

// pages
@import "page/list";
@import "page/post";
 
// widgets
@import "widget/posts";
@import "widget/newsletter";
@import "widget/categories";